[2020-07-20 14:41] palko444 commented on #841
@chukka & @danielezer any updates please?

[2020-07-20 15:54] chukka commented on #841
@palko444  Thanks for patience, As you can see we have 2 PRs open #1020  and #1023 , new charts will be available this week :)

[2020-07-20 16:40] BilelYahia commented on #839
@danielezer can you provide us with an ETA to when this will be implemented?
This affects the implementation of artifactory itself. The longer we wait, the risky it is to make the change later on.

[2020-07-20 20:15] danielezer commented on #839
Unfortunately there’s no ETA at the moment

[2020-07-21 08:53] #841 closed

[2020-07-21 09:33] chukka commented on #841
@evannorstrand @erick-duran @palko444 please check [artifactory](https://github.com/jfrog/charts/blob/master/stable/artifactory/README.md#establishing-tls-and-adding-certificates)  and  [xray](https://github.com/jfrog/charts/blob/master/stable/xray/README.md#establishing-tls-and-adding-certificates) changes. Will add support for distribution and Mission-control in the coming days

Please try below

[2020-07-21 10:33] palko444 commented on #841
Hello,
**Artifactory as CA**

so from what I saw, you want **access** to be CA for artifactory/xray/.. deployment. But what about use case, when our S3, LDAP and other dependencies are using custom certificate.
Anyway i do not like idea to have another CA. Our CA will give me certificate, i just need to make trust with our CA, by importing certificates as it was done before. If I will use artifact

[2020-07-21 10:45] chukka commented on #841
@palko444  if you are using external CA, please refer https://github.com/jfrog/charts/issues/242#issuecomment-600753714

[2020-07-21 10:57] palko444 commented on #841
hello @chukka ,
thx for this. Can you please put this also to helm documentation for artifactory, I guess this is useful also for other people.

Another question, is this same also for xray? Or I have to use way you suggest in [here](https://github.com/jfrog/charts/blob/master/stable/xray/README.md#establishing-tls-and-adding-certificates).

Thank you in advance
Br Palo

[2020-07-21 12:12] chukka commented on #617
@shubb30  is this still an issue ? can you please confirm which version of xray you are using ? if you are using Unified (xray 3.x), please refer [here](https://github.com/jfrog/charts/blob/master/stable/xray/README.md#establishing-tls-and-adding-certificates)

I'm marking this issue as closed

[2020-07-21 12:12] #617 closed

[2020-07-21 12:16] chukka commented on #891
@sanjeevkarani please check [artifactory](https://github.com/jfrog/charts/blob/master/stable/artifactory/README.md#establishing-tls-and-adding-certificates) and [xray](https://github.com/jfrog/charts/blob/master/stable/xray/README.md#establishing-tls-and-adding-certificates) changes.

Please try below charts and share feedback

artifactory-10.0.6
artifactory-ha-3.0.6
xray-4.1.2

[2020-07-21 12:17] #891 closed

[2020-07-21 12:32] chukka commented on #618
@res0nat0r just checking if this is still an issue ,  I'm marking this as closed, feel free to open if issue still exists

[2020-07-21 12:32] #618 closed

[2020-07-21 14:09] chukka commented on #503
@palko444  is this still a requirement  in Xray 2.x charts ?

[2020-07-21 14:14] #410 closed

[2020-07-21 14:16] chukka commented on #841
@palko444 Sure, will plan to update helm documentation in upcoming  chart releases .

For Xray, please use as [suggested](https://github.com/jfrog/charts/blob/master/stable/xray/README.md#establishing-tls-and-adding-certificates)

[2020-07-21 14:19] chukka commented on #859
@vinayagg yes, that should work for rancher , Please update here once you do that change

@Siegfriedk can you please provide info- how argocd works with GKE ? does it have any UI ?

[2020-07-21 14:21] chukka commented on #508
@DDSloan96  @tzatwork  can you please provide more info on this ? is this needed for artifactory chart or any other chart ?

[2020-07-21 14:55] Sicaine commented on #859
@chukka argocd basically keeps the helm chart from the git repository in sync with the state inside the cluster.

argocd https://argoproj.github.io/argo-cd/ shouldn't touch the secret. I assume that this is an issue due to the secret only being used for initalization and ignored otherwise.

[2020-07-21 14:58] Siegfriedk commented on #859
@chukka argocd basically keeps the helm chart from the git repository in sync with the state inside the cluster.

argocd https://argoproj.github.io/argo-cd/ shouldn't touch the secret. I assume that this is an issue due to the secret only being used for initalization and ignored otherwise.

[2020-07-21 16:03] jdecarvalho opened #1028 "Metadata service not connecting to AWS RDS database instance"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm: 3.0.3

Kubernetes: Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.11-eks-af3caf", GitCommit:"af3caf6136cd355f467083651cc1010a499f59b1", GitTreeState:"clean", BuildDate:"2020-03-27T21:51:36Z", GoVersion:"go1.12.17", Comp

[2020-07-22 01:50] byang0818 commented on #839
I have the same error with chart artifactory-9.5.2, hope this issue can get resolved soon.

[2020-07-22 17:26] MrAmbiG opened #1029 "Pods never come up"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
1.17. Installed via RKE, on prem.

**Which chart**:
helm 3

**What happened**:
```helm upgrade --install artifactory-ha --set artifactory.masterKey="aaaaaaa" --namespace artifactory-ha center/jfrog/artifactory-ha``` This is the simplest installation y

[2020-07-23 03:41] chukka commented on #1029
@MrAmbiG  if I understand correctly, you are using Rancher ? masterKey should be  `-hex 32` implies 64 characters - you can refer [here](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/README.md#create-a-unique-master-key) and try again

[2020-07-23 03:44] chukka commented on #1028
@jdecarvalho  Can you please share system.yaml file (I think you missed to attach the file) to debug further

[2020-07-23 03:55] jdecarvalho commented on #1028
My apologies.  GitHub apparently doesn't support files with the `.yaml` extension.  I've updated the ticket above.

[2020-07-23 04:56] chukka commented on #1028
@jdecarvalho  Can you  try setting below values in values.yaml (replace all **database_** values with your values)
[code]
**Note :** No need to edit systemYaml section in values.yaml

[2020-07-24 13:39] byang0818 commented on #839
@remyMenetrieux, thanks a lot.
We rebuilt the container, and it did fix the issue..

[2020-07-24 21:52] jdecarvalho commented on #1028
When I use that particular configuration, some parts of the log (lines 94-98) refer to the PostGresQL config, while others refer to either derby (lines 192-205), or to sqlite (line 257).  New attachments:

[artifactory.log](https://github.com/jfrog/charts/files/4974378/chukka-1.log)
[system.yaml](https://github.com/jfrog/charts/files/4974380/chukka-1.system.yaml.txt)

[2020-07-25 02:10] chukka commented on #1028
@jdecarvalho It seems like you have added it in systemyaml which is wrong . I meant above [mentioned values](https://github.com/jfrog/charts/issues/1028#issuecomment-662818194) need to be added in values.yaml ( sample attached) which internally generates systemyaml (as a secret)
[values.yaml.txt](https://github.com/jfrog/charts/files/4974764/values.yaml.txt)

Generated systemyaml will look like be

[2020-07-27 15:06] chukka commented on #1028
@jdecarvalho  you can refer this [blog](https://itsmetommy.com/2020/02/15/jfrog-artifactory-ha-on-gke-with-google-cloud-storage-google-sql/) - FYI, this is on GKE

[2020-07-27 15:35] jaymalasinha opened #1037 "custom logback.xml does not get copied to member nodes"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
% helm version
version.BuildInfo{Version:"v3.2.1", GitCommit:"fe51cd1e31e6a202cba7dead9552a6d418ded79a", GitTreeState:"clean", GoVersion:"go1.13.10"}

% kubectl version
Client Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6-beta.0",

[2020-07-27 16:54] jdecarvalho commented on #1028
Sorry for the confusion.  Unfortunately, what you are proposing is exactly what I did before opening this ticket.  Here is the [values.yaml](https://github.com/jfrog/charts/files/4983285/chukka2.values.yaml.txt) file with the requested values set directly, here is the generated [system.yaml](https://github.com/jfrog/charts/files/4983284/chukka2.system.yaml.txt) file, and here is the [artifactory.l

[2020-07-27 17:58] jdecarvalho commented on #1028
I also tried to use the configuration found in the above blog where they use `database.secrets.[url|user|password]` instead of `database.[user|password]`, and have gotten the same exact metadata database connection error as before.

[2020-07-28 11:51] chukka commented on #1037
@jaymalasinha can you share the reproducible  steps (actual helm commands + values.yaml with `custom logback.xml` configuration)

[2020-07-28 12:25] #985 closed

[2020-07-28 19:49] jaymalasinha commented on #1037
@chukka Sure here are the detailed steps to recreate the issue:

% kubectl create ns artifactory-ha1

% cat kustomization.yaml
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: artifactory-ha1
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: reaper-json-config
    files:
      - "configs/reaper.json"
  - name: logback-xml-config
    files:

[2020-07-29 05:03] chukka commented on #1028
@jdecarvalho I suspect  issue is with postgresql version 10.7 you are using - can you please upgrade to latest `10.x` - 10.13 and try this ( we have seen some internal issues with postgres version < 10.13)

If it doesn't work  - Can you please create a formal ticket via JFrog Support Channel to have sessions to look at your instance and provide the right guidance - that gives support with SLA. htt

[2020-07-30 01:41] james-callahan commented on #839
We're also affected by this.

@remyMenetrieux for your workaround, where did you obtain `aws-java-sdk-sts-1.11.749.jar` from?
Which file did you add the `<dependency>....` snippet to?

[2020-07-30 16:08] remyMenetrieux commented on #839
Hi,
I have build a new docker image from the jfrog image.

Download aws-java-sdk-sts-1.11.749.jar from here
https://mvnrepository.com/artifact/com.amazonaws/aws-java-sdk-sts/1.11.749
Download the artifactory.jar.
Modify de the artifactory Like this:

jar uvf artifactory.war WEB-INF/lib/aws-java-sdk-sts-1.11.749.jar

and rebuild a docker image with this Docker File :

FROM docker.bintray.io/jfrog/a

[2020-08-03 08:56] somaritane opened #1055 "[artifactory-ha] Add support for Artifactory encryption key provisioning"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm: v3.2.0,
Kubernetes: v1.15.3

**Which chart**:
artifactory-ha

**What happened**:

We're looking for possibility to bootstrap Artifactory initial configuration while deploying `artifactory-ha` chart to our k8s cluster.

`artifactory-ha` helm

[2020-08-03 13:49] jdecarvalho commented on #1028
JFrog support was able to help me on this.

For posterity, the JDBC connection defaults to SSL being enabled, while the metadata service defaults to SSL being disabled.  Since our network only allows SSL communications, the metadata database connection was failing.

The fix was to override the metadata database connection string by following [this post](https://jfrog.com/knowledge-base/metadata-se

[2020-08-03 14:51] chukka commented on #1028
@jdecarvalho  Glad that we were able to resolve your issue 👍 . Thanks for sharing the info

[2020-08-03 14:51] chukka commented on #1028
Closing this issue

[2020-08-03 14:51] #1028 closed

[2020-08-04 14:52] chukka commented on #1029
@MrAmbiG  is this still an issue ? if not please mark this issue as closed

[2020-08-04 14:52] #1029 closed

[2020-08-04 15:03] chukka commented on #1037
@jaymalasinha  Thanks for reporting , Looks like `copyOnEveryStartup` only runs on the master node , we are planning to support `copyOnEveryStartup` on member nodes in upcoming chart releases .

 Feel free to raise a pull request, it will be the best way to make sure your issue gets in the fastest way.

[2020-08-10 13:33] nkaplatt opened #1064 "[xray] Cluster join failure"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:
Helm: 3.2.4
Kubernetes: 1.16.7

**Which chart**:
Xray - Chart version: 4.1.3 - appVersion: 3.6.2

**What happened**:
Xray chart deploys, HA rabbit MQ starts up without issue however logs from xray pod shows that the `router` and `xray-server` container fail

[2020-08-10 13:36] chukka commented on #1064
@nkaplatt  Can you share the reproducible steps (helm commands) along with values.yaml file

[2020-08-10 13:44] nkaplatt commented on #1064
Steps to install & upgrade:
`helm install xray center/jfrog/xray -f xray/values.yaml --namespace xray`
`helm upgrade --set unifiedUpgradeAllowed=true xray center/jfrog/xray -f xray/values.yaml --namespace xray`

Only edits to the values file include:
- adding master & join key
- setting jfrog url (tried with and without `https/http`)
- add postgres.enabled = false & configuring our database creden

[2020-08-10 13:59] chukka commented on #1064
@nkaplatt Does this happen on helm  install or upgrade ?

[2020-08-10 14:00] nkaplatt commented on #1064
Both, got to the point of just trying a few variations using `helm upgrade`

[2020-08-10 16:06] nkaplatt commented on #1064
If it helps at all; adding the protocol to the `jfrogUrl` value results in the following error
[code]

[2020-08-11 03:05] chukka commented on #1064
@nkaplatt  can you share the console (router, All xray microservices) logs ?

[2020-08-11 06:43] chukka commented on #986
@leylmordor  is this still an issue ? Marking this closed . Feel free to reopen if issue still exists

[2020-08-11 06:44] #986 closed

[2020-08-11 07:59] nkaplatt commented on #1064
**Xray-Server/ analysis/ persist **: all fail with same error of being unable to join cluster `http://localhost:8046/access/api/v1/system/ping`
[code]

**Router**
[code]

[2020-08-12 01:12] cheries opened #1065 "Postgres dependency chart version has pod label bug"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
Helm - v3.1.1
K8 - v1.17.0

**Which chart**:
Artifactory HA v3.0.5

**What happened**:
Added a label to postgresql.master.podLabels and got the following error:
`Error: YAML parse error on artifactory-ha/charts/postgresql/templates/statefulset.yaml: error converting YAML to JSON: yaml: line 28: mapp

[2020-08-12 04:43] chukka commented on #1065
@cheries Looks like a bug  is with `postgresql` subchart . We have pending PR with postgresql 9.x  update.

[2020-08-12 08:22] nkaplatt commented on #1064
@chukka any update on this?

[2020-08-12 08:40] chukka commented on #1064
@nkaplatt I couldn't reproduce the issue at my end using bundled postgresql

`helm upgrade --install xray --set xray.jfrogUrl=xxx,postgresql.postgresqlPassword=password,rabbitmq-ha.rabbitmqPassword=password  --namespace xray center/jfrog/xray`

Can you please share the complete values.yaml  and /opt/jfrog/xray/var/etc/system.yaml  file

[2020-08-12 08:51] lvincel commented on #839
@remyMenetrieux
Hi, your fix is not working for me, I repackaged a 7.6.3 and having this inside the war the container runs with
[code]
Unfortunately, it is still not using IRSA and keep assuming node role. The proper sa token is there though.

What version did you used ?

This is a huge show stopper for us if we can't use role for sa

[2020-08-12 10:20] nkaplatt commented on #1064
@chukka so I've spent some time getting the helm chart up and running without any changes, alas even with a base chart install using the cmd you gave we get the same errors.
[code]

[code]

[2020-08-12 17:54] yug0slav opened #1068 "artifactory-nginx pod fails to start"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
k8s: "1.16.10"
helm "v3.2.4"

**Which chart**:
center/jfrog/artifactory

**What happened**:
trying to deploy artifactory-pro on k8s. Artifactory-nginx pod fails: CrashLoopBackOff

pod logs
[code]

**What you expected to happen**:
pod starts normally

[2020-08-13 08:06] chukka commented on #1068
@yug0slav Can you please share the reproducible steps with values.yaml  and complete logs to debug further

[2020-08-13 21:30] vinayagg commented on #859
@chukka Rancher has been updated to force user to specify a postgres password

[2020-08-14 14:57] yug0slav commented on #1068
Missed this part in the docs for ingress with TLS:
[code]

[2020-08-14 14:57] #1068 closed

[2020-08-19 00:34] caggles opened #1075 "Remove runAsUser and fsGroup"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

As per ticket #139759 from support.

When running the helm chart, the following lines are show up, no matter what I do:

[code]
They show up twice in the resulting manifest.

This is not something that we can do in Openshift - you cannot runAsUser. Removing them is necessary to hav

[2020-08-25 08:21] nkaplatt commented on #1064
We solved this issue in the end, turns out we had directional traffic from our Xray instance to Artifactory but traffic coming back was getting blocked.
Reason it took us so long to figure out is that we interpreted the error to be a error on the Xray side (think the pod was trying to call itself) when in fact the error was from the Artifactory side saying that it couldn't reach Xray. Error isn't

[2020-08-25 08:21] #1064 closed

[2020-08-27 10:20] mhamaydeh opened #1085 "[Artifactory HA] Enterprise plus , Access Federation Issue"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Version of Helm and Kubernetes**:
helm : Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
Kubernetes :
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559

[2020-08-27 20:23] mhamaydeh commented on #1085
Hello .
Issue solved  , by modifying  access Federation conf file using kubernetes conf .
https://www.jfrog.com/confluence/display/JFROG/Access+YAML+Configuration

[2020-08-27 20:23] #1085 closed

[2020-08-28 16:58] erick-duran-tfs opened #1088 "Question regarding upgrade strategy"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Question

**Version of Helm and Kubernetes**:
Helm 3.2.4
Kubernetes 1.15.11

**Which chart**:
Artifactory HA

**What happened**:
When performing upgrades of a HA cluster with just the primary and one member node, the deployment always terminates both the primary and member pods before deploying the

[2020-09-01 10:20] anitabee commented on #839
We are struggling with same issue, dependencies seem as suggested in above comments:
[code]
Error that we got is same as the one described in issue off this ticket. If I check CloudTrail events, request never seem to reach S3, is this the same for other people cases? Any pointers how to figure out what is wrong?

[2020-09-01 19:51] thllxb opened #1090 "support different readiness probe pathes for artifactory HA member and primary nodes"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Which chart**:
Artifactory HA

**What happened**:
I cannot specify a different readiness probe to member and primary nodes

**What you expected to happen**:
I should be able to specify a different readiness probe to member and primary nodes

[2020-09-02 04:09] jing-1strategy opened #1091 "Cannot use helm --set to add nginx.service.annotations with bool value "true""
**Version of Helm and Kubernetes**:
Helm version: "v3.3.1"

**Which chart**:
jfrog/artifactory: 10.1.0

**What happened**:

When I'm trying to add below annotation to the nginx service using --set:

service.beta.kubernetes.io/aws-load-balancer-internal: "true"

Then I got error:

Error: YAML parse error on artifactory/templates/nginx-service.yaml: error unmarshaling JSON: while decoding JSON: json

[2020-09-03 16:29] chukka commented on #866
@mhamaydeh @erick-duran  This PR #1084 fix this issue

[2020-09-03 16:54] erick-duran commented on #866
Thanks for the update @chukka.

[2020-09-10 10:09] chukka commented on #503
@palko444  Reminder ! If this is not a requirement - We can close this issue

[2020-09-10 10:19] palko444 commented on #503
Hello, im currently using Xray3, and there is option to specify this in systemYaml in values file.
So for me this one can be closed

[2020-09-10 10:27] chukka commented on #503
Thanks for update.

[2020-09-10 10:27] #503 closed

[2020-09-11 12:49] thamaraiselvam opened #1100 "Error: "Missing identity field in config" on installing artifactory-HA"
**BUG REPORT**:

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
[code]

**What happened**:
When try to use google-storage as storage type, getting following error.  **Missing identity field in config**

[code]

**Values.yaml**
Tried with both **Google-storage** and **file-system**
[code]

Note: We have HA license(thought of adding it after installing fresh setup in UI) not su

[2020-09-11 18:02] jdecarvalho opened #1101 "Configuring UI session timeout through Helm chart"
**Is this a request for help?**:
Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Which chart**:
10.0.14

**Describe *in detail* the feature/behavior/change you'd like to see.**
Hello,

I've gone through the source for chart version 10.0.14, but was unable to find a way to set the UI session timeout for Artifactory.  There is a guide on how to do this on an o

[2020-09-15 20:05] JihadMotii-REISys opened #1105 "PostgreSQL PersistentVolumeClaim (PVC) is getting deleted"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 1.17

**Which chart**: jfrog/artifactory

**What happened**: PersistentVolumeClaim (PVC) for postgresql initially gets created through ArgoCD then it gets deleted

**What you expected to happen**: If the postgresql is enabled then the chart should provis

[2020-09-16 03:42] chukka commented on #1105
@JihadMotii-REISys when does PVC gets deleted ? is it on helm upgrade ? Can you please share the reproducible steps ?
Also share K8s platform you are using (GKE/EKS/Rancher/Openshift) ?

[2020-09-16 15:04] JihadMotii-REISys commented on #1105
@chukka Sure
**Is it on helm upgrade?:**
yes, when you install this chart either through helm command line (as mentioned in the chart [README](https://github.com/jfrog/charts/tree/master/stable/artifactory)) or through ArgoCD.

**when does PVC gets deleted?:**
This PVC gets deleted right after it gets created. When argocd provision or when you execute helm upgrade to install this jfrog chart (with

[2020-09-16 15:08] thamaraiselvam commented on #1100
Mistake was on me. Unfortunately  I passed `binarystorage.xml` values as empty and that caused the issue.

[2020-09-16 15:08] #1100 closed

[2020-09-16 21:27] woodcockjosh commented on #859
I have same problem on minikube and metal k8s. There is a problem with the helm chart.

[2020-09-16 21:59] woodcockjosh commented on #859
For some reason there is an option to delete `db.properties` in an init container. I have solved this by setting `artifactory-oss.artifactory.artifactory.deleteDBPropertiesOnStartup` to false. Maybe yall will want to make an init container that will query the k8s API to update the k8s system yaml secret so that the db.properties can be deleted for security improvement.

[2020-09-17 05:11] chukka commented on #1101
@jdecarvalho  This can be achieved by setting in[ systemyaml  under shared section](https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L393)

[code]

[2020-09-17 08:06] chukka commented on #1065
@cheries  fixed with #1078

[2020-09-17 08:06] #1065 closed

[2020-09-18 09:11] #1101 closed

[2020-09-18 09:16] chukka commented on #1101
@jdecarvalho  Now with these latest below charts , you can configure session timeout in [values.yaml](https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L877)
- artifactory-11.0.3
- artifactory-ha-4.0.4

[2020-09-18 21:24] TJM opened #1114 "[artifactory-ha] Pod Disruption Budget (node-pdb) should only apply if node.replicas > 1"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG, I guess

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:
artifactory-ha ... but the same logic may apply elsewhere

**What happened**:
With node.replicaCount = 1, I cannot do maintenance to K8s nodes (migrate the artifactory member node) because it would violate the PDB, whi

[2020-09-22 01:11] TJM opened #1117 "[artifactory-ha] Add some "verbosity" to the wait-for-db container"
**Is this a request for help?**: They always are :)

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: 3.x; 1.15.4

**Which chart**: artifactory-ha (but it probably applies to others)

**What happened**: container is stuck at "wait-for-db" but no output

**What you expected to happen**: wait-for-db could tell me whats up?

**How to

[2020-09-24 09:27] Poterman opened #1142 "Please add an option to specify the resources for init containers in Xray's helm chart"
Hi Team,
Requesting to add the following feature to Xray's helm chart:
  - Please add an option to specify the resources for init containers in Xray's helm chart.

Thank you.

[2020-09-25 16:24] TJM opened #1149 "[xray] xray stateful set should pick up changes to xray-db-creds secret"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**: xray

**What happened**: I changed database URL, but the pod did not pick up the change until I manually deleted it

**What you expected to happen**: It should have restarted when the secret was updated

**How to reproduce it

[2020-09-28 06:10] chukka commented on #1149
@TJM let me verify this and come back

[2020-09-28 18:22] ethankhall opened #1155 "Unable to start XRay from Helm Chart"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT**

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

XRay deployed via

[code]

Values File:

[code]

**What happened**:

I'm unable to add XRay to a new deployment of Artifactory.

Here are logs that I pulled from the containers: https://gist.github.com/ethankhall/3fb98deac6852481308fa18352428801

**What you expected t

[2020-09-28 22:57] TJM opened #1156 "[artifactory-ha] NFS PV name should include "namespace" so that artifactory can be deployed into more than one namespace"
**Is this a request for help?**: NO, well, maybe :D

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**: artifactory-ha

**What happened**: Tried to create a test artifactory in another namespace, but the deployment failed because the "pv" for NFS data clashed. PV are not namespaced

**What you expected to

[2020-09-29 11:12] rahulsadanandan commented on #1155
@ethankhall
It should be the router port 8082 in jfrogUrl.
Can you check this and confirm.

[2020-09-29 11:34] chukka commented on #1155
Please try with ` jfrogUrl: http://artifactory-artifactory.artifactory:8082` in values.yaml

[2020-09-30 08:52] danielezer commented on #839
This has been fixed in Artifactory version `7.8.1`. This should be available since chart version `11.1.0`, which has been released in PR #1159

[2020-09-30 08:52] #839 closed

[2020-09-30 18:20] thllxb opened #1164 "add priorityClass def to artifactory ha nginx deployment"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
helm 2, k8s 1.16

**Which chart**:
artifactory ha

**What happened**:
I cannot provide a priorityClass to nginx pods

**What you expected to happen**:
I can provide the priorityClass in helm value override

**How to reproduce it** (as minimally and precisely as pos

[2020-10-01 03:57] #1142 closed

[2020-10-05 04:16] rahulsadanandan commented on #1156
@TJM Let me try to reproduce this. If possible can you share how you have created the NFS server and NFS Persistent Volume. Also the values.yaml (NFS configuration part ) you have used for both the Artifactory releases.

[2020-10-05 12:29] dfioravanti opened #1173 "[artifactory] custom certificate is ignored"
**Is this a request for help?**: Yes (maybe a bug report)

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm: v3.3.4
Kubernetes: v1.19.0

**Which chart**: artifactory

**What happened**:
1. I created a self signed certificate via `$ openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:2048 -keyout tls.key -out tls.crt -subj "/CN

[2020-10-05 18:45] TJM commented on #1156
@rahulsadanandan Our NFS server is a PureStorage FlashBlade.. I just created the shares in the WebUI. The PV is created by the helm chart.

Here is the relevant section of the values.yaml (artifactory.persistence):

[code]

[code]

[2020-10-06 14:53] chukka commented on #1149
@TJM Yes, Looks like a valid bug and i assume it affects all other jfrog charts  also. we would like to discuss this internally with our teams and provide a fix in the coming weeks

[2020-10-06 15:18] TJM opened #1178 "[xray] Chart defaults do not meet system requirements"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**:
xray

**What happened**:
PostgreSQL ran out of disk space (50GB)

**What you expected to happen**:
The chart should provision the application with enough disk space to work.

**How to reproduce it** (as minimally and precisel

[2020-10-06 15:31] TJM commented on #1178
NOTE: in values-small.yaml, I see an indication of persistence for xray server itself, but its at the wrong indentation level to be effective:
https://github.com/jfrog/charts/blob/010abb54406ff64feb25ea7e0141512ae55f6941/stable/xray/values-small.yaml#L59-L60

[2020-10-07 02:55] chukka commented on #1178
@TJM  we were aware of this. This is already addressed in existing  PR #1099 (Since this is breaking change for existing customers , we wanted to do it with major version bump)

[2020-10-07 03:06] chukka commented on #1178
Fixed in #1099

[2020-10-07 08:33] kristinnardal2 opened #1179 "[Xray] Documentation for using external databases other than PostgreSQL"
There is already some documentation for how to do this with Artifactory, see #1013

I noticed that support for specifying database drivers was added to Xray in #1038 but there is no documentation on how to use this feature or if it's actually supported by Xray.

[2020-10-07 10:29] eldada commented on #1179
As noted in the [official JFrog Xray installation](https://www.jfrog.com/confluence/display/JFROG/Installing+Xray) docs, currently only PostgreSQL is supported.

[2020-10-07 10:29] #1179 closed

[2020-10-07 16:08] TJM commented on #1178
thanks!

[2020-10-07 16:08] #1178 closed

[2020-10-08 03:07] peters95 commented on #1075
@caggles please look at the openshift helm charts here -> https://github.com/jfrog/JFrog-Cloud-Installers/tree/master/Openshift4/helm

[2020-10-09 13:18] lindhe commented on #1055
Definitely an attractive feature!

It seems very easy (just sending a POST request to the `/api/system/encrypt` endpoint), so I would assume this could be done by an init container...

[2020-10-12 08:57] rahulsadanandan commented on #1173
@dfioravanti Hi,
I was not able to reproduce the issue. I believe the problem is with the secretName:
Since secret resources can only be accessed inside a namespace, you don’t need to provide `development/artifacts-tls` It should be just the secret name.
Please try with
[code]

[2020-10-19 04:11] rahulsadanandan commented on #1173
@dfioravanti Hi,
I'm closing this, but if you face any issue feel free to reopen

[2020-10-19 04:11] #1173 closed

[2020-10-19 06:58] #1164 closed

[2020-10-21 06:51] anishp55 commented on #1173
i am running into this exact same issue
[code]

i've tried a bunch of combinations and nothing seems to work.  it would be helpful if there was a small example like you have for the large/medium/small deployments as trying to make heads or tails of the vaules in a 1500 like chart is a tiny bit difficult.

[2020-10-21 14:47] chukka opened #1203 "[jfrog-platform] Initial (Beta) release - Feedback/Suggestions"
Dear Folks,

We are just released  `jfrog-platform` chart  available at https://chartcenter.io/jfrog/jfrog-platform and sources [here](https://github.com/jfrog/charts/tree/master/stable/jfrog-platform)

**Few highlights:**

[0.0.3 chart release]
- Single command to install entire Jfrog platform

- Single database(postgresql) for all products

- Use global values to configure  few common parameters

[2020-10-21 15:50] chukka commented on #1203
@TJM

[2020-10-21 16:08] chukka commented on #1203
@palko444 @TGM

[2020-10-21 17:32] fl-max opened #1206 "[artifactory-ha] FEATURE: Add support for additional system.yaml configs"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Kubernetes: `v1.17.7`
Helm: `v3.0.3`

**Which chart**:
stable/artifactory-ha

**Feature you would like to see implemented**
Ability to **add** configuration to the `system.yaml` file. Currently this is setup as an override via `.Values.artifactory. sy

[2020-10-21 18:12] chukka commented on #1206
@fl-max Thanks for this feature request , this feature is already in works  and tracked internally, will be released in next few weeks for all charts 👍

[2020-10-21 22:39] TJM commented on #1203
Interesting, I was asking about sharing database between the various components and was told not to. It seems completely reasonable to share a single database server between these very related components, but I know that "xray" can be a bit of a connections pig. We are not using several of the included components yet, but it looks like it supports the ability to disable components. Thanks for putt

[2020-10-22 06:33] chukka commented on #1206
I'm closing this - Once we release you can try and share feedback

[2020-10-22 06:33] #1206 closed

[2020-10-22 15:18] fl-max commented on #1206
Shouldn't this be left open until it's released?

[2020-10-22 15:28] fl-max opened #1207 "[artifactory-ha] FEATURE: Ability to define/apply Artifactory YAML Config"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

I would like the ability to define [Artifactory YAML Configuration](https://www.jfrog.com/confluence/display/JFROG/Artifactory+YAML+Configuration) as a Value/ConfigMap and have the Chart automatically apply the configuration w/o having to bounce the Artifactory nodes (post-hook?).

**Ve

[2020-10-22 16:19] chukka commented on #1206
We are planning to implement this feature little differently from what you proposed but will tag you once released

[2020-10-22 17:41] fl-max opened #1208 "[artifactory-ha] BUG: Missing quotes around .Values.frontend.session.timeoutMinutes"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

There are missing quotes around [.Values.frontend.session.timeoutMinutes](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/values.yaml#L540) which causes the below error:

[code]

**Version of Helm and Kubernetes**:
Kubernetes: `v1.17.7`
Helm: `v3.0.3`

**Which chart**:
`sta

[2020-10-23 11:25] #1208 closed

[2020-10-23 15:53] fl-max commented on #1207
For those stumbling upon this, a workaround until this is implemented in the chart is to create a post-hook Job:

[code]
Using your own method of injecting `{{ .Release.Name }}` and `{{ .Release.Namespace }}` (ie. Terraform).

And then adding the configMap to `artifactory.configMaps`. Example:
[code]

Ideally the Job should be built into the Helm Chart and we'd just be able to pass in our config (

[2020-10-26 11:23] jetersen opened #1216 "[artifactory-oss] Cluster join 404"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

k8s: 1.18.9
helm: 3

**Which chart**:
artifactory v11.4.2

**What happened**:
Artifactory attempts to cluster join even when it is not running artifactory-ha

nginx is disabled and using an ingress.

[code]

**What you expected to happen**:
To not ge

[2020-10-26 11:30] jetersen commented on #1216
Seems like randomly after an hour the access server decides to boot and artifactory successfully joins the cluster....

[code]

[2020-10-26 11:38] jetersen commented on #1216
Okay, so the randomly generated master key has a chance of actually being generated again.

Seems like the default artifactory chart needs to pin a master key.

[2020-10-26 11:47] jetersen commented on #1216
Why is this not documented more clearly: https://github.com/jfrog/charts/tree/master/stable/artifactory#create-a-unique-master-key This should be linked in the top at least.

[2020-10-26 12:13] jetersen commented on #1216
Managed to follow these steps to recover the instance: https://jfrog.com/knowledge-base/how-to-recover-the-master-key/

[2020-10-26 14:16] jetersen commented on #1216
Even with the `artifactory.masterKey` set, it seems that it is ignored and the value is generated as second restart fails...

[2020-10-26 14:27] jetersen commented on #1216
Dammit! After 20ish minutes the container randomly comes alive after several restarts and I haven't touched the master key since I added a fixed key.

[2020-10-27 06:17] chukka commented on #1216
@joe-sonrichard  Is this still an issue ? Looks like artifactory-oss chart ?

[2020-10-27 06:42] chukka commented on #1203
@TJM  We just released a new version supporting Migration steps to move existing artifactory/artifactory-ha installations to JFrog platform chart - Refer [here](https://github.com/jfrog/charts/blob/master/stable/jfrog-platform/UPGRADE_NOTES.md)

Please try and share feedback

[2020-10-27 07:07] jetersen commented on #1216
I am experiencing this for both jcr and artifactory-oss

[2020-10-27 07:29] chukka commented on #1216
@joh is this an upgrade from previous version of oss/jcr or fresh install ? If upgrade, please provide chart version

[2020-10-27 07:34] jetersen commented on #1216
I was simply upgrading from `artifactory v11.4.0` to `artifactory v11.4.2`

I did see it as well when I upgraded from `artifactory v11.3.2` to `artifactory v11.4.0` though at that time I had yet to set a masterKey.

[2020-10-27 07:59] chukka commented on #1216
Can you share helm commands you used to reproduce the issue from our side

[2020-10-27 08:04] jetersen commented on #1216
I use argocd to deploy the update.

but helm wise it is `helm template` with the values file I provided above.

[2020-10-27 08:11] jetersen commented on #1216
artifactory:

`artifactory.app.yaml`
[code]

`Chart.yaml`
[code]

`values.yaml`
[code]

jcr:

`registry.app.yaml`
[code]

`Chart.yaml`
[code]

`values.yaml`
[code]

[2020-10-29 11:48] govindkailas commented on #1064
We are also facing the same issue while deploying Mission Control as a helm chart, how did you fix it?
[code]

[2020-10-29 11:58] asanami opened #1220 "[Pipelines] existingSecrets for ingress not working"
**Which chart**:
Using pipelines:

[code]

**What happened**:

Specifying the following yaml for rabbitmq:

[code]

Results in a missing tls secret

[code]
It looks like something is wrong with the version of rabbitmq chart being used here.

[2020-10-29 15:11] asanami opened #1221 "[pipelines] no documentation on how to use external postgres DB"
This chart does not document values for how to configure an external database

[2020-10-29 15:55] asanami opened #1222 "Inconsistencies between charts and their core configurations"
Various charts have Inconsistencies between how things are configured.  E.g. masterkey in x-ray chart allows masterKeySecretName but not in the pipelines chart.  And there are others.  Any efforts to align on naming conventions and consistency?

[2020-10-29 16:05] chukka commented on #1222
@asanami Yes, This is work in progress (tracked internally) , we are planning to release this in coming few weeks

We just released  `jfrog-platform` chart  available at https://chartcenter.io/jfrog/jfrog-platform and sources [here](https://github.com/jfrog/charts/tree/master/stable/jfrog-platform)

**Few highlights:**

[0.0.3 chart release]
- Single command to install entire Jfrog platform

- Sin

[2020-10-29 16:16] asanami opened #1223 "https://github.com/jfrog/charts/blob/master/stable/pipelines/values-ingress-external-secret.yaml has incorrect variables"
The values in this file:
https://github.com/jfrog/charts/blob/master/stable/pipelines/values-ingress-external-secret.yaml

Are incorrectly documented.

For example hostName should be hostname

`rabbitmq.password` should be `rabbitmq.auth.password`

etc.

Please can somebody review these?

[2020-10-29 16:20] asanami commented on #1222
I'm happy to try the new chart.

- Does it support a documented process for overriding the system.yaml?
- Does it support separate databases for each product
- masterKey, JoinKey specified as secrets.  We actually annotate these with vault webhooks.  E.g.

[code]

[2020-10-30 05:28] cyanfang commented on #175
i try to many method to fix this issue, not work. at the last , i found the root cause is my PostgreSQL user password contains special characters.

[2020-10-30 15:56] asanami commented on #1203
Some alignment on how secrets are managed would be good.  I _think_ that database passwords are stored in both system.yaml and as secrets in kubernetes.  We tend to use HashicorpVault for injecting secrets in a run time.  E.g.

[code]

Also specifying some of the system configuration for the router without having to override the system.yaml would be nice.  We run artifactory core outside of kubern

[2020-10-30 16:03] asanami commented on #1220
Any chance somebody can look at this? I think the version of the rabbitmq chart needs to be bumped as there is an issue with the current version being used.

[2020-11-01 20:22] KierranM opened #1232 "[artifactory][artifactory-ha] Allow enabling open metrics API"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**: artifactory & artifactory-ha

**What happened**:  As of Artifactory v7.7 it is possible to enable an open metrics API endpoint on Artifactory by adding some configuration to the system.yaml. The required configuration is documen

[2020-11-02 05:34] chukka commented on #1222
@asanami Hope this helps
1. we will be supporting systemyaml override in upcoming releases very shortly
2.Yes, you are free to use seperate databases for each product
3. masterKey, JoinKey secrets are available for all charts except pipelines, which we are planning to release very shortly.

[2020-11-02 05:38] chukka commented on #1220
@asanami  Can you check this file -https://github.com/jfrog/charts/blob/master/stable/pipelines/values-ingress.yaml  Looks like its corrected

[2020-11-02 05:39] chukka commented on #1223
Yes,Looks like we missed it,will be fixed in next release , please refer  https://github.com/jfrog/charts/blob/master/stable/pipelines/values-ingress.yaml for correct values

[2020-11-02 08:23] asanami commented on #1220
No I don't believe so. It looks like its an issue with the specific version of rabbimq chart being used here, so that needs a version bump.

[2020-11-02 11:19] donovanmuller opened #1234 "[artifactory][artifactory-ha] Configuring the awsS3V3 binary store provider is missing enablePathStyleAccess"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**FEATURE REQUEST**

Currently the Artifactory HA chart allows you to [configure](https://github.com/jfrog/charts/blob/870ea8d7f500caae95bcece42574acecd7ee43ac/stable/artifactory-ha/values.yaml#L1021) the `aws-s3-v3` binary provider but (in my case) is missing one vital option (see JFrog [documentation](https://www.jfrog.com/confluence/di

[2020-11-02 14:49] #1234 closed

[2020-11-02 17:31] chukka commented on #1216
@jetersen Can you try latest chart released today - artifactory-oss/jcr 3.2.1 and check if it works as expected ?

[2020-11-02 18:18] jetersen commented on #1216
I'll give it a shot, though it seems the release notes do not include a mention of a potential fix: https://www.jfrog.com/confluence/display/JFROG/Artifactory+Release+Notes#ArtifactoryReleaseNotes-Artifactory7.10.5

[2020-11-02 18:38] jetersen commented on #1216
artifactory-oss, first try: All services started successfully in 65.443 seconds
artifactory-jcr, first try: All services started successfully in 68.716 seconds

[2020-11-03 08:39] chukka commented on #1220
@asanami Yup @rahulsadanandan was able to reproduce, will Fix in upcoming releases of chart

[2020-11-03 09:28] #1216 closed

[2020-11-03 09:30] jetersen commented on #1216
@chukka any reason why the release note does not mention the fix that was done for this issue?

[2020-11-04 03:52] #1220 closed

[2020-11-04 03:52] #1221 closed

[2020-11-04 03:52] #1223 closed

[2020-11-04 06:59] ramesh4karma commented on #1064
Any help here please?

[2020-11-04 07:11] chukka commented on #1064
@govindkailas @ramesh4karma This is a very old issue, can you raise new issue and also provide chart version of Misson control (and Artifactory chart version which it connects to )

[2020-11-04 07:45] ramesh4karma opened #1241 "Jfrog Mission Control on K8 with VM based Jfrog Enterprise Plus 7.7.3"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm v3.1.2
K8 v1.16.4+vmware.1

**Which chart**:
https://artifacthub.io/packages/helm/jfrog/mission-control
so latest

**What happened**:

router and mission-control pods are not coming up within the pod
NAME                           READY   STATUS

[2020-11-04 07:47] ramesh4karma commented on #1064
Thanks Chukka : https://github.com/jfrog/charts/issues/1241

[2020-11-04 08:12] chukka commented on #1241
@ramesh4karma If you have enterprise license (I think you do), Can you please create a formal ticket via JFrog Support Channel to have sessions to look at your instance and provide the right guidance - that gives support with SLA. https://jfrog.com/support/

[2020-11-04 21:02] skreddy6673 commented on #865
@chukka
Hi Ram,
I just started the v7.9.0 upgrade process from v6.18.1 and ran into same error.
In v6.18.1 we have the masterkey so i didn't do any changes to it. When ran the helm upgrade command it gave me following error message
[code]
That's because our master-key have capital letters in it. Then i updated the master-key (Which i shouldn't have done) to all lower case and the did an helm upgra

[2020-11-05 14:41] chukka commented on #865
Hi @skreddy6673 ,

Can you share the chart version you are trying and provide reproducible steps (helm commands and values.yaml)

[2020-11-05 18:13] skreddy6673 commented on #865
@chukka
Thanks for your reply.
I'm using chart version of 4.2.0
I didn't add "driver" under database and it caused the issues. Adding the driver helped pass these issues.

Now i got stuck due to xray version incompatibility, we are using xray of version  2.11.4 and chart version of 1.3.8. Have to upgrade that.

[2020-11-05 19:11] sandy999 opened #1243 "[artifactory-ha] Question about able to set multiple ports"
**Is this a request for help?**: yes

---

**Version of Helm and Kubernetes**:
Helm: 3.3.4 and Kubernetes: 1.18.8

**Which chart**:
artifactory-ha 1.7.3

**What happened**:

We are in the process of moving our existing cluster to AWS. For this, we are using the provided artifactory-ha helm chart. To support backward compatibility, we need to able to accept traffic on multiple ports. Looking at the

[2020-11-05 20:44] skreddy6673 commented on #865
@chukka Do we need to upgrade xray to v3.x before Artifctory upgrade or during Artifactory Upgrade or After Artifactory upgrade.

[2020-11-06 12:19] jetersen commented on #1216
Sadly the issue reappeared after I rebooted them today.

[2020-11-06 17:23] fabiorino opened #1244 "Xray parameter indexer.persistence.size doesn't seem to work"
**Which chart**:
xray

**What happened**:
values-small.yaml, values-medium.yaml and values-large.yaml define the parameter indexer.persistence.size, which doesn't seem to have any effect on the actual deployment. The data-volume PVC size is always set to 50Gi.

**What you expected to happen**:
The PVC size should change accordingly.

**How to reproduce it** (as minimally and precisely as possible)

[2020-11-06 18:27] davjr96 opened #1245 "[artifactory-ha]Local PVCs still created when NFS is enabled"
I am running the following options with the latest version of the ha helm chart
[code]
When I deploy this I expect Artifactory to use NFS for the storage backend. However when deployed 3 PVCs are also created. Is there a way to not create this and have artifactory use solely the NFS volumes? If these are necessary is it possible to reduce the size as no data will be stored there with the NFS backe

[2020-11-09 04:12] chukka commented on #1244
@fabiorino FYI, persistence size is moved under common, Please check corrected values-*.yaml in PR-#1248

[2020-11-09 04:18] chukka commented on #1245
@davjr96 Thanks for reporting , Can you confirm the chart version of artifactory-ha chart ?

[2020-11-09 04:42] chukka commented on #1243
@sandy999 Sorry didn't understand the question completely, Are you  are  referring using 6.x of artifactory-ha  1.7.3 chart ? Also, what ports do you  want to open , can you be more specific?

[2020-11-09 11:20] chukka commented on #865
@skreddy6673 Once artifactory is upgraded to 7.x , Xray needs to be upgraded from 2.x to 3.x

[2020-11-09 16:40] davjr96 commented on #1245
Hi @chukka
It looks like I am using version 4.0.4
`helm show chart center/jfrog/artifactory-ha
apiVersion: v1
appVersion: 7.7.8
dependencies:
- condition: postgresql.enabled
  name: postgresql
  repository: https://charts.bitnami.com/bitnami
  version: 9.3.4
description: Universal Repository Manager supporting all major packaging formats,
  build tools and CI servers.
home: https://www.jfrog.com/a

[2020-11-09 16:47] davjr96 commented on #1245
I just tried again with v4.4.4 with the same outcome

[2020-11-09 19:25] woodcockjosh commented on #859
@chukka any update on this?

[2020-11-09 21:34] sandy999 commented on #1243
Correct, we are setting up artifactory-ha: 6.x  deployed using chart: 1.7.3.

We are configuring the nginx proxy provided via the chart, deployed on eks. I see the chart provides the option to configure one http and one https port. But we require few more ports to be configured, due to legacy requirements.

I wanted to check if there is a way to configure nginx deployment with addition ports, befo

[2020-11-10 04:47] chukka commented on #1245
@davjr96  Thanks for reporting ! We plan to test this with NFS enabled  next week to reproduce it (will track this internally)

[2020-11-10 09:24] #1244 closed

[2020-11-10 22:45] abhinavkhanna-sf opened #1255 "JF_SHARED_DATABASE_URL is not set correctly when database.url is present"
https://github.com/jfrog/charts/blob/65ed085fde448c7f0944116ce6201f029a1ccd1f/stable/artifactory/templates/artifactory-statefulset.yaml#L295

looks like copy paste error
it should be something like this

[code]
instead of

[code]

[2020-11-11 02:01] chukka commented on #1255
@abhinavkhanna-sf Looks like you have mistaken here , we fetch database url from secret - Please refer [here](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-database-secrets.yaml#L14)

[2020-11-11 02:01] #1255 closed

[2020-11-11 13:56] fabiorino opened #1257 "[xray] Allow external rabbitmq credentials to come from existing secret"
This a feature request.

It looks like it's not possible to store external RabbitMQ credentials in a secret, they have to be hardcoded in a variable ("rabbitmq.external.password") or directly in the system yaml. This is inconvenient as we'd rather avoid passing in secrets on the command line or hardcode secrets in the values file.

It is already possible to provide an existing secret for external

[2020-11-11 14:22] chukka commented on #1257
@fabiorino Makes sense, Will try to implement(will be tracking internally)  this in upcoming releases for Xray chart

[2020-11-12 07:26] lverba commented on #865
@chukka I also tested migration from v6.18.0 to latest, same facing the problems with join key:
`
env|grep JOIN
JOIN_KEY=25d3e449e7d9d240f356d62560c60a85c07ccc01f307e6a66df6c9a126da941e

helm2 upgrade artifactory-tmp --set artifactory.joinKey=${JOIN_KEY} --namespace artifactory-tmp jfrog/artifactory --values artifactory-tmp-new.yml`

`- Cluster join: Failed resolving join key: failed resolving 'sh

[2020-11-12 13:57] skreddy6673 commented on #865
@lverba My observation while upgrading from v6.18 to v7.x is you need to add the followig
1) Master-Key
2) Join-Key
3) Enable Migration
4) Add `Driver` under database.

If possible can you share the values file by masking the sensitive data and Helm chart version.

[2020-11-12 16:12] skreddy6673 commented on #865
We are in xray chart version of 1.3.8, so when i want to upgrade to latest chart version, can i upgrade directly to latest or do i need to via incremental process like upgrade to chart version of 2.x and then upgrade to chart version of 3.x and then upgrade to chat version of 6.x(latest)?

[2020-11-12 18:58] lverba commented on #865
@skreddy6673 tnx for reply!

1. I did not pass master key at all, i remove master key from secrets before upgrade
2. join key i create new and pass it with upgrade command
3. This is done
4. Also done

So, I'm just testing migration on test cluster, first, I'm running fresh install, but with database from current 6.18 artifactory with this values:

helm2 install --name artifactory-tmp --namespace

[2020-11-12 19:14] skreddy6673 commented on #865
@lverba Thanks for the additional info, In here they mentioned that master key is mandatory for v7 installs.

https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#create-a-unique-master-key

Try adding the Master key (Old key, this shouldn't be changed) and try the helm upgrade again.

[2020-11-12 21:01] lverba commented on #865
@skreddy6673 nope, same :(

[2020-11-13 16:10] fabiorino opened #1258 "[xray] 3.11.1 Docker images have been removed from docker.bintray.io"
"appVersion" in charts/stable/xray/Chart.yaml should be updated to a valid tag, or Docker will fail to pull the image.

Thanks,
Fabio.

[2020-11-13 16:28] Vijay5760 commented on #1258
![image](https://user-images.githubusercontent.com/49961829/99095493-312f1c00-25a3-11eb-8e9b-23043e163c27.png)
looks like registry is moved to new location. someone need to update helm chart with new registry path or move back to orginal location

[2020-11-13 19:26] anderm3 opened #1259 "Chart makes tls.crt and tls.key even when Values.nginx.https.enabled = false"
BUG REPORT

**Version of Helm and Kubernetes**: 2.x, 1.13

**Which chart**: artifactory-ha but also artifactory

**What happened**: The generated chart makes a tls.key and tls.crt when Values.nginx.https.enabled is set to false

**What you expected to happen**: It should not make those files

**How to reproduce it** (as minimally and precisely as possible): helm upgrade --install artifactory-ha --

[2020-11-16 00:52] chukka commented on #1258
@fabiorino Thanks for reporting ! Will check internally and get back asap

[2020-11-16 00:58] chukka commented on #1259
@anderm3 Thanks for the contribution ! we would like to test this internally this week  and merge to master if every thing looks good

[2020-11-16 01:18] chukka commented on #865
@lverba masterKey is not necessary to be passed when you upgrade from 6.x to 7.x (migration takes care of it ). Please refer [here](https://github.com/jfrog/charts/tree/master/stable/artifactory#masterkey-during-6x-to-7x-migration-app-version) for more Info

Please check the length of masterKey used in 6.x for artifactory (32 characters or 64 characters), if you still face an issue - raise a new i

[2020-11-16 04:10] chukka commented on #1155
@ethankhall is this still an issue ? Please reopen if it doesn't work

[2020-11-16 04:10] #1155 closed

[2020-11-16 04:57] #1149 closed

[2020-11-16 04:57] #1258 closed

[2020-11-16 05:04] chukka commented on #1149
@TJM  Can you try latest xray chart and  check if its all good ?

we will release this fix for all other charts very soon

[2020-11-16 15:12] TJM commented on #1149
Sure, but admittedly, it was a mistake (bad assumption that Xray used the same DB URL format that everything else does) that led me to find this. I guess I could purposely change it to be wrong then change it back and verify that it restarts appropriately :)

[2020-11-16 17:10] TJM commented on #1149
I am not sure if its working or not. I do see the new db-secrets annotation....
[code]

.. but the pod is still stuck in crash backoff.

~tommy

[2020-11-16 17:50] TJM commented on #1149
MEH, once the backoff cleared, it worked fine. I am not sure if changing an annotation will bypass a backoff loop :-/

[2020-11-17 12:46] eladh commented on #593
Hi @eldada
We also getting the same issue trying to an existing helm chart in order to update artifactory.persistence.size

getting the following error:

Best,
Elad.

[2020-11-17 12:48] eldada commented on #593
@chukka - can you help here?

[2020-11-17 12:56] chukka commented on #593
@eladh Looks like a very old issue , can you please raise this as a new issue and provide more details like chart versions (present and upgrading chart version and also share helm commands with values.yaml to debug further )

cc @eldada

[2020-11-17 12:59] chukka commented on #593
Also, artifactory.persistence.size can't be changed via helm upgrade directly

Steps to be followed

- edit PVC size
- delete statefulset
- update chart custom-values.yaml
- do helm upgrade

[2020-11-17 13:04] eladh commented on #593
Hi @chukka , i would love to get more details regarding the process.
editing the pvc size resulting :
`error: persistentvolumeclaims "artifactory-volume-artifactory-artifactory-0" could not be patched: persistentvolumeclaims "artifactory-volume-artifactory-artifactory-0" is forbidden: only dynamically provisioned pvc can be resized and the storageclass that provisions the pvc must support resize`

[2020-11-17 13:13] chukka commented on #593
yes please

[2020-11-17 13:28] eladh opened #1265 "Artifactory helm upgrade persistance storage command fails with forbidden error"
BUG REPORT

Version of Helm and Kubernetes: 2.x, 1.17 , with rimas tillerless plugin

Which chart: artifactory 8.1.9 (artifactory 6.14.1 rev 61401900)

What happened: As a result of stroage full alert we deleted old binaries and artifacts , performed all GC/Cleanup procedures and sadly the storage still mention full error notification and prevent pushing new artifacts.
although the  **/opt/jfrog/a

[2020-11-17 13:49] eladh commented on #1265
@chukka
Updating the chart values with new storage capacity + delete the statefulset + helm upgrade  , resulting the following error :

`Couldn't find key db-password in Secret default/artifactory-artifactory`

[2020-11-17 14:19] chukka commented on #1265
@eladh did you pass same value of `.Values.database.password` in values.yaml during upgrade ?

Please check `artifactory-secrets.yaml` file in templates
{{- if .Values.database.password }}
  db-password: {{ .Values.database.password | b64enc | quote }}
  {{- end }}

[2020-11-17 14:56] abhinavkhanna-sf opened #1266 "jfrog charts does not with helm template command when added as dependencies"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**: All of them

**What happened**: helm template command fails when you add frog charts as dependencies

**What you expected to happen**: helm should download dependent charts and create templates.

**How to reproduce it** (as m

[2020-11-17 15:50] chukka commented on #1266
@abhinavkhanna-sf  Can you please add `charts.jfrog.io` instead of `https://repo.chartcenter.io` as dependency in chart.yaml , Hope it fixes 👍

[2020-11-18 11:04] abhinavkhanna-sf commented on #1266
Thank you for the new helm repo link. it  works now.

[2020-11-19 07:50] #1266 closed

[2020-11-19 14:27] abhinavkhanna-sf commented on #1255
@chukka
Sorry you are correct.

I still have one question re: below scenario. It looks like if you are providing username/password thru external secret, you have to provide URL as well thru secret.

from sts
[code]

from secret

[code]

what happens in the following case is  since i have provided secrets, it will not create {{ template "artifactory-ha.fullname" . }}-database-creds. However, in sts

[2020-11-19 14:42] abhinavkhanna-sf commented on #1255
something like this(not tested)
[code]
not an expert , something like above might work

[2020-11-19 20:48] chamoisla commented on #1091
@jing-1strategy Create a values.yaml file with [this configuration](https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#install-artifactory-ha-with-nginx-and-terminate-ssl-in-nginx-serviceloadbalancer) (using your own ACM certificate arn).

Then install:
[code]

I'd be curious to find out if your internal load balancer target groups all report back as healthy once deployed?

[2020-11-19 22:43] jing-1strategy commented on #1091
Thanks @chamoisla, use values.yaml solves this issue.
and all instance in the target group report back healthy.

[2020-11-19 22:44] #1091 closed

[2020-11-20 17:50] eladh commented on #1265
thanks @chukka , i was able to retrieve the db-password secret and complete the artifactory helm upgrade.

[2020-11-20 17:50] #1265 closed

[2020-11-20 22:09] TJM opened #1270 "[xray] rabbitmq-ha health checks are deprecated"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**: xray-6.4.2

**What happened**: while monitoring logs in xray-rabbitmq-ha, I noticed that it is complaining about the health checks being used. Every ~3 seconds it emits an error about the health check being deprecated.

[2020-11-20 22:16] TJM commented on #1245
We also confirm this. We set our local volumes to 20Gi to use for local "logs" and temporary cache. Perhaps this comes down to something that should just be documented?

[code]

[2020-11-20 22:19] TJM commented on #1245
NOTE: I have to say that it would also be nice if it would create a PVC for the NFS store and use that rather than this "manual" NFS creation. I do not have an issue with this being an option, but it would be nice to let the PVC be *requested* by K8s instead of manually creating the PV (which clashes if you try to install artifactory into a "test" namespace).

[2020-11-23 04:09] chukka commented on #1206
@fl-max This PR has feature to override systemyaml for advanced use cases , Hope you will try and share the feedback

[2020-11-23 21:19] TJM commented on #1270
Actually, the whole chart is deprecated: https://github.com/helm/charts/tree/master/stable/rabbitmq-ha

Should we just switch over to the bitnami chart?

[2020-11-24 01:41] chukka commented on #1270
@TJM We are internally tracking this already , Also #1099 represents the same

Yes, going forward bitnami chart will be default , we are planning to release new chart with this change soon

[2020-11-24 01:44] chukka commented on #1270
@TJM  You can still use  bitnami's chart in current xray chart by disabling rabbitmq-ha as below

[code]

[2020-11-24 01:46] #1259 closed

[2020-11-24 15:51] TJM commented on #1270
I can, indeed. I have converted over to bitnami as you say above... rabbitmq portion of the xray values section

[code]

[2020-11-24 15:51] #1270 closed

[2020-11-25 14:48] #1257 closed

[2020-11-27 11:06] kivio opened #1277 "After mounting S3V3 as persistency JCR stops showing onboarding page"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
3.3.0

**Which chart**:
artifactory-jcr

**What happened**:
When configured S3 V3 as persistency layer after first login I don't get onboarding page and JCR says that EULA is not signed then I can't use it fully.

**What you expected to happen**:
Norm

[2020-11-27 12:46] kivio commented on #1277
found way to fix it. Config map needed:
[code]

and then in `artifactory.artifactory.configMapName: artifactory-config`

it works for me - even will be good if it will work in all storage cases same way.

[2020-11-30 06:27] chukka commented on #1277
@kivio Can you share the reproducible steps  (helm commands and values.yaml file) along with chart version

[2020-11-30 12:37] hanikesn opened #1281 "[artifactory-oss] Failed Artifactory update from 6.23.1 to 7.6.3"
**Version of Helm and Kubernetes**:
helm 2.6.17

**Which chart**:
artifactory-oss

**What happened**:
Hey, I tried to upgrade artifactory-oss via helm from 1.6.0 to 2.5.1. i.e. 6.23.1 to 7.6.3, which should be supported according to: https://www.jfrog.com/confluence/display/JFROG/Upgrading+Artifactory#UpgradingArtifactory-UpgradingfromVersion6.10.xto7.x

However the migration scripts fail to start

[2020-11-30 12:45] chukka commented on #1281
@hanikesn Can you please share chart version of 6.x and 7.x charts . Also, can you share reproducible steps (helm commands used and values.yaml file)

[2020-11-30 12:48] chukka commented on #1281
@hanikesn  If this is a test instance, we would like you to test an  upgrade  from 6.23.x to latest 7.11.2 artifactory (11.5.2 chart version)

[2020-12-03 04:27] chukka commented on #1222
@asanami Now, latest versions of all charts now supports as masterKey, JoinKey secrets along with systemyaml override feature

Also, jfrog-platform chart version `0.0.9` also has these updates, please try and share feedback

[2020-12-03 04:27] #1222 closed

[2020-12-03 06:38] mreddy93 opened #1289 "joinkey not found cluster join failed ECONN error"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2020-12-03 06:40] mreddy93 commented on #1289
im using artifactory-pro helm chart i have created secrets before and given those secrets in values.yaml

[2020-12-03 08:55] chukka commented on #1289
@mreddy93 can you share below information :

Version of Helm and Kubernetes:

Which chart:

What happened:

What you expected to happen:

How to reproduce it (as minimally and precisely as possible):

Anything else we need to know:

[2020-12-03 08:58] chukka commented on #1281
Marking this as closed

[2020-12-03 08:58] #1281 closed

[2020-12-03 08:59] chukka commented on #1241
I'm marking this a closed

[2020-12-03 08:59] #1241 closed

[2020-12-03 09:02] chukka commented on #1117
Yes, This makes sense . Will add this in upcoming releases :)

[2020-12-03 10:01] mreddy93 commented on #1289
Version of Helm and Kubernetes: helm-3.4/k8s:v.19.4

Which chart: artifactory

What happened: cluster join failed ECONN error

What you expected to happen: expected succesful creation of pods

How to reproduce it (as minimally and precisely as possible):

Anything else we need to know:
do i need to change anything in system.yaml ?

[2020-12-03 12:14] rahulsadanandan commented on #1156
Hi @TJM,
We are tracking this issue internally.
I was able to reproduce the issue when we use the same release name in another namespace.
If we use a different release name in another namespace, we won’t get a conflict.
Just wanted to get your thoughts on this.
cc @chukka

[2020-12-03 17:17] TJM commented on #1156
@rahulsadanandan Thanks, that is a decent workaround for now... and perhaps we can just add the "namespace" to the PV name instead of trying to do something random (which feels like a problem waiting to happen)

[2020-12-03 17:33] vikram383 opened #1291 "LDAP configurations in Helm chart"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**: helm=v3.4.1   k8s=v1.19.4

**Which chart**: artifactory helm chart(uses artifactory-pro)

**What happened**: i want to integrate LDAP configuartions in the chart how to do it ?
can we integrate it on system.yaml?

**What you expected to happen**: LDAP configaration

[2020-12-03 17:37] vikram383 opened #1292 "artifactory-pro stable image"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature req

**Version of Helm and Kubernetes**: 3.4.1/v1.19

**Which chart**: i want to know about stable chart for deploying without errors like joinkey and msater key

**What happened**: sometimes Cluster join  fails

**What you expected to happen**: successfully pods should deploy

**How to reprod

[2020-12-03 19:03] mreddy93 opened #1293 "Joinkey probelm and cluster cant join"
**Is this a request for help?**: yes

[values.txt](https://github.com/jfrog/charts/files/5638370/values.txt)
[error.txt](https://github.com/jfrog/charts/files/5638371/error.txt)
[error.txt](https://github.com/jfrog/charts/files/5638374/error.txt)

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature req

**Version of Helm and Kubernetes**: 3.4.1/v1.19

**Which chart**: i want to

[2020-12-04 04:11] rahulsadanandan commented on #1293
@mreddy93
From the error logs, it seems like
`failed with error pq: password authentication failed for user "artifactory"`

Can you try installing artifactory in a fresh namespace.

[2020-12-04 04:38] chukka commented on #1292
@vikram383  Its recommended you pass these below values

# Create a joinKey and masterKey
export JOIN_KEY=$(openssl rand -hex 32)
echo ${JOIN_KEY}

export MASTER_KEY=$(openssl rand -hex 32)
echo ${MASTER_KEY}

# Pass the created these values to helm
`helm upgrade --install artifactory --set artifactory.masterKey=${MASTER_KEY} --set artifactory.joinKey=${JOIN_KEY} --set postgresql.postgresqlPasswor

[2020-12-04 04:49] chukka commented on #1291
@vikram383  can you please provide more Info on LDAP configurations that you are looking, we are happy to take a pull request if you are interested to raise it

[2020-12-04 05:08] mreddy93 commented on #1293
i tired several times but no luck

[2020-12-04 09:54] vikram383 commented on #1292
Hi
i have tried this couple of times but still problem with join key

[2020-12-04 11:02] vikram383 commented on #1292
Hi chukka
i can see same master key after deployment succcessfull but not join key it is different
should i give any path for join key in system.yaml
thanks

[2020-12-06 16:19] adrew183 opened #1295 "Binary store as secret"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
3.4 / v1.19

**Which chart**:
Artifactory

**What happened**:
I just want to know why binary store.xml
Is stored as secret in templates any aortic reason ?

**What you expected to happen**:
I was expecting to be config map

**How to reproduce it** (as minimally and

[2020-12-07 05:05] mreddy93 commented on #1292
Bootstrap joinKey found in [/opt/jfrog/artifactory/var/bootstrap/access/etc/security/join.key:]. Deleting original
how to rectify path of joinkey?

[2020-12-07 06:15] adrew183 commented on #1295
How to rectify /var/opt/artifactory- could not set the owner

[2020-12-07 15:34] mreddy93 commented on #1293
Hi im able to join cluster now but during installation there are couple of WARN like system.yaml failed
im posting my console output here pls let me know how to get rid of those , if they are not serious for installation do let me know
thanks
[output.txt](https://github.com/jfrog/charts/files/5653574/output.txt)

[2020-12-07 21:24] donovanmuller opened #1297 "[mission-control] Elasticsearch request via router"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT / QUESTION

**Version of Helm and Kubernetes**:

**Which chart**: https://chartcenter.io/jfrog/mission-control?version=5.3.3

**What happened**: Using the provided Elasticsearch container provided by the Chart and _not_ an external cluster. In https://github.com/jfrog/charts/pull/1087 E

[2020-12-08 07:07] rahulsadanandan commented on #1297
@donovanmuller
we should use `/elasticsearch` after router port
`curl http://mission-control.mission-control.svc:8082/elasticsearch/_cluster/health`

For filebeat as well, ES URL is `http://mission-control.mission-control.svc:8082/elasticsearch/ `

[2020-12-08 07:22] rahulsadanandan commented on #1293
@mreddy93
`[WARN ][0m [] [installerCommon.sh:706        ] [main] - System.yaml validation failed` this message can ignored. It is not serious for the installation. we have a ticket to track this internally.

[2020-12-08 08:34] donovanmuller commented on #1297
Thanks @rahulsadanandan 👍

[2020-12-08 08:34] #1297 closed

[2020-12-08 13:36] Andreiaotto opened #1301 "Artifactory PRO with aws-s3-v3"
**Is this a request for help?**:
Yes

---

**Which chart**:
stable/artifactory verison 7.5.7 and 7.11.5

**What happened**:
I have deployed jfrog artifactory PRO, version 7.5.7 and 7.11.5 using helm:
https://github.com/jfrog/charts/tree/master/stable/artifactory
We have aws-s3-v3 for file storage and it works fine for local repos.

If I create a remote repo and enable the Storage artifacts locally

[2020-12-08 18:34] gitta-jfrog commented on #1301
In order to use s3 with "explicit credentials", the parameter "useInstanceCredentials" (default: true) need to be set as false.
Please try to install the chart again with:

`--set artifactory.persistence.type=aws-s3-v3 \
--set artifactory.persistence.awsS3V3.region=${AWS_REGION} \
--set artifactory.persistence.awsS3V3.bucketName=${AWS_S3_BUCKET_NAME} \
--set artifactory.persistence.awsS3V3.identit

[2020-12-09 00:24] DasJayYa commented on #962
Looking at the other InitContainers, they are using the init resource but for the Nginx Deployment.

`        resources:
{{ toYaml .Values.initContainers.resources | indent 10 }}`

[2020-12-09 10:14] Andreiaotto commented on #1301
Hello @gitta-jfrog
I updated it and still the same:
[code]
[code]
then last - with 500
`[jfrt ] [WARN ] [4293f661ef7a3479] [.r.ArtifactoryResponseBase:125] [ttp-nio-8081-exec-10] - Sending HTTP error code 500: Could not process download request: Illegal endpoint: 'https://s3.eu-west-1.amazonaws.com'. This endpoint is not supported`

binarystore:
/opt/jfrog/artifactory/var/etc/artifactory/binarysto

[2020-12-09 12:39] gitta-jfrog commented on #1301
I checked again, right now **Pro license** support only "s3.amazonaws.com" as AWS endpoint.
Please try to install it again and verify the endpoint in the binarystore.xml:  `<endpoint>s3.amazonaws.com</endpoint>`

[2020-12-09 14:34] Andreiaotto commented on #1301
Hi @gitta-jfrog , I tested as you suggested but still the same:

Right, for aws S3 endpoint in eu-west-1 works fine, thank you! I had the eu-west-1 in the endpoint and it was causing the issue.
Actually I deployed it in eu-west-1 to isolate the problem, our current problem in in China, so endpoint must be s3.cn-north-1.amazonaws.com.cn, according to https://docs.amazonaws.cn/en_us/aws/latest/userg

[2020-12-11 12:27] broomyocymru opened #1304 "[xray] Feature Request: Ability to define LoadBalancer IP of Xray service"
Currently there is no way to define a static load balancer ip on the xray service template xray-svc.yaml, an optional param server.service.loadBalancerIP would resolve this. Our use case is to provide internal private address on an Azure AKS.
[code]
Alternatively providing an additionalSpec field that accepted yaml may provide a more generic solution.
[code]

[2020-12-15 20:23] raxod502-plaid commented on #1114
Yeah, same here. Why is there a PDB specifically for member nodes? Since member and primary are interchangeable, there should be a PDB saying at least one node of **any** type must be available, right?

[2020-12-16 16:07] Andreiaotto commented on #1301
We can close this ticket, it turns out it's a product issue and the team is working on.
RTFACT-24201

[2020-12-16 16:07] #1301 closed

[2020-12-16 18:27] TJM commented on #1114
@raxod502-plaid Actually, the primary node is a single entity. The "member" nodes are what processes user requests. Unfortunately that means the minimum cluster size is *3* nodes, one primary, two members.

[2020-12-16 18:54] raxod502-plaid commented on #1114
Thank you for correcting my misunderstanding. I had mistakenly thought that running only the primary node would suffice to serve requests, but (as you point out) it is not. We have reconfigured our Artifactory HA to run 2 member nodes, and this solves the PDB problem for us as a side effect.

[2020-12-17 05:16] chukka commented on #1304
@broomyocymru  can you share more details on this like xray chart version ?

[2020-12-18 09:15] frogtester9 commented on #1304
@chukka @rahulsadanandan :  Xray helm chart version 6.6.0 with Xray 3.13.0 (integrating with Artifactory 7.11.5 on Windows Server).

[2020-12-18 10:48] broomyocymru commented on #1304
Xray helm chart version 6.6.0 with Xray 3.13.0.

[2020-12-21 08:53] rahulsadanandan commented on #1304
Hi @broomyocymru
We have discussed and created a ticket internally for this. We will have this solution implemented soon.
Thanks.

[2020-12-23 06:00] flaper87 opened #1312 "Artifactory HA Google Storage requires identity"
**Is this a request for help?**:

Is there a way to only use the service account when using `google-storage`?

If not, is there a way to set the `indentity` and `credential` keys using a secret?

https://github.com/jfrog/charts/blob/cc5e9667b9b12f95a154e1afd608429758a9ff21/stable/artifactory-ha/values.yaml#L1009-L1036

Artifactory fails to start if I leave the `identity` and `credential` fields em

[2020-12-28 14:26] Lunik opened #1315 "Deprecated apiVersion for Ingress"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 3.4.2 for Kube v1.18.10

**Which chart**: artifactory, xray

**What happened**:
The Ingress resource is not created with the right `apiVersion`.
Currently : `extensions/v1beta1`

**What you expected to happen**:
The Ingress resource should have `apiVe

[2020-12-28 15:37] #1315 closed

[2020-12-29 08:59] mabrikan opened #1316 "[Artifactory-HA] [FEATURE REQUEST] Add Flag for Creating PSP(s)"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: Helm (v3.4.2), K8s [client (v1.19), server (v1.18)]

**Which chart**: artifactory-ha

**What happened**: PodSecurityPolicy(s) is/are not created for the release pods

**What you expected to happen**:  PodSecurityPolicy(s) are created if user want

[2020-12-30 16:41] vikram383 commented on #1291
Hi chukka
thanks for your reply , i want to configure LDAP  to artifactory but i couldnt find any relevant documents for that ,
can you please let me know how to configure LDAP in system.yaml in helm chart
if you can send some basic syntax it would be beneficial
thanks

[2020-12-30 16:43] vikram383 commented on #1291
i want to configure my company LDAP server for certain groups and users

[2020-12-30 16:43] vikram383 commented on #1291
if you could attach some relevant document will be fine

[2020-12-30 16:50] #1292 closed

[2021-01-04 06:13] donovanmuller commented on #1232
@KierranM `.Values.artifactory.openMetrics.enabled` was enabled in `4.7.0` [release](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/CHANGELOG.md#470---dec-18-2020), happy to close?

[2021-01-04 06:23] donovanmuller opened #1321 "[artifactory][artifactory-ha] Allow filebeat metrics configuration"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Which chart**:

* `artifactory`
* `artifactory-ha`

**What you expected to happen**: With the Mission Control `4.6.1` [release](https://www.jfrog.com/confluence/display/JFROG/Mission+Control+Release+Notes#MissionControlReleaseNotes-MissionControl4.6.1) the new [Artifactory Performan

[2021-01-04 06:25] #1232 closed

[2021-01-06 03:52] rahulsadanandan commented on #1312
@flaper87 Thanks for reporting this. This seems to be a bug, I was able to reproduce the issue. We have created a ticket internally and working on it.
Will update you soon.
cc @chukka

[2021-01-06 05:16] rahulsadanandan commented on #1321
@donovanmuller Thanks for this request. Ideally, for advanced use-cases, we should be overriding the systemYaml, so we have greater control. Also, our idea is to keep the values.yaml minimal with only the most used configuration. But we will discuss this internally.
cc @chukka @eldada @JfrogPrasanna

[2021-01-06 06:52] rahulsadanandan commented on #1316
Hi @mabrikan, Thanks for this feature request. We have created a ticket internally to track this. Will get back to you on this, once we have an update.

[2021-01-06 07:44] mrgarg2 opened #1330 "[Bug Report] Issue in creating customVolumes & customVolumeMounts in Artifactory HA"
Hello Team,

There is an issue while creating customVolume or customVolumeMount in Artifactory HA,

Version of Helm : v3.0.1

Version of kubernetes : client Version v1.14 , server Version v1.16

Chart : Artifactory-HA

Issue :
I tried to create customVolumeMount in values.yaml, I added a customVolumeMount in global and a customVolumeMount in artifactory section and it looks like only global volume

[2021-01-06 08:45] chukka commented on #1330
@mrgarg2 Thanks for reporting this, we will review this internally and update shortly

[2021-01-06 09:01] rahulsadanandan commented on #1330
@mrgarg2
Are you using artifactory-ha chart as a subchart?
What is the need for the global section here?  We can give multiple customVolumes and customVolumeMounts in artifactory section.

[2021-01-06 09:37] chukka commented on #1330
@mrgarg2  FYI- We implemented global section to support customVolumes and customVolumeMounts for all products in `jfrog-platform` [chart](https://github.com/jfrog/charts/tree/master/stable/jfrog-platform)

[2021-01-11 05:34] mrgarg2 commented on #1330
@rahulsadanandan @chukka Thanks for the help, I understood relevance of the implementation.
Will move my custom Volume configurations into the artifactory section.

We can close the issue now.

[2021-01-11 05:34] #1330 closed

[2021-01-12 14:59] mohitreddy93 commented on #1293
Cluster join: Retry 40: Service registry ping failed, will retry. Error: Failed to ping access, response status: 404 Not Found (returned 404) [startup]

[2021-01-12 15:00] mohitreddy93 commented on #1293
how to resolve above issue?

[2021-01-12 15:23] mohitreddy93 opened #1334 "- Cluster join: Retry 35: Service registry ping failed, will retry. Error: Error while trying to connect to local router at address 'http://localhost:8046/access': Get "http://localhost:8046/acces"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
v3.3

**Which chart**:
artifactory helm chart version:7.11.5

**What happened**:
- Cluster join: Retry 35: Service registry ping failed, will retry. Error: Error while trying to connect to local router at address 'http://localhost:8046/access': Get "http://l

[2021-01-13 04:16] rahulsadanandan commented on #1334
@mohitreddy93 Can you please provide the YAML file used to install the chart.?

[2021-01-13 04:53] mohitreddy93 commented on #1334
Sure ,
[values.txt](https://github.com/jfrog/charts/files/5806456/values.txt)

[2021-01-13 10:31] mohitreddy93 commented on #1334
any updates on that rahul

[2021-01-13 17:10] JuanSeBestia commented on #1291
+1

[2021-01-19 11:13] mohitreddy93 commented on #1334
how can i resolve above issue?

[2021-01-22 00:21] jainishshah17 opened #1338 "[Xray] Failed creating temp file 'tmp-atomic-write'"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
Xray 6.9.2

**What happened**:
[code]

**What you expected to happen**:
Successfully start router microservices

**How to reproduce it** (as minimally and precisely as possible):
[code]

[code]

**Anything else we need to know**:

It is giving this error because of da

[2021-01-22 00:22] jainishshah17 commented on #1338
@eldada @rahulsadanandan

[2021-01-22 10:23] rahulsadanandan commented on #1338
@jainishshah17 I could also reproduce the issue. the permission seems to be not correct when mounting to system directory /tmp
Able to solve this by mounting to a subdirectory

[code]
can you try this

cc @chukka @eldada

[2021-01-22 16:46] jainishshah17 commented on #1338
Thanks @rahulsadanandan I was able to make some progress using following values.yaml file:
[code]

Command used to install Xray:
[code]

Now I am getting following error:
[code]

[2021-01-22 16:53] jainishshah17 commented on #1338
Now it looks like application issue.
I was able to curl our JFrog url from initContainer using following command.
[code]

So I believe Application is still not using passed certificate.

[2021-01-25 09:07] rahulsadanandan commented on #1304
@broomyocymru Can you please review the pr for additionalSpec.
https://github.com/jfrog/charts/pull/1339/files

[2021-01-25 22:31] jainishshah17 commented on #1338
@rahulsadanandan  I manage to pass certs by mounting configmap to `/etc/ssl/certs/ca-certificates.crt`. But ,
I am still getting following error:
[code]

[2021-01-26 06:12] #1304 closed

[2021-01-27 00:55] privomark opened #1340 "[Artifactory HA] NGINX Readiness probe failed: HTTP probe failed with statuscode: 502"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:

Helm: `v3.2.2+ga6ea66`
k8s: `v1.18.9`

**Which chart**:
`center/jfrog/artifactory-ha`

**What happened**:
Installing HELM Chart resulted in errors from nginx Pod `Readiness probe failed: HTTP probe failed with statuscode: 502`

Output from Pod Logs

[2021-01-27 09:48] broomyocymru commented on #1304
Hey @rahulsadanandan , I've successfully used the fix with the latest release. Thanks for the assistance

[2021-01-27 13:36] vikram383 commented on #1291
thanks ,
how to configure identity access managment in yaml ?
i couldnt find that in yaml configuartions

[2021-01-27 13:39] vikram383 opened #1343 "RBAC in yaml configuarations"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
3.14 and v1.19

**Which chart**:
artifactory helm chart

**What happened**:
--

**What you expected to happen**:
--

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:
please provide supporting document for conf

[2021-01-27 23:15] privomark commented on #1340
Further context...the `artifactory-ha-primary-0` pod isn't coming up either, it should be the pod that has the health check `/router/api/v1/system/health`. When running against that Pod, it's a connection refused. Port `8082` isn't listening.

[2021-01-28 01:42] privomark commented on #1340
I will close this issue. It ended up being an error on my part, all due to the name of the database using external postgresql.

I had ` --set database.url='jdbc:postgresql://artifactory-aurora-db.development.com:5432/development-artifactory'` when it should have been ` --set database.url='jdbc:postgresql://artifactory-aurora-db.development.com:5432/postgres'`

[2021-01-28 01:42] #1340 closed

[2021-01-28 19:19] JihadMotii-REISys opened #1344 "Unable to install jfrog helm charts"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
**Helm**
version.BuildInfo{Version:"v3.2.4", GitCommit:"0ad800ef43d3b826f31a5ad8dfbb4fe05d143688", GitTreeState:"dirty", GoVersion:"go1.14.3"}

Kubernetes
V1.18

**Which chart**:
jfrog/artifactory

**What happened**:
Unable to install jfrog helm charts t

[2021-01-28 19:35] JihadMotii-REISys commented on #1344
I have figured out the problem. It is not an issue with Jfrog chart but a functionality that was introduced in ArgoCD that normalize chart names. Referenece https://github.com/argoproj/argo-cd/pull/3987/files

By changing the following information:
From:
[code]
to:
[code]

it worked!

[2021-01-28 23:25] privomark opened #1345 "[Artifactory HA] 403 Errors using s3-storage-v3 Template"
**Is this a request for help?**:

yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
|       | Version                      |
|-----|---------------------|
|Helm: | v3.2.2+ga6ea66|
|k8s:    |  v1.18.9|

**Which chart**:
`center/jfrog/artifactory-ha`

**What happened**:
Using S3 as the binary store does not upload to S3 Object Store.

[2021-01-30 05:30] privomark commented on #1345
I think the behavior here is the pod isn't using the Service Account mapped IAM Role assigned to it, it's using the Node's IAM Role.

[2021-02-01 13:19] JuanSeBestia commented on #1291
Finally is impossible via `system.yaml` so I create a job to do that

[code]

[2021-02-02 07:46] rahulsadanandan commented on #1295
@adrew183 binary store.xml can contain credentials, so it should be stored as a secret.

[2021-02-02 07:53] rahulsadanandan commented on #1316
@mabrikan we have discussed this internally, we see that PSPs will be deprecated in the future.
https://github.com/kubernetes/kubernetes/pull/97171.

[2021-02-03 10:05] #866 closed

[2021-02-04 14:04] vikram383 commented on #1291
great! is this working with your helm chart?
do you have RESTapi calls for RBAC ??

[2021-02-04 14:30] JuanSeBestia commented on #1291
1. yep, is working with helm-chart, FYI I used helm-release of HelmOperator
2. Nooooo, RBAC for k8s is not necessary, because it use Artifactory API with main credentials

[2021-02-04 15:08] vikram383 commented on #1291
Great bro , good job thanks
i was asking about identity access management for artifactory
i couldnt find any documention for setting permissions for groups (eg dev,test etc)
i have found only through UI , so i was asking if there is anything like RESTAPI (similar to ldap configuaration which you have shared )

[2021-02-08 14:22] #1037 closed

[2021-02-09 10:41] mabrikan commented on #1316
Makes sense. Thanks for the reply @rahulsadanandan .

[2021-02-10 18:36] JuanSeBestia commented on #1291
Many configurations in this part https://www.jfrog.com/confluence/display/JFROG/Artifactory+YAML+Configuration works with this implementation.

[2021-02-11 09:06] gw0 opened #1357 "[artifactory-jcr] Default configuration runs out of disk space in 1 day"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm 3.1.3, Kubernetes 1.16

**Which chart**: `jfrog/artifactory-jcr:3.4.1`

**What happened**:

A day after deploying Artifactory Container Registry with Helm chart `jfrog/artifactory-jcr:3.4.1` it stopped working, because it ran out of disk space! I

[2021-02-12 11:27] jsr57v opened #1359 "Data sync from global database server has failed"
**Is this a request for help?**: Is a request for help

---

**Version of Helm and Kubernetes**:
helm Version:"v3.3.0
kubernetes version 1.18

**Which chart**:
 3.17

**What happened**:
Failed to sync vulnerability database.

**What you expected to happen**:
Message in console: Data sync from global database server has failed
Log: Updates worker id 0 failed to download update from https://jxray.jf

[2021-02-17 02:59] jainishshah17 opened #1361 "How to pass TLS secret to use PostgreSQL with TLS?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
Xray 6.10.0

**What happened**:
I am using external database with TLS enabled.
How to pass created TLS secret to Xray is not clear from documentation provided in [PostgreSQL with TLS](https://github.com/jfrog/charts/tree/master/stable/xray#postgresql-with-tls)

**What you ex

[2021-02-18 04:11] chukka commented on #1361
@jainishshah17  Thanks for raising this - Will review internally and update

[2021-02-18 04:12] chukka commented on #1359
@jsr57v  Can you please share reproducible steps ?

[2021-02-20 02:19] casper-gh opened #1370 "How to redirect to https when using Nginx and Terminate SSL in Nginx Service(LoadBalancer)."
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): maybe FEATURE REQUEST

**Version of Helm and Kubernetes**:

Helm: `version.BuildInfo{Version:"v3.3.0", GitCommit:"8a4aeec08d67a7b84472007529e8097ec3742105", GitTreeState:"dirty", GoVersion:"go1.14.6"}`

EKS: 1.19

Kubectl:

[code]

**Which chart**: https://github.com/jfrog/charts/tree/master/stabl

[2021-02-20 10:29] feifeixiyu opened #1371 "How to change the default timezone?"
As titled, I didn't find a way to change the default timezone.
Maybe the timezone parameter needs to pass through JAVA_OPTS parameter?
Any help is appreciated.

[2021-02-22 06:21] feifeixiyu commented on #1371
The answer is to set the JAVA_OPTS parameter

[2021-02-22 06:21] #1371 closed

[2021-02-23 11:51] mohammad-hamaydeh opened #1372 "[Artifactory-ha] override logback.xml in a tracable way for future upgrades."
**Is this a request for help?**:
YES
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  FEATURE REQUEST

             **<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
               <level>WARN</level>
             </filter>**
              <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                  <layout class="org.jfrog.common.logging.log

[2021-02-24 09:10] chukka commented on #1372
@mohammad-hamaydeh Thanks for the reporting this, will triage with our team internally and update on the next steps

[2021-02-24 09:58] blame19 opened #1374 "[Artifactory-ha] Allow to pull images in the postgresql initcontainer from a private registry"
FEATURE REQUEST

**Version of Helm and Kubernetes**: 3, 1.18.4

**Which chart**:  Artifactory-ha, v 1.10.1

**What happened**: One initcontainer in the rtedge-postgresql instance is pulling an image from "docker.io/bitnami/minideb:stretch". Apparently this can't be changed or customized in the helm chart, despite we're providing our registry to the line here (https://github.com/jfrog/charts/blob/6

[2021-02-24 10:02] chukka commented on #1374
@blame19 You can use this global section (applicable for artifactory, postgresql)

[code]

[2021-02-24 10:07] #1374 closed

[2021-02-24 13:02] chukka commented on #1361
@jainishshah17 [here](https://www.jfrog.com/confluence/display/JFROG/TLS+Certificates#TLSCertificates-SecuringPostgreSQLwithTLSSupportonXray) is the manual documentation of recommended steps , Please try and share feedback .

[2021-02-24 21:36] jainishshah17 commented on #1361
@chukka This documentation does not explain how to mount secret to xray pods.

[2021-02-26 19:55] skreddy6673 opened #1378 "Xray got stuck while upgrading from chart version 1.3.8 to 6.9.2"
**Is this a request for help?**: Yes

---

**Version of Helm and Kubernetes**: Helm: v2, Kubernetes: v17

**Which chart**: 1..3.8

**What happened**: While upgrading from chart version 1.3.8 to 6.9.2, the pod Got stuck in Migration pending state.

**What you expected to happen**: Migration

**How to reproduce it** (as minimally and precisely as possible): Got stuck at `Point b To Migrate MongoDB d

[2021-02-26 20:07] cheries opened #1379 "[xray] Add priority class support"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature

**Version of Helm and Kubernetes**:
k8s: 1.18.9
Helm: 3.1.1

**Which chart**:
stable/xray

**What happened**:
Cannot specify a priority class value in values.yaml and it is required in our cluster.

**What you expected to happen**:
To be able to specify a priority class as we do for the artifactory chart.

[2021-03-02 11:43] snaveen opened #1380 "How to override property in artifactory.system.properties?"
**Is this a request for help?**:
Yes.

**Version of Helm and Kubernetes**:
helm3 - v1.15.12-gke.2

**Which chart**:
artifactory-ha

**What happened**:
As part of upgrading to 7.15.3 I want to change value for below property in  artifactory.system.properties
"artifactory.gems.compact.index.enabled=true"

Does chart already supports overriding "artifactory.system.properties"?
If yes please point me

[2021-03-08 04:18] rahulsadanandan commented on #1379
@cheries Thanks
We have created an internal ticket to track this. will plan for this in the upcoming releases.

[2021-03-08 05:37] rahulsadanandan commented on #1378
@skreddy6673 Can you please show the YAML used to install the chart at Point b.

[2021-03-08 12:26] skreddy6673 commented on #1378
[code]

@rahulsadanandan Here is the YAML file i'm using

[2021-03-08 14:23] lusu007 opened #1390 "[artifactory] Ingress does not use custom certificate"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
- Helm v3.5.2
- Managed Kubernetes OVH 1.19.5

**Which chart**:
- artifactory-oss

**What happened**:
When setting up an ingress for Artifactory and adding cert-manager annotations Artifactory does not use or overrides the custom generated certificat

[2021-03-09 21:37] sandy999 opened #1397 "Issue with docker port method support"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Version of Helm and Kubernetes**:
kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}

helm version
version.BuildInfo{Versio

[2021-03-15 08:08] chukka commented on #1397
@sandy999 can you please provide more info like registry details and image ? also share the error you encountered

[2021-03-15 08:13] chukka commented on #1378
@skreddy6673 can you please try with latest xray chart 7.x and share feedback
Note: rabbitmq-ha  subchart chart is depreciated in the favour of bitnami rabbitmq subchart

[2021-03-15 08:50] rahulsadanandan commented on #1380
@snaveen
Can you try using the custom config map, custom volume mounts, and then using the preStartCommand to override the file.

[2021-03-15 09:16] eldada commented on #1380
Another recommended way would be to use the [system.yaml](https://www.jfrog.com/confluence/display/JFROG/Artifactory+System+YAML) to inject extra java options with
[code]
This will append the property to the final Java command line.

[2021-03-15 09:26] snaveen commented on #1380
Thanks @eldada. Added extra java opts and it worked as expected.

[2021-03-15 09:26] #1380 closed

[2021-03-15 09:27] snaveen commented on #1380
Thanks @rahulsadanandan I have not tried it. if i try, i will update the result here

[2021-03-15 13:01] rimusz commented on #1390
@lusu007 if you properly installed and setup `cert-manager` which setup is cloud agnostic it should work just fine.
When`cert-manager` is installed, please instal `ClusterIssuer`:
[code]

Create Artifactory OSS `override-values.yaml` file:
[code]

Then install Artifactory OSS:
[code]

[2021-03-26 17:48] fl-max commented on #422
Seems the first error that you get:
[code]

Is a result of line# 2980 in installerCommon.sh:
`${productHome}/app/bin/diagnostics/diagnosticsUtil jfrog database-status "{{shared.database.url}}" "{{shared.database.type:${databaseLabel}}}" "{{shared.database.username:${databaseUsername}}}" "{{shared.database.password}}" 2>&1 || true`

It expects the database to be defined in YAML and does not check t

[2021-03-30 11:59] chukka commented on #1207
please see comments in #1256

[2021-03-30 11:59] #1207 closed

[2021-03-30 12:00] #1397 closed

[2021-03-30 12:00] #1390 closed

[2021-03-30 12:00] #1378 closed

[2021-04-02 07:02] mkkot-onegini opened #1402 "Postgresql dependency using deprecated API extensions/v1beta1 for Deployment kind"
**Version of Helm and Kubernetes**:
K8s:
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitTreeState:"clean",

helm:
version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29"

**Which chart**:
[code]

**What happened**:
The chart is pulling:

[code]

postgres is trying to dep

[2021-04-02 07:18] chukka commented on #1402
@mkkot-onegini Looks like you are using old sub chart of postgresql , please do `helm dep up` and helm install this should fix the issue

[2021-04-02 07:28] mkkot-onegini commented on #1402
But the postgresql chart version is hardcoded in your charts/stable/artifactory/requirements.yaml file. When I do `helm dep up`, it still downloads the version 9.3.4 with outdated API definition.

[2021-04-02 08:19] chukka commented on #1402
Is an old version and 9.3.4 is the new one . Can you delete `charts` directory under stable/artifactory and try  `helm dep up` again

[2021-04-02 08:31] mkkot-onegini commented on #1402
What do you want to achieve with that? It will still download 9.3.4 with
[code]
I encountered this bug using CI/CD, so there is no cache and nothing to be deleted.

[2021-04-02 09:39] chukka commented on #1402
@mkkot-onegini  looks like related to https://github.com/helm/helm/issues/6583

However, I tried with `helm template jfrog/jfrog/artifactory`  , it works without issues

[2021-04-02 13:36] mkkot-onegini commented on #1402
Which kubernetes version you have?

[2021-04-06 02:12] chukka commented on #1402
v1.18.9

[2021-04-06 06:39] mkkot-onegini commented on #1402
[code]

[code]

¯\_(ツ)_/¯

[2021-04-06 06:41] mkkot-onegini commented on #1402
Feel free to close it. I don't need postgres anyway.

[2021-04-09 10:53] mickeder commented on #1315
I don't know why this was closed, since I'm facing the same issue with Helm 3.5.2 and Kubernetes v1.19.6-eks-49a6c0.
The problem is already described, but I can confirm that Helm 3 does not support Capabilities.KubeVersion.GitVersion, so the ingress `apiVersion` installed is `extensions/v1beta1` and it should be `networking.k8s.io/v1beta1`

[2021-04-09 11:03] mickeder opened #1407 "Deprecated apiVersion for Ingress"
**BUG REPORT**
Reopened #1315

**Version of Helm and Kubernetes**:
Helm 3.5.2, Kubernetes v1.19.6-eks-49a6c0

**Which chart**:
artifactory-11.10.0

**What happened**:
The Ingress resource is not created with the right `apiVersion`.
Currently : `extensions/v1beta1`

**What you expected to happen**:
The Ingress resource should have `apiVersion` equal to `networking.k8s.io/v1beta1`

**How to reproduc

[2021-04-09 16:01] sajjasgit opened #1408 "special character "#" is not getting escaped by "\" in database.password value."
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Helm - v3.5.3
Kubernetes - 1.18

**Which chart**: jfrog/xray

**What happened**:
passing "#" as part of database.password value actually striping the content after the password.

**What you expected to happen**:
using escape charecter "\" should include "#" charact

[2021-04-12 09:39] #1402 closed

[2021-04-15 05:55] malagant opened #1409 "[artifactory][artifactory-ha] filebeat-configmap.yaml needs different template"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

Wen activating metrics for artifactory a filebeat-configmap.yaml file will generate a configmap, but with the wrong name.
Changing the lines containing `{{ template "artifactory.name" . }}` to `{{ template "artifactory.fullname" . }}` will fix this (PR will be provided asap.)

**Version

[2021-04-16 09:04] mkkot-onegini opened #1412 "Can't add only the custom ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG REPORT

**Version of Helm and Kubernetes**:
Helm v3.5.2, K8s: "v1.18.9-eks-d1db3c"

**Which chart**:
jfrog/artifactory --version '11.13.0'

**What happened**:

Two ingresses are created instead of one.

helm upgrade --install artifactory  jfrog/artifactory --version '11.13.0' -f values.yaml

values.yaml:

[code]

**What you expected to happen**:

Fi

[2021-04-16 17:59] FalconerTC opened #1413 "[jfrog-platform] Custom volumes are ignored in subcharts"
**Is this a request for help?**:

No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:
❯ helm version
version.BuildInfo{Version:"v3.5.2", GitCommit:"167aac70832d3a384f65f9745335e9fb40169dc2", GitTreeState:"dirty", GoVersion:"go1.15.7"}

Kubernetes 1.17.17-gke.2800

**Which chart**:
jfrog/jfrog-platform 0.4.1

**What happened**:
`artifa

[2021-04-16 18:07] FalconerTC commented on #1413
Work-around is to just empty the global customVolumes (as long as you don't actually need `initdb-volume`)
[code]

[2021-04-19 03:06] chukka commented on #1413
@FalconerTC  we already tracking  this  issue internally . Once fix is available, will  let you know (ETA - end of this quarter )

[2021-04-20 10:25] lyqwaterway opened #1414 "Waiting for migration to complete when install xray"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug or questions about install process

**Version of Helm and Kubernetes**:
helm v3.3.4
K8s: v1.14.8

**Which chart**:
x-ray chart : 7.1.1

**What happened**:
We can not install x-ray on K8s.
The xray-server pod can not start. It shows that

Running on k8s environment
2021-04-20T10:12:14.000Z [shell]

[2021-04-20 12:19] mikesun666 commented on #1414
A version of Helm and Kubernetes:
helm v3.3.4
K8s: v1.14.8

I tried
xray chart: 7.1.1  & 7.6.0  & 6.9.2
They has a same issue.

[2021-04-20 14:40] rahulsadanandan commented on #1414
@mikesun666 @lyqwaterway  Can you please provide the values.yaml you have used to install the xray chart.

[2021-04-20 15:52] mikesun666 commented on #1414
@rahulsadanandan These are the parameters I have adjusted. Of course, there are user names, passwords, and a private docker registry. I don't think these will affect your location, so I didn't provide them.
we use the serviceAccount  and rolebings created in advance to binding directly in the statefulset file of rabbitmq, after that rabbitmq can be startup successfully, even though, ratbbitmq.rbac

[2021-04-20 16:05] andreacoccodi opened #1415 "Azure Database for PostgreSQL flexible servers support"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"8ab00ff68a1763b5a506a7073cb8e67b12dfbcd7", GitTreeState:"clean", BuildDate:"2021-03-10T23:40:01Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

helm version
version

[2021-04-20 18:55] hgoscenski-imanage opened #1416 "Cloud Native High Availability"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

According a phone call with jfrog support (speaking to John Chiao and Jared Ledgister) the new Cloud Native HA should be supported in the latest version of the Helm Chart.

We attempted to deploy it, by passing in a custom system.yaml in order to set the `taskAffinity` setting to `any`

[2021-04-21 03:53] chukka commented on #1416
@hgoscenski-imanage This is a known issue. Will be fixed along with 7.18.x release  (this week) chart release.

[2021-04-21 05:17] mikesun666 commented on #1414
The tar.gz file includes the hole of the charts and the install command.
[xray3.18.2.tar.gz](https://github.com/jfrog/charts/files/6348225/xray3.18.2.tar.gz)
This is the Postgresql debug log file during the Xray start
[postgresql.log](https://github.com/jfrog/charts/files/6348229/postgresql.log)

[2021-04-21 06:38] rahulsadanandan commented on #1415
@andreacoccodi Thanks for reporting. We will check this internally and provide updates.

[2021-04-21 12:06] hgoscenski-imanage commented on #1416
@chukka should I leave this issue open, or is there another on tracking this?

[2021-04-21 12:12] chukka commented on #1416
Please keep it open , Once chart is released, will close it

[2021-04-21 12:13] hgoscenski-imanage commented on #1416
Awesome, thank you for the prompt response.

[2021-04-21 18:13] kringen opened #1417 "Pods Not Ready When Using External Azure Postgresql Database"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes v1.19.7
helm 3.3.0

**Which chart**:
artifactory-ha

**What happened**:
I am installing artifactory using the artifactory-ha helm chart.  When installing using the included postgresql pod (postgresql=enabled) it works perfectly.  However, w

[2021-04-21 18:31] FalconerTC opened #1418 "[artifactory-ha] Database URL can't be specified in values"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
version.BuildInfo{Version:"v3.5.2", GitCommit:"167aac70832d3a384f65f9745335e9fb40169dc2", GitTreeState:"dirty", GoVersion:"go1.15.7"}

Kubernetes 1.17.17-gke.2800

**Which chart**:
Artifactory-ha 4.9.4

**What happened**:
Database values can't be mix-a

[2021-04-22 01:21] lyqwaterway commented on #1414
@rahulsadanandan Could help analysis the log and chart. Thanks

[2021-04-22 14:50] chukka commented on #1409
closing this

[2021-04-22 14:50] #1409 closed

[2021-04-23 01:33] Weigle opened #1421 "artifactory-oss don't start"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
helm version: {Version:"v3.2.4", GitCommit:"0ad800ef43d3b826f31a5ad8dfbb4fe05d143688", GitTreeState:"clean", GoVersion:"go1.13.12"}
kubernates version: 1.17.17-gke.3000

**Which chart**:
4.0.0

**What happened**:
artifactory-oss never stay running

if see the lo

[2021-04-23 07:50] mkkot-onegini opened #1422 "mysql java connector version and link question"
Hello,
in your official readme you say to download this file:
https://jcenter.bintray.com/mysql/mysql-connector-java/5.1.41/mysql-connector-java-5.1.41.jar
to get mysql working.

The jfrog official readme:
https://www.jfrog.com/confluence/display/JFROG/MySQL

says "Download the MySQL JDBC driver (available from the  MySQL website)  and copy the mysql-connector-java-<version>.jar"

The jfrog readme

[2021-04-23 20:39] casper-gh opened #1424 "What are the exact S3 action to allow for S3 backend storage setup?"
Question: Regarding S3 backend for storage, what are the exact actions for IAM role attached to the nodes?

https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#aws-s3

[code]

I'm looking for the IAM policy, something like:

[code]

I actually tried this policy, but I'm not sure if it's working because objects are copied to S3 after they're written into local storage. And I couldnt f

[2021-04-26 18:21] kringen commented on #1417
This is resolved.

The root cause was due to an incorrect URL being passed to the Azure Postgresql database.  I found the following log entry in **/var/opt/jfrog/artifactory/log/metadata-service.log**.

[code]

We can connect to our Azure Postgresql database with Private Link using 2 URL’s:  <instancename>.privatelink.postgres.database.azure.com OR <instancename>.postgres.database.azure.com.  It s

[2021-04-26 18:21] #1417 closed

[2021-04-27 07:24] mkkot-onegini commented on #1424
Perfectly valid question. This is what seems to work for us (not tested on production yet):

[code]

"I'm not sure if it's working because objects are copied to S3 after they're written into local storage"

This is perfectly valid behavior. Read about eventual provider and cache-fs. They are enabled by default in the S3-v3 chain. You can disable them by providing custom binarystoreXml: file but th

[2021-04-27 16:54] casper-gh commented on #1424
Thanks @mkkot-onegini

My main concern is the IAM policy, we're currently holding off production release because of it. It'd be great if anyone from Jfrog can confirm the required S3 actions based on the APIs that are used.

[2021-04-27 18:41] Weigle commented on #1421
hi, i found this issue https://github.com/jfrog/charts/issues/961
and resolved my problem.

[2021-04-27 18:41] #1421 closed

[2021-04-29 10:32] dignajar commented on #1345
I have the same issue but I can see `useInstanceCredentials` is on `true`.

File: `binarystore.xml`

[code]

Helm values
[code]

Role `arn:aws:iam::xxxx:role/role-with-permissions-for-s3-dummy-s3-artifactory`
[code]

[2021-04-29 12:23] dignajar commented on #839
Hi, someone test this fix because I'm facing the same issue with IAM role.
I posted here my Helm configuration and `binarystore.xml`.
https://github.com/jfrog/charts/issues/1345#issuecomment-829120126

[2021-05-04 14:59] chukka commented on #1416
@hgoscenski-imanage we identified an issue , CNHA was not working and Fix will be available in the next chart release of 7.18.x

[2021-05-06 15:03] #1416 closed

[2021-05-07 14:22] santh529 opened #1427 "Artifactory Ha deployments are not running"
**Is this a request for help?**:

--- Request for help

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:
Helm:
version.BuildInfo{Version:"v3.5.3", GitCommit:"041ce5a2c17a58be0fcd5f5e16fb3e7e95fea622", GitTreeState:"dirty", GoVersion:"go1.15.8"}
Kubernetes:
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc", GitCommit:

[2021-05-08 19:02] FalconerTC opened #1429 "Native integration for log analytics"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Which chart**:
I've been looking at the various jfrog `log-analytics`, such as the following https://github.com/jfrog/log-analytics-splunk/blob/master/helm/artifactory-ha-values.yaml. I was curious if there are plans to integrate this more directly into the Helm chart, instead of wi

[2021-05-11 01:06] chukka commented on #1427
@santh529 can you share reproducible steps for the same . Also provide chart version and values.yaml file

[2021-05-11 04:16] santh529 commented on #1427
@chukka
Hi,
$ helm upgrade --install artifactory-ha --set myy.masterKey=${MASTER_KEY} --set my.joinKey=${JOIN_KEY} --namespace artifactory-ha jfrog/artifactory-ha

Release "artifactory-ha" has been upgraded. Happy Helming!
NAME: artifactory-ha
LAST DEPLOYED: Tue May 11 09:19:16 2021
NAMESPACE: artifactory-ha
STATUS: deployed
REVISION: 2
TEST SUITE: None
NOTES:
Congratulations. You have just deploy

[2021-05-14 10:20] modzilla99 opened #1434 "Artifactory JCR Metrics cannot be activated"
**Is this a request for help?**:
---
No

**Is this a BUG REPORT or FEATURE REQUEST? (choose one):**
---
bug report

# Logs

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
[code]

**What happened**:
When setting artifactory.openMetrics.enabled to true it doesn't change the system.yml

**What you expected to happen**:
I'd exepect the value to automatically change to true like for the h

[2021-05-14 10:24] modzilla99 commented on #1434
I tried it for oss and it does nothing there as well.

[2021-05-14 19:55] ilexPar opened #1436 "upgrading to chart 12.x forces a full replacement of the statefulset"
**Is this a request for help?**:

No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Version of Helm and Kubernetes**:
Helm v3, Kubernetes v1.17

**Which chart**:
[code]

**What happened**:
Since chart 12.0 the `StatefulSet` has been renamed, this prompts for a full replacement of the current one. AFAIK this will also replace the PV created from `volumeClaimTemplates

[2021-05-17 06:07] shahiinn commented on #1434
Hi @modzilla99

Please be aware that we use `artifactory` chart as a dependency for `artifactory-jcr` .Hence the values needs to be given as `artifactory.artifactory.<key>=<value>` . For your use case of enabling open metrics please refer to the below example

[code]

Hope the above information helps to resolve your issue.

[2021-05-17 06:24] shahiinn commented on #1436
Hi @ilexPar
We hope the StatefulSet change which you are referring to here is with the postgres dependent chart which comes with artifactory.

If so this is happening due to the breaking changes in the Postgres charts as we have upgraded the dependency chart version in 12.0.0 and please find more details about it in our [changelog](https://github.com/jfrog/charts/blob/master/stable/artifactory/CHA

[2021-05-17 15:53] ilexPar commented on #1436
Hi @shahiinn,

Actually I'm referring to the main artifactory statefulset. After some tries I've noticed the issue seems to be introduced after [this](https://github.com/jfrog/charts/commit/b7993b3c0f13ed5d18ebb659e2152b2e5bdcdcc2#diff-3a1d5ad1c64be6b4ac63f4b3064300433bc2799f27109e701d0b13a3de2dcf54R25-R27) lines.

Thank you for the fast response btw

[2021-05-18 05:32] rahulsadanandan commented on #1436
@ilexPar
Could you please try with `--set fullnameOverride=<existing-statefulset name>` and see if you face any issues.

[2021-05-18 09:55] modzilla99 commented on #1434
Oh okay, thank you. I did not catch that... That indeed fixes the problem I had :)

[2021-05-18 09:55] #1434 closed

[2021-05-18 10:56] modzilla99 commented on #1434
For anyone curious how I did the ServiceMonitor:

[code]

[2021-05-19 09:22] zatricky commented on #1427
Hi, @santh529 ; Please could you edit the comment with your values.yaml as code so it is more readable? Another option would be to remove all unused sections/comment lines to make it shorter.

[2021-05-25 19:45] FalconerTC commented on #422
Any update on this? I'm seeing the same thing as fl-max when attempting to connect to Google Cloud SQL. The `JF_SHARED_DATABASE` envs are being ignored

[2021-05-25 22:41] FalconerTC opened #1440 "[Xray] Unable to connect to CloudSQL"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
❯ helm version
version.BuildInfo{Version:"v3.5.2", GitCommit:"167aac70832d3a384f65f9745335e9fb40169dc2", GitTreeState:"dirty", GoVersion:"go1.15.7"}

1.17.17-gke.4900

**Which chart**:
xray

**What happened**:
The Xray chart is unable to connect to Po

[2021-05-25 23:09] FalconerTC commented on #1440
Testing this out more, I can recreate the same issue without the Cloudsql proxy. The following config
[code]

Has the same results, when using a private IP on the same network to connect to CloudSQL. I ran a Postgres sidecar and verified I can connect using `psql 'postgresql://xray:***@<private_ip>:5432/xray?sslmode=disable'`

[2021-05-26 10:04] chukka commented on #1440
@FalconerTC  I suspect url is wrong here , it should be `postgres://<private_ip>:5432/xray?sslmode=disable` , Can you verify this ?

[2021-05-26 17:53] FalconerTC commented on #1440
You're exactly right. Thank you @chukka! I confirmed things work perfectly with the valid connection string, both directly connecting and using the sidecar.

[2021-05-26 17:53] #1440 closed

[2021-05-28 20:58] patbat95008 opened #1447 "Default file-system configuration does not set redundancy correctly"
**Is this a request for help?**:
---
No, bug report.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

When setting up the Artifactory-ha helm chart with the default file-system Binary Provider, there's an issue with how the redundancy variable is passed. It looks like the binarystore.xml that the values.yaml file produces does not match the [cluster-sharding system documente

[2021-06-02 12:10] geoff-carr-bzy commented on #1413
I got hit by this issue too but with the `artifactory` chart setting the `customVolume:` in the `artifactory` values within the `jfrog-platform` chart. I worked around this issue by moving my custom volume to the global values but left the actual mounting in the `artifactory` values. In my case the `configMap` contains CA certificates so they could be needed on other pods too. As such looking forw

[2021-06-10 12:45] #1427 closed

[2021-06-11 01:12] andrewhertog opened #1452 "[artifactory-ha] Clarification needed on Primary"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

It is my understanding from speaking with our account manager, that the Primary no longer serves a unique purpose in an artifactory-ha cluster. The primary now works together with the members to serve requests, and handle tasks. If this is so, could this chart be updated to reflect th

[2021-06-15 13:42] sct2010 commented on #1436
Hi all

The same happens on my side. I also tryed with `--set fullnameOverride=<existing-statefulset name>`, but there is no difference.
Here is a small abstract of the `helm upgrade --dry-run` to compare the two versions of the chart.

`helm upgrade artifactory-cpp-ce jfrog/artifactory-cpp-ce --version 107.19.8 -f artifactory.yaml --set databaseUpgradeReady=true --dry-run`
[code]

and the old ver

[2021-06-22 15:50] rs-tas opened #1454 "Xray offline database sync"
**Is this a request for help?**:
Yes

Hi, I want to do an offline update of the Xray database, but I can only find the following instructions which apply to a regular installation (not for JFrog Platform running in pods) : https://www.jfrog.com/confluence/display/JFROG/Configuring+Xray#ConfiguringXray-SynchronizingtheDatabase

Is this the way to go?

[2021-06-29 20:24] NandiniDJFrog opened #1458 "[artifactory] Allow Users to Set a Static Node Port"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Description**:

Our current helm chart does not have static external node ports and does not have the option to set them. The node ports changing between deployments can lead to networking problems (we observed a case where we had trouble setting up NGINX because the ports kept changing).

We would like to have a Node P

[2021-07-07 20:40] lukasmrtvy opened #1466 "Bug: integer values are rendered as scientific notations"
**Version of Helm and Kubernetes**:
helm 3.2.4
kubernetes 1.18

**Which chart**:
artifactory 107.21.3

**What happened**:
Default values ( azureBlob ) for https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L871-L872 are probably rendered as scientific notation.
For example `multiPartLimit` which has default value `100000000` is rendered as `1e+08`, that breaks artifactory,

[2021-07-08 08:27] rs-tas commented on #1454
I managed to do the offline update by following the instructions found in the link in my previous post once I figured out where to copy the downloaded files.

I used `kubectl cp` to import these files into the `xray-server` container of the xray pod to the following locations:
- `/var/opt/jfrog/xray/work/server/updates/component`
- `/var/opt/jfrog/xray/work/server/updates/vulnerability`

The exact

[2021-07-08 08:29] #1454 closed

[2021-07-13 08:26] sergiocruzado opened #1472 "artifactory HA service should point out to all artifactory nodes"
Is there any reason why the service used to access artifactory is not using all the nodes deployed ??

https://github.com/jfrog/charts/blob/eb57e3a79d7a633331efebd9f6121b0d63b63045/stable/artifactory-ha/templates/artifactory-service.yaml#L55

[2021-07-14 04:51] chukka commented on #422
we have added support using [actualUsername](https://github.com/jfrog/charts/blob/master/stable/xray/values.yaml#L265) in systemYaml , please refer https://www.jfrog.com/confluence/display/JFROG/Xray+System+YAML

[2021-07-14 14:55] hgoscenski-imanage opened #1473 "Environment Variables for DB configuration ignored in XRAY"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm 3.x (3.6.2)
Kubernetes 1.20

**Which chart**:
jfrog-platform (xray)

**What happened**:
XRAY receives the env variables correctly and ignores them for the database configuration.
This is also referenced in https://github.com/jfrog/charts/issues/4

[2021-07-14 23:08] frankfong0208 opened #1474 "Artifactory-HA custom master-key not working at all, causing failed Startup probe"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 BUG REPORT

**Version of Helm and Kubernetes**:
Helm v3.5.3
Kubernetes versions:
Client Version: v1.19.4
Server Version: v1.18.9-eks-d1db3c
**Which chart**:
https://artifacthub.io/packages/helm/jfrog/jfrog-platform/0.7.0
I tried 0.6.0 first and then 0.7.0, same result.
**What happened**:
As descri

[2021-07-14 23:11] frankfong0208 commented on #1474
# Not sure why the below section I submitted cannot be seen
If this is a BUG REPORT, please:
  - Fill in as much of the template below as you can.  If you leave out
    information, we can't help you as well.
I attempted to setup Jfrog Platform charts with our Enterprise + license (Artifactory HA, Xray and Mission Control with external AWS RDS postgres database 12.5 and S3 V3 filestore). The rds p

[2021-07-15 02:48] chukka commented on #1473
@hgoscenski-imanage looks like DATABASE_URL is wrong here , it should start with `postgres://` instead of `jdbc:postgresql://` . Try changing this

[2021-07-15 02:58] chukka commented on #1474
@frankfong0208 can you  please share  following things to investigate further

- (attach) customvalues.yaml file (its not correctly indented above)
-  Share  kubectl command to create this secret  `artifactory-master-key`

[2021-07-15 03:56] frankfong0208 commented on #1474
Hi @chukka, please find requested information:
#Share kubectl command to create this secret artifactory-master-key
it is a helm chart to create the secret for master-key
values.yaml:
artifactory:
  joinKey: DUMMY
  masterKey: DUMMY
## templates/artifactory-master-key-secret.yaml
{{- if .Values.artifactory.masterKey }}
apiVersion: v1
data:
  master-key: {{ tpl .Values.artifactory.masterKey . | b64e

[2021-07-15 06:32] rahulsadanandan commented on #1474
@frankfong0208 this doesn’t seems like a master key issue, as you mentioned
[code]
Can you send the full logs of the artifactory pod.

[2021-07-15 06:37] frankfong0208 commented on #1474
Hi @chukka I could get the correct custom master key passed into the primary artifactory pod as well using exactly the same command as yours. That was not an issue. The issue was the pod was stuck with failed startup probe even if a custom master key was passed in. I googled for some errors and someone probably from your end in some related issues suspected it was corrupted master key ... Couldn't

[2021-07-16 04:26] frankfong0208 commented on #1474
Hi @rahulsadanandan @chukka , just wondering if there is any update for this issue

[2021-07-16 06:40] rahulsadanandan commented on #1474
@frankfong0208
from the above logs looks like, there is a license issue

[code]

Can you try adding a valid license and try once with a fresh installation.

[2021-07-19 06:34] frankfong0208 commented on #1474
hi @rahulsadanandan it seems to be the licensing issue. Now it works with custom master-key. Thanks for your assistance.

[2021-07-19 06:40] #1474 closed

[2021-07-19 14:34] hgoscenski-imanage commented on #1473
@chukka I apologize for the delay in my response.

Given as all of the other products utilize the JDBC connection string and this one does not, I think an error message indicating that it is an invalid DB url, and failing to start, would be better than simply starting with the defaults.

This does seem to work with the corrected URL, but I believe the behavior is not intuitive in this case.

[2021-07-19 14:39] fl-max commented on #422
@chukka `actualUsername` has been there for some time. Are you saying that you've added this to the `installerCommon.sh` script? can you post or link to the relevant line I mentioned [here](https://github.com/jfrog/charts/issues/422#issuecomment-808407479) because I don't think this fixes the issue.

[2021-07-19 19:06] rdcarrera opened #1479 "[artifactory] - Can't start service after upgrade from 7.18.6 to 7.21.8"
**Is this a request for help?**: yes
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG
**Version of Helm and Kubernetes**:
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.13", GitCommit:"30d651da517185653e34e7ab99a792be6a3d9495", GitTreeState:"clean", BuildDate:"2020-10-15T00:59:17Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
version.BuildInfo

[2021-07-20 03:59] chukka commented on #1473
Xray is different (Go based application), Hope this resolved the issue

[2021-07-20 03:59] #1473 closed

[2021-07-26 14:07] sergiocruzado opened #1482 "System.yaml validation failed for artifactory and xray"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Version of Helm and Kubernetes**:

**Which chart**: jfrog-platform:0.7.1

**What happened**: The system.yaml validation failed for Xray and Artifactory

**What you expected to happen**: yaml validation succeeded

**How to reproduce it** (as minimally and precisely as possible): just d

[2021-07-26 14:55] srinivasgowda097 commented on #1482
@sergiocruzado: try validating system.yaml against system.full-template.yaml

artifactory@jfrog-artifactory-ha-primary-0:/opt/jfrog/artifactory$ app/bin/diagnostics/diagnosticsUtil validate yaml var/etc/system.yaml app/misc/etc/system.full-template.yaml --uncomment-before-parse;

xray@jfrog-xray-0:/opt/jfrog/xray$ app/bin/diagnostics/diagnosticsUtil validate yaml var/etc/system.yaml app/misc/etc/s

[2021-07-26 15:14] sergiocruzado commented on #1482
This is the output for artifactory:

artifactory@jfrog-artifactory-ha-primary-0:/opt/jfrog/artifactory$ app/bin/diagnostics/diagnosticsUtil validate yaml var/etc/system.yaml app/misc/etc/system.full-template.yaml --uncomment-before-parse;
.access.tomcat.connector.sendReasonPhrase key is misplaced or doesnt apply at this location
.artifactory.tomcat.connector.sendReasonPhrase key is misplaced or do

[2021-07-27 11:15] Elyytscha commented on #859
we have the same problem on openshift

[2021-07-27 18:26] ghost opened #1484 "Plugins do not propagate to member instances"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm 3.x, Kubernetes 1.20.x

**Which chart**: jfrog-platform, specifically artifactory-ha

**What happened**: Plugins are only loaded into the "primary" nodes. When using the cloud native availability there are no "primary" nodes deployed, meaning that w

[2021-07-27 19:19] hgoscenski-imanage commented on #1372
We would also like this feature, to allow for the addition of logging for plugins without having to maintain a copy of the entire logback.xml.

[2021-08-03 06:34] neilbeukes commented on #1452
Has there been any work done on this that I maybe missed?

[2021-08-03 07:19] rahulsadanandan commented on #1452
By default artifactory-ha chart will have one primary and 2 member nodes. From artifactory-ha chart version [107.18.6] If you want all nodes to be the primary set these below in values.yaml and primary acts same as the member and handle all requests
[code]

[2021-08-03 11:08] DrackThor commented on #1479
I also have the same issue with Chart Version 107.21.7 and AppVersion 7.21.3.
Are there already any insights?

[2021-08-04 07:46] yaron commented on #1407
Also, networking.k8s.io/v1beta1 has been deprecated and will be removed in 1.22.
Since 1.19 networking.k8s.io/v1 should be used.
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

[2021-08-05 05:55] yiwu1 opened #1488 "networkpolicies suppress request"
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

This is a FEATURE REQUEST, we want to suppress the networkpolicies resource creation as current cluster don't allow it.

**Version of Helm and Kubernetes**:
helm v3.4.2
kubernets server v1.18.8-342

**Which chart**:
107.21.8

**What happened**:
We have restriction to create networkpolicies in our clu

[2021-08-05 06:20] chukka commented on #1488
@yiwu1 Can you try setting in this to  below in values.yaml

[code]

And  we will plan to address this in upcoming releases

[2021-08-05 20:46] djschnei21 opened #1490 "artifactory-ha behind ALB ingress controller"
**Is this a request for help?**:
yes

Hi all - Have been spinning my wheels a bit trying to get artifactory-ha installed behind an ALB ingress controller on AWS.  As far as I can tell this should be possible, however I can't seem to get it working and haven't found any examples online.

This is currently what I have:
[code]

Does anyone know of any documentation, or maybe have a working example of

[2021-08-06 10:08] yiwu1 commented on #1488
@chukka thanks for the update. Please keep us updated for new release with this change.

[2021-08-06 19:08] ToniCipriani commented on #1466
Seeing the same issue here. Also noticed that Artifactory's documentation does not refer to these values at all for Azure Storage:

https://www.jfrog.com/confluence/display/JFROG/Configuring+the+Filestore#ConfiguringtheFilestore-AzureBlobStorageBinaryProvider

[2021-08-11 15:19] isugimpy opened #1491 "[mission-control] Duplicate Resources Key Violates YAML Spec"
https://github.com/jfrog/charts/blob/f43f88bd2d9cc10f88974cc68594b94f4fa2a1fb/stable/mission-control/templates/mission-control-statefulset.yaml#L419-L420
https://github.com/jfrog/charts/blob/f43f88bd2d9cc10f88974cc68594b94f4fa2a1fb/stable/mission-control/templates/mission-control-statefulset.yaml#L458-L459

It appears that the lines on 458-459 are duplicated.  This causes compliant YAML parsers to

[2021-08-12 00:24] caggles commented on #1075
Hey! Thanks a lot for the change to allow securityContext to be removed from the artifactory-ha statefulset with the new flag - it works like a charm. It would be amazing if this change were also made to the xray statefulset as well!

[2021-08-13 07:11] #1452 closed

[2021-08-13 07:13] chukka commented on #1413
This is fixed in #1492 , please try `jfrog-platform` chart 0.8.0

[2021-08-13 07:13] #1413 closed

[2021-08-18 09:57] rahulsadanandan commented on #1491
@isugimpy Thanks for reporting this. We will have this fixed in the upcoming releases.

[2021-08-25 06:50] chukka commented on #1491
will be fixed as part of 4.7.12 release in few weeks

[2021-08-28 02:55] nagonzalez commented on #1370
That's super weird. Are you customizing `mainConf`  and/or `artifactoryConf` as well? We've got a similar setup and observe the following:
* http requests stay on http
* https requests stay on https
* htttp does **not** auto redirect to https

We're rather notify modify those snippets to enable http->https redirect. Thinking of submitting a PR to add a user configurable variable to switch this fun

[2021-09-06 17:30] chukka commented on #1491
Fixed in #1498

[2021-09-06 17:30] #1491 closed

[2021-09-06 17:35] chukka commented on #1466
@lukasmrtvy will be fixed with 7.27.x release ( ETA - end of this month)

[2021-09-07 21:57] frankfong0208 opened #1500 "best artifactory.persistence.awsS3V3.redundancy value to use for artifactory-ha cluster"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
no

**Version of Helm and Kubernetes**:
Helm v3.5.3
Kubernetes versions:
Client Version: v1.19.4
Server Version: v1.18.9-eks-d1db3c

**Which chart**:
https://artifacthub.io/packages/helm/jfrog/jfrog-platform/0.6.0

**What happened**:
We installed artifactory-ha chart with one primary node and two m

[2021-09-09 10:02] mikeycmccarthy opened #1501 "Example links that point at the log-analytics repositories need updating"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:
v3 /1.20.8-gke.2100

**Which chart**:
artifactory-ha

**What happened**:
A number of the documentation links within the values files are incorrect, for example [here](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/values.yaml#L1929)

[2021-09-10 00:50] frankfong0208 commented on #1500
Hi there, could someone please take a look at this for us?

[2021-09-10 17:42] sureshvenkatesan commented on #1472
From Artifactory version 7.17.4 and above, the Artifactory HA cluster can be full HA with all nodes designated as primary nodes. In this case, the basic HA installation will create three "primary" nodes and 0 "member" nodes.

To create this HA cluster, set the parameters artifactory.primary.replicaCount=3 and  artifactory.node.replicaCount=0 in the values.yaml file.
This indicates that the primary

[2021-09-14 08:43] bery commented on #422
The same issue appears to be present for artifactory-ha setup. Any plans on fixing it?

[2021-09-16 05:13] frankfong0208 commented on #1500
Hi there, could someone please take a look at this for us?

[2021-09-20 06:35] rahulsadanandan commented on #1500
Hey,
you might get some information here
https://www.jfrog.com/confluence/display/JFROG/Filestore+Sharding
https://www.jfrog.com/confluence/display/JFROG/Configuring+the+Filestore#ConfiguringtheFilestore-Sharding-ClusterBinaryProvider

as recommended set this to a number greater than half of your cluster's size, so that in case of a node failure, it is still available from the other
you could also

[2021-09-20 07:33] frankfong0208 commented on #1500
Hi @rahulsadanandan thanks for your reply. If our artifactory-ha cluster has one primary node and two member nodes, what would be the size of our cluster? 2 or 3? (do we only count the member nodes or both member nodes and primary nodes when it comes to cluster size?)
Will 3 be a good value of redundancy for our cluster size?

[2021-09-20 10:00] rahulsadanandan commented on #1500
@frankfong0208 the cluster size is 3 here. so redundancy can be 2 and above. we recommend 3 (1 primary +2 member node)

From Artifactory 7.17.4, You could also use CNHA , 3 primary and 0 member nodes
more links here
https://jfrog.com/knowledge-base/how-to-enable-cloud-native-high-availability-feature-for-artifactory-using-helm/
https://www.jfrog.com/confluence/display/JFROG/High+Availability#HighA

[2021-09-20 21:30] frankfong0208 commented on #1500
Thanks @rahulsadanandan

[2021-09-21 23:27] abhinavkhanna-sf commented on #1289
@rahulsadanandan @chukka any update on this?
I am getting the same error.

Can you please confirm the location of join.key file?

is it

[code]
or
[code]
[code]
from
https://github.com/jfrog/charts/blob/bd3f0b1c5e22f0bb6f95291733981d80e3f20d24/stable/artifactory/templates/artifactory-statefulset.yaml#L178

[2021-09-22 03:44] chukka commented on #1289
@abhinavkhanna-sf  `/var/opt/jfrog/artifactory/bootstrap/access/etc/security/join.key` is the boostrap location of the file and it will copy to `/var/opt/jfrog/artifactory/etc/security/join.key ` on artifactory start.

Can you share logs to debug further ?

[2021-09-22 10:26] mohammad-hamaydeh opened #1504 "Artifactory-HA [ System.yaml validation failed ] shared.metrics.enabled key is misplaced or doesnt apply at this location"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
helm:
version.BuildInfo{Version:"v3.2.1", GitCommit:"fe51cd1e31e6a202cba7dead9552a6d418ded79a", GitTreeState:"clean", GoVersion:"go1.13.10"}

Kubernetes:
Client Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.14-dispatcher", GitCommit:"766e62

[2021-09-22 23:22] abhinavkhanna-sf commented on #1289
@chukka thanks for getting back. I think I am good now. After retrying looking for join.key for 2 minutes, it picks the bootstrap file in my case.

[2021-09-26 21:09] gigi206 opened #1506 "Helm chart and pvc size"
I try to test your helm chart but I can't override the size of PVC :(

2 pvc defined (data and artifactory-volume):
[code]

I try to override the size of the 2, but only one is changed (data), the 2nd (artifactory-volume) seems to keep the default size:
[code]

If I try the template artifactory jfrog/artifactory instead of artifactory jfrog/artifactory-jcr, this is the inverse I arrive to change t

[2021-09-28 14:45] abhinavkhanna-sf commented on #1289
@chukka one thing i have notice is whenever I to try to set admin credential. It gives this error and does not recover from missing join.key error

[code]
	This is my admin settings in values. yaml
[code]

[2021-09-28 17:25] pbecotte opened #1507 "[mission-control] resources block correctly not placed"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Which chart**: mission-control

**What Happened**:

https://github.com/jfrog/charts/blob/master/stable/mission-control/templates/mission-control-statefulset.yaml#L198

This resources block is associated with the `wait-for-db` init container. However, that container (except for the resource block) is wrapped in an `if` stateme

[2021-09-29 00:01] mikeycmccarthy commented on #1479
I'm seeing a similar looking log file to this - did anyone have any luck?

I'm using 107.25.7 / 7.25.7 of the ha chart.

I did jump into my container and looked under var/etc/security and I notice the master key is the same as the decrypted value of the secret that created it, but the join key is not, and I'm not sure if that is to be expected.

[2021-09-30 02:16] jpuskar commented on #1418
Ran into this today. Makes things very awkward when using the postgres operator.

[2021-09-30 16:38] chukka commented on #1466
Fixed in #1509

[2021-09-30 16:38] #1466 closed

[2021-09-30 16:39] chukka commented on #1466
@lukasmrtvy @ToniCipriani Please verify on the latest chart

[2021-10-01 18:07] clarionhoover opened #1513 "HELM - XRay - Invalid System.yml generation for serviceRegistry.insecure:"
**Is this a request for help?**: No
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**: Helm v 3.6.3,  Kubernetes v1.20.9

**Which chart**: xray
**What happened**: system.yaml gets generated incorrectly and does not pass validation
**What you expected to happen**: system.yaml to get generated correctly and pass validation
**How to reproduce it** (as

[2021-10-04 21:03] lukasmrtvy opened #1515 "java.lang.NoClassDefFoundError: java/security/interfaces/RSAPrivateKey in 107.27.3 jfrog/artifactory helm chart"
Bump from 107.25.6 to 107.27.3 jfrog/artifactory chart causes:

[code]

k8s version v1.18.10

values.yaml
[code]

[2021-10-05 07:39] amithins commented on #1515
@lukasmrtvy If you have enterprise license (I think you do), Can you please create a formal ticket via JFrog Support Channel to have sessions to look at your instance and provide the right guidance - that gives support with SLA. https://jfrog.com/support/

[2021-10-06 15:55] abhinav-khanna-ib opened #1517 "jfrog-platform: update chart to use 7.27.3 version"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 FEATURE REQUEST

If this is a FEATURE REQUEST, please:
jfrog-platform helm chart is not updated to use latest artifactory helm charts. Can you please update it?

[2021-10-08 04:51] rahulsadanandan commented on #1507
@pbecotte thanks for reporting, we will fix it in the next release of mission-control.

[2021-10-08 06:13] chukka commented on #1488
Fixed in #1498 , please try 7.25.6 and above charts

[2021-10-08 06:13] #1488 closed

[2021-10-08 09:37] rahulsadanandan commented on #1504
Can you please share the values.yaml that you have used?

[2021-10-08 21:10] mikeycmccarthy opened #1520 "JoinKey not being found and Artifactory not starting when using value from secret. Present in bootstrap dir but not copied."
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Big report

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
artifactory-ha 107.27.3

**What happened**:
Artifactory will not start. Logs are full of stack traces relating to the join key:

[code]

and these:

[code]

**What you expected to happen**:
I expected Artifactory to st

[2021-10-11 03:03] #1517 closed, assigned to nobody

[2021-10-11 11:18] chukka commented on #1504
@mohammad-hamaydeh This validation error will be fixed in next minor version (7.28.x) of artifactory .

[2021-10-11 12:42] mohammad-hamaydeh opened #1521 "Xray filebat permissions error when enableing shared Metrics and filebeat"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Client Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.14-dispatcher", GitCommit:"766e62361387c284022a97270f0997d67ae792d0", GitTreeState:"clean", BuildDate:"2020-12-01T16:13:56Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/a

[2021-10-12 07:32] rahulsadanandan commented on #1334
@mohitreddy93 sorry for the delay
did you figure out the issue. From the file shared, i could see you haven’t provided postgresql password
[code]

what the logs from the artifactory service.?

[2021-10-12 15:38] #1520 closed, assigned to nobody

[2021-10-13 19:23] chukka commented on #1517
@abhinavkhanna-sf Please refer [here](https://www.jfrog.com/confluence/display/JFROG/Installing+the+JFrog+Platform+Using+Helm+Chart) for documentation .

* Missioncontrol is now part of artifactory (>= 7.27.x) - [Migrating from Missioncontrol to Insight for existing installations](https://www.jfrog.com/confluence/display/JFROG/Migrating+from+Mission+Control+to+Insight)

[2021-10-14 15:22] vmiko opened #1524 "xsd validation not working"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
- Helm : version.BuildInfo{Version:"v3.7.0", GitCommit:"eeac83883cb4014fe60267ec6373570374ce770b", GitTreeState:"clean", GoVersion:"go1.16.8"}
- Kubernetes : Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTree

[2021-10-21 08:36] #1515 closed

[2021-10-21 08:37] chukka commented on #1513
Fixed and will be available in next release of xray

[2021-10-21 08:38] chukka commented on #1507
Fixed and will be available in next release of MC

[2021-10-21 08:38] #1507 closed

[2021-10-21 08:41] #1500 closed

[2021-10-21 09:25] chukka commented on #1524
@vmiko Looks like an application issue , if you are E+ or Pro license customer, please raise this with support@jfrog.com

[2021-10-21 12:49] eldada commented on #161
@chukka - with the recent changes, are we able to provide a solution for this today?

[2021-10-25 11:13] ccodreanu opened #1529 "The artifactory container does not start due to missing wget command"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
- Helm `version.BuildInfo{Version:"v3.6.3", GitCommit:"d506314abfb5d21419df8c7e7e68012379db2354", GitTreeState:"dirty", GoVersion:"go1.16.5"}`
- Kubernetes `v1.20.7-eks`

**Which chart**: jfrog/artifactory, version: 107.27.6

**What happened**: `artif

[2021-10-26 00:26] pathob opened #1530 "Suggestion: Allow providing configuration YAML using Helm chart"
**Is this a request for help?**: yes

---

Hey, I'm still not an advanced user of Helm and all the templating capabilities related to it and that's why I'd like to ask for help here.

I would like to deploy Artifactory using the `artifactory` Helm chart and directly want to configure an auth provider with it. I'm looking for a way to use the default system yaml and extend it by a block, e.g. `shar

[2021-10-26 21:39] SemperRuminare opened #1531 "Duplicate resources tag on jfrog-platform/charts/insight/templates/insight-statefulset.yaml"
**Version of Helm and Kubernetes**:
Helm v.3.6.3
Kubectl v1.21.2 (EKS)

**Which chart**:
Insight

Line 193 in charts/stable/insight/templates (99% sure)
Line 1767,1769 if using `helm template` output

[code]

**What happened**:
Duplicate resources tag breaks yaml spec but also fluxCD helm release deployment using kustomize 4.0.X->4.3.9.
[FluxCD#1522](https://github.com/fluxcd/flux2/issues/1522).

[2021-11-04 23:00] patbat95008 opened #1535 ""artifactory" chart needs to handle HA license filename distinction"
**Is this a request for help?**: No, bug report

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

JFrog's documentation recently was updated [to recommend using the "artifactory" helm chart for HA installations](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-HelmHAInstallation), as after 7.27 the Artifactory HA system doesn't

[2021-11-08 17:35] mister-red commented on #532
I ran into this recently using runAsNonRoot on the nginx deployment, as it is a security requirement on the cluster. We instead started to use the cluster ingress to get around this. Not to revive a necro thread, just for awareness that it's still out there.

[2021-11-10 06:46] chukka commented on #1531
Fixed in #1534

[2021-11-10 06:46] #1531 closed

[2021-11-10 10:12] rahulsadanandan commented on #1535
@patbat95008 How did you create the secret, can you share the command used?

[2021-11-11 00:08] patbat95008 commented on #1535
`kubectl create secret generic artifactory-lic-test

#Set the Kube_editor Environment Variable - Use your preferred terminal-based text editor
KUBE_EDITOR="vim"

#Directly edit the secret
kubectl edit secret -n <NameSpace> artifactory-lic-test

##artifactory-lic-test##
apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: "2021-11-10T23:55:45Z"
  name: artifactory-lic-test
  namespace: defaul

[2021-11-11 05:06] rahulsadanandan commented on #1535
@patbat95008 this was fixed in [107.27.6](https://github.com/jfrog/charts/commit/d5110961ad861b1ff1e38c7a64d75edebee1dcbf#diff-ea26e8e261a285b525d4f507037dfbabfaed4d29d51907febf8cff18ad433e5b) chart. Please try and let us know.

[2021-11-11 08:47] kaliaa03 opened #1538 "SSL offload/termination functionality for the AWS load balancer with service annotations in chart Version artifactory-ha --version 1.11.3"
**Is this a request for help?**:

---Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**:

Helm Version:
version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", GitTreeState:"clean", GoVersion:"go1.14.11"}

Kubernetes Verson:
Amazon EKSv1.19.13-eks-8df270
--
**Which chart**:
jfrog/artifactory-ha --ver

[2021-11-11 11:39] chukka commented on #1535
@patbat95008  Thanks for reporting this , Now we updated  [wiki](https://www.jfrog.com/confluence/display/JFROG/Artifactory+Release+Notes#ArtifactoryReleaseNotes-Artifactory7.25.5)  page with this chart version

[code]

[2021-11-15 16:47] misse opened #1542 "artifactory-ha: elasticsearch url, username and password can't be read from custom secret"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

You should be able to provide the secrets as k8s secrets in all cases where you need to enter them in values.yaml, just like you can for binarystore and database username and password

**Which chart**: 107.27.6

[2021-11-16 02:34] chukka commented on #1535
@patbat95008 did you get a chance to try with latest chart ? if you don't see any issue, please close this issue

[2021-11-16 15:49] jansmets opened #1543 "artifactory.persistence.enabled: false still mounts an artifactory-volume and requires a pvc"
As discussed in JFrog Support #185742 persistency is not required when using “S3 Direct Upload”. (no eventual cache)
"artifactory-volume" is not using an EmptyDir with  artifactory.persistence.enabled: false

[code]

[2021-11-16 19:11] jansmets commented on #1543
and being able to specific a StorageClass for a PVC for those who want to use persistency might be interesting too.

[2021-11-17 13:28] normander commented on #1506
Hi @gigi206

You need to be careful to set those parameters. Keep in mind that you have only a couple of values to configure as artifactory-jcr, the rest of them(including persistence) is from a dependency called artifactory so you need to correspond to the dependency(artifactory.artifactory):

`
$ helm install --dry-run artifactory jfrog/artifactory-jcr --set artifactory.artifactory.persistence.s

[2021-11-23 20:34] pbecotte opened #1546 "[artifactory] NFS configs aren't right"
The whole set of configs for NFS are wrong in the artifactory chart.
- systemYaml the [artifactory-ha] chart was updated to add the `node` section in ha setups, but the [artifactory] chart ignores those (making it necessary to override systemYaml
- There is no entry in the binarystore.xml that matches filesystem type nfs
- No way to use 'hostpath' instead of 'pvc'

[2021-11-25 15:43] hanikesn commented on #1281
For future reference: We provisioned a custom boostrap.xml with `<config xmlns="http://artifactory.jfrog.org/xsd/2.2.4">` which seems like the most likely cause of this issue.

[2021-11-25 17:51] geoff-carr-bzy opened #1548 "find command not found in ubi-minimal:8.4-210 container"
It seems as if the `find` command is missing from the `ubi-minimal:8.4-210` `initContainerImage` now used in Xray since the latest chart version.

The  `copy-custom-certificates` container fails with the following error: -

[code]

The following command is what is trying to execute: -

[code]

The same command is used in the Insight deployment, however is uses a different container image which is

[2021-11-26 05:13] amithins commented on #1548
This has been fixed as part of https://github.com/jfrog/charts/pull/1547.

[2021-11-26 06:21] #1548 closed

[2021-11-26 06:39] chukka commented on #1546
Thanks for reporting ! we will triage soon and will provide fix  in coming weeks

[2021-11-26 14:13] geoff-carr-bzy opened #1549 "Update jfrog-platform chart to use latest xray chart (103.37.1)"
Please can the `jfrog-platform` chart be updated to use the latest `xray` chart (`103.37.1`) as there are important fixes in this version that without them the Xray deployment fails due to not being able to copy the custom certificates.

https://github.com/jfrog/charts/blob/79cd7b200579cdc1663dce167679fe23a5afbd11/stable/jfrog-platform/Chart.yaml#L21

[2021-11-29 15:15] chukka commented on #1549
@geoff-carr-bzy Noted. We are planning for release this week along other fixes

[2021-11-29 23:28] zendern commented on #1490
@djschnei21  Ok i was able to get this to work and thought I would share. (fwiw i am using the `jfrog-platform` helm chart but under the covers it uses the `artifactory` chart which at least the `ingress.yaml` appears to be basically the same so hopefully this helps)

First thing based on this start of an issue on the `aws-load-balancer-controller` project https://github.com/kubernetes-sigs/aws-lo

[2021-11-30 06:20] #1549 closed

[2021-11-30 12:57] geoff-carr-bzy commented on #1548
Can this be reopened please, still seem to be having the same issue with the latest version of the `jfrog-platform` chart: -

[code]

[2021-11-30 14:02] chukka commented on #1548
Please raise a new Issue , also specify chart version of platform chart , today we released 10.0.4 , please verify on that chart too.

[2021-11-30 14:13] geoff-carr-bzy opened #1551 "find command missing from the copy-custom-certificates container in Xray"
It seems the `find` command is still missing from the `copy-custom-certificates` container in the Xray deployment, confirmed as an issue when deployed using the latest version (`10.0.4`) of the `jfrog-platform` chart.

Chart  version: -
[code]

The copy-custom-certificates container fails with the following error: -
[code]

[2021-12-01 04:37] chukka commented on #1551
@geoff-carr-bzy Can you verify  `copy-custom-certificates` image used ?  it should be `releases-docker.jfrog.io/jfrog/ubi-minimal:8.5-204`

[2021-12-01 23:00] jtrix72 commented on #1415
@andreacoccodi , I'm currently trying to deploy jfrog-platform to aks using azure pg PaaS . I having a lot of difficulty getting antifactory and xray to talk to pg. Can you please share the db url syntax you used to get this to work ?

I'm currently using
url: 'jdbc:postgresql://<pg-server-instance>.postgres.database.azure.com:5432/<dbname>?&sslmode=require'
user: <username>@<pg-server-instance>

[2021-12-02 03:57] chukka commented on #1551
@geoff-carr-bzy is this still an issue ? I'm marking this as closed . If it doesn't work ,feel free to reopen

[2021-12-02 03:57] #1551 closed

[2021-12-02 08:49] #1535 closed

[2021-12-02 09:23] geoff-carr-bzy opened #1552 "find command missing from the copy-custom-certificates container in Xray"
@geoff-carr-bzy is this still an issue ? I'm marking this as closed . If it doesn't work ,feel free to reopen

_Originally posted by @chukka in https://github.com/jfrog/charts/issues/1551#issuecomment-984270305_

Yes @chukka, still an issue. Sorry I did not get to provide the information you requested yesterday, but it is using the image you asked: -

[code]

[2021-12-02 09:28] geoff-carr-bzy commented on #1552
Where is `find` in that image? Is it perhaps just a path problem?

[2021-12-02 10:06] chukka commented on #1552
@geoff-carr-bzy Looks like you use `docker.repo.domain.local/ubi-minimal:8.5-204` which doesn't have find command , please use `releases-docker.jfrog.io/jfrog/ubi-minimal:8.5-204` (added find command in this image)

[2021-12-02 10:06] #1552 closed

[2021-12-02 10:09] geoff-carr-bzy opened #1553 "find command missing from the copy-custom-certificates container in Xray"
@geoff-carr-bzy Looks like you use `docker.repo.domain.local/ubi-minimal:8.5-204` which doesn't have find command , please use `releases-docker.jfrog.io/jfrog/ubi-minimal:8.5-204` (added find command in this image)

_Originally posted by @chukka in https://github.com/jfrog/charts/issues/1552#issuecomment-984477749_

We use Artifactory, the Jfrog Docker repo is set up as a remote repo on our Artifa

[2021-12-02 10:15] geoff-carr-bzy commented on #1553
The container ID / hash is in the previous ticket, that should match against the ID /hash on the Jfrog repo does it not? Does your test builds actually add custom certificates and is this working?

[2021-12-02 10:16] chukka commented on #1553
looks like  `docker.repo.domain.local/ubi-minimal:8.5-204` is not same as  `releases-docker.jfrog.io/jfrog/ubi-minimal:8.5-204` . Hence you facing this issue

[2021-12-02 10:51] geoff-carr-bzy commented on #1553
@chukka, How are you determining that? As a test I have deleted all local images and the Jfrog remote repo chace in Artifactory and then pulled again directly and via Artifactory repo and see the following: -
[code]

Does this indicate an issue? Seems to me it is saying the image already exists i.e. is the same?

[2021-12-02 11:23] chukka commented on #1553
@geoff-carr-bzy This confirms
[code]

[2021-12-02 11:32] geoff-carr-bzy commented on #1553
Great, thanks for that @chukka ..... this does confirm the issue, although I can't understand why when pulling via Artifactory it is not getting the latest versions then: -
[code]

I will see if I have to do something else in Artifactory to remove all traces of the rough image!

Many thanks, appreciate your help and time looking at this!

[2021-12-02 11:39] thomasmRavn commented on #1415
Hey jtrix72,
Unfortunately Jfrog doesn't really work on azure. We raised this before they created the unified platform. Which allowed us to overwrite the file https://github.com/jfrog/charts/blob/pre-unified-platform/stable/xray/templates/xray-setup-conf.yaml and customise the script to work for azure (it is just changing the postgres URL selectively)

Looking at the GA release they don't seem to

[2021-12-02 11:58] #1553 closed

[2021-12-06 04:12] chukka commented on #1529
Fixed in #1554

[2021-12-06 04:12] #1529 closed

[2021-12-06 05:19] alejandroLuchador opened #1555 "[artifactory] Option to rotate nginx logs in HA setup on GKE with helm"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
  HELM_VERSION: '3'
  KUBERNETES_VERSION: '1.18.20-gke.901'

**Which chart**:
  ARTIFACTORY_HELM_CHART_VERSION: '4.10.0'
  ARTIFACTORY_VERSION: '7.16.3'

**What happened**:

At the moment we are running Artifactory HA on GKE. The issue we are facing

[2021-12-06 05:52] chukka commented on #1555
Thanks for reporting ! Would you mind raising a PR for this so that it gets faster to release , Any way we will take this as a feature request

[2021-12-06 06:18] hchiao1 opened #1556 "redundancy is not supported in artifactory chart"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Critical Feature Request

**Version of Helm and Kubernetes**:

**Which chart**:
artifactory

**What happened**:
Lack of gap between artifactory and artifactory-ha helm chart. To be more specific, binarystore configuration is acting differently. It seems like artifactory-ha have redundancy of 2. But fo

[2021-12-06 16:49] jtrix72 commented on #1415
@thomasmRavn ,
Thank you for the link and your quick response. I have now put jfrog-platform to one side and am concentrating on the standalone charts till the platform chart reaches better maturity. The individual charts seem to install ok. Keeping fingers crossed that there are no curved balls after dev onboarding :) . Thank you so much for your help.

[2021-12-06 16:51] thomasmRavn commented on #1415
good luck mate!!

[2021-12-10 17:57] samispurs commented on #1482
In my case its
app/bin/diagnostics/diagnosticsUtil validate yaml var/etc/system.yaml app/misc/etc/system.full-template.yaml --uncomment-before-parse;
.artifactory.tomcat.connector.relaxedPathChars key is misplaced or doesnt apply at this location
.artifactory.tomcat.connector.relaxedQueryChars key is misplaced or doesnt apply at this location
yaml validation failed

[2021-12-11 16:23] kishubhatta opened #1561 "Template values.yaml - Process enableSignedUrlRedirect for provider id="google-storage-v2""
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**: helm3

**Which chart**: artifactory chart 107.29.7

**What happened**: See https://github.com/jfrog/charts/blob/39a10cc59f039c7810e638820f5d3d1958594ad6/stable/artifactory/values.yaml#L890.

**What you expected to happen**: `<enableSignedUrlRedirect>{

[2021-12-13 05:39] chukka commented on #1506
@gigi206  looks like above answer from @normander solved your issue

[2021-12-13 05:39] #1506 closed

[2021-12-13 05:42] chukka commented on #1490
Thanks @zendern for comment  , hope @djschnei21  above  solution works

[2021-12-13 05:42] #1490 closed

[2021-12-13 06:37] chukka commented on #1501
Sorry missed this , @mikeycmccarthy can you please point to values file link now (looks like its  broken - pointing  to different section)

[2021-12-13 06:42] chukka commented on #1484
@hgoscenski-imanage  can you please check latest GA version of `jfrog-platorm` chart  which uses artifactory chart as default ,

[2021-12-13 15:21] hgoscenski-imanage commented on #1484
@chukka I no longer have access to the environment however @thomasmRavn may be able to assist.

[2021-12-13 15:27] thomasmRavn commented on #1484
Working with Jared (our point of contact with Jfrog) we're not ready to test the GA helm chart until next year when we plan to setup a dev environment.
Will post here if we find anything

[2021-12-14 01:12] #1414 closed

[2021-12-14 01:17] chukka commented on #1408
Sorry missed this , @sajjasgit is this still an issue ?

[2021-12-14 01:24] chukka commented on #1370
@nagonzalez  can you please submit a PR for this request

[2021-12-14 01:35] chukka commented on #1345
@privomark  is this still an issue ?

[2021-12-14 01:38] chukka commented on #1289
@abhinavkhanna-sf  is this still an issue ?Can this be raised as separate issue , I'm marking this as closed

[2021-12-14 01:38] #1289 closed

[2021-12-14 01:40] #1295 closed

[2021-12-14 01:40] #1293 closed

[2021-12-14 01:41] #1203 closed

[2021-12-14 01:46] chukka commented on #1090
@thllxb Can you share more details on this use case

[2021-12-14 01:48] chukka commented on #1088
@erick-duran is this still an issue , now Artifactory chart supports HA too, please try and share feedback

[2021-12-14 02:00] erick-duran commented on #1088
Hey @chukka, yes I noticed that, is there any guidance on how to move from the old primary setup to the new member-only based? (e.g. how to clear the pending artifacts for upload when you use a cloud provider as the storage backend).

[2021-12-14 03:03] thllxb commented on #1090
What I mean is, https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-primary-statefulset.yaml#L990 and https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-node-statefulset.yaml#L875 should be able to be sourced from different configurations to have different values.

In my use case, the primary node can have /artifactory/system

[2021-12-14 03:26] chukka commented on #161
@kaykay88  This is triaged (created a internal ticket for feature request) . @eldada  not yet

[2021-12-15 12:35] ScOut3R opened #1562 "migration-artifactory init container template generation is broken in artifactory-statefulset if resource requests are defined"
**Version of Helm and Kubernetes**: 3.7.2 and 1.25.5

**Which chart**: artifactory

**What happened**:
[code]

**What you expected to happen**:
Template renders without issues

**How to reproduce it** (as minimally and precisely as possible):
Set resource requests for Artifactory.

**Anything else we need to know**:
The following highlight shows where the issue is. The `resources` inclusion breaks

[2021-12-15 15:02] ib-ak opened #1563 "Feature Request(All Charts) : Allow kubernetes admin to set/change podsecuritycontext and (container)securitycontext for all pods/containers as part of installation"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

As an admin, I want to deploy jfrog platform with
1. specific user id
2. specific group id
3. drop specific(or ALL) capabilities
4. disable root
5. disable privileged
6. disabl

[2021-12-16 02:27] chukka commented on #1562
@ScOut3R Looks like bug , will try to fix this early and will plan to release this in coming release (ETA end of quarter release)

[2021-12-17 09:56] chukka commented on #1562
Fixed internally and will be part of 7.31.x release ( mostly 1st week of jan)

[2021-12-17 11:54] ScOut3R commented on #1562
Thank you very much @chukka! I really appreciate the support. :medal_sports:

[2021-12-17 16:41] sangeethpupilmark opened #1567 "unable to run artifactory oss with latest version (7.19.4) but works with artifactory-oss:6.17.0"
artifactory  | Preparing to run Artifactory in Docker
artifactory  | Running as uid=1030(artifactory) gid=1030(artifactory) groups=1030(artifactory)
artifactory  | Dockerfile for this image can found inside the container.
artifactory  | To view the Dockerfile: 'cat /docker/artifactory-oss/Dockerfile.artifactory'.
artifactory  | Copying Artifactory bootstrap files
artifactory  | 2021-11-04T11:07:53

[2021-12-22 06:08] kishubhatta opened #1568 "Accept log rotation settings (systemYaml) in default values.yaml"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: helm 3

**Which chart**: artifactory chart v107.29.7, app version 7.29.7

**What happened**: Cannot define log rotation settings using default values

**What you expected to happen**: https://github.com/jfrog/charts/blob/e286ca8c3bfa8c5a34683ce26

[2022-01-06 22:29] duelyy commented on #1447
This is also occurring on the chart `charts/stable/jfrog-platform` where my values.yaml contains `replicaCount: 3`.. Is there a workaround for this?

[2022-01-07 22:05] duelyy opened #1571 "[jfrog-platform] HA setup (3 nodes), binaries are not replicated"
**Is this a request for help?**:
Help

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Version of Helm and Kubernetes**:
Helm: v3.6.2
Kubernetes:

**Which chart**:
[jfrog-platform](https://github.com/jfrog/charts/tree/master/stable/jfrog-platform)

**What happened**:
HA setup where there's 3 nodes behind nginx.

Whenever I run `docker pull NAME` from my local workstation, I

[2022-01-09 23:02] duelyy commented on #1571
SOLVED: Missing spaces for the persistence block (artifactory.artifactory.persistence.binarystoreXml).
[code]

[2022-01-09 23:02] #1571 closed

[2022-01-10 01:22] frankfong0208 opened #1572 "jfrog xray pods in a CrashLoopBackOff state"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm v3.5.3
Kubernetes versions:
Client Version: v1.19.4
Server Version: v1.18.20-eks-8c579e on AWS EKS

**Which chart**:
https://artifacthub.io/packages/helm/jfrog/jfrog-platform/0.6.0
The xray pods entered the CrashLoopBackOff state recently after t

[2022-01-10 01:28] frankfong0208 commented on #1572
Please find attached the custom values file for the jfrog platform helm deployment:
[jfrog_values.yaml.txt](https://github.com/jfrog/charts/files/7836383/jfrog_values.yaml.txt)

[2022-01-10 05:35] galusben commented on #1572
The errors I see from Xray are all related to RabbitMq.
Can you check the RabbitMq pods?
Logs etc'?

[2022-01-10 06:12] frankfong0208 commented on #1572
Hi @galusben please find below the logs for rabbitmq and the result when I ran kubectl describe pod rabbitmq-pods(3 of them in total
[jfrog-platform-rabbitmq-0.log](https://github.com/jfrog/charts/files/7837047/jfrog-platform-rabbitmq-0.log)
[jfrog-platform-rabbitmq-1.log](https://github.com/jfrog/charts/files/7837048/jfrog-platform-rabbitmq-1.log)
[jfrog-platform-rabbitmq-2.log](https://github.co

[2022-01-11 17:20] duelyy commented on #1345
@chukka I'm still having this issue.. I've followed this [kb article](https://jfrog.com/knowledge-base/artifactory-connect-artifactory-to-s3-bucket-with-iam-role/), but still getting a 403 error.

[code]

Verifying that the pod has the environment values:
[code]

[2022-01-17 21:31] kishubhatta opened #1574 "Recognize iam auth database login"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: NA

**Which chart**: jfrog/artifactory

**What happened**: Unused values can crash the artifactory pod

**What you expected to happen**: Values not needed are not required

**How to reproduce it** (as minimally and precisely as possible): Deploy the c

[2022-01-21 05:50] sssilver commented on #859
same issue on microk8s

[2022-01-21 06:19] sssilver opened #1575 "Conan keeps uploading to Artifactory port 80 instead of 443 when using HTTPS"
**Is this a request for help?**: Yes

---

**Version of Helm and Kubernetes**:
Helm: v3.7.2
K8S Client Version: 1.16, Platform: darwin/amd64
K8S Server Version: 1.20+, Platform: linux/amd64

**Which chart**:
jfrog/artifactory-cpp-ce

**What happened**:
I deploy `jfrog/artifactory-cpp-ce` with the following command:
[code]

My `./values-artifactory-cpp-ce.yaml` contents:
[code]

Then I configure Ar

[2022-01-26 22:09] jlentzfl opened #1576 "Artifactory logs "Error: ENOENT: no such file or directory, mkdir '/opt/jfrog/artifactory/data/frontend/usage' at Object.mkdirSync (fs.js:757:3)" every minute"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:  Helm v3.5.2, Kubernetes 1.20.10-gke.1600

**Which chart**: jfrog-platform 10.1.2

**What happened**:
There are 2 replicas of artifactory running and in each of them there are logs every minute as shown below:

2022-01-26T21:51:30.237Z [jffe ] [ERROR]

[2022-01-28 09:40] amithins commented on #1576
This does not look like an issue specific to helm. Since you have an Enterprise plus license, you are entitled to support. [Please open a ticket and link](https://jfrog.com/support/) this issue there.

[2022-01-28 17:57] jlentzfl commented on #1576
Thank you @amithins .  I have done so.  Support responded that the newer 7.31.x versions have fixed this issue which seem to be the case.

[2022-01-28 17:57] #1576 closed

[2022-01-29 15:06] chukka commented on #1562
Fixed in #1573

[2022-01-29 15:06] #1562 closed

[2022-01-31 10:42] geoff-carr-bzy opened #1577 "Update jfrog-platform chart to use latest versions of applications"
Please can you confirm when the `jfrog-platform` chart will be updated to use the latest versions of Artifactory and Xray? Currently `jfrog-platform` chart is set to use version  `7.29.8` when Artifactory is at `7.31.10` and Xray is at `3.41.4`

[2022-01-31 11:04] chukka commented on #1577
@geoff-carr-bzy  This will be done this week with latest versions

[2022-02-01 06:55] #1577 closed

[2022-02-02 12:54] beenje opened #1579 "Artifactory can't start with fresh install on OKD due to permission denied on /artifactory_bootstrap/binarystore.xml"
**Version of Helm and Kubernetes**:
Helm 3.7
Kubernetes: OKD 4.9

**Which chart**:
Chart: artifactory
Version: 107.31.13

**What happened**:
Try to deploy Artifactory using the Helm chart to OKD using a specific uid/gid (we can't use the default artifactory on our cluster):

[code]

Following error when trying to start artifactory container:

[code]

**What you expected to happen**:

The container

[2022-02-02 13:39] chukka commented on #1579
@beenje  for Openshift based K8s ,please refer - https://github.com/jfrog/JFrog-Cloud-Installers/tree/master/Openshift4/operator/artifactory-ha-operator

[2022-02-02 13:39] #1579 closed

[2022-02-02 13:47] beenje commented on #1579
Thanks for the link.
Looking at the [documentation](https://www.jfrog.com/confluence/display/JFROG/Artifactory+Integration+with+Red+Hat+Certified+OpenShift+Operator), a prerequisite is **Artifactory Enterprise License**

We only have one Artifactory Pro license. Is it possible to use the operator anyway (without HA enabled)?

[2022-02-07 18:43] gitta-jfrog commented on #1575
Hi @sssilver,

By setting "artifactory.access.accessConfig.security.tls=true", JFrog Router expected for HTTPS traffic in port 8082, While the Tomcat still expected for HTTP traffic in port 8081.

By default, The bundled Nginx with Artifactory helm chart is having a reverse proxy role matching path for /artifactory/ to forward all requests from this path directly to the Tomcat (Bypassing JFrog rou

[2022-02-08 14:19] giri-vsr commented on #1579
@beenje It is not specifically tested with pro license but you should be able to run with single instance.

[2022-02-11 15:31] mikeycmccarthy commented on #1501
Apologies, I should have referenced links in a sha rather than a file that would change! https://github.com/jfrog/charts/blob/a1b02c8/stable/artifactory-ha/values.yaml#L2145-L2148

Follow that link and you'll see what I mean

[2022-02-14 13:19] mikeycmccarthy opened #1583 "Support multiple certificates in order to achieve a full mesh topology for access federation"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

This feature request is somewhat related to https://github.com/jfrog/charts/issues/161

We have a number of Artifactory instances, some being Edge nodes, and are looking to

[2022-02-14 19:15] gabo89 opened #1584 "[ERROR] Project update error: rpc error: code = DeadlineExceeded desc = context deadline exceeded [access_client]"
**Is this a request for help?**:
YES
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

the problem is to see if is ok to update our helm chart from 107.24.3 to 107.33.8 in production in order to fix the following  error , i saw at internet that upgrading artifactory from 7.24.3 to at least 7.28.0 fix the error since  artifactory older than 7.28 doesnt have the project set

[2022-02-15 03:46] pathob commented on #1530
Hi @chukka

I'm dealing with the issue again and noticed that when I opened this issue I had some big misunderstandings about the systemYaml. I thought the systemYaml and the configuration yaml as described [HERE](https://www.jfrog.com/confluence/display/JFROG/Artifactory+YAML+Configuration) are the same.

Anyway, if there was a way to use the configuration yaml from the file system (currently tha

[2022-02-15 11:45] mikeycmccarthy commented on #1583
I spoke with JFrog directly around this and it wasn't clear if the intention is for binding tokens to eventually replace this functionality. At the moment they can perform some of the Circle Of Trust functionality but only around federated repositories and not for full access federation.

[2022-02-15 21:20] mikeycmccarthy commented on #1583
I was right the first time here. While it's easy to add this functionality via a custom initContainer I believe it could be even easier.

Essentially what I need to do is EXACTLY what you do with setting these values:

[code]

The above will put as many certificates as you want into /etc/security/keys/trusted.  If you want to do circle of trust then you need to put certificates into /etc/access/ke

[2022-02-23 14:10] lanycrost commented on #859
as workaround you can add this declarations to your `values` file:

[code]

[2022-02-28 09:26] omlet05 opened #1587 "Ability to change timezone before install."
**Is this a request for help?**:
yes, I deployed latest HELM chart (artifactory-pro) and we noticed that the time was UTC.
Is there any way to change it and deploy it with another Timezone?
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug/ Feature Request.

**Version of Helm and Kubernetes**:
Latest 7.33.12 stable

**Anything else we need to know**:
Is there an option available

[2022-03-04 09:22] jlyheden opened #1590 "Artifactory StatefulSet podAntiAffinity incorrectly matches nginx pods"
**Is this a request for help?**:

No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:

Helm 3.7.1
Kubernetes EKS 1.20.11

**Which chart**:

jfrog-platform (having artifactory and xray enabled, everything else disabled)

**What happened**:

When setting the `artifactory.artifactory.podAntiAffinity` parameter, the chart uses a label se

[2022-03-04 09:50] mheder79 opened #1591 "artifactory chart vs. cluster-s3-storage-v3"
**Is this a request for help?**:
No
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Both

**Version of Helm and Kubernetes**:
3.7.2, 1.21.5

**Which chart**:
artifactory

**What happened**:
artifactory-ha has a template to use cluster-s3-storage-v3 if aws-s3-v3 configured.
artifactory-ha chart is deprecated:
From Artifactory 7.27.6, you can use the artifactory chart to install an Artifa

[2022-03-04 10:08] mheder79 commented on #1591
Better view:
https://github.com/mheder79/charts/commit/bdaed40c101caf6d8fe7b690346e782356fd23c9

[2022-03-04 10:17] chukka commented on #1591
@mheder79  This is a known issue , we documented this with examples [here](https://github.com/jfrog/charts/blob/master/examples/artifactory/binarystore/templates/s3-storage-v3-cluster-provider-chain.xml), Please provide a PR if you have already tested this

cc @gitta-jfrog

[2022-03-04 11:36] rkevin-arch opened #1593 "Add topologySpreadConstraints to the artifactory-ha helm chart"
**Is this a request for help?**:
No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

It would be nice to support [`topologySpreadConstraints`](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) for the `artifactory-ha` chart to support spreading Artifactory and nginx pods across multiple nodes / zones. Right now we can technically

[2022-03-04 11:46] chukka commented on #1593
Thanks for this, we will review internally and  try to get this added to our backlog and prioritize !

[2022-03-04 11:54] rkevin-arch opened #1594 "Add lifecycle hooks to nginx in the artifactory-ha helm chart"
**Is this a request for help?**:
No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

It would be nice to be able to set the `lifecycle` hooks on the pod specs, mostly for nginx. Right now, when we make any changes to nginx that triggers a deployment update, new nginx pods are spun up and all the old pods are terminated. This is sort of done in an HA manner in the s

[2022-03-04 12:16] chukka commented on #1594
@rkevin-arch  Thanks ! would you mind raising a PR for this feature request ?

[2022-03-04 12:17] chukka commented on #1593
Also,  can you please a PR for the request so that it gets to master quickly ?

[2022-03-07 06:35] sudo-ankitmishra opened #1597 "Artifactory-OSS crashed after server restarted."
**Is this a request for help?**:
yes
---
**Version of Helm and Kubernetes**:
helmv3, k8s=v1.17.9

**Which chart**:
artifactory-107.27.4
we tried even the latset ones, 107.35.x

**What happened**:
after server restarted it stopped on  k8s, redoplyment did not worked.
server restart happened earlier also, but did not faced this issue.

**What you expected to happen**:
Expected artifactory to run nor

[2022-03-08 10:59] yaron opened #1599 "[Xray] Random execution-service-aes-key breaks automation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

**Which chart**:
Xray helm chart > 103.43.1

**What happened**:
When using argocd to continuously check the helm chart and keep it in sync it tries to change the execution-service-aes-key key every time it runs. This is because the key is randomly generated every time it runs.

**What you ex

[2022-03-18 03:52] #1597 closed

[2022-03-18 03:52] sudo-ankitmishra commented on #1597
issue solved thanks

[2022-03-18 04:07] chukka commented on #1597
@sudo-ankitmishra  what was the issue BTW ?

[2022-03-23 06:44] mansur-abdirimov opened #1604 "Dedicated (Open)Metrics values configuration for XRay and Insight"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Which chart**:
jfrog-platform, xray, insight

**Description**:
To take full advantage of Insight / Trends dashboard we need to enable (Open)Metrics feed for each of the products: Artifactory, XRay, Insight. Artifactory configuration allows to do this in a very convenient manner t

[2022-03-27 11:21] ChocPanda commented on #1312
Hey @rahulsadanandan, has this issue been resolved? I am currently unable to get Artifactory deployed at all with a Google Cloud Storage backend. I currently have the following exception

[code]

[2022-03-27 18:39] lacci opened #1606 "Add an option to set for the pods the value of `schedulerName` field"
**Is this a request for help?**:
NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
all

**Which chart**:
`artifactory` and `xray`, but can be useful also for others

**What happened**:
Wanted to specify for the artifactory and xray pods the value of the `schedulerName` field, but this is not possible.

**What you expected to ha

[2022-03-30 15:24] Isakofff opened #1607 "Deprecated AWS Classic Load Balancer"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Helm creates k8s service which creates AWS Load Balancer. But the type is a CLASSIC load balancer, which will be fully depricated in August 2022 due to retiring the EC2-Classic network.
So the question is - when do you plan to migrate Classic Load Balancer to Application LB?

**Ver

[2022-03-31 20:43] onetwopunch opened #1608 "[jfrog-platform] Cannot spin up the platform with default database values"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): `BUG REPORT`

**Version of Helm and Kubernetes**:
k8s: `1.22.7-gke.1500`
helm: `version.BuildInfo{Version:"v3.7.1", GitCommit:"1d11fcb5d3f3bf00dbe6fe31b8412839a96b3dc4", GitTreeState:"clean", GoVersion:"go1.17.2"}`

**Which chart**: `jfrog-platform` version 10.4.1

**What happened**:

Default installation does not work, presumably because

[2022-04-01 17:08] daftping opened #1609 ".mc.tomcat.connector.sendReasonPhrase key is misplaced or doesnt apply at this location"
**Is this a request for help?**:
BUG REPORT
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
artifactory-107.35.2

**What happened**:
[code]

**What you expected to happen**:
Valid system.yaml must be provided to Artifactory. No error messages in the logs.

**How to reproduce it** (as minimally and precisely as pos

[2022-04-02 12:27] wopl opened #1610 "StorageClass longhorn instead of local-path"
Is it possible to specify StorageClass for jfrog-artifactory helm chart? Just in values.xml?

Would like to change PVC class and name (instead of artifactory-volume-jfrog-artifactory-0)

Thanks, Wolfram

[2022-04-08 05:31] kishubhatta opened #1612 "artifactory.javaOpts.corePoolSize hardcoded to 8, must be 6 * artifactory.resources.request.cpu"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 3

**Which chart**: artifactory

**What happened**: The default config at https://github.com/jfrog/charts/blob/72c4c9db5c628f4e4d1bab1332e19bd3903686f4/stable/artifactory/values.yaml#L1177 causes HA propagation threads to start timing out and result i

[2022-04-08 19:32] kishubhatta commented on #1612
@danielezer I see you worked on this last. Can you take a look at this please?

[2022-04-10 06:45] eldada commented on #1612
Hi @kishubhatta . Indeed, this is a fairly low value. To start off, look at https://jfrog.com/knowledge-base/how-do-i-tune-artifactory-for-heavy-loads/.
1. If you comment out this, you will get the default value. Does this work well?
2. We'll evaluate this internally and consider commenting out this key to protect users from what you describe

[2022-04-11 06:01] amithins commented on #1370
@casper-gh is there any modification in artifactoryConf/mainConf, could you please share your customisations?

[2022-04-14 03:02] chukka commented on #1612
@kishubhatta this is fixed internally and will be released along with 7.39.x release

[2022-04-15 18:44] ac-miller opened #1615 "delete-db-properties initContainer in CrashLoopBackOff"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm = 3.6.3
Kubernetes = 1.19

**Which chart**:
artifactory

**What happened**:
When upgrading our artifactory helmfile to the latest release of the artifactory helm chart (`107.37.13`), the `initContainer` named `delete-db-properties` is throwing a

[2022-04-15 18:47] #1615 closed

[2022-04-15 18:47] ac-miller commented on #1615
In our helm values, we had overwritten the initContainerImage.

[2022-04-26 09:34] ShirleyZrx commented on #1482
@sergiocruzado Did you solve the problem about system.yaml validation failed?  And how?

[2022-04-26 09:45] sergiocruzado commented on #1482
@ShirleyZrx  still having this type of validation failure

I am now using helm chart jfrog-platform 10.3.2 with MC integrated in Artifactory and using the default systemYaml value in the artifactory chart i get this:

.mc.tomcat.connector.sendReasonPhrase key is misplaced or doesnt apply at this location

Nevertheless, Jfrog Platform is working fine.

[2022-04-26 12:02] JeroennC opened #1618 "Deprecated kubernetes api policy/v1beta1"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Request

**Version of Helm and Kubernetes**: Kubernetes 1.21+

**Which chart**: artifactory-ha

**What happened**:
During installation of the artifactory-ha charts, deprecation warnings trigger:
[code]

**What you expected to happen**:
No warnings, the new api should be used if the kubernetes vers

[2022-04-27 05:02] kishubhatta opened #1619 "xray template does not process key external database values"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm3, k8s 1.20

**Which chart**: XRay

**What happened**: Deploying XRay with external database fails on DB connectiivty

**What you expected to happen**: helm deployment is successful

**How to reproduce it** (as minimally and precisely as possible)

[2022-04-27 05:17] chukka commented on #1619
@kishubhatta  can you share `database.url` value

[2022-04-27 22:04] kishubhatta commented on #1619
@chukka it was `postgres://127.0.0.1:5432/xray?sslmode=disable`. The same value works when overriding via the value `xray.sytemYaml`

[2022-04-28 03:03] chukka commented on #1619
@kishubhatta is Xray and postgresql on same host ? can you share complete values.yaml file and also helm share helm commands to install  to debug further

[2022-04-28 20:57] PKeves opened #1622 "Insight chart values.yaml - Mapping key "initialDelaySeconds" already defined error"
Is this a request for help?: NO

Is this a BUG REPORT or FEATURE REQUEST? (choose one): BUG REPORT

Version of Helm and Kubernetes: Helm3, k8s 1.20

Which chart: Insight

What happened: Enabling Insight fails with Mapping key "initialDelaySeconds" already defined error

What you expected to happen: helm deployment is successful

How to reproduce it (as minimally and precisely as possible): set ena

[2022-04-28 22:35] kishubhatta commented on #1619
@chukka as mentioned in the issue title, my db is external. I'm not using values.yaml, just setting helm cmd-line values like below.
[code]
This is easily reproducible for me, is it not the case at your end?

[2022-04-29 07:54] chukka commented on #1619
I would recommend passing  database.url value  `postgres://{IP}:5432/xray?sslmode=disable` in quotes

[2022-04-29 09:09] ShirleyZrx commented on #1482
@sergiocruzado thanks for your reply. I have the same problem but JFrog works well too.

[2022-04-29 20:23] danmanners opened #1623 "Artifactory Circle of Trust - Wrong Location for Certificates"
Hey folks! The path referenced in the [JFrog Access Federation Docs](https://www.jfrog.com/confluence/display/JFROG/Access+Federation#AccessFederation-EstablishingtheCircleofTrust) for Circle of Trust setup doesn't actually match where certs are installed via the Helm Chart.

https://github.com/jfrog/charts/blob/1935e070cc7d61274b899dd7d73a06c66d9e489d/stable/artifactory/values.yaml#L33

Currently

[2022-05-02 05:05] kishubhatta commented on #1619
@chukka passing the helm command line value in double-quotes did not help. Have you checked the block you have in https://github.com/jfrog/charts/blob/master/stable/xray/values.yaml#L153 that appears to be including only values for `type` and `driver` i.e skipping over the other values supplied - `url`, `database` and `password`?

[2022-05-02 05:24] chukka commented on #1619
@kishubhatta  url, database and password are set using env variables not using systemYaml

Sorry, unless you provide helm commands I can't debug further.

[2022-05-02 05:26] chukka commented on #1619
if you have an Enterprise plus or Pro license, you are entitled to support. [Please open a ticket and link](https://jfrog.com/support/) this issue there. Our support team will be able help you further

[2022-05-02 05:39] kishubhatta commented on #1619
@chukka the helm command would be something like below
[code]

I was told for helm chart issues issues, this is the appropriate channel. Have you revisted https://github.com/jfrog/charts/blob/master/stable/xray/templates/xray-system-yaml.yaml? This is using the `xray.systemYaml` value, and then the secret is mounted with name `systemyaml` in the initContainer `copy-system-yaml`. If these are unuse

[2022-05-02 05:41] chukka commented on #1619
you need to set `postgresql.enabled=false` to use external database settings , please try this

[2022-05-02 05:41] kishubhatta commented on #1619
@chukka `postgresql.enabled=false` is already set.

[2022-05-02 05:44] chukka commented on #1619
@kishubhatta  you just need to set them in values.yaml file, no need to use secrets .if you have E+ /Pro license . please reach to jfrog support they can look at your instance and help you further .

[2022-05-02 06:03] kishubhatta commented on #1619
@chukka I have E+ pro license, but I'm disappointed that my comments are reviewed correctly. I tried to make the bridge by spending my time dig into your code and provide links - they were simply ignored.

[2022-05-02 07:12] almson commented on #857
Had this happen on latest version when launched on a t3 instance that didn't have CPU credits. Looks like a timeout issue during startup.

[2022-05-02 07:21] itssiri commented on #1622
Will be fixed in the upcoming  release. Thanks!

[2022-05-05 06:27] kishubhatta commented on #1619
Turns out had to use `database.user` instead of `database.username`. @chukka fyi, your colleague David Shin spotted this.

[2022-05-05 06:27] #1619 closed

[2022-05-05 13:42] kaychamo commented on #1479
When using helm, what I would advise against this error is checking your app logs (like artifactory-service.log) because what we investigated today is that the join.key may work only at bootstrap (is then consumed or something) and when your service doesn't start (like database issue) what you will see is a log of log about join.key but it could not be the root cause!

[2022-05-05 13:43] kaychamo commented on #1479
@chukka your POV on this?

[2022-05-06 06:51] chukka commented on #1479
@kaychamo  you are right, there are few services(metadata,frontend, event, etc.,) inside artifactory which tries to connect to access via joinKey through router

from above logs , jfmd metadata and jffe (frontend) services failed to connect.

Also, there is a provision to change joinKey via values.yaml

[2022-05-10 11:16] chukka commented on #1619
@kishubhatta Glad your issue is resolved, I routed your request to support to help you :)

[2022-05-16 13:16] geoff-carr-bzy opened #1626 "RabbitMQ not starting due to issue with user account"
When testing deployment of the current (`10.6.1`) `jfrog-platform` chart  there appears to be an issue with the RabbitMQ pod on boot: -

[code]

I am not sure if this is related to the new image of whether there could be something else causing this.

[2022-05-16 14:08] #1626 closed

[2022-05-16 15:18] geoff-carr-bzy commented on #1626
If anyone else has the issue above, in this case it was caused by failing to remove the following lines from the `jfrog-platform` chart `values.yaml` file: -
[code]
These lines appear to have been removed in recent versions of the chat but were still present in our deployment and therefore caused this issue.

[2022-05-18 09:35] rahulsadanandan commented on #1618
@JeroennC thanks for reporting this. We would be fixing this in the upcoming releases.

[2022-05-18 22:57] PKeves opened #1628 "Artifactory OpenMetrics - Allowing passing credentials to Elastic Search through secretKeyRef"
Hi,

I want to use Artifactory Insight service using external Elastic Search however I'm forced to hardcode these credentials into source code as per the current chart.

Would you please allow passing credentials to Artifactory OpenMetrics Elastic Search through  ***valueFrom secretKeyRef***?

Current code:

https://github.com/jfrog/charts/blob/02f892f79a18aff5a0b1be0ca98168d44b1bc6e9/stable/artif

[2022-05-20 05:08] kishubhatta commented on #1574
@peleduri you don't need to support IAM db auth. You only need to gracefully handle the case where the helm value for password is not specified. Currently, the artifactory application simply crashes if one does not specify password value. One needs to set some `dummy` value, even when using IAM auth and cloud sql proxy sidecar.

[2022-05-20 09:38] rblaine95 opened #1630 "[artifactory-oss] Failed to parse user system yaml - could not find expected ':'"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Possibly bug?

**Version of Helm and Kubernetes**:
* Helm: `version.BuildInfo{Version:"v3.9.0", GitCommit:"7ceeda6c585217a19a1131663d8cd1f7d641b2a7", GitTreeState:"clean", GoVersion:"go1.18.2"}`
* Kubernetes: `Server Version: v1.21.9-eks-0d102a7`

**Which chart**: Artifactory OSS

**What happened*

[2022-05-20 09:52] rblaine95 commented on #1630
Yaml validation succeeds on downgrading back to `107.37.14`

[2022-05-20 10:04] chukka commented on #1630
@rblaine95  can you share `/opt/jfrog/artifactory/var/etc/system.yaml` file contents here

[2022-05-20 10:05] rblaine95 commented on #1630
Hi @chukka, thank you for the response, please see `system.yaml` contents here:
[code]

[2022-05-20 10:11] rblaine95 commented on #1630
@chukka, apologies, I commented the wrong version of the `system.yaml` file, updated the comment above.

[2022-05-20 10:21] rblaine95 commented on #1630
If I do a diff upgrade, I see this in the system yaml:
[code]

[2022-05-20 10:32] rblaine95 commented on #1630
I tested disabling jfconnect and the frontend successfully started up! 🥳 🎉
[code]

Even so, the same error (`Error: Failed to parse user system yaml: yaml: line 103: could not find expected ':'`) still gets logged.
But the Artifactory frontend is now working. So it seems like it was an unrelated issue 🤔

[2022-05-23 17:06] bramaq opened #1632 "enable nginx configuration auto-reload for the nginx deployment in artifactory's helm chart"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Kubernetes 1.21
Helm 3.x

**Which chart**:
jfrog/artifactory 107.38.10
app ver: 7.38.10

**What happened**:

When either a configmap or the secret providing the ssl certificates for nginx changes, the pods have to be deleted to reload the config.

*