[2018-08-14 00:07] rimusz opened #1 "The plan on how to import, develop, test and release charts"

[2018-08-17 20:08] jainishshah17 opened #3 "[Proposal] Add Change log"
It will nice to have a changelog for all release of our charts.

[2018-08-23 12:37] eldada commented on #1
@rimusz , if we use `--no-install`, do we sill need to install **minikube**?

[2018-08-23 12:54] rimusz commented on #1
we can skip minikube and do all in jenkins, but I like to run it in minikube `chart_test.sh --no-install` so the linting is done by travisci.
then jenkins with `chart_test.sh --no-lint` will install/test/remove charts on out k8s cluster

[2018-08-23 13:27] rimusz commented on #1
but if we encounter problems of integrating travisci + jenkins, then we can set `chart_test.sh` full testing in jenkins only

[2018-08-24 02:30] ankushchadha opened #9 "[Proposal] Provide different values for small (default), medium & large deployments"
**What**
Ship 3 flavors of values.yaml so that a user (dev, SML customer) can pick the flavor of the file that's more relevant and is only exposed to a very minimum set of properties that they have to modify, versus the entire set. There is no need for the user to touch the main `values.yaml` file and instead they should only be modifying the relevant file that includes a very minimum set. And the

[2018-08-24 02:35] ankushchadha opened #10 "Documentation: Upgrade steps"
**What**
Discourage upgrades by updating image tag instead of using new chart version. Remove the comment for the image.
Document steps that encourage re-using values

**Why**
We want to make sure that the upgrade steps are less error-prone.

[2018-08-24 03:49] eldada commented on #9
I like it. Propose a pull request for one of the charts as an example and we'll use it as a discussion thread.

[2018-08-24 03:50] eldada commented on #10
How do you think we can encourage this?

[2018-08-24 14:32] ankushchadha commented on #9
Yes, @rimusz came up with this solution during our discussion with support about the pain points. We will start with a simpler chart (artifactory pro) and then expand it to other charts. That's a good idea.

[2018-08-27 15:25] rimusz opened #12 "[bug]: Shorten charts release name"
The release names generated with charts-testing chart_test.sh script are too long for statefullsets as it comes to 65 for some `metadata.labels`, so pods do not get created:

[code]

This is why it is failing on https://github.com/helm/charts/pull/7320#issuecomment-416009972

[2018-08-27 15:55] rimusz commented on #12
statefulset pod label `controller-revision-hash: artifactory-ha-ehpnodrtdmk9r-artifactory-ha-primary-666664c7dc` name is too long which is failing then

[2018-08-27 18:44] jainishshah17 commented on #12
@rimusz Fixed.

[2018-08-28 14:41] #12 closed

[2018-08-28 17:38] shrajfr12 opened #15 "on canonical kubernetes, nginx pod is in CrashLoopBackOff stage with restarts"
kubectl get pod

NAME                                               READY     STATUS             RESTARTS   AGE
art-ha-artifactory-ha-member-0                     1/1       Running            0          27m
art-ha-artifactory-ha-member-1                     1/1       Running            0          24m
art-ha-artifactory-ha-primary-0                    1/1       Running            0          27m
art

[2018-08-29 14:08] bsemperlotti opened #19 "wrong S3 binarystore configuration in artifactory-ha"
**Version of Helm and Kubernetes**:
NA

**Which chart**:
artifactory-ha

**What happened**:
The file `artifactory-binarystore.yaml` has a wrong hardcoded S3 provider configuration

[code]

**What you expected to happen**:
When setting S3 backend for filestore, Artifactory should be able to connect to S3 to upload and retreive files.
With the current configutation, artifactory is unable to connect

[2018-08-29 14:08] bsemperlotti commented on #19
S3 binarystore should be configured as described here:
https://jfrog.com/knowledge-base/how-to-setup-artifactory-ha-cluster-in-aws/

[2018-08-29 15:01] bsemperlotti opened #21 "Error when multiple Nginx (replicaCount > 1)"
**Version of Helm and Kubernetes**:
NA

**Which chart**:
artifactory-ha

**What happened**:
When setting nginx.replicaCount=2, and nginx.persistance.enabled=true, The second instance of Nginx fails to start because volume claim is already bound to first instance:

[code]

[code]

[code]

**What you expected to happen**:

It is not clear if and why persistent volumes should be used for NGinx.
Can y

[2018-08-30 08:18] bsemperlotti commented on #21
Sure, I will let you know the result but can you explain what is the usage of this persistent volume ? Is it required to persist configuration through restart ? What is the drawback of not using them ?

[2018-08-30 08:39] eldada commented on #21
The idea was to optionally allow advance setup for persisting logs and config. For having multiple replicas with PVC, you'll have to use no PVC, or switch to a StatefulSet.

[2018-08-30 09:44] bsemperlotti commented on #21
It works when disabling persistent volume for nginx.

[2018-08-30 16:19] jainishshah17 commented on #21
@eldada Good Idea. Will add note.

[2018-08-30 20:54] #3 closed

[2018-08-31 07:55] #19 closed

[2018-09-04 22:05] jainishshah17 commented on #15
@shrajfr12 Closing this issue as PR is merged. Its released with version 0.4.1

[2018-09-04 22:05] #15 closed

[2018-09-17 12:32] hoeghh opened #34 "Fail when using existing claim for Artifactory"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm v2.8.2 - Kubernetes v1.10.1

**Which chart**: 7.4.2

**What happened**: Failed when using existing volume claim

**What you expected to happen**: It worked and used an existing claim

**How to reproduce it** (as minimally and precisely as possibl

[2018-09-17 17:17] jainishshah17 commented on #34
@hoeghh Did it work for you after making changes that you have suggested here?

[2018-09-18 07:31] hoeghh commented on #34
@jainishshah17 Yes, then it works. Then you get
[code]
if persistence is enabled, whether existing claim is defined or not, as it should

[2018-09-19 15:07] jainishshah17 commented on #34
@hoeghh Sure will do. Can you provide more detail on what storage provider are you using? Do you have custom storageClass configured?

[2018-09-19 21:52] marcbui opened #37 "Nginx container starts after second node deployment during artifactory-ha helm chart deployment"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
0.4.0

**Which chart**:
artifactory-ha

**What happened**:
After deploying the chart, the Nginx container starts up and the container's lifecycle postStart event handler is kicked off but then the container is killed off and a new one is created.  Please note the f

[2018-09-20 05:36] eldada commented on #37
@marcbui Can you give more details on the env you use to help reproduce:
- What is the infrastructure used (local, cloud, vendor)
- Version 0.4.4 of the charts is set to version 6.3.2 of Artifactory, but your logs show 6.2.0. Are you overriding values? Of so, which?

[2018-09-21 14:18] rimusz opened #41 "PRs from forks fail on GKE step"
PRs from forks fail on GKE step as:
[code]
https://docs.travis-ci.com/user/pull-requests

So we need to rethink this integration part.

[2018-09-21 17:41] jansmets opened #42 "nginx annotations helm set syntax"
The only way I could set the ingress class was to run this:
[code]
Perhaps it's better to do
[code]
(helm 1.9)

[2018-09-24 19:35] jainishshah17 commented on #42
@jansmets Yah that's the right way to pass it using `--set` flag.

[2018-09-25 13:04] eldada commented on #41
We'll move to use [GCP cloud build](https://cloud.google.com/cloud-build/) for this.

[2018-09-25 13:18] rimusz opened #46 "Feature: Add a check that CHANGELOG has an entry for each new version"
check that Chart.yaml’s `version` has an identical string in CHANGELOG in the format `## [1.2.3]`

[2018-09-25 13:36] jansmets commented on #42
I hope you agree that this is quite annoying and the warning makes it even dubious.

[2018-09-25 18:28] sb464f opened #47 "Adding nodeSelector to distribution and xray charts"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**: Helm 2.10.0 K8s 1.10

**Which chart**: Distribution and xray

**What happened**: Want node selector to specify the nodes in my my env

**What you expected to happen**: I want the pod to come up on specific node

**How to reproduce it** (as minim

[2018-09-26 15:56] marcbui commented on #37
Hello @eldada-- as discussed, this issue can be reproduced on a standard deployment using the artifactory-ha helm chart onto GKE.  The issue is intermittent and looks to be some sort of race condition.  When it does happen, the Nginx container starts up after the second Artifactory node (artifactory-ha-artifactory-ha-member-0) and before the third (artifactory-ha-artifactory-ha-member-1).

**kubec

[2018-09-27 22:18] joonfrog opened #58 "Add support for external PostgreSQL and ElasticSearch in Mission Control helm chart"
FEATURE REQUEST

Add support to configure an external MongoDB and ElasticSearch for Mission Control Helm Chart

[2018-09-28 18:30] joonfrog opened #59 "Distribution does not come up with default distribution chart due to invalid redis password"
2018-09-28 18:01:15,926 [main] [WARN ] (c.j.b.d.c.DistributorApplicationContext:551) Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'foremanDistributorService': Invocation of init method failed; nested exception is redis.clients.jedis.exceptions.JedisDataException: ERR invalid

[2018-09-29 06:55] eldada commented on #59
@joonfrog - Can you please share the exact command line? Did you use the latest chart version (1.0.1)?

[2018-09-30 06:36] eldada commented on #47
Done with https://github.com/jfrog/charts/pull/60 and https://github.com/jfrog/charts/pull/61. Closing.

[2018-09-30 06:36] #47 closed

[2018-09-30 21:01] eldada commented on #58
@joonfrog - there is no PostgreSQL in Mission Control (did you mean ElasticSearch?). Can you update this issue?
Also, please fill in the details.

[2018-10-01 06:45] rimusz commented on #41
minikube is now set to test PRs from forks and GKE for forks form the main repo.

[2018-10-01 06:45] #41 closed

[2018-10-01 17:34] sylus opened #63 "Issue with subcharting Artifactory"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**: Kubernetes 1.10.7 and Helm 2.9.1

**Which chart**: Artifactory latest stable

**What happened**: Artifactory invalid postgres password, can't connect 404

**What you expected to happen**: Everything to work like the regular non overridded install

**How to reproduc

[2018-10-01 17:34] sylus commented on #63
[code]

[2018-10-01 17:36] sylus commented on #63
<img width="1188" alt="screen shot 2018-10-01 at 1 35 01 pm" src="https://user-images.githubusercontent.com/984304/46305262-f7dff180-c57e-11e8-8b8f-109043137273.png">
<img width="1185" alt="screen shot 2018-10-01 at 1 35 13 pm" src="https://user-images.githubusercontent.com/984304/46305263-f7dff180-c57e-11e8-9c3e-16572385c2bd.png">

[2018-10-01 17:36] sylus commented on #63
@jainishshah17

[2018-10-02 05:48] eldada commented on #63
@sylus - can you try setting a custom database password with `postgresql.postgresPassword=password`.
Let's see if this is related to the auto generated password.
BTW - after the first install, for upgrades you need to pass the database password so a new one will not be generated that might conflict with previous one.

[2018-10-02 12:38] sylus commented on #63
@eldada unfortunately I did try that as well but gave it another go and checked via kubectl proxy the password was the same for both pods (artifactory, and postgresql) but  when checking the logs of artifactory:

[code]

[2018-10-02 12:51] eldada commented on #63
This happens only when artifactory is a sub-chart?

On Tue, Oct 2, 2018, 15:38 William H <notifications@github.com> wrote:

--

<https://jfrog.com/resources/upcoming-webinars/?utm_source=email&utm_medium=signature_banner&utm_campaign=upcoming_webinarshttp://>

[2018-10-02 12:51] sylus commented on #63
Yup works perfectly when isn't a sub chart ^_^

[2018-10-02 13:07] sylus commented on #63
@eldada would it help if I uploaded my chart as a tarball? I can remove the license and config boostrap

[2018-10-03 02:37] sylus commented on #63
So I traced this to my configmap which is odd since was just a copy of `artifactory.config.import.xml` and the `security.import.xml` file.

Sorry for the noise, will file a more apt issue once poke at this further.

[2018-10-03 02:37] #63 closed

[2018-10-04 22:48] marcbui opened #67 "Insight Password verification failed"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

k

[2018-10-04 23:30] joonfrog commented on #59
I am using the latest from our github.

command:
helm install --name distribution jfrog/distribution

[2018-10-08 06:00] eldada commented on #59
A fix to the mongodb error is in https://github.com/jfrog/charts/pull/68. I did not manage to reproduce an error with Redis. Can you test once PR is merged?

[2018-10-08 08:34] eldada commented on #59
@joonfrog - please check now with distribution-1.0.4.

[2018-10-08 14:39] eldada opened #69 "[Feature] Add NetworkPolicy to each chart to restrict traffic between pods"
**Is this a request for help?**:

No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST:
To have better control and secure structure of traffic between each application's pods, every chart has to also deploy a NetworkPolicy descriptor with the matching rules.

- Deny all
- Allow traffic from pods in same namespace on application ports
- Allow traffic from external res

[2018-10-08 16:57] jainishshah17 opened #70 "Add support to run Mongodb as without root user."
**Is this a request for help?**:
Feature Request to allow Mongodb to run without root permission. MongoDB chart version 4.0.0 has this support. Here is the link to that commit https://github.com/helm/charts/commit/84fcbc5e6b79111baba54ff9593378cb34cae6b7#diff-6647ac64649477ce8149d8f0670ecd8a
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 FEATURE REQUEST

**Version of Helm and Kub

[2018-10-09 07:05] eldada commented on #70
The problem here that it might require us to upgrade MongoDB version. The applications need to certify this. We saw some issue in the past with minor MongoDB version changes...

[2018-10-09 08:35] sebastien-prudhomme opened #71 "Missing quote for ingress host names in all charts"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT
**Version of Helm and Kubernetes**:

**Which chart**:

All charts

**What happened**:

Charts are not compatible with ingres hosts names begining with '*', Helm complains about syntax

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

Ingress

[2018-10-09 16:58] jainishshah17 commented on #34
@hoeghh Any update on this one?

[2018-10-09 18:34] Manojtuguru opened #73 "Use secret for external MongoDB"
**Is this a request for help?**:
FEATURE REQUEST
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm: 2.9.1 K8s: 1.10.0

**Which chart**:
Xray

**What happened**:
[MONGODB_URL](https://github.com/jfrog/charts/blob/master/stable/xray/templates/xray-indexer-deployment.yaml#L48) is using variable instead of secret.

**What you expe

[2018-10-09 21:19] #71 closed

[2018-10-10 07:45] hoeghh commented on #34
Hi,

sorry for the delay.

So, with other charts when they have an "existingClaim", what is expected from the user, is to provide the name of an already existing volume claim. Like Jenkins here :
[code]
But this claim will take the value of existingClaim and use it to match a label with a key "app" as seen here :
[code]

I think its fine that you as a user can define labels. But i would then wish

[2018-10-10 15:05] mellena1 commented on #34
@hoeghh I tried out your template change from your original comment, and while it no longer fails the deployment, it seems like the statefulset tries to make its own volume claim instead (ignoring my existing claim). Are you seeing that behavior?

[2018-10-10 18:50] hoeghh commented on #34
@mellena1  I will look into it tomorrow at work.

[2018-10-11 10:14] hoeghh commented on #34
Hi @mellena1

Ok, so i have been playing with it.

The way its implemented now, does not allow users to specify an existing claim. The volumeClaimTemplates will create new PVC's.

What you get, is a PVC with a match on label "app: artifactory". It doesnt even use the existingClaim the user specifies. It uses the name of the helm app.

[code]

This could be changed to
[code]
Then the use has to cre

[2018-10-11 12:09] mellena1 commented on #34
Thanks for the reply @hoeghh.

I did notice this as well, after I played with it and looked through the template. I did make a PVC with the label "app: artifactory", and despite that it still didn't use the existing one. I'm still curious if making a volumeClaimTemplate actually allows you to specify an old PVC using a selector or if it will allows create something. My workaround was similar to yo

[2018-10-11 12:30] hoeghh commented on #34
Hi @mellena1

This will work. Though properly not on the HA chart as you need to scale the Volume. But its fine for this chart. If you do a ```helm package``` the chart and attach it, i can test it tomorrow if you want.

[2018-10-11 12:36] mellena1 commented on #34
Yeah I haven't looked at the HA chart at all so I wasn't taking that into account. Here is the chart if you want to test it out. (I just changed the extension from .tgz to .zip as github doesn't allow tgz as an extension)
[artifactory-7.5.4.zip](https://github.com/jfrog/charts/files/2468885/artifactory-7.5.4.zip)

[2018-10-11 12:36] hoeghh commented on #34
@mellena1 Im looking into a solution that might work on both server and HA. brb

[2018-10-11 12:44] hoeghh commented on #34
@mellena1
I dont think the normal "Volume" section supports a selector. I cant find any examples at least. All are on VolumeClaimTemplate's.

But, would it be better to use the VolumeClaimTemplate with labels. Where a user can define multible, and the PVC's that it generates will use from the pool of PV's that matches those labels. That way it still scales.

The solution you found only supports on

[2018-10-11 12:54] mellena1 commented on #34
Yeah I couldn't find a way to do that either. I believe the only way you can do it right now is with the name of the PVC, rather than with labels.

Yeah my solution definitely doesn't work for every scenario. It was more of a hack to get it up and running. It would ideally be more scalable.

If you can get it to work go for it! I personally only need the one PVC, but I'm sure others may need more,

[2018-10-11 16:45] jainishshah17 commented on #34
@hoeghh @mellena1 Can you try using this template to create PVs and PVCs https://www.jfrog.com/confluence/display/EP/Static+Volume+Provisioning+with+NFS

[2018-10-11 19:56] mellena1 opened #78 "Using external DB other than Postgres does not work"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Version of Helm and Kubernetes**: helm: 2.11.0, k8s-client: 1.12, k8s-server: 1.10.3

**Which chart**: Artifactory (pro/oss)

**What happened**: When using external db's, the README tells you to curl the plugin for the db connection as a part of the postStart lifecycle (such as the my

[2018-10-12 18:57] jainishshah17 opened #79 "Add license to this repository"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
N/A

**Which chart**:
All

**What happened**:
Need a license in repository

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:
We need to agree on how do we want to

[2018-10-13 15:16] hoeghh commented on #34
@jainishshah17

Hi,

I haven't tried it, but i just had a quick look at it.

In the Helm install command you use ```--set postgresql.persistence.existingClaim=artifactory-database-pvc``` and have a PVC with the name ```artifactory-data-pvc```. They dont match.

But. The helm chart doesnt try to find a PVC by name, but with a label ```app: artifactory```. Thats hard coded into the chart.

That mean

[2018-10-14 14:58] eldada opened #82 "Artifactory HA with S3 has a hardcoded endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

The `artifactory-ha` helm chart has a hardcoded S3 endpoint (`s3.amazonaws.com`). This results in the chart not usable for non `us-east-1` regions.

**Version of Helm and Kubernetes**:
NA

**Which chart**:
`artifactory-ha`

**What happened**:
Installing in EKS using `us-west-2` region and S3 as filestore, failed to access S3 failing w

[2018-10-14 19:34] #82 closed

[2018-10-15 03:22] sylus opened #85 "ConfigMaps for security.import.xml and artifactory.config.import.xml can't copy"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:

K8S: v1.10.6
Helm: v2.9.1

**Which chart**: Artifactory 7.6.1

**What happened**: ConfigMaps for security.import.xml and artifactory.config.import.xml can't copy.

[code]

**What you expected to happen**: The copy to be successful.

**How to reproduce it**

[2018-10-15 03:25] sylus opened #86 "Support encrypted artifactory.config.import.xml file"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**:

Kubernetes: v1.10.6
Helm: v2.9.1

**Which chart**: Artifactory

**What happened**:

I was hoping we could extend the chart to support encrypted configuration. I discovered this by realizing there was no configuration for the `artifactory.key` u

[2018-10-15 15:53] sylus commented on #86
@jainishshah17

[2018-10-15 15:53] sylus commented on #85
@jainishshah17

[2018-10-15 18:42] stieler-it opened #87 "Docker cannot connect to Repository Path repository"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm (but we are using Rancher to deploy Artifactory, not Helm directly):
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad

[2018-10-16 07:15] #67 closed

[2018-10-16 16:02] jainishshah17 commented on #87
@stieler-it have you tried following this: https://medium.com/@jainishshah17/kubernetes-nginx-ingress-with-artifactory-on-gke-e6781d4ab5e8

[2018-10-16 16:10] jainishshah17 commented on #85
@sylus Can you provide details about storage. Are you using NFS/GCPersistentDisk/EBS?
Is this GKE/AKS/EKS?

[2018-10-16 16:14] jainishshah17 commented on #34
@hoeghh Make sense. Will work on adding this changes.

[2018-10-16 18:57] stieler-it commented on #87
Thank you. However, you seem to be using even more workarounds than we are. Don't you think that these Ingress customization rules should be part of the Helm chart to work out of the box?

[2018-10-17 12:36] sylus commented on #85
Hey @jainishshah17 I am using Azure Disk on ACS Engine Kubernetes 1.11.3

[2018-10-17 18:27] jainishshah17 commented on #85
@sylus I found issue `artifactory_extra_conf` is not owned by artifactory user its owned by root. We will have to add some logic in entrypoint.sh to check and fix permission.

[2018-10-17 18:31] #79 closed

[2018-10-18 13:14] sylus commented on #85
Ah great @jainishshah17 , would it help if i filed an official support ticket?

[2018-10-18 13:20] eldada commented on #85
@sylus - no need. We are already working on a fix to this, so it will be included in one of the coming Artifactory releases.

[2018-10-18 14:49] rimusz commented on #1
we can close this one

[2018-10-18 16:06] jainishshah17 commented on #1
@rimusz @eldada If it's working with forks then we can close this.

[2018-10-19 06:52] #1 closed

[2018-10-19 22:52] jainishshah17 commented on #87
https://github.com/jfrog/charts/pull/91

[2018-10-22 06:39] eldada commented on #87
@stieler-it - did you try the suggested fix in #91 ?

[2018-10-22 13:03] hoeghh commented on #34
I thinks something like this would work. I havent tried it (free hand).

[code]

And then in the values file have this:
[code]

I dont remember if an emtyDir needs storageClass and resources.

[2018-10-22 16:48] sylus commented on #85
Just seeing if there is any push on this as it is a blocking me from moving to a production cluster.

[2018-10-23 08:53] stieler-it commented on #87
I have not tried it because I currently don't have an environment to play with. However, the important change is in the documentation and this together with the other modifications look good to me + like exactly what we need.

[2018-10-23 18:14] jainishshah17 commented on #85
@eldada Whats ETA for this?

[2018-10-23 20:16] rgbrizzlehizzle opened #97 "OSS deployment fails due to failing Readiness Probe"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**: 2.11.0 and 1.9.7-gke.6

**Which chart**: jfrog/artifactory

**What happened**:

When attempting to pass in the custom docker image to use artifactory oss, the Readiness Probe fails repeatedly due to a 404

I initially launched this chart with the default settings other than switching docker image to

[2018-10-29 14:52] sylus commented on #85
@jainishshah17 think it makes sense if I grab the dockerfile template and just override it to support this? Is there a public repo where the docker templates exist? (right now I just exec into container and grab)

[2018-10-29 16:47] jainishshah17 commented on #85
@sylus Our dockerfiles are not public yet.

[2018-10-30 21:18] 1aziz commented on #85
Is there any other temporary way to achieve this and copy configs, until the next release comes?

[2018-11-01 17:36] jainishshah17 commented on #85
@sylus @1aziz One alternative is to directly mount files to `artifactory_extra_conf `.

[2018-11-06 14:10] sebastien-prudhomme opened #105 "Add parameters for Artifactory database name"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

Allow using other name than "artifactory" for database name.

Seems that the Docker image can use a DB_NAME env parameter but the chart is not using it.

**Which chart**:

Artifactory

[2018-11-06 17:52] jainishshah17 commented on #105
@sebastien-prudhomme You are right. We will have to fix it.

[2018-11-06 17:53] jainishshah17 commented on #97
@rgbrizzlehizzle Can you provide more details about your K8S environment?

[2018-11-07 08:49] eldada commented on #105
I'll look into it.

[2018-11-07 09:48] sebastien-prudhomme commented on #105
@eldada Sorry, i've seen that variable in non official Artifactory images and thought that it was the same case for the official image.

So perharps the first step is to enable that variable in the Docker image?

[2018-11-07 10:43] eldada commented on #105
Maybe, but that's in the Artifactory Docker image code. Not here. Can you open an issue in https://www.jfrog.com/jira for `DB_USER`?
Once done, you can close this. I'll work on adding support for `DB_URL` as suggested earlier.

[2018-11-07 21:54] jainishshah17 opened #107 "Add documentation for AUTO_UPDATE_CONFIG feature of nginx"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Helm 2.9.1 K8S 1.9.7

**Which chart**:
artifactory, artifactory-ha

**What happened**:
SKIP_AUTO_UPDATE_CONFIG is not documented

**What you expected to happen**:
Provide documentation on how to set HTTP setting to use AUTO_UPDATE_CONFIG feature of nginx

**How

[2018-11-12 03:25] mbraku opened #109 "Artifactory nodeSelector, affinity and tolerations seem to be indented wrongly"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Kubernetes

[2018-11-12 13:00] ivanfitenko opened #111 "Allow pod anti-affinity settings to include primary node"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**: artifactory-ha

Currently, pod anti-affinity applies only to member nodes, which may result in a member pod being scheduled onto the same host where primary node is already running. In a case when we have only two nodes, primary and member, such situation will cause a

[2018-11-12 14:20] ivanfitenko opened #113 "Optionally include primary node into poddisruptionbudget"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Which chart**: artifactory-ha

When primary node is added to member service (with "pool: all" instead of "pool: members" in values.yaml) it should also be added to poddisruptionbudget to prevent a situation when there is only two nodes (primary and member-0) and both are deleted at the same time during eviction or simil

[2018-11-13 18:38] #111 closed

[2018-11-14 09:43] eldada commented on #109
@mbraku - seems like you actually found a bug in other charts 😉. The indent in `artifactory` seems right.
As for your error, I'm not sure it's related to the indent. I think the location of the `nodeSelector` in the yaml is wrong. I'm looking into it.

[2018-11-14 11:16] eldada commented on #109
@mbraku - can you confirm that pull request #119 fixes your issue?
I'll fix other charts in separate PRs.

[2018-11-14 18:05] #109 closed

[2018-11-15 02:51] mbraku commented on #109
Yes, it works now after pulling the new master. Thanks for the quick fix 👍

[2018-11-21 22:17] jainishshah17 commented on #107
Closing as PR is merged

[2018-11-21 22:17] #107 closed

[2018-11-22 06:49] eldada commented on #97
@rgbrizzlehizzle - is this still happening? If not, can you close this?

[2018-11-22 21:59] wilrnh commented on #63
If anyone else comes across this, this worked for me: `kubectl -n dev delete pvc artifactory-volume-artifactory-artifactory-0`. Seems the db.properties file doesnt get updated/overwritten for new deployments properly.

[2018-11-25 06:08] eldada commented on #78
@mellena1 - I think this is now fixed with #115. We move the pulling of the driver to a `artifactory.preStartCommand` now.
See the updated [README](https://github.com/jfrog/charts/tree/master/stable/artifactory#use-an-external-database).

[2018-11-25 06:08] #78 closed

[2018-11-26 16:04] agolomoodysaada opened #125 "Feature Request: Azure Blob Storage"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

Just like we are able to use S3 and GCS, it would be nice to have Azure blob storage support.
It should accept azure blob storage credentials in the chart itself such as the account name and the access key.

[2018-11-27 10:27] kobisony1 opened #127 "Xray chart readme - Missing escaping '\' in the mongodb connection string example"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
helm v2.11.0

**Which chart**: Xray

**What happened**: When using the mongodb connection string given in the readme example xary server is failed to start due to wrong replacement of the connection string in the application config file.
output: mongo

[2018-11-27 11:52] #127 closed

[2018-11-29 13:51] #113 closed

[2018-12-02 06:12] #97 closed

[2018-12-03 13:34] HamzaZFrog opened #134 "Artifactory HA - Harcoded parameters in S3 provider"
**BUG REPORT**

**Which chart**:
artifactory-ha

identity and credential parameters are hardcoded in the template and are still injected even if they are empty. This is causing the Artifactory to fail on start up when the S3 provider is set to connect via IAM Role.

https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-binarystore.yaml

[code]

[2018-12-04 13:42] mohammadtibi opened #135 "We cant update running Artifactory server expired license by updating the license secret"
BUG REPORT

Which chart:
artifactory-ha

We mention in the documentation (in the Install Artifactory HA license):

IMPORTANT: You should use only one of the following methods. Switching between them while a cluster is running might disable your Artifactory HA cluster!

However, in case we have installed Artifactory while providing a secret for the license and the license has expired, with the curr

[2018-12-04 15:14] eldada opened #136 "Artifactory "Distribution Cert for Artifactory" fails Artifactory startup"
**BUG REPORT**

**Version of Helm and Kubernetes**:
Any

**Which chart**:
`artifactory` and `artifactory-ha`

**What happened**:
When following instructions to create distribution certs and passing them to Artifactory, exceptions are thrown by Access that prevent Artifactory from starting up.

**What you expected to happen**:
Access and Artifactory start up with the provided private key and certif

[2018-12-05 07:32] eldada commented on #136
The `Distribution Cert for Artifactory` should be removed. It's not adding any value and is confusing.

[2018-12-05 09:06] marianteodorescu opened #138 "Directory /var/opt/jfrog/artifactory has bad permissions for user 'artifactory'"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Kubernetes
1.10.8_1530
Helm client and server: v2.11.0

**Which chart**:
When installing using the instructions from https://github.com/jfrog/charts/tree/master/stable/artifactory, using the command
helm install --name artifactory --set artifactory.image.reposit

[2018-12-05 09:13] eldada commented on #138
Hi @marianteodorescu . What K8s are you deploying to?
Seems the PVC created uses a volume that does not have write permissions for others.
You can try passing `--set artifactory.persistence.enabled=false` to see it works without persistency.

[2018-12-05 09:22] marianteodorescu commented on #138
Hi @eldada . I am deploying to the IBM Cloud K8s. I will try reinstalling again with `--set artifactory.persistence.enabled=false`. Is there a way to modify the the volume and grant permission manually?

[2018-12-05 09:34] eldada commented on #138
I'm not familiar with IBM Cloud K8s, but I suspect that the default StorageClass is the root cause.
You can also create your own PV + PVC with the needed permissions and pass it to Artifactory with `--set artifactory.persistence.existingClaim=PVC_NAME`.
@jainishshah17 - do you have ideas about the IBM default StorageClass and permissions?

[2018-12-05 13:21] marianteodorescu commented on #138
I have tried starting it `--set artifactory.persistence.enabled=false` and it would not start, I got `FATAL: password authentication failed for user "artifactory"`, I have attached the full log below.
[logs-from-artifactory-in-artifactory-artifactory-0.txt](https://github.com/jfrog/charts/files/2648936/logs-from-artifactory-in-artifactory-artifactory-0.txt)

[2018-12-05 14:11] sylus commented on #10
Disagree a bit with the above as sometimes you will want to just update the image tag and might not want some of the helm updates especially if add new features or modify existing without testing. Sometimes especially for security issues is important to just quickly use image tag.

I did have a question about updates though and this seems like the place to ask. Say I did a fresh install with the a

[2018-12-05 15:21] eldada commented on #138
Did you try upgrading over the failing deployment? This might be due to an already deployed postgresql that has a randomly generated password. You must extract it and pass it with `--set postgresql.postgresPassword=${DB_PASSWORD}`.
Extract the current password with
[code]
I guess we should improve documentation on this...

[2018-12-05 17:56] jainishshah17 commented on #10
@sylus Yes, That's correct

[2018-12-05 17:56] #136 closed

[2018-12-06 06:49] jainishshah17 commented on #138
@marianteodorescu  did you clear PVC after  `helm delete --purge`?

[2018-12-06 06:51] jainishshah17 commented on #138
@marianteodorescu I had to do following to deploy Artifactory:
[code]

[2018-12-06 07:33] marianteodorescu commented on #138
Thank you, it works!

[2018-12-06 07:33] #138 closed

[2018-12-06 16:51] sylus commented on #10
Worked great, thx everyone :)

[2018-12-06 18:36] #10 closed

[2018-12-06 20:14] eldada commented on #125
@agolomoodysaada - you are more than welcome to test #140 and provide some feedback.

[2018-12-07 01:39] jainishshah17 commented on #73
@eldada We need to fix this in Xray as well. According to https://github.com/jfrog/charts/blob/master/stable/xray/templates/xray-indexer-deployment.yaml#L49 we are using ENV for it.

[2018-12-07 14:15] #134 closed

[2018-12-09 13:34] BatelT opened #142 "Add roleName field for the binarystore.xml"
Bug report

Which chart:

artifactory-ha

Please add the field roleName in order to config [S3 object store using an IAM role instead of an IAM user.](https://jfrog.com/knowledge-base/how-to-configure-aws-s3-object-store-using-an-iam-role-instead-of-an-iam-user/)

[2018-12-09 14:40] #59 closed

[2018-12-11 00:51] c4po commented on #34
getting same issue here. I think the common way to dealing with existing claim is like this
[code]

[2018-12-12 14:35] #34 closed

[2018-12-12 17:09] jainishshah17 commented on #73
@Manojtuguru Closing issue as PR is merged.

[2018-12-12 17:09] #73 closed

[2018-12-12 22:41] eldada commented on #135
This is actually an issue with the documentation. We'll update it to reflect the right way for managing your Artifactory license.

[2018-12-13 18:52] #135 closed

[2018-12-14 18:20] pkelleratwork opened #148 "helm search <reponame> gives nothing"
**Is this a request for help?**: YES

---

How can i search the repo after deploying the helm chart? I can see the chart in the jfrog ui but get nothing returned after running
[code]

i need that to confirm versions or charts, whats there etc

[2018-12-14 18:35] #148 closed

[2018-12-14 19:58] ypan887 opened #149 "GKE ingress controller will failed with "unhealthy" backend because of the Readiness Probe Path"
The xray-server template has a readiness probe to path "/"

[code]

When installing xray on gke using it's ingress controller, health check will be created pointing to the root path and fall back to the readinessProbe path, which is still the root path.

These will result in an "unhealthy" backend service since if you ping xray from the worker node, you will see that it returns 301 at root path an

[2018-12-17 07:38] rk52287 opened #151 "nginx keeps loading continuously"
**Version of Helm and Kubernetes**: helm version 2.11.0 Kubernetes 1.10

**Which chart**: Artifactory HA with external Postgres and NGinx LB.

**What happened**:
The artifactory is up and running on 3 nodes. The HA entries are added in the nginx config as upstream artifactory {
    server 192.x.x.1:8081;
    server 192.x.x.2:8081;
    server 192.x.x.3:8081;
}

The nginx "updateConf.sh" is updating

[2018-12-18 06:44] nsabernierdev1 commented on #85
also waiting for this fix

[2018-12-18 06:47] eldada commented on #85
A new version of Artifactory is due to be released in the coming days. Will update and verify and update here once released.

[2018-12-18 17:16] #149 closed

[2018-12-19 06:50] mzupan opened #156 "artifactory-ha nodes not getting license"
**Version of Helm and Kubernetes**:

Helm
[code]

Kubernetes 1.10

**Which chart**:

artifactory-ha

**What happened**:

Running the HA chart and getting the following when I try to open artifactory on my browser.

primary log
[code]

Node log
[code]

When I install the license by running pro in a normal docker container on my laptop I get

High Availability license is installed but HA feature is

[2018-12-19 07:14] eldada commented on #156
@mzupan - The Artifactory HA licensing is done by providing a license per each node. Each of these is a `High Availability license`.
In the initial onboarding It should be a block of multiple licenses separated by a newline. Number of licenses is the number of primary + nodes.

[2018-12-19 07:16] mzupan commented on #156
@eldada ok thanks.. so the license file I import as a secret is multiple licenses separated by a comma?

[2018-12-19 07:21] eldada commented on #156
Separated by a couple of newlines.
See https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#install-artifactory-ha-license
And https://www.jfrog.com/confluence/display/RTF/HA+Installation+and+Setup#HAInstallationandSetup-ClusterLicenseManagement

[2018-12-19 07:22] #156 closed

[2018-12-19 15:26] DDSloan96 opened #157 "[Feature] Enable JMX monitoring"
Would it be possible to enable the chart to expose the JMX monitoring port via a value option for use with Prometheus's JMX exporter

[2018-12-19 22:24] danielezer opened #158 "mission control command not found"
**Is this a request for help?**:

-No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm - v2.11.0
kubernetes - 1.11.5-gke.4

**Which chart**:
mission-control

**What happened**:
mission control init containers has error messages that say "command not found"

**What you expected to happen**:
the errorExit function will be executed

**Ho

[2018-12-20 16:06] DDSloan96 opened #160 "[Feature] Provide for extra backup volume"
We are currently using S3 to host our artifacts but would like to have the ability to backup to a seperate backup nfs volume.  Would the chart be able to provide for adding that volume?

[2018-12-20 17:41] danielezer opened #161 "Add an option to provide a secret name for the root certificate"
**Is this a request for help?**:

NO

**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**Version of Helm and Kubernetes**:
all versions

**Which chart**:
artifactory-ha and artifactory

I would like to have the option to provide the root certificate for artifactory as a kuberentes secret. This would be very helpful when configuring E+ in regards to access federation and circle of tr

[2018-12-30 11:46] danielezer opened #165 "Add nginx configuration for distribution"
**Is this a request for help?**:

NO

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Version of Helm and Kubernetes**:
ALL

**Which chart**:
artifactory and artifactory-ha

**What happened**:
Missing nginx configuration for JFrog Enterprise plus platform, according to this guide:
https://www.jfrog.com/confluence/display/RTF/Artifactory+Enterprise+Plus
these two sett

[2018-12-31 19:53] dgvigil opened #167 "helm deploy of oss fails with defaults"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/artifactory

**What happened**:
Ran:
[code]

The logs showed the error is in the entrypoint-artifactory.sh
[code]

**What you expected to happen**:
The documentation on using OSS merely states to change the docker image and no other modifications. This should

[2019-01-01 06:30] jainishshah17 commented on #167
@dgvigil Can you try reinstalling after removing PVCs.

[2019-01-02 15:34] dgvigil commented on #167
That corrected the issue. Thank you @jainishshah17

[2019-01-02 15:34] #167 closed

[2019-01-02 19:17] Tapanito opened #170 "[Feature] Artifactory google-storage support"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

According to the official documentation of Artifactory on filestorage [link](https://www.jfrog.com/confluence/display/RTF/Configuring+the+Filestore) it's possible to use various storage backends when configuring Arifactory. I would like to use google storage as a backend, but it seem

[2019-01-02 21:35] jainishshah17 commented on #170
@Tapanito We already have support for google-storage in `artifactory-ha` chart.

[2019-01-02 21:50] Tapanito commented on #170
@jainishshah17  Thanks for your reply.
 I understand that `artifactory-ha` supports that, but I was refering to `jfrog/artifactory` chart. Which, as far as I can see, does not support modifying binarystore at all. https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L234
O

[2019-01-03 10:23] Tapanito commented on #170
Thanks @jainishshah17,I tried doing that but it seems that this approach is currently blocked by Issue #85

[2019-01-03 12:20] eldada commented on #85
Artifactory 6.6.X now released. @wilrnh , @nsabernierdev1 , @1aziz , @sylus - can you all test and see if this is resolved for you with latest chart?

[2019-01-03 12:21] eldada commented on #170
@Tapanito - the latest version of the chart, which includes Artifactory version 6.6.X should support this now. Can you test?
We should also support binarystore.xml in the `artifactory` chart. I'll open an issue for this.

[2019-01-03 12:27] eldada opened #171 "[Feature] Add binarystore.xml to the artifactory chart"
**Is this a request for help?**:
NO

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE

**Version of Helm and Kubernetes**:
NA

**Which chart**:
**artifactory**

**What happened**:
Trying to use advanced storage features can't be applied since the `binarystore.xml` is not a part of the **artifactory** chart.

**What you expected to happen**:
Support for a `binarystore.xml` be in *

[2019-01-03 12:44] Tapanito commented on #170
Thank you for your response @eldada, however I'm receiving the error.

I added the following configmap with binarystore.xml:
[code]

And I'm installing artifactory with the following values:
[code]

After running
`helm install --name artifactory --tiller-namespace artifactory  jfrog/artifactory --namespace artifactory --values=values.yaml`

I see the following error in the kubernetes logs:

[code]

[2019-01-03 16:33] jainishshah17 commented on #170
@Tapanito Looks like you are using OSS version. Bootstrapping is supported only in pro/oss.

[2019-01-04 16:33] Tapanito commented on #170
@jainishshah17 my mistake, I didn't realize that cloud storage is not supported as a binary storage for `OSS` version. I have resolved the issue. Thank you for you help!

[2019-01-05 00:21] #170 closed

[2019-01-06 13:02] #87 closed

[2019-01-08 01:29] sanjeevkarani opened #173 "Existing PVC Name in Artifactory-HA is incorrect"
Existing PVC Name in values.yaml shows the following:

## If true, you must prepare a PVC with the name e.g `artifactory-ha-primary`
## If true, you must prepare a PVC with the name e.g `artifactory-ha-member`

We have noticed the "Existing PVC Name" as following:
volume-artifactory-ha-artifactory-ha-primary
volume-artifactory-ha-artifactory-ha-member

This is not Documented anywhere and causes is

[2019-01-08 13:18] 1aziz commented on #85
Unfortunately, not solved yet. I'm using the version 6.6.5 (PRO) and still have the same issue.

[2019-01-08 13:59] eldada commented on #85
@1aziz - can you help with more details?
I just tried this with the latest Artifactory version and it worked as expected.
- Created a configMap with an xml
- Deploy Artifactory chart with passing `--set artifactory.configMapName=my-release-bootstrap-config`
Artifactory came up properly.

[2019-01-08 14:15] 1aziz commented on #85
@eldada, the problem was from my side, apologies. I was trying it with **helm upgrade**, while the configs only get copied if the Artifactory instance gets re-deployed.
I now confirm that the solution does work. Thanks for the release.

[2019-01-08 15:14] eldada commented on #85
Thx for the quick confirmation!

[2019-01-08 15:14] #85 closed

[2019-01-08 16:53] sylus commented on #85
Thanks amazing folks! :D

[2019-01-11 17:09] Mugenprime opened #175 "JFrog XRay Error: Failed to set Postgres statement timeout to 18000000: pq: Invalid Username specified. Please check the Username and retry connection. The Username should be in username@hostname format. After disabling postgres to use external azure posgreql database"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
 AKS 1.11.5
HELM v2.12.0
Azure Database for PostgreSQL server: 10

**Which chart**: jfrog/xray

**What happened**:
[17:25:56 UTC 2019/01/11] [EROR] (jfrog.com/xray/dbaccess.setPostgresStatementTimeoutFromConfig:77) Failed to set Postgres statement timeout to 180000

[2019-01-11 17:33] Mugenprime commented on #175
the error message received in the logs when entering the URL with mongodb left as default (enabled) and db url entered is:

Exec: /opt/jfrog/xray-server/server
[17:25:56 UTC 2019/01/11] [INFO] (jfrog.com/xray/startup.InitXrayServer:67) Xray distribution: docker
[17:25:56 UTC 2019/01/11] [INFO] (jfrog.com/xray/dbaccess.OpenConnection:36) Setting pq connection username to: xray
[17:25:56 UTC 2019/01

[2019-01-11 17:36] eldada commented on #175
@Mugenprime - can you share the custom parameters (or custom values file) which triggered this?

[2019-01-11 17:46] jainishshah17 commented on #173
@sanjeevkarani Artifactory selects PVC which matches the label `app: artifactory-ha-primary` and `app: artifactory-ha-member`.  Which means when you create PVC manually you will need to create it with the following labels.

I will change documentation to
**If true, you must prepare a PVC with the name e.g `app: artifactory-ha-primary`**
**If true, you must prepare a PVC with the label e.g `app: ar

[2019-01-11 18:32] Mugenprime commented on #175
@eldada The custom values im using are:
helm install --name xray `
             --set common.masterKey=
             --set postgresql.enabled=false `
             --set global.postgresqlUrl=
             --set rabbitmq-ha.enabled=false `
             --set rabbitmq.enabled=true `
             --set ingress.enabled=true `
             --set ingress.hosts[0]=
             --set server.service.type=L

[2019-01-14 22:00] felipeac commented on #125
@eldada - I'm gonna test it also :)

[2019-01-16 06:20] eldada commented on #160
@DDSloan96 - Does @jainishshah17 's suggestion solve this for you?

[2019-01-16 08:14] #125 closed

[2019-01-16 10:35] Mugenprime commented on #175
Hi @eldada sorry for the late reply below is the values:

helm install --name xray
--set common.masterKey=012345678
--set mongodb.enabled=true
--set postgresql.enabled=false
--set global.postgresqlUrl=postgres://name:password@hostname:port/Database?sslmode=disabled
--set rabbitmq-ha.enabled=false
--set rabbitmq.enabled=true
--set ingress.enabled=true
--set ingress.hosts[0]="custom hostname"
--set

[2019-01-16 12:12] eldada commented on #175
Try wrapping the value of `global.postgresqlUrl` with quotes.
`--set global.postgresqlUrl='postgres://name:password@hostname:port/Database?sslmode=disabled'`.
Let us know if it helps.

[2019-01-16 17:35] CarpathianUA opened #181 "binarystore.xml is not updateable after initial helm install of artifactory-ha"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**Version of Helm and Kubernetes**: Helm v2.11.0, Kubernetes v1.10.11

**Which chart**: artifactory-ha:8.7.0

**What happened**: binarystore.xml is not updateable after initial ```helm install``` command

**What you expected to happen**: binarystore.xml is propagated from /artifactory_extra_conf to /var/opt/jfrog/artifactory/etc on ```helm upgrade

[2019-01-18 14:51] Mugenprime commented on #175
@eldada will try to test this out over the weekend and let you know.

[2019-01-18 16:19] Mugenprime commented on #175
Also is there currently any way to change any of the PVC's of the services?

[2019-01-18 19:45] patbat95008 opened #183 "Azure blob storage needs to be cluster-azure-blob-storage in HA chart"
**Is this a request for help?**:
No. It is an bug report.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
This is a bug report, as one of the chart files is not correctly configured.

**Version of Helm and Kubernetes**:
N/A - The issue is with the Artifactory configuration settings

**Which chart**:
charts/stable/artifactory-ha/

**What happened**:
The Azure storage provider confi

[2019-01-19 00:40] felipeac commented on #183
Hi @patbat95008 . It's Felipe here. We've discussed about this issue earlier.
I can create a PR with this change.
Thank you for opening the issue.

[2019-01-19 15:58] eldada commented on #175
Looking forward to hear results.

The 4 xray services do not use PVCs. They don't need persistence. As for the others, you'll need to follow each individual chart's docs.

[2019-01-19 17:38] eldada commented on #183
@felipeac - you are very welcome to submit a PR. We encourage it! 😄

[2019-01-21 12:09] Mugenprime commented on #175
Hi,
I've tried wrapping the value in qoutes, but I'm getting the same error message.
If i remember correctly i had this same issue with Artifactorys HELM chart. I was only able to get around it by using the individual variables for the database instead of the URL.
--set database.type=
--set database.host=
--set database.port=
--set database.user=
--set database.password=
Have you been able to test

[2019-01-21 17:15] eldada commented on #175
For the postgresql error. Can you try and extract the content of the file `/var/opt/jfrog/xray/data/config/xray_config.yaml` from the **xray-server** pod? This file holds the final configuration values.

[2019-01-22 11:17] Mugenprime commented on #175
Hi I'm unable to do this, because I can't get the container up and running. However when i check the Yaml config for the pod it is pulling the exact connection string i sent you.

[2019-01-23 22:36] r0fls opened #188 "Invalid RabbitMQ credentials."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
helm 2.12.0
kubernetes 1.12.3

**Which chart**:
stable/xray

**What happened**:
RabbitMQ reports `PLAIN login refused: user 'guest' - invalid credentials`

**What you expected to happen**:
The helm chart to work out of the box.

**How to reproduce it** (as minimally and precisely as possible)

[2019-01-24 07:22] eldada commented on #188
@r0fls
- Does any of the Xray services report it's unable to connect to RabbitMQ (check pods logs)?
- Does the system keep running?

[2019-01-24 08:17] eldada commented on #175
I just noticed there is a mismatch in your examples. You noted `--set mongodb.enabled=false` and later noted `--set mongodb.enabled=true`.
If you set `--set mongodb.enabled=false`, you must also supply `--set global.mongoUrl=${MONGO_URL}`.

As for your postgresql url - it's valid, and using it on my environment works (not Azure).

Can you check and get back to us?

[2019-01-24 08:32] eldada commented on #175
I opened #189 to fix missing bit about `mongodb.enabled=false` with external MongoDB.

[2019-01-24 09:52] Mugenprime commented on #175
Apologies i sent you the wrong config. During my testing I've set this up with MongoDB.enabled=false and MongoDB.enabled=true to try and isolate the issue. However I can assure you I have tried both and many other different configurations and i seem to get the same error message. It would be helpful if you can confirm whether or not you are also experiencing this issue when connecting to Azure Pos

[2019-01-24 15:33] r0fls commented on #188
@eldada all of the xray pods are crashlooping. Here for instance are the logs from one of the xray-analysis pods:

[code]

The system has not started running successfully.

[2019-01-25 21:30] r0fls commented on #188
Seeing similar problems with postgres and mongodb. When I exec into the postgres container and try to update the password I get:

[code]

[2019-01-25 22:06] jainishshah17 commented on #188
@r0fls Do you have RBAC enabled? Where is your K8S cluster hosted (On-Prem/AKS/GKE)?

[2019-01-25 22:06] jainishshah17 commented on #183
@felipeac We are looking forward to getting PR from you.

[2019-01-25 22:17] r0fls commented on #188
We have RBAC enabled on the cluster but I did not provide any flags to helm when initializing the chart. Our clusters are deployed with kops on AWS, not AKS.

[2019-01-26 00:07] sanjeevkarani opened #191 "Scaling multiple shards for each cluster-node"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2019-01-26 00:09] sanjeevkarani commented on #191
Currently, Artifactory HA charts are limited to single shard per pod and would require additional pods to scale the sharding redundancy.

For example, Currently, setting a redundancy of 6 would also require to scale the 3 node-cluster to 6.

[2019-01-28 17:44] r0fls commented on #188
The values.yaml were from here: https://www.jfrog.com/confluence/display/EP/Installing+on+Kubernetes#InstallingonKubernetes-Xray.1

I've created a repo with the manifests that are installed here:
https://github.com/r0fls/xray-k8s-manifests

[2019-01-28 18:30] #183 closed

[2019-01-31 23:46] karlriley-wsu opened #194 "jfrog/artifactory chart Failed to pull image "docker.bintray.io/jfrog/artifactory-pro:6.7.0""
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report?

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
jfrog/artifactory

**What happened**:
In IBM Cloud Kubernetes, the main artifactory image will not pull.  Getting this error:
Failed to pull image "docker.bintray.io/jfrog/artifactory-pro:6.7.0": rpc error: code = Unknown des

[2019-02-01 04:32] jainishshah17 commented on #194
You will need to do the following:
[code]

[code]

[2019-02-03 10:05] Kasre commented on #188
@r0fls - Can you please share the full CLI command used for deploying this chart?

[2019-02-05 16:44] Xnyle opened #202 "postgres requirement chart is ignoring existingSecret"
I'm trying to convince the "bundled" postgres of the artifactory chart  to always use the same secret as i need that for backing up/restoring pv.

From my values.

[code]

existingSecret is ignored. postgres always creates a new one and uses that.
Creating my own secret before deployment does also not work, cause helm refuses to install in that case:

`Error: release artifactory failed: secrets "a

[2019-02-05 16:49] Xnyle commented on #202
What also confuses me: the postgresChart only has `postgresqlUsername` as parameter in values.yaml but artifactory is using `[postgresql.]postgresUser`. Nontheless this is working, I just don't understand why?

[2019-02-06 06:02] eldada commented on #202
@Xnyle - the values format you set is good for the newer `postgresql` chart. We are using an older version of the `postgresql` chart. Currently it's not possible to pass it an existing secret.
We do have plans to upgrade the `postgresql` to the latest version. No ETA though...

[2019-02-06 07:53] Xnyle commented on #202
Ok, thanks; this is OT and might be a stupid question, but how do I access the sources of an old version without having to parse a helm repository xml & unpacking some tgz? This seems a bit user-un-friendly?

If you update the chart, please also extend the documentation on how to get internal derby running. I wasn't able to, as the wait-for-db init pod always was waiting for the nonexistent pg pod

[2019-02-06 09:37] eldada commented on #202
1. For seeing the chart, use `helm fetch stable/postgres --version 0.9.5`. You will still have to extract it. See details in [helm fetch doc](https://github.com/helm/helm/blob/master/docs/helm/helm_fetch.md).
2. To run with embedded Derby, just need to pass `--set postgresql.enabled=false` to the install command. The Derby is not the default.

[2019-02-06 09:50] Xnyle commented on #202
Regarding `postgresql.enabled=false` I tried that numerous times, also adding `database.type: derby`. But pod never started.
After completely deleting my NS today it worked, probably some helm (stale config or something) bug.
Anyway, thanks.

[2019-02-06 09:50] #202 closed

[2019-02-06 14:24] CarpathianUA commented on #181
Any updates?

[2019-02-06 14:50] eldada commented on #181
@CarpathianUA - your observation is correct, and is behaving as designed. The `/artifactory_extra_conf/` was originally meant for bootstrapping and not for updating.
We are discussing the correct behaviour here as some files should not be updated on an upgrade/restart.
Your request is valid.

[2019-02-06 14:51] eldada commented on #194
@karlriley-wsu - did this resolve your issue?

[2019-02-06 14:58] CarpathianUA commented on #181
@eldada thanks for an update!
We really need to have a possibility to update config without full chart redeployment :)

[2019-02-06 16:28] karlriley-wsu commented on #194
I believe it will, but I am having to work through an IBM support ticket to get it working on IBM Cloud Kubernetes.  I’ll reply once I can confirm.
Thanks for checking in.

Karl

From: Eldad Assis <notifications@github.com>
Sent: Wednesday, February 6, 2019 6:51 AM
To: jfrog/charts <charts@noreply.github.com>
Cc: Riley, Karl <karl.riley@wsu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-02-13 12:44] mzupan opened #208 "stable/artifactory external postgresql DB not working"
**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

jfrog/artfactory

**What happened**:

I'm setting this as my values.yml override.

[code]

**What you expected to happen**:

I expect it to connect to the external postgres RDS instance

I'm seeing the following in the logs.

[code]

My stateful set env vars look ok

[code]

[2019-02-13 12:49] mzupan commented on #208
and I just read the log and noticed the old PVC was still created and being used

[2019-02-13 12:49] #208 closed

[2019-02-14 16:35] r0fls commented on #188
After switching to the chart from the official jfrog release, this is working. Thanks!

[2019-02-14 16:35] #188 closed

[2019-02-14 18:38] eldada commented on #188
Good idea. Stick with the official charts 😄
Thx for the update.

[2019-02-21 08:14] eldada commented on #181
@CarpathianUA I have an idea on this. I'm looking into keeping this backwards compatible. Hope to share it in a few days.

[2019-02-21 21:36] opsroller opened #223 "NGINX container fails to get updated configuration from Artifactory upon upgrade. Version 6.8.2"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

**Which chart**: jfrog/artifactory-ha

**What happened**: When upgrading via Helm, my updated NGINX containers fail to download the NGINX configuration snippet from artifactory.

**What you expected to happen**: The configuration downloads, validate

[2019-02-24 05:43] eldada commented on #223
@opsroller - there is a bug in the new Nginx Docker image (released in 6.8.0). It's missing the `curl` tools, which is used to pull the Nginx config from Artifactory.
A fix is supposed to be released in the coming days.
Until a fix is released, you can use the older Nginx image with the new Artifactory version.
Set `nginx.image.version` to `6.7.3` (last good Artifactory Nginx version). The update

[2019-02-24 06:16] #171 closed

[2019-02-25 21:17] nihalreddy28 opened #224 "Implement logging sidecars for all of the services (Distribution, Xray, Artifactory Edge and Mission Control)."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

  Implement logging sidecars for all of the services (Distribution, Xray, Artifactory Edge and Mission Control). This is similar to what has been already implemented for Artifactory in the following pull request https://github.com/jfrog/charts/pull/206

[2019-03-01 05:24] eldada commented on #224
JFMC pull request #226

[2019-03-04 13:27] eldada commented on #194
@karlriley-wsu - do you have an update?

[2019-03-04 13:29] eldada commented on #173
@jainishshah17 - was this done?

[2019-03-05 11:13] #224 closed

[2019-03-06 22:45] vital4ik commented on #78
i have tried it and it is not fixed.
there are 2 different issues.
1. if i still want to use postgres but external  - db.properties is not updated  and still tries to go for the pod with postgressql
2. when switching to mysql i get the following:
ERROR: /var/opt/jfrog/artifactory/etc/db.properties already exists and is set to a DB different than mysql
no matter if i change it in the values file or

[2019-03-07 00:11] jshrack-ssi opened #232 "existingClaim in Artifactory again broken"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 2.11 1.10.1

**Which chart**: artifactory

**What happened**: Use of existingVolumeClaim once again appears to break deployment of the Artifactory helm chart with error:

Warning  FailedCreate  6s (x6073 over 2d)  statefulset-controller  create Claim

[2019-03-07 06:07] eldada commented on #78
@vital4ik - the `db.properties` is created on initial install and is persisted without being updated between upgrades (intentional behaviour). If you want to update it, you have to manually change it.
Was your attempt on a clean install or upgrade?
Also, please share the config you tried.

[2019-03-07 14:30] rimusz opened #233 "Move `securityContext` to container level"
Currently all charts `securityContext` have in deployment/statefulset spec level which breaks Istio proxy injection container work., moving `securityContext` to container level will sort the problem.
[code]

[2019-03-07 14:46] vital4ik commented on #78
@eldada thank you for your reply, i found out that when i do helm delete --purge it does not delete the PVC volumes. when i manually deleted and reinstalled using the template it worked.
one thing to mention, if possible add SSL value into the values file for mysql 5.7 and above and into the template.I had to specify the URL in order to work over it instead of host/port values.

[2019-03-07 15:08] eldada commented on #78
Thx for the update @vital4ik. Adding support for SSL to DB config is planned to be added in the future.

[2019-03-10 05:55] #232 closed

[2019-03-11 22:34] mshivanna opened #238 "Distributor container trying to connect to bt-distributor-redis instead of localhost"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:

helm version
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
**Which ch

[2019-03-11 22:34] mshivanna commented on #238
2019-03-11 22:11:18,277 [main] [ERROR] (c.j.b.f.j.c.SingleJedisConnectionHolder:-1) Failed to connect Redis: java.net.UnknownHostException: bt-distributor-redis

[2019-03-11 22:44] mshivanna commented on #238
Had stale configs from my previous deployments... my bad

[2019-03-11 22:44] #238 closed

[2019-03-11 22:51] danielezer opened #239 "Mission control chart can't be installed using the --wait flag"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
all versions

**Which chart**:
mission-control

**What happened**:
When installing mission-control using the helm chart, the resources will never be stable because the hook that created the mongo users does not run. That happens because, according to the helm

[2019-03-11 22:58] danielezer commented on #239
Never mind, I see that the hook is already not used. Closing this issue

[2019-03-11 22:58] #239 closed

[2019-03-12 06:50] eldada commented on #239
This was one of the reasons we remove the hook 😉

[2019-03-12 20:11] #173 closed

[2019-03-13 22:36] CarpathianUA commented on #181
Hello JFrog, is there any updates?

[2019-03-14 07:32] eldada commented on #181
Sorry @CarpathianUA . No updates yet.

[2019-03-14 13:11] nimerb opened #242 "Add support to allow the import of SSL certs to Artifactory Helm chart"
FEATURE REQUEST

Add support to the Artifactory Helm chart to allow users to use Java trustStore to perform SSL handshake (CA trusted) between Artifactory and different applications.

For example:
Implement a SSL between Artifactory and LDAPS using self signed certificates that are imported to Java trust store using keytool.

[2019-03-14 15:44] danielezer commented on #21
@eldada I think it would be a good idea to either remove the option for persistence in the artifactory-ha chart or to use a StatefulSet instead to avoid issues like this one - especially if we couple the artifactory.node.replicaCount with the number of nginx containers. WDYT?

[2019-03-14 17:42] eldada commented on #21
We will not allow persistency if nginx replica count > 1. We will not couple the number of replicas with Artifactory to provide control and flexibility to users. #243 should fix this.

[2019-03-14 20:39] rimusz commented on #233
awesome!

[2019-03-14 22:15] rimusz opened #245 "Add artifactory-ce support"
Add support for [Artifactory Community Edition for C/C++](https://blog.conan.io/2018/03/27/Announcing-JFrog-Artifactory-Community-Edition-C-C++.html) in https://github.com/jfrog/charts/tree/master/stable/artifactory

[2019-03-15 04:17] eldada commented on #245
Done with #246

[2019-03-15 04:17] #245 closed

[2019-03-15 08:44] eladh opened #247 "Artifactory Helm install failed - remove-lost-found init error"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
Kubernetes - 1.11.7-gke.4

Helm Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Helm Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeS

[2019-03-15 11:00] eladh commented on #247
@eldada - i also see a similar behaviour in distribution

[code]

[2019-03-15 16:03] danielezer commented on #247
This still isn't working. There's issue with the permissions on the filesystem. The securityContext in the container level does not apply to the volumes. I am trying to fix that, might need to revert though

[2019-03-15 21:45] danielezer commented on #247
fixed in #249

[2019-03-15 21:45] #247 closed

[2019-03-18 15:31] sylus opened #252 "Artifactory admin-user support for bootstrap.creds"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**: 1.13.2

**Which chart**: Artifactory

**What happened**:

Would like to add support for bootstrap-creds

https://jfrog.com/knowledge-base/how-to-change-the-default-password-for-access-admin-user

**What you expected to happen**: N/A

**How to re

[2019-03-18 18:04] #37 closed

[2019-03-18 23:30] #21 closed

[2019-03-19 16:26] zendril opened #253 "support existingclaim for artifactory-ha again"
**Is this a request for help?**:
No. I can submit PR to put back in if necessary.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm: 0.11.11

**Which chart**:
stable/artifactory-ha

**What happened**:
between 0.11.3 and 0.11.11 the existing claim concept was removed.

**What you expected to happen**:
This should remain in addition

[2019-03-19 19:49] eldada commented on #253
@danielezer actually submitted a fix to this in #237. Can you check? Isn't it working as expected?

[2019-03-19 19:52] danielezer commented on #253
@eldada @zendril this is supported and should work. There are instructions in the README of the artifactory-ha chart. You can create claims beforehand with specific names and they will be used

[2019-03-20 03:07] zendril commented on #253
@eldada @danielezer Reading through the code I'm not seeing where this is honored. I only see the volumeclaimtemplate being populated when .existingClaim is false. I can't find where the volumeclaim is specified or a selector used when .existingClaim is set to true. Can you link to the code line?

Either way I'll give it a try tomorrow.

Also,

I think there is also conflicting information in the

[2019-03-20 03:12] zendril commented on #253
I do see it still explicitely supported in the non-ha chart:
https://github.com/jfrog/charts/blob/master/stable/artifactory/templates/artifactory-statefulset.yaml#L302-L306

[2019-03-20 05:02] danielezer commented on #253
@zendril you are right, there's a contradiction between the values file and the README. The example you should follow is this one - https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/README.md#existing-volume-claim.

The implementation for using an existing volume claim is different in the artifactory-ha chart and in the artifactory chart.

The artifactory chart implementation is pr

[2019-03-20 13:37] #194 closed

[2019-03-20 13:41] eldada opened #257 "[Feature] Support custom sidecar containers"
As a user, I'd like to be deploy a custom sidecar container in the Artifactory pod to be used for cases like log collection, proxy, monitoring etc.

Add an option to create a custom sidecar by using the `values.yaml` configuration. Similar to what we did by adding `customInitContainers` and `loggers`.

[2019-03-20 13:55] eldada commented on #158
@amithins - can you take this? It's a small fix to the entrypoint script.

[2019-03-20 15:52] zendril commented on #253
@danielezer Thanks for the more detailed description.

Ok, I see where you were heading with the default naming (magic).

This still presents a problem for us.

The setup we were envisioning:
- Semi-persistent rbd (ceph) storage and pvc for each primary & member to hold the artifactory instance, masterkey, logs, etc.. (artifactory.persistence.mountPath)
- NAS attached via a PV and PVC (precreated)

[2019-03-20 16:03] danielezer commented on #253
@zendril That's the way it works in the artifactory chart. In the artifactory-ha chart its impossible because there's more than one replica. Since there's more than one replica, you can't use names for the persistent volume claims because they would usually be different volumes claims for each pod in the StatefulSet

[2019-03-20 16:19] zendril commented on #253
Are you saying it isn't possible (in artifactory-ha chart) to have:
- dynamic PVC for each replica to host artifactory.persistence.mountPath
- existingClaim to share across all replicas to host artifactory-ha-data

[2019-03-20 16:48] danielezer commented on #253
@zendril Dynamic PVC for each replica is supported now. Using the same existing claim for all the nodes in the cluster is also supported in artifactory-ha by using the nfs option by not with a predefined claim. We can add that capability if you feel you need that

[2019-03-20 16:57] danielezer commented on #253
This will of course have to be a volume with readWriteMany access. Is that what you mean? @zendril

[2019-03-20 17:16] zendril commented on #253
@danielezer Yes, that's correct.

We tested this (limited testing of course) with 1primary/2member setup today and it seems to work fine.
Basically we used the nfs implementation, but plugged in a predefined claim.

Even this part will be acceptable (to follow convention, vs having to pass in a custom claim name)
[code]

Unless you think its faster for you to do it, I can raise a PR for it.

You h

[2019-03-20 18:04] danielezer commented on #253
I think the best way to achieve that is to use a pre-defined PVC with readWriteMany access. Doesn't have to be NFS. I would start digging in to that today

[2019-03-20 18:22] zendril commented on #253
Correct. The intention is to use a pre-defined PVC with readWriteMany access.

So since it doesn't have to be NFS that means we probably go with another entry for
[code]
and essentially implement the semantics of `artifactory.persistence.type.nfs` without a corresponding `artifactory-nfs-pvc.yaml`.

I love it when a plan comes together. :smile:

[2019-03-21 08:17] rihtak06 opened #261 "502 bad gateway error when pulling the image"
When i do` helm install jfrog/xray`  I got
Failed to pull image "docker.bintray.io/jfrog/xray-analysis:2.7.3": rpc error: code = Unknown desc = error pulling image configuration: received unexpected HTTP status: 502 Bad Gateway
 and when i try `docker pull docker.bintray.io/jfrog/xray-server:2.7.3` ,
I got

[2019-03-21 08:40] eldada commented on #261
@rihtak06 this is related to issues with Bintray. Not related to the helm charts. Working on it.

[2019-03-21 08:40] eldada commented on #261
See https://status.bintray.com/

[2019-03-21 18:13] danielezer commented on #165
proxy_http_version 1.1 was added

[2019-03-21 18:14] #165 closed

[2019-03-21 18:49] jainishshah17 commented on #257
Please add support to overwrite user for sidecar containers as well.

[2019-03-21 19:47] #257 closed

[2019-03-22 04:25] amithins commented on #158
This was fixed as part of #217 .

[2019-03-22 04:25] #158 closed

[2019-03-22 04:36] #261 closed

[2019-03-22 08:46] #160 closed

[2019-03-22 14:08] zendril commented on #253
@danielezer @eldada @jainishshah17
I submitted a PR for this, but before we merge it there may be another change we'd like to put in.

This will support a single, pre-existing claim.

In our case, we can only provision ~20TB of nas at a time. We would like to provision multiple of these (because in one instance we have ~100TB of artifacts). How would this work with binarystore and sharding?  There

[2019-03-22 15:45] danielezer commented on #253
@zendril the default binarystore configuration is sharding. If you create the PVCs before deploying with the expected names. Artifactory will use those and shard your data

[2019-03-22 18:04] #252 closed

[2019-03-22 19:16] zendril commented on #253
@danielezer Sorry for being dense, trying to get up to speed on the sharding but want to make sure I understand and can implement and test it before finishing the PR.

If I have 2 PVC for the data, I can have something like this in the binarystore:
[code]

But where do I actually point the HA_DATA_DIR and the volumeMount for each PVC?

I can't just volumeMount  2 different PVCs at the same `/var/o

[2019-03-22 19:20] danielezer commented on #253
@zendril no problem. Each replica in your StatsulSet will have a different PVC, that's the default behaviour using the volumeClaimTemplates. The binarystore is already configured by default for sharding the three PVCs. If you create the PVCs with the appropriate names in advance, the release will pick it up and use those for the storage. The binary data will be sharded across the nodes, since it i

[2019-03-22 21:21] danielezer commented on #181
@eldada how about moving binarystore.xml out of the /artifactory_extra_conf/ directory and copying it over to the etc/ directory on startup?
I can implement that if you think that's a valid solution

[2019-03-24 05:48] eldada commented on #181
@danielezer , @CarpathianUA - I'm thinking of the following solution that will keep backwards compatibility (this is critical).
- Keep mounting files to `/artifactory_extra_conf/` as before
- Keep a list of files that should also be copied from `/artifactory_extra_conf/` to `ART_DATA/etc/` on every start
- Run over this list and copy the set files right before the `preStartCommand` execution
[code

[2019-03-24 14:38] zendril commented on #253
@danielezer It did. That and some other digging helped and I have it all
working as of yesterday. I'll clean up and update the PR most likely
tomorrow.

[2019-03-25 20:24] danielezer commented on #181
ok, sounds good. Where would you want that list to be? In the helm chart/as an environment variable?etc...

[2019-03-25 20:28] danielezer commented on #181
What do you think about moving the binarystore to another directory instead of using /artifactory_extra_conf? I think that there's no downside to copying the binarystore on each Artifactory startup. I agree that for some of the other files in that directory it could be an issue, but I think that for the binarystore it should be ok

[2019-03-25 22:53] danielezer opened #268 "auto-generate password for mission-control DB users be default"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
all versions

**Which chart**:
mission-control

**What happened**:
need to supply values for the database users password

**What you expected to happen**:
default values for database users passwords

**How to reproduce it** (as minimally and preci

[2019-03-26 06:46] eldada commented on #181
That would work but I'm worried about customers that might have already tied an automated process to the current location. This is why I suggested the extra move. Keep existing functionality and add on top of it.

In the `values.yaml` as a commented out block + documentation in README

[2019-03-26 08:30] CarpathianUA commented on #181
Hi @eldada, it works for us.
Actually we started to use preStart command to be able to achieve required result.
But if it's possible, I would rather go with more native way of sysncing binarystory.xml, e.g. move it to another location as @danielezer suggested.

[2019-03-26 17:17] danielezer commented on #181
ok @eldada. I'll start working on that when I have some time

[2019-03-26 17:34] daniyalj opened #271 "Running artifactory HA helm charts on OpenShift"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

We are a customer of Artifactory HA. I am wondering if anyone has deployed these helm charts on OpenShift?

[2019-03-26 23:32] danielezer commented on #271
Hi @daniyalj

[2019-03-27 00:15] #271 closed

[2019-03-27 07:46] #268 closed

[2019-03-27 07:47] eldada commented on #242
We are working to add this functionality in the Docker image and then add support for it in the helm chart.

[2019-03-27 11:40] eldada commented on #223
This is now fixed with https://github.com/jfrog/charts/pull/269

[2019-03-27 11:40] #223 closed

[2019-03-27 16:26] majwang opened #274 "Upgrade Xray with Helm from 2.6.0 to 2.7.3 fails"
Upgrading Xray with helm fails with authentication failures against the databases.

Steps to reproduce:
-install Xray: helm install --set common.xrayVersion=2.6.0 xray jfrog/xray
-upgrade Xray: helm upgrade --set common.xrayVersion=2.7.4 --set xray jfrog/xray
-see that the xray-server fails to connect to mongo with invalid credentials

To resolve this issue, you have to exec into each container, g

[2019-03-28 07:06] eldada commented on #274
@majwang - this seems like it's a documentation gap.
For upgrading a release that was deployed with the auto generated password, you must extract them before running the upgrade.
See [decoding-a-secret](https://kubernetes.io/docs/concepts/configuration/secret/#decoding-a-secret).

[2019-03-28 07:07] eldada commented on #274
@danielezer - can you test this, try to resolve the RabbitMQ issue and fix the documentation and add the need to get passwords before an upgrade (if auto generated passwords were used).

[2019-03-29 02:50] majwang commented on #274
I think figured it out. I was setting the password with --set during the upgrade for rabbitmq, not rabbitmq-ha.

[2019-03-30 18:43] #181 closed

[2019-04-01 10:23] eladh opened #280 "Install More than one artifactory on the same K8s namespace using the same DB"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Gcp
**Which ch

[2019-04-01 17:43] eldada commented on #58
@amithins - can you see if this is still relevant?

[2019-04-01 21:56] danielezer commented on #274
@eldada still want me to take a look?

[2019-04-01 21:57] majwang commented on #274
I think we still need to update our documentation. There have been a few cases of issues related to the DB passwords on upgrades so far.

[2019-04-01 22:19] danielezer commented on #274
This should fix this issue, when merged: https://github.com/helm/helm/pull/5290

[2019-04-02 05:23] eldada commented on #274
@danielezer - can you just suggest a documentation fix?

[2019-04-02 05:39] eldada commented on #280
@danielezer - this is easy to reproduce.
[code]
Setup the first Artifactory and you'll see the second one is also set...

Can you take it with @eladh ?

[2019-04-02 05:43] danielezer commented on #274
@eldada sure I’ll start working on that tomorrow

[2019-04-02 05:44] danielezer commented on #280
@eldada sure

[2019-04-02 11:15] jrushto1 opened #284 "Artifactory helm chart not working"
This is a request for help! I've been struggling with this for a couple of days and nothing I seem to try works. The nginx pods have a minimum availability error and I get a 404 error when trying to access artifactory.

Helm version: 2.13.1
Kubernetes version:
  - client: v1.13.4
  - server: 1.11.7-gke.12

Chart version: 7.13.0

Run using the command
```helm install --name artifactory --version 7.

[2019-04-02 13:15] eldada commented on #284
@jrushto1 - I ran the same command with your provided yaml. All pods came up properly and I was able to access Artifactory on the external IP created for me.
Can you share the URL you are trying to access?

[2019-04-02 13:46] jrushto1 commented on #284
@eldada I'm attempting to access on https://artifactory.kube.jlr-ddc.com.

[2019-04-02 13:53] eldada commented on #284
Looks like the error you get
[code]
Is coming from the ingress. I missed it. I was actually accessing the nginx public IP I got.
Can you also try to disable nginx in your `values.yml`
[code]

[2019-04-02 14:04] jrushto1 commented on #284
@eldada I've disabled nginx and I'm still getting a 404 default backend error.

[2019-04-02 14:23] eldada commented on #284
@jainishshah17 - can you have a look?

[2019-04-02 16:40] jainishshah17 commented on #284
@jrushto1 can you provide the output of `kubectl describe ing $INGRESS_NAME`.

[2019-04-02 16:41] jainishshah17 commented on #284
@jrushto1 What ingress controller are you using? e.g `nginx-ingress`

[2019-04-02 20:41] danielezer commented on #274
@eldada @majwang this is more than a documentation fix. I will work on that. For example in mission control, I think it would be cool if when the passwords for the mission control users in the secret change, we will update the user with that new password. Currently this is not supported since the script checks if the user exists, and if so, it does not do anything. Anyway, I will work on fixing th

[2019-04-03 00:49] zendril opened #286 "[Proposal] Upgrade postgresql chart dependency (for artifactory and artifactory-ha) to get securityContext and pgsql 10.x"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**:
artifactory and artifactory-ha

**What happened**:
We currently pull in a really old version of the postgresql chart which is 9.x postgresql install.

This is an issue because these older versions of the chart do not support secu

[2019-04-03 05:20] #253 closed

[2019-04-03 05:54] eldada commented on #286
We are sticking with PostgreSQL 9.6.11 for now as it's aligned across our products for now.
It would be great to get the new PG chart to support the 9.6.11 image version.
If you can try it (probably needs some adapting) and let us know, we'll be happy to enjoy these new features.

[2019-04-03 06:40] amithins commented on #58
This support was added as part of #273 .

[2019-04-03 06:40] #58 closed

[2019-04-03 06:52] eldada commented on #286
I did a quick check and tested the latest helm chart version (postgresql-3.16.0) with a tag `9.6.11`
[code]
And it seems to work properly.
It also uses a StatefulSet for PostgreSQL, which is much better for us.

Do you want to try and plot a migration for existing chart (0.9.5) to (3.16.0)? This is the tricky bit 😉

[2019-04-03 07:32] jrushto1 commented on #284
@jainishshah17 the output from kubectl describe ing $INGRESS_NAME is

[code]

[2019-04-03 07:47] jrushto1 commented on #284
@jainishshah17 I think we're using the default ingress controller deployed with our Google Kubernetes Engine [link here](https://github.com/kubernetes/ingress-gc)

[2019-04-03 08:16] eldada commented on #284
@jrushto1 - can you list services in this namespace?
```kubectl get svc```
Do you have a service named `artifactory-artifactory`?

[2019-04-03 08:23] jrushto1 commented on #284
@eldada there is a service called artifactory-artifactory
[code]

[2019-04-03 08:31] eldada commented on #284
The IPs are different between the service and the ingress' resolving of the default backend. Strange... 🤔

[2019-04-03 09:29] jrushto1 commented on #284
That is strange! Although I still can't get on to the homepage even if I port forward on the artifactory-artifactory service

[2019-04-03 09:45] zendril commented on #286
Yeah, good thought, that will work as well.

I'm doing sort of a hybrid right now as I'm deleting the 0.9.5 version of the chart and pulling 1.0.0 and then just adding in my securityContext in a custom template override while still using 9.6.x version of pgsql.

Any pointers/tips I should be looking for that you think might be tricky about moving from 0.9.5 to 3.16.10?
Is there something I need to

[2019-04-03 10:32] eldada commented on #284
Does port forwarding to the pod itself work (to port 8081)?

[2019-04-03 10:49] eldada commented on #286
I think the biggest challenge is the move from Deployment to StatefulSet, which means the storage will not be upgraded easily.
Maybe a solution will be to pass the previously created PVC to the new postgresql chart as `persistence.existingClaim` for upgrades.
If you just run an upgrade of 3.16.0 over 0.9.5, the existing PV and PVC are removed and new ones are created... tricky.

[2019-04-03 11:33] jrushto1 commented on #284
It does not I still get the 404 error. Could it be due to the postgresql deployment? just checked the logs and got this back
[code]

[2019-04-03 12:49] eldada commented on #284
Yes! This could very much be the issue. Can you check Artifactory pod logs? (we should have started there)

[2019-04-03 12:56] jrushto1 commented on #284
Ah there seems to be a quite a large stack trace error! Again around the password authentication [artifactory-logs.txt](https://github.com/jfrog/charts/files/3038708/artifactory-logs.txt)

[2019-04-03 14:45] properpanda opened #287 "Configuring userPluginSecrets causes initialization issue due to artifactory_extra_conf not loaded"
a bug was introduced with PR#278 (https://github.com/jfrog/charts/pull/278/)  specifically commit:
https://github.com/jfrog/charts/pull/278/commits/cb2316d1985a58999faf126aca67a1dbab6d2572

We have seen behaviour when using userPluginsSecrets such that when configuring a userPluginSecret, a command gets added to the template that creates an /var/opt/jfrog/artifactory/etc folder.

during initializa

[2019-04-03 16:30] jainishshah17 commented on #284
@jrushto1 From the log it's clear that your Artifactory is not running properly. It says Artifactory was unable to talk to the database using the password provided. Looks like you have reinstalled Artifactory without removing PVCs. If this is a fresh Instance I recommend to reinstall clearing PVCs. If not get correct DB password and perform helm upgrade with `--set postgresql.postgresPassword=$PAS

[2019-04-03 16:31] jainishshah17 commented on #69
@eldada Do we want to keep this open till we add this feature in all charts?

[2019-04-03 18:58] properpanda commented on #287
I looked at a couple fixes, the most straight forward fix would be to be able to write to the /tmp/plugins directly, but unfortunately that directory on the artifactory-pro:6.9.0 image is drwxr-xr-x root/root.  If we can open the permissions to allow non-root groups to write to it, then the userPluginsSecrets will work with minor adjustments

the alternative solution was to mount a volume on top o

[2019-04-03 19:25] jainishshah17 commented on #287
@properpanda How about mount pluginSecrets to `/tmp/plugin` and then copy them to `/tmp/plugins` using preStartCommand so that Entrypoint can move it over to `ART_HOME/etc/plugins`?

[2019-04-03 20:35] properpanda commented on #287
as mentioned above, /tmp/plugins is not writable, unless you mount a volume on it but then you lose internalUser.groovy plugin that exists in there from the image

[2019-04-04 05:14] eldada commented on #69
@jainishshah17 - Yes. I'll reopen this.
@zendril - Can you add this functionality in other charts?

[2019-04-04 07:35] jrushto1 commented on #284
@jainishshah17 Thanks! I found the issue on this thread https://github.com/jfrog/charts/issues/63#issuecomment-441125905. The artifactory-volume-artifactory-artifactory-0 pvc does stick around after running
```helm del --purge artifactory```
I can now successfully launch artifactory! Thanks for your help! I was beginning to pull my hair out.

[2019-04-04 07:35] #284 closed

[2019-04-04 10:03] zendril commented on #287
@jainishshah17 @eldada Who or what team has the access to modify the Dockerfile (or whatever you all are using to build the artifactory_pro image)? Would like to discuss getting this small change (chown /tmp/plugins to artifactory) in that build.

I assume that part isn't open sourced anywhere is it?

[2019-04-04 14:03] eldada commented on #287
@zendril - I have access to it and I already added this fix to an internal branch we have. Will be released with one of the coming versions.

[2019-04-04 14:33] #274 closed

[2019-04-04 15:00] danielezer commented on #280
@eladh @eldada I can't reproduce this issue. Installing two Artifactory releases in the same namespace works for me. Can you please provide me with some more details?

[2019-04-04 16:41] jainishshah17 commented on #280
@eladh Are you using same artifactory license in both Artifactory releases? AFAIK that's the only case when you will get `JFMC resulting license duplication`.

[2019-04-04 17:58] eldada commented on #280
I was able to reproduce this with just one license that I installed to `aaa`. Then, after installing `bbb`, the UI of `bbb` pointed to `aaa`'s Artifactory.
Once you go to Admin -> System Info, you'll see the same DB.

[2019-04-04 22:00] jainishshah17 commented on #287
@properpanda @zendril This fix removed `internalUser.grovvy`.

[2019-04-04 22:38] eladh commented on #280
@jainishshah17 So the same behaviour as @eldada mention - same when added a new repository on artifactory x saw the same repo on artifactory y

[2019-04-04 23:03] jainishshah17 commented on #280
I am not able to reproduce it either.

[2019-04-04 23:07] jainishshah17 commented on #280
@eladh Can you describe psql deployments of both releases?

[2019-04-05 19:36] patbat95008 opened #293 "Update ReverseProxyConfiguration.md documentation with customization steps"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
This is a "Bug" Report for the information contained within the GitHub repo's documentation.

**Version of Helm and Kubernetes**:
N/A

**Which chart**:
Artifactory-HA

**What happened**:
Spinning up a Kubernetes cluster with a standard Artifactory-ha Helm chart did not allow a user to customize the Nginx reverse proxy, even after foll

[2019-04-05 20:26] scphantm commented on #286
I am building out a brand new system, OKD 3.11 and encountered this.  the published helm for artifactory is useless for me because corp policy won't let me run anything root.  If i install postgres manually using the latest postgres helm, then run the helm for artifactory, will artifactory see postgres is already there and hook up everything properly?

[2019-04-05 20:35] jainishshah17 commented on #286
@scphantm You can use https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#use-an-external-database

[2019-04-06 15:03] eldada commented on #293
@jainishshah17 - can you update the examples with templates and add instruction on extracting the names as @patbat95008 noted?

[2019-04-07 07:55] danielezer commented on #280
@eldada @eladh I'm not able to reproduce this issue. I followed your procedure, but everything looks ok.

[2019-04-07 15:01] danielezer opened #296 "mongodb is still installed when installing mission-control"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
ALL

**Which chart**:
mission-control

**What happened**:
when installing mission-control, a mongodb deployment is installed along with it, even though it is not used.

**What you expected to happen**:
mongodb is not installed

**How to reproduce it**

[2019-04-07 15:10] danielezer commented on #296
nvm, ignore this issue. I had the tgz file in my local charts/ directory.

[2019-04-07 15:10] #296 closed

[2019-04-07 15:23] eladh commented on #280
@eldada  @danielezer  @jainishshah17  - I'm unable to reproduce this issue

[2019-04-07 15:23] #280 closed

[2019-04-07 21:43] zendril commented on #233
@danielezer I don't see any context, why is this re-opened?

[2019-04-08 07:28] danielezer commented on #233
@zendril I moved the securityContext to container level and it broke the permissions on the volumes so I reverted it. Now it is back to how it was before, which is at the pod level

[2019-04-08 09:20] #69 closed

[2019-04-08 17:24] scphantm commented on #286
I am trying passing my own values in.  I have a secret with my postgres user/pass in it, and i am passing this values file

[code]

No matter what i do, it fails to start saying that authentication failed for user `artifactory`.  Problem is, thats not the user name specified in the secret.  Its like its not picking up the secret at all and defaulting to `artifactory`

[2019-04-08 19:14] jainishshah17 commented on #286
@scphantm Looks like you have old PVC which is causing this issue.

[2019-04-08 20:07] scphantm opened #297 "License key not found"
**Is this a request for help?**:
yes

i have been struggling with this for days now.  I finally got artifactory to connect to my external postgres ( i had to reinstall postgres container and set the root user as `artifactory` before it would work) but im beyond that.  Now i can't get it to read the stupid license secret.

I generated the secret with the same command line thats in the readme file.

[2019-04-08 20:07] scphantm commented on #297
oh, and when i try to update the license file thru the UI, i get

`Unable to install license. java.io.IOException: File '/opt/jfrog/artifactory/etc/artifactory.lic' exists but is a directory`

[2019-04-09 13:13] scphantm commented on #297
I calmed down and thought about it some more.  I think i see whats happening, i just don't understand why.

[code]

I think something is wrong with the chart and its not capable of reading the `dataKey` value within the secret.  I think its similar to what i encountered with postgres, where it was able to load the secret, but not pull the data.

heres my secret

[code]

all of the secrets this cha

[2019-04-09 18:46] Neumsy commented on #297
Could you post the entire deployment config?

oc describe deploymentconfig

My guess is the mount point is putting the .lic file as a directory instead of one level up.  Is there anything under that directory of artifactory.lic?

[2019-04-09 18:47] scphantm commented on #297
none found, not sure this has a deploy config

[2019-04-09 18:48] scphantm commented on #297
but i do have the pod

[code]

[2019-04-09 18:51] scphantm commented on #297
see the original comment, i did some LS's to those folders

[2019-04-09 19:03] Neumsy commented on #297
Where ever that mount point is created, it shouldn't be a file name.  Here is an example we have of a pod with a secret creating a file under that location:
`   Mounts:
      /config from environment-properties-mydeployment (rw)
      /data from gavc-mydeployment-pv-claim (rw)
      /security from security-gavc-mydeployment (rw)
      /var/run/secrets/kubernetes.io/serviceaccount from default-toke

[2019-04-09 19:06] Neumsy commented on #297
In that config, the /security directory receives all of the files in the secret with that name.

[2019-04-09 19:09] scphantm commented on #297
yea, mine is the same.  my issue is that the secret is being mounted correctly (i can `cat /artifactory_extra_conf/artifactory.lic` and see the license) but for some reason its not being mapped to `/opt/jfrog/artifactory/etc/artifactory.lic` correctly.  there should be symlink, copy function, something that puts it there so the artifactory war file can read it in.  something somewhere is creating

[2019-04-10 08:05] danielezer commented on #297
@scphantm I am able to reproduce this issue. I will try to figure out the root cause and let you know.

[2019-04-10 10:54] danielezer commented on #297
@scphantm The same thing happened to me when I had a typo in the secret name which caused a discrepancy between the name I provided in the values.yaml to the name of the secret I created. When I fixed the typo, everything worked as expected. I would make sure that there's no such typo on your side. If there isn't any, it would be great if you could, as @Neumsy suggested, describe the statefulset (

[2019-04-10 13:31] scphantm commented on #297
yea, checked for type-o's.  none i can find.

[code]

[2019-04-10 13:56] danielezer commented on #297
@scphantm thanks. Can you please post:

[2019-04-10 13:59] scphantm commented on #297
post what?  the values file is in the OP, the statefulset i just posted, what else would you like

here's the secret

[code]

[2019-04-10 14:00] danielezer commented on #297
Sorry @scphantm, updated the comment. Sorry about all the back and forth, its just hard for me to reproduce so I'm trying to get all the details

[2019-04-10 14:14] scphantm commented on #297
oc get statefulset -o yaml
[code]

oc get secret artifactory-license -o yaml

[code]

[2019-04-10 14:49] danielezer commented on #297
@scphantm everything looks ok. I looked inside the entrypoint and saw the following:
[code]

I also looked for the line "Adding files from" in the log files you posted and it doesn't seem to be there.
Please check if you can see the line "Adding files from in the STDOUT of the artifactory container (kubectl logs artifactory-artifactory-0). Also, please post an ls to the /artifactory_extra_conf/ di

[2019-04-10 15:15] scphantm commented on #297
I have the method calls in my log

[code]
but the path is wrong in the log, i think thats a different log entry.

[code]

if i `cat artifactory.lic` i see my license file correctly.

[2019-04-10 15:17] danielezer commented on #297
@scphantm that's a different log entry.  I'm looking for "Adding files from"

[2019-04-10 15:19] scphantm commented on #297
doesn't exist.  Its not getting inside the if statement.

[2019-04-10 15:20] danielezer commented on #297
ok, so please try to evaluate this expression in your container:
[code]

the values of ```ARTIFACTORY_EXTRA_CONF``` is ```/artifactory_extra_conf```

[2019-04-10 15:26] scphantm commented on #297
[code]

[2019-04-10 15:30] scphantm commented on #297
I don't think that method is being called.  My clue is this

[code]

but the log file has

`Adding extra configuration files to /var/opt/jfrog/artifactory/access/etc if any exist`

if the method is being called, then the log should read

`Adding extra configuration files to /opt/jfrog/artifactory/etc if any exist`

seeing if

[code]

[2019-04-10 15:30] danielezer commented on #297
that's weird. please add the following to your values.yaml file:
[code]

exec into the container while the sleep is running and check if the directory is still there with the license file. This will require you to delete the release and the pvc so that we have a "fresh start"

[2019-04-10 15:44] scphantm commented on #297
[artifactory-artifactory-0.log](https://github.com/jfrog/charts/files/3064620/artifactory-artifactory-0.log)

no change.

[2019-04-10 15:46] danielezer commented on #297
@scphantm This is not the same method being called, this is a different method:
[code]

You can read this script from inside your container. Its in /entrypoint-artifactory.sh

[2019-04-10 15:47] danielezer commented on #297
If your'e going to try to use the sleep thing I mentioned, you can also run the entrypoint yourself in debug mode, e.g:
[code]

[2019-04-10 15:49] scphantm commented on #297
now, this is very interesting.  i did this

[code]

and got this at the beginning of my log

[code]

[2019-04-10 15:53] danielezer commented on #297
Is this using the same PVC? its important to note that when you delete a statefulset the dynamically provisioned PVC will not be deleted. You have to explictly delete the PVC using ```kubectl delete pvc <pvc-name>```

So this can still be the same directory on the old PVC, which makes sense

[2019-04-10 15:59] scphantm commented on #297
Ha, deleted the PVC and ran it again

[code]

all morning i forgot to delete the PVC.  ugh.  Maybe me putting the stupid things in quotes did it.  i dunno.

[2019-04-10 16:01] danielezer commented on #297
Cool @scphantm. So is it working now? I do see the logger line in your posted log

[2019-04-10 16:56] scphantm commented on #297
yea, it seems to be working now.  Thanks

[2019-04-11 05:34] eldada commented on #297
@scphantm - Thanks for confirming. I'll close this now.
We have also merged a change (https://github.com/jfrog/charts/pull/294) the adds more options to passing an Artifactory license.

[2019-04-11 05:34] #297 closed

[2019-04-11 10:50] danielezer commented on #286
@scphantm is this still an issue for you?

[2019-04-11 11:00] satyamag opened #303 "Google storage provider with existing bucket"
**Is this a request for help?**:
YES

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

possibly a BUG

**Version of Helm and Kubernetes**:
1.11.7

**Which chart**:
0.4.4 artifactory-ha

**What happened**:

We are trying to activate google storage binary provider. As part of the setup we provision the bucket via terraform and then deploy artifactory ha helm chart.  I have set the <bucket

[2019-04-11 11:08] satyamag opened #304 "GCS buckets integration via service account"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE

Use service accounts to natively integrate google storage buckets.

For using google storage buckets as the binary store the current approach requires the use of the interoperability API which is meant as a means to migrate from AWS. Since it needs to be enabled per user it is not a great solution for ensuring high levels of serv

[2019-04-11 11:10] eldada commented on #303
@satyamag - You are using an old version of the `artifactory-ha` chart (0.4.4). We already have `0.12.13`. Can you test this with the new chart and come back with results?

[2019-04-11 12:59] scphantm commented on #286
i still can't get postgres to install with the artifactory helm.  i just install the 3.17 postgres helm and then use the external database connection.  its a pain but it works.  i see more and more installs that forbid elevated permissions so you really need to upgrade this

[2019-04-11 13:03] satyamag commented on #303
@eldada based on a quick review (please correct me if I am mistaken) looks like the artifactory-binarystore.xml section related to google-storage has not been modified since the initial releases. Have there been other changes between 0.4.4 and 0.12.13 that would affect this issue? If bumping the version is a dependency to fixing this error that would be good to know. It is hard for me to test with

[2019-04-11 13:19] eldada commented on #303
@jainishshah17 - can you hop in and have a look here?

[2019-04-12 00:13] thinkTank15 opened #306 "drop /artifactory from url"
**Is this a request for help?**:
yes

**Version of Helm and Kubernetes**:
Server: &version.Version SemVer:"v2.13.0"

**Which chart**:
artifactory

I am using artifactory with nginx-ingress, the old system I have is configured as http://someurl/webapp

The new system that I am using comes up as https://someurl/artifactory/webapp,
It would be good to maintain consistency among both. I did some resea

[2019-04-12 18:01] jainishshah17 commented on #303
@satyamag I see that you are on an older version which did not have this flag in `binarystore.xml`. I see that even in our new chart we will need to add this (flag)[https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-binarystore.yaml#L115].
As a workaround you can manually change configmap and add this entry and restart all your pod one by one starting with the

[2019-04-12 18:02] jainishshah17 commented on #303
Meanwhile, I will work on adding this flag to our helm charts.

[2019-04-12 18:22] jainishshah17 commented on #304
@satyamag Looks like you will have to create FEATURE REQUEST for this in Artifactory. (Jira)[https://www.jfrog.com/jira/]

[2019-04-12 18:26] jainishshah17 commented on #306
@thinkTank15 Can you provides us more details about Artifactory chart version and Artifactory appVersion that you have deployed. Also what ingress-controller are you using?

[2019-04-12 18:52] thinkTank15 commented on #306
@jainishshah17

chart version is : `artifactory-7.12.11`
app version is : `6.8.7`

as for the ingress-controller I am using, ingress-nginx https://github.com/kubernetes/ingress-nginx

[2019-04-12 19:04] jainishshah17 commented on #306
@thinkTank15 Can you please share your ingress.yaml as well.

[2019-04-12 19:27] thinkTank15 commented on #306
@jainishshah17

`# Source: artifactory/templates/ingress.yaml
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: RELEASE-NAME-artifactory
  labels:
    app: artifactory
    chart: artifactory-7.12.11
    release: RELEASE-NAME
    heritage: Tiller
  annotations:
    ingress.kubernetes.io/force-ssl-redirect: "true"
    ingress.kubernetes.io/proxy-read-timeout: "600"
    ingress.kubernete

[2019-04-12 21:18] yamaguchim opened #308 "nginx keeps crashing with the following error message: nginx: [emerg] host not found in upstream "artifactory"
artifactory version: artifactory-pro:6.9.0

chart: artifactory HA

**What happened**:
![image002 (2)](https://user-images.githubusercontent.com/15268205/56066734-923ea000-5d2d-11e9-8e35-958067771f75.png)

**What you expected to happen**: nginx to identify the changes and run

**How to reproduce it** (as minimally and precisely as possible): kubernetes and baremetal with Metallb as a l2 loadbalance

[2019-04-13 19:01] eldada commented on #308
@yamaguchim - Does this error persist even after pod delete and restart? Or does the nginx restart eventually solve this?

[2019-04-14 07:31] danielezer commented on #286
@scphantm this would be a breaking change as @eldada mentioned. I tested it out and it seems to work fine with passing imageTag = 9.6.11 to the latest chart version, you just have to make sure the previous PVC is not deleted. I don't think this should be changed globally in the chart, since this will cause a lot of upgrade issues for our users, unless @eldada/ @jainishshah17 / @rimusz disagree?

[2019-04-14 13:21] scphantm commented on #286
well, you need to figure it out.  running privileged containers was banned on day one of my previous companies openshift install.  banned at the current one too.  The redhat guys that put our openshift in, said you can not get your container openshift certified if it requires privileged access, and most of their clients ban running privileged.  and since openshift has something like 60-70% market

[2019-04-14 21:10] #303 closed

[2019-04-15 05:07] eldada commented on #286
@scphantm - you are right, and we are aware of this. The current setup is such that you can very easily deploy your own DB (one of the supported ones) anywhere and just configure Artifactory to use it (passing `postgresql.enabled=false`).
As @danielezer mentioned - compatibility is very important to current users, so we are cerful before we introduce breaking changes.
Also, we are looking at way t

[2019-04-15 13:03] Insomniak47 commented on #308
It does not eventually get solved. The pod goes into a crashloopbackoff loop and never comes online

[2019-04-15 13:32] danielezer opened #312 "use a configmap for nginx configuration"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
ALL

**Which chart**:
artifactory and artifactory-ha

**What happened**:
When installing the artifactory and artifactory-ha charts, nginx will fail to start one time because there's a sort of race conditions between the nginx startup and the postS

[2019-04-15 13:32] danielezer commented on #312
@jainishshah17 @eldada @rimusz I created this issue to start a discussion, WDYT?

[2019-04-15 14:45] Lykathia commented on #308
Of note:
Everything works as expected, until SSL is configured.

SSL is stored w/ k8s secrets.

Relevant snippets for repro:

Ansible:
[code]

Config:
[code]

[2019-04-15 16:31] jainishshah17 commented on #312
@danielezer I fixed this in https://github.com/jfrog/charts/pull/307

[2019-04-15 16:40] jainishshah17 commented on #312
@danielezer Documentation for that feature https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#use-custom-nginxconf-with-nginx

[2019-04-15 17:00] eldada commented on #304
@satyamag We already have this feature in development. Hope it's released in one of the coming Artifactory versions. Once released, we'll add it to the helm chart.

[2019-04-15 18:27] danielezer commented on #312
@jainishshah17 what I mean is to use this as the default behaviour. I think its more elegant than the current solution which copies the files from /tmp and uses sed to change the configuration file embedded in the nginx docker image

[2019-04-15 20:00] jainishshah17 commented on #312
If you mean `artifactory.conf` file then we can not directly mount it to `/etc/nginx/conf.d/artifactory.conf`. Because ConfigMap/Secrets are not writable. Which will fail our updateConf logic.

[2019-04-15 20:06] jainishshah17 commented on #308
@Lykathia Have you configured HTTP Settings in Artifactory?

[2019-04-15 20:10] danielezer commented on #312
Yes, I understand that, but is that a deal breaker? I think that using a configmap as it was intended to be used is better than the current implementation. That’s only my opinion of course. I opened this issue to have a discussion. In my opinion the upside of using a configmap directly mounted
to the target path outweighs the downside of loosing the auto conf update feature

[2019-04-15 21:35] jainishshah17 commented on #312
@danielezer I am open for discussion. Let's wait to hear from @eldada and @rimusz

[2019-04-15 22:26] Insomniak47 commented on #308
@jainishshah17
What http settings are you referring to?

(Not just a random person btw. @Lykathia and I are the ones attempting to get a deployment going for this)

[2019-04-16 00:46] satyamag commented on #304
Thanks folks. Great to hear its coming soon. Cheers!

[2019-04-16 05:55] eldada commented on #312
Best practice wise - we should use the direct configMap mount, as this is the recommended way to manage application config in K8s.
The copy and edit in **postStart** using `sed` does look like a hack or a workaround rather than a proper setup.
If we move to using the configMap as the default solution, we'll have to disable the auto config (`nginx.env.skipAutoConfigUpdate=true`). The question is ho

[2019-04-16 06:02] danielezer commented on #312
@eldada what does the auto update really do? I mean, when I change the configuration, the chart itself changes the configuration and there’s logic in the dicker image for reloading?
If that’s the case, we can just update the configuration using the configmap and let the logic in the docker image reload Nginx. We can even add a watchdog for checking the checksum of the nginx configuration and reloa

[2019-04-16 06:19] eldada commented on #312
That would require writing the config changes to the configMap directly? How would you automate this?

[2019-04-16 06:32] danielezer commented on #312
No, because the all changes to the configuration will be done directly on the configmap. I was thinking about exposing the configuration in values.yaml and when a user wants to change the nginx configuration they will simply provide a different value to the nginx.configuration for example. Since it would be directly mounted to the nginx folder, all we would need to do is reload instead of changing

[2019-04-16 08:41] danielezer commented on #308
@Insomniak47 @Lykathia http settings in Artifactory https://www.jfrog.com/confluence/display/RTF/Configuring+a+Reverse+Proxy

[2019-04-16 10:17] eldada commented on #312
I think we can add this as an additional option. Backward compatibility is important here.

[2019-04-16 10:19] danielezer commented on #312
I think it would be backward compatible as I see it

[2019-04-16 11:06] Lykathia commented on #308
@danielezer the artifactory UI is not accessible, since the nginx pod crashes during deployment. Are these settings configurable in the chart?

[2019-04-16 11:45] eldada commented on #312
Go ahead and raise a PR.

[2019-04-16 11:57] danielezer commented on #312
Cool, will start working on that soon. Thanks @eldada @jainishshah17

[2019-04-16 13:17] Insomniak47 commented on #308
@danielezer as @Lykathia said we can't access those because the basic TLS load balancing/reverse proxy setup causes this issue in our cluster. Since we're trying to do this as with an IAC approach I'd rather not bring up the non-tls and then configure it but I could as an interim measure until we figure this out.

We're using all of the same values from values.yaml from a working non-tls, but load

[2019-04-16 15:09] jainishshah17 commented on #312
@eldada User will have to create DNS record with `*.domain` pointing to External IP of nginx service. In terms of configuration for configmap it will look like https://github.com/jfrog/artifactory-docker-examples/blob/master/files/nginx/conf.d/ha/artifactory.conf#L15

[2019-04-17 05:26] #293 closed

[2019-04-18 22:38] jainishshah17 commented on #308
@Lykathia @Insomniak47 Can you provide us helm chart version?

[2019-04-18 22:40] jainishshah17 commented on #308
Also please provide out put of `kubectl describe pod $NGINX_POD` and `kubectl describe deployment $NGINX_DEPLOYMENT`

[2019-04-18 22:43] jainishshah17 commented on #306
Can you try this `rewrite ^/webapp$ artifactory/webapp/ redirect;`?

[2019-04-18 23:30] thinkTank15 commented on #306
@jainishshah17

That did not work :/ ```myhost/webapp``` returns ```404```

Updated Ingress.yaml
[code]

[2019-04-19 15:43] scphantm opened #316 "way to alter context root of tomcat?"
**Is this a request for help?**:
yes

running the latest helm chart, is there the ability to use helm to alter the context root?  I would like my system to use `/` instead of `/artifactory/webapp`.  Because we have our own router and other systems, my OKD install doesn't install NGNix, and we just create a route right to the tomcat server (simplicity, resources, etc).  It doesn't appear that i can

[2019-04-21 06:43] jc-lab opened #317 "createPermission failed exception"
command :
[code]

output (artifactory container log)
[code]

[2019-04-21 07:06] eldada commented on #317
@jc-lab - I tried your setup and had no errors.
- What k8s distribution is this deployed on?
- How is your `mysql` setup?
- Are you using a special storage setup?

[2019-04-21 11:12] jc-lab commented on #317
@eldada
* I using the kubelet in Ubuntu.
* I set up by just above command. and those user has all access granted.

pv yaml
[code]

pvc state json
[code]

[2019-04-21 12:02] eldada commented on #317
How is the `demo-db` MySQL setup?
What version?
Running in K8s? External?
Did you changed the default transaction isolation level?

[2019-04-21 12:52] jc-lab commented on #317
mariadb:10.4 in k8s.
All settings are default.
The default setting is REPEATABLE READ.

[2019-04-21 13:45] eldada commented on #317
For MariaDB, use the mariadb JDBC connector. Not the MySQL one.
Set:
[code]
See if it helps.

As for MariaDB 10.4 - the official helm charts has 10.1 up to 10.2.23. How did you install your 10.4?

[2019-04-21 19:37] jainishshah17 commented on #316
@scphantm See the comment from @KierranM  https://github.com/jfrog/charts/pull/264

[2019-04-21 23:21] jc-lab commented on #317
@eldada
How to change the JDBC Driver?

Below is using the mariadb-java-client-2.4.1.jar driver.
[code]

[2019-04-22 03:45] eldada commented on #317
I forgot to also add
[code]
In the fix I suggested.

BTW - I suggest you give a memory limit a bit higher than the Java Xmx.
[code]
Will better protect you from OOMKill.

[2019-04-22 08:10] jc-lab commented on #317
@eldada

MariaDB version is 10.1.38.
10.2.23 also not working.
What Flyway version?

`org.flywaydb.core.api.FlywayException: Unsupported Database: MariaDB 10.1`
[code]

[2019-04-22 08:40] eldada commented on #317
Ok. I'll take it up with Artifactory dev and keep you updated.

[2019-04-22 12:31] eldada commented on #317
@jc-lab can you try using an older driver for MariaDB
[code]

Make sure to redeploy MariaDB and Artifactory after removing their storage (PVs) so we are sure you have a fresh start...

[2019-04-22 14:45] Lykathia commented on #308
The last chart version I had tried was 0.12.12, altho was happening in earlier as well.

The entire automation suite being used is attached to case #101892.

[2019-04-23 14:59] jc-lab commented on #317
@eldada
Thanks you so mich! Work well!

[2019-04-23 14:59] #317 closed

[2019-04-24 13:33] satyamag commented on #157
@eldada @jainishshah17  Any updates on this request? We are also looking to export the JMX metrics to stackdriver so that we can keep track of metrics listed here https://www.jfrog.com/confluence/display/RTF/Artifactory+JMX+MBeans.

[2019-04-25 09:05] arielkv opened #318 "Artifactory primary/nodes must have at-least 4 cpu"
All Artifactory servers should have minimum 4cpu by default.
As mentioned in the [Artifactory System Requirements](https://www.jfrog.com/confluence/display/RTF/System+Requirements) the minimum number of cores to run Artifactory is 4.

This is highly important in HA clusters. Without having the minimum number of cores unexpected issues will occur.

[2019-04-25 13:06] Insomniak47 commented on #308
@jainishshah17 were you able to get the relevant info from the case?

[2019-04-28 07:49] nimerb commented on #308
@Insomniak47 Can you please provide us with the output of `kubectl describe pod $NGINX_POD `and `kubectl describe deployment $NGINX_DEPLOYMENT` These commands will have more information that will assist in figuring out the issue.

[2019-04-28 18:52] eldada commented on #157
@satyamag - We are a bit low on resources at the moment. You are more than welcome to suggest a PR with initial changes we can start rolling.

[2019-04-29 02:50] suranc commented on #175
I am getting a similar error using an externalized postgres, but bundled mongodb.  Here is what I see:

[code]

The value for my db, obfuscated:
[code]

That's obviously not my password, but it does end in a #.  Could that be interpreted as a special character somewhere along the line?  I would really like to be able to store the host, port, username and password in a secret, and not have to const

[2019-04-29 09:28] danielezer commented on #175
@Mugenprime @suranc I think you both have the same issue. Looks like @suranc and it is an issue with special characters in the URL. We are looking into this internally but for now I can suggest that you try to use a password without special characters

[2019-04-29 11:35] eldada commented on #175
This is indeed a bug in Xray. The inability to handle the `#` char in the DB connection string.
Until this is resolved, do not use passwords with `#`. If needed a random password, you can create one with
[code]

[2019-04-30 17:37] Insomniak47 commented on #308
Pod:
[code]

Deployment
[code]

[2019-05-01 08:40] danielezer commented on #318
I'm not sure this is a good idea since it could prevent users from installing this helm chart on testing environment like their computer with docker-for-mac or minikube

[2019-05-01 08:42] #157 closed

[2019-05-01 08:50] danielezer commented on #157
@satyamag This should get you started. For your use case, you would just need to enable JMX since the ClusterIP service is enough for because (I'm assuming) the JMX exporter will be inside the cluster.

[2019-05-03 07:19] arielkv commented on #318
@danielezer This is not a matter of an idea, having 4cpu is a requirement by Artifactory.
Artifactory HA doesn't work properly with less than 4cpu.

I have submitted this issue following a situation where an Artifactory deployment wasn't working due to the fact is was running only with 2cpu (although the load on them was very low).

[2019-05-03 09:40] danielezer commented on #318
@arielkv helm’s best practice is to not set default resources requirements...

[2019-05-03 10:08] rimusz commented on #318
As I proposed before, we should have extra values files for different use cases, in this case add e.g. `prod-values-ha.yaml` with only set resources there which then can be passed with `-f prod-values-ha.yaml` for helm install/upgrade commands

[2019-05-05 09:21] eldada commented on #318
To mitigate this, we will do the following:
1. Add a config key `artifactory.async.corePoolSize` in values.yaml. See [How do I tune Artifactory for heavy loads?](https://jfrog.com/knowledge-base/how-do-i-tune-artifactory-for-heavy-loads/).
2. Set default value to 8 for `artifactory` and 16 for `artifactory-ha`.
3. Add this to the `EXTRA_JAVA_OPTIONS` block.
4. Document this feature.

[2019-05-05 18:55] suranc commented on #175
Changing my DB password to one without # in it fixed the issue, so that was indeed the cause of my issue.

[2019-05-06 04:27] eldada commented on #175
Great! Thanks for the update. FYI - Xray team is working on resolving this bug in one of the coming releases.

[2019-05-06 04:27] #175 closed

[2019-05-06 08:53] nimerb opened #326 "Azure Database for PostgreSQL DB JDBC connection string properties are not used correctly"
BUG REPORT

When deploying Artifactory on Azure and attempt to connect with Azure Database for PostgreSQL server, the Helm DB properties do not create a connection string that is valid for Artifactory to use.
The following examples are for two ways to connect to the DB, one that works and the other when specifying the settings does not:

1 - **The settings that work:**

helm install --name artifac

[2019-05-06 10:01] eldada commented on #308
Hi all. I think I found the problem. I'm working on recreating the scenario to see if this is indeed the issue.

[2019-05-06 10:29] #318 closed

[2019-05-06 10:31] eldada commented on #308
@Insomniak47 - can you provide the describe on the secret?
[code]

[2019-05-06 11:09] Lykathia commented on #308
@eldada I'm afraid we won't be able to provide the describe on that secret (due both to @Insomniak47 being out of office this week, and it containing our TLS cert :))

Was there something in particular you were looking for?

Here is the snippet of ansible that creates that secret:

[code]
[code]

I've double checked that both art.pem and art.key arrive un-corrupted in the secret store, and are val

[2019-05-06 11:20] eldada commented on #308
The describe does not show the actual values, so you are safe 😉.
I'm trying to see if the volume that puts the key + certificate in the nginx container is working properly.
We have a `postStart` hook in the chart that copies `/tmp/ssl/*` to `/var/opt/jfrog/nginx/ssl` and then the entrypoint picks this up and injects it to the artifactory.conf.
When I do it locally, it works well. So I'm trying to

[2019-05-06 11:27] Lykathia commented on #308
I'll see if the cluster was left running here in a bit. It may be difficult to get an answer promptly this week however.

My hunch was that it might be tied to permissions, since we are also segmenting and auditing everything to be least privilege. Sadly, I haven't gotten any time to explore that further. Our tiller doesn't have carte blanche access (I believe the configs for this are tied to the

[2019-05-06 13:12] Lykathia commented on #308
[code]

[2019-05-07 06:36] eldada commented on #308
Thanks @Lykathia . This is exactly how my described secret looks like.
1. Besides what's noted in https://github.com/jfrog/charts/issues/308#issuecomment-483282188, are there any other steps you did for the setup?
2. Can you try again with the latest chart version?

[2019-05-07 10:02] Lykathia commented on #308
The entire setup is done via ansible, and should be attached to case #101892. Nothing is being done manually.

I'll give the latest chart a spin later today and update accordingly.

[2019-05-11 17:05] jonasrutishauser opened #331 "Use newer rabbitmq-ha >= 1.13.1 in xray"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm 2.12.3
Kubernetes 1.10.11

**Which chart**:
xray

**What happened**:
As we need to change the image registry, it could not pull image busybox in rabbitmq-ha. The image name is hardcoded in this old version.

**What you expected to happen**:

**How t

[2019-05-12 07:08] eldada commented on #331
@jonasrutishauser - did you try using a newer chart version for `rabbitmq-ha`?
Your request is valid, but we need to verify two things:
1. Support upgrade over existing deployments
2. Use supported Xray RabbitMQ version (3.7.x)

If you did test it, and it supports these two requirements, you are welcome to submit a pull request.

[2019-05-13 20:45] sanjeevkarani opened #333 "Support 'artifactory.persistence.cacheProviderDir' for on-premise cluster"
Currently, support for 'artifactory.persistence.cacheProviderDir' is limited to cloud storage providers.
It is also required for 'file-system' persistence of on-premise k8s platform

[2019-05-14 06:02] eldada commented on #333
@sanjeevkarani - can you also submit a pull request with this change?

[2019-05-15 06:38] #331 closed

[2019-05-17 08:16] danielezer commented on #333
Fixed at #336

[2019-05-17 08:16] #333 closed

[2019-05-17 20:12] andrewhertog opened #338 "binarystore.xml wrong volume mount in artifactory-ha"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
Kubernetes:
[code]

Helm
[code]

**Which chart**:
artifactory-ha

**What happened**:
Set in values.yaml:
[code]
It didn't mount the change to the binarystore.xml as expected, but left the defaults as shard-fs

**What you expected to happen**:
update the

[2019-05-18 18:04] eldada commented on #338
@andrewhertog - Was this done as an upgrade?
`binarystore.xml` is intentionally mounted to `/artifactory_extra_conf` and not directly to `/var/opt/jfrog/artifactory/etc/`. It's picked up by the entrypoint is copied to its final destination. Only on first deployment or if you set `artifactory.copyOnEveryStartup` with the proper configuration.
Does this help?

[2019-05-20 09:23] danielezer commented on #338
@andrewhertog please take a look at this line: https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L104

If you add this to your values.yaml:
[code]

It will cause artifactory to copy the binarystore.xml file from /artifactory_extra_conf/ to ARTIFACTORY_HOME/etc on every startup, which will cause the binarystore configuration to be updated.

[2019-05-21 00:48] andrewhertog commented on #338
@eldada Yes it was done as an upgrade. I was following the instructions at https://www.jfrog.com/confluence/display/RTF/S3+Object+Storage which recommend setting Artifactory up with out S3 first, and then migrating to it after initial set up.

What is the reason for only copying the binarystore.xml via the entrypoint rather than via volume mounts?

I'll try the artifactory.copyOnEveryStartup and r

[2019-05-21 15:36] cdenneen opened #346 "Service annotations not working"
artifactory-ha:

[code]

[2019-05-21 15:58] weihh2017 commented on #346
Same here. Tried the following cmd but no annotation got propagated in "kubectl get svc artifactory-artifactory-nginx -oyaml"
[code]

[2019-05-21 17:08] danielezer commented on #346
Hi @cdenneen @weihh2017, this is not the syntax for setting annotation with --set since the annotations object is a map and not a list. You can see the correct syntax in issue #42

[2019-05-21 18:57] weihh2017 commented on #346
looked again. Found that I set the incorrect flag for the annotations in service. It worked for me with the following cmd

[code]

[2019-05-21 19:06] #346 closed

[2019-05-21 20:01] Insomniak47 commented on #308
Just ran a new deployment:

[code]

Looking like the upstream is still not being set properly. Where is it specifically sourced from?

[2019-05-22 12:32] eldada commented on #308
The `artifactory` service is written in the `/etc/nginx/conf.d/artifactory.conf` at postStart hook (if `upstream` is not set), it is supposed to be updated with `artifactory-artifactory-ha`.

1. Are you mounting a custom configuration to nginx?
2. Are you configuring the HTTP settings in Artifactory?

NOTE:  The Artifactory service is named `artifactory-artifactory-ha`. The `/etc/nginx/conf.d/arti

[2019-05-22 16:15] Insomniak47 commented on #308
We aren't mounting any custom configuration for nginx. As @Lykathia mentioned the entire deployment playbook + chart config are available on the ticket  (#101892).

We never get into artifactory because the service that is exposing it never comes up so we're definitely not doing it from there.

Are you doing anything in the process that requires a specific set of roles for tiller? Our tiller is le

[2019-05-23 07:49] danielezer commented on #86
@sylus do you mean password encryption? https://www.jfrog.com/confluence/display/RTF/Artifactory+Key+Encryption

Which version of the helm chart are you using?

[2019-05-23 18:22] Insomniak47 commented on #308
The current chart/images are now failing on a previously successful deployment. (Head of master of our IAC defs + changes to support networkpolicy rbac through tiller)

Unfortunately the sh in here isn't really debuggable since it's all chained together.
[code]

[2019-05-23 21:03] Insomniak47 commented on #308
Just checked with a clean deployment of kubernetes, full cluster-admin permissions. Same error.

Versions:
Kubernetes
[code]

Helm:
[code]

Docker:
[code]

OS:
[code]

If you have sufficient virtual infrastructure I can provide you an IAC definition that can repro the entire cluster.

[2019-05-24 15:46] EcHoOfInSaNiTy opened #347 "Update statefulset kind api and add serviceName spec"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
k8s - 1.12
helm - 2.14

**Which chart**:
xray

**What happened**:
statefulSet api changed in newer kube release from apps/v1beta2 to apps/v1, this requires the yaml to be updated for the stateful set requests as well as a serviceName added to the spec.

[2019-05-24 15:50] EcHoOfInSaNiTy commented on #347
apiVersion in these files need to be bumped to : apiVersion: apps/v1
[code]
spec needs to be updated in each of the files to the following:

[code]

[2019-05-24 20:04] Insomniak47 commented on #308
Just tested the def on AKS with the same kubernetes version as in [my last comment](https://github.com/jfrog/charts/issues/308#issuecomment-495384227) and it works which means it's probably an interaction with the baremetal environment we've got. Since we've repro'd this in two different baremetal envs with hosts based on Ubuntu 16.04

(Using flannel for internal networking as well)

[2019-05-26 04:48] eldada commented on #338
Originally the copy was to prevent issues with permission. We leave it like this for backward compatibility for now (we have some plans to change it in the future).
Waiting for your updates.

[2019-05-26 06:42] #347 closed

[2019-05-27 13:42] andrewhertog commented on #338
Ok thanks for the explanation

I've used the artifactory.copyOnEveryStartup and it seems to be working fine.

Im closing this issue.

[2019-05-27 13:42] #338 closed

[2019-05-27 15:51] danielezer commented on #42
@jansmets I think this syntax is the standard for adding annotations, just passing them as is into the spec, since the annotations object is a map and not a dictionary. I think you should use a values file if this syntax bothers you

[2019-05-27 15:51] #42 closed

[2019-05-28 13:23] CarpathianUA opened #351 "Unable to update DB password after initial helm install"
**Is this a BUG REPORT or FEATURE REQUEST?** : BUG

**Version of Helm and Kubernetes**: Helm v2.13.1, k8s v1.11.9

**Which chart**: artifactory-ha-0.13.3

**What happened**: DB password is not updateable after initial ```helm install``` using correct values:
[code]

**What you expected to happen**:
DB password is updateable without any issues using appropriate Helm value;

**How to reproduce it**

[2019-05-29 18:55] Lykathia commented on #308
I said 22 days ago I would run everything for a spin. Turns out, release pressures are crazy and haven't had a chance to breathe for the last 22 days. :(

Today however...

Removing terraform from the equation, to hopefully give a bit easier of a time to replicate (guessing don't have access to vsphere, based on the silence around the automated environment replication).

1604 AWS Image: ami-0565af

[2019-05-30 13:45] #326 closed

[2019-05-30 13:49] nimerb commented on #326
Irrelevant. Wrong use of the database.* params

[2019-05-30 17:14] Lykathia commented on #308
Also of potential note: it always take 6 restarts before it starts working on the 18.04 AMI on t2.xlarge

[2019-05-31 23:46] ypan887 opened #352 "providing customArtifactoryConfigMap will result in nginx crashloop"
custom nginx config can be provided via customArtifactoryConfigMap option. However, enable this option right now will result in crashed nginx pod.

When describing the pod, the following error can be found:

[code]
And from the container logs:

`nginx: [emerg] host not found in upstream "artifactory" in /etc/nginx/conf.d/artifactory.conf:31`

It looks like the cause of the issue is that:

1. We ex

[2019-06-03 20:21] Insomniak47 commented on #308
Hey guys,

Could we get an update on this? Last update from maintainers is 12D. 28D Since we've been asked for new information or updated on the progress. In that time we've dumped repro info for vSphere + AWS. Have you made any progress? How can we facilitate this?

[2019-06-04 05:14] shayfisher opened #356 "xray helm chart update"
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm version - 2.13.1
Kubernetes - 1.12.8

**Which chart**:
xray-0.12.10

**What happened**:
feature request

**What you expected to happen**:
Please add a "flag" (i.e nginx.enabled) on the chart so It will set the service type for
xray server correctly.
When installing using helm, the default behavior creates xray-server service of type LoadBal

[2019-06-05 14:23] danielezer commented on #356
@shayfisher you can change the service type with:
```--set server.service.type=ClusterIP```

You can also change the external port with:
```--set server.externalPort=8000```

That should solve your problem. Changing the default value to ClusterIP would break backward compatibility and can cause issues to some of our customers who use the chart.

[2019-06-05 14:25] #356 closed

[2019-06-05 14:27] danielezer commented on #352
@ypan887 This issue happened to me as well, the way to solve it is adding these parameters to helm install/upgrade:
[code]

This is not ideal, but as a temporary workaround it should be good enough

[2019-06-05 14:35] shayfisher commented on #356
This is what I did.
I wanted this "logic" to be handled by the chart.
I will continue setting those two values.
Thank you

On Wed, Jun 5, 2019, 17:23 danielezer <notifications@github.com> wrote:

[2019-06-06 05:12] eldada commented on #356
@shayfisher - do you have a suggestion on how you would like to see it? You can submit a pull request and we'll go over it.

[2019-06-06 07:25] #351 closed

[2019-06-06 07:38] eldada commented on #308
@Insomniak47 - sorry for the delay. We are looking for reproducing the environment and errors.

[2019-06-06 17:52] grrywlsn commented on #78
@eldada do you know when the SSL option will be added to the DB config? this is a blocker currently.

[2019-06-08 01:09] alexivkin commented on #308
I hit the same issue today with the latest helm chart. Looks like it is a race condition because after killing the nginx pod a couple of times it eventually started

[2019-06-11 06:46] KierranM commented on #352
I've experienced this as well, but ours was also combined with the fact that quite often it would start with missing or no artifactory.conf at all. I've been messing around directly with the deployment and I think it's an issue with the fact that the `/etc/nginx/conf.d` folder (i.e where kubernetes is trying to mount the custom configmap) is a symlink to `/var/opt/jfrog/nginx/conf.d` which is also

[2019-06-11 09:26] nsabernierdev1 commented on #352
I'm facing this issue also when migrating to chart artifactory-ha-0.13.3.
Previously it was working, and now it fails.

I will give a try to Kierran solution, and will give an eye on a best solution.

Thanks,

[2019-06-11 12:24] nsabernierdev1 commented on #352
Hi,

I have managed to make it work by reverting the changes in the nginx-deployment.yaml file done byt the 0.13.3 chart version.

I have done two changes :
1. change the Nginx PodStart script:
replacing:
{{- if (not .Values.nginx.customArtifactoryConfigMap) }}
by
{{- if .Values.nginx.customArtifactoryConfigMap }}
cp -Lrf /tmp/conf.d/artifactory*.conf /etc/nginx/conf.d/artifactory.conf;
{{- else }

[2019-06-12 06:29] danielezer commented on #352
@nsabernierdev1 I’m planning to change the way the nginx deployment works and that should fix this issue. In the mean, please try to use the workaround I suggested, since moving back to copying the file from /tmp can cause other issues and introduce complexities we are trying to move away from.

[2019-06-13 17:43] rimusz opened #364 "Support external DB name for artifactory"

[2019-06-13 20:04] andrewhertog opened #365 "Add support for NGinx to route XRay traffic too"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

I currently have Artifactory up and running on a cluster, with nginx set up as a reverse proxy. Artifactory is now accessible at https://jfrog.example.org/artifactory.

It would be nice to be able to have nginx route https://jfrog.example.org/xray to the xray service, without havin

[2019-06-14 06:24] #364 closed

[2019-06-15 17:56] rimusz opened #367 "[Xray] add support for connection to Postgres via SSL"
Xray should support encrypted database communications for PSQL connections:

`jdbc:postgresql://localhost/test?user=fred&password=secret&ssl=true`

[2019-06-18 23:55] #365 closed

[2019-06-19 06:55] angegar opened #372 "ConfigMap too long"
**Is this a request for help?**:

Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Not a bug but a limitation

**Which chart**:
jfrog/artifactory-ha

**What happened**:
I am trying to migrate a legacy artifactory ha instance to our kubernetes cluster thus i get the security.xml and config.xml files from the legacy instance. But during the k8s instance deployment i receive the fo

[2019-06-19 08:04] danielezer commented on #367
closed via #369

[2019-06-19 08:04] #367 closed

[2019-06-19 11:51] danielezer commented on #372
Hi @angegar, this means that your configmap is bigger than 1MB, which is very big. I can suggest that you separate the two files into two different configmaps, which will each be (hopefully) under 1MB. You can then use the customVolumes and customVolumeMounts feature to mount in to /artifactory_extra_conf/.

An example values.yaml would look like this:
[code]

[2019-06-19 12:03] danielezer commented on #287
@zendril @properpanda in the mean time you can use the copyOnEveryStartup feature for that. an example values file would be:
[code]

[2019-06-19 13:20] angegar commented on #372
Hi @danielezer ,

Thank you for your answer, i just tried this approach but it appears our security file is too big 😒. Any other idea which may help ?

[2019-06-19 14:39] #312 closed

[2019-06-19 14:39] #352 closed

[2019-06-19 14:39] #308 closed

[2019-06-19 15:32] nimerb commented on #9
@eldada, @rimusz and @ankushchadha, we should consider adding the option of different values.yaml for staging and production use suggestion.

[2019-06-19 16:02] rimusz commented on #9
we should have override files for staging and production which have only compute resources and maybe some other tweaks, no needs to duplicate the whole `values.yam` there, it would make harder to maintain.

[2019-06-19 17:10] danielezer commented on #372
@angegar you can store your security file somewhere that's available over http, and add a postStart command for downloading it. This will combine the two methods.

The values file would look something like this:
[code]

[2019-06-19 17:45] #46 closed

[2019-06-20 16:32] #151 closed

[2019-06-23 14:14] #9 closed

[2019-06-24 15:23] angegar opened #392 "Mission Control - Elasticsearch permission denied"
**Is this a request for help?**:
 Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Don't know if it is a bug a miss configuration

**Which chart**:

Mission Control

**What happened**:

The elasticsearch container fails with the following error :

[code]

Do i need to make something particular to be able to create the directory /var/log/elasticsearch ?

Here is the command i use

[2019-06-24 16:18] danielezer commented on #372
@angegar Did this solution work for you?

[2019-06-24 20:36] angegar commented on #372
Finally i did it in two times, first time i created a simple xml file with one admin login password, then i used the API to push the configuration.

But the solution you propose works for sure.

[2019-06-24 20:36] #372 closed

[2019-06-25 09:09] danielezer commented on #392
@angegar it seems to me that you are using an old version of the chart. Can you please tell me what's the version you're trying to use? The part where we had `mkdir /var/log/elasticsearch` is quite old and is not in the current version of the chart

[2019-06-25 09:22] angegar commented on #392
Here is the chart details :

![image](https://user-images.githubusercontent.com/5628764/60086538-82830500-973b-11e9-9781-126298628a6f.png)

[2019-06-25 09:24] angegar commented on #392
jfrog repo is in my repo list

[2019-06-25 09:24] danielezer commented on #392
@angegar the current chart version is 1.4.4 and is very different for the one you have, please try to run
helm repo update
And try to install again

[2019-06-25 09:25] angegar commented on #392
ok i am trying thank you

[2019-06-25 09:29] angegar commented on #392
The chart version is good now, however i don't see the elasticsearch container whereas i enabled it. May be something i did not clean up.

[2019-06-25 09:31] angegar commented on #392
arfff it is now a part of the pod mission-control.

[2019-06-25 09:36] angegar commented on #392
ok i managed to make it works. Thank you for your quick help.

![image](https://user-images.githubusercontent.com/5628764/60087488-641e0900-973d-11e9-9e99-5ba3a5aff71a.png)

[2019-06-25 09:36] #392 closed

[2019-06-25 09:38] danielezer commented on #392
Great @angegar. Glad it worked out

[2019-06-26 17:55] andrewhertog opened #396 "Issue with Nginx reverse proxy"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
Helm Version:
[code]

Kubernetes version:
[code]

**Which chart**:
jfrog/artifactory-ha-0.14.4
Artifactory 6.10.4

**What happened**:
docker login was giving 404 errors:
[code]
The nginx error logs show that it was trying to direct the request to a h

[2019-06-26 19:34] ljupchokotev opened #397 "Nginx automatic configuration broken"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes:
* Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"archive", BuildDate:"2019-06-08T16:22:01Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linu

[2019-06-27 05:44] eldada commented on #397
@ljupchokotev - thanks for the feedback. Indeed - this changes is removing functionality and should have been better communicated.
The automatic update of nginx config in the kubernetes setup bypassed the k8s artifactory service and went directly to the pods, which is against k8s best practices.
Managing the config in a config map aligns better with "configuration as code" and is able to better pr

[2019-06-27 06:22] ljupchokotev commented on #397
I agree that this way should be better.

Have you tested the new way to check if it works with a Docker repository? Previously, following the ReverseProxyConfiguration.md documentation (needs to be removed since it adds confusion now) made it work using the `Repository Path` access method for Docker. With the new configuration, what needs to be configured in the reverse proxy settings of Artifacto

[2019-06-27 08:59] danielezer commented on #396
@andrewhertog if you edited the configmap directly with kubectl edit or anything of that sort, it will be overwritten on the next helm upgrade you run. I recommend you use the feature for custom nginx config maps.

You can create a configmap external to the chart, and provide its name to helm install/upgrade as such:
`kubectl create configmap art-nginx-conf --from-file=artifactory-ha-nginx.conf`
a

[2019-06-27 09:04] danielezer commented on #397
@ljupchokotev The reason this is not working for you as expected is because, as you said, the nginx update config feature is gone. Your nginx config is now only redirecting repo.<artifactory-service-name> to the proper repository path. In order to achieve the same behaviour as before, you will need to create a configmap external to the chart, and provide its name as a parameter to helm install/upg

[2019-06-27 10:15] ljupchokotev commented on #397
Thanks for the response @danielezer. I will try out the documentation for static configuration in ReverseProxyConfiguration.md and see if that fixes my problem. Also, I don't see any way to customize the default nginx configuration through values.yaml. Is that something that plan to add?

[2019-06-27 10:56] danielezer commented on #397
@ljupchokotev Something like this? ☝️

[2019-06-27 11:25] ljupchokotev commented on #397
@danielezer yes, thank you for the PR! Now it's even easier since the server names, ports, etc. are templated out. Also, I think you forgot to remove `blabla.com` from https://github.com/jfrog/charts/pull/399/files#diff-06cf735a4b8cadafa965817b102afb07R484.

[2019-06-27 11:26] danielezer commented on #397
Lol, you’re right! Thanks. I’ll remove that

[2019-06-27 22:32] #397 closed

[2019-06-27 22:34] danielezer commented on #396
@andrewhertog I added a feature for changing the nginx config using your values.yaml file here: #399. Please let me know of that helps with your problem

[2019-06-28 14:51] andrewhertog commented on #396
It does, but i already moved to a custom config map like suggested earlier.

THanks

[2019-06-28 14:51] #396 closed

[2019-07-04 03:51] lexual commented on #304
Hi @eldada . Any updates on this feature going public anytime soon?

[2019-07-04 04:27] eldada commented on #304
Sorry @lexual and @satyamag . Still not estimation...

[2019-07-08 13:24] rimusz opened #410 "[artifactory] Allow to set Custom base URL"
When installing Artifactory or Artifactory HA, I want the ability to pre-set the base URL for my Artifactory as part of my helm chart configuration.
As done in https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-UpdateCustomURLBase

[2019-07-10 17:53] eldada commented on #78
Sorry - I don't have an ETA yet.

[2019-07-11 05:28] eldada opened #412 "[all charts] Upgrade PostgreSQL chart to a StatefulSet"
For better stability and the option to enjoy newer features, the Artifactory and Artifactory HA PostgreSQL sub charts should be upgraded to a newer version that
- Deploys PostgreSQL as a StatefulSet
- Allows setup of replication (master and slave)
- Provide more flexibility around configuration setup
- Will support easy upgrade to newer versions of PostgreSQL
- A non-root pod for the DB

Currently

[2019-07-17 00:34] majwang opened #417 "artifactory HA can't add more than one license in UI"
Currently, you can't add more than one license in the GUI if there is more than 1 node. After adding the first license, you won't be able to add another license since the UI won't be accessible anymore (if you open developer console, you will see 503 errors with "message":"One or more of the cluster nodes is not activated with an Enterprise+ license which may lead to limited functionality. If you

[2019-07-17 00:40] alex-mnt commented on #306
Hi,

Any updates on this topic?
It would be very nice to have this flexibility.

Kind regards,
Alexandru

[2019-07-18 19:56] loreny-jfrog commented on #412
Once we migrate to the newer Bitnami chart, we should also move off using the 'root' user when the pod is deployed. This appears to be done by default when utilising the bitnami postgres chart.

[2019-07-21 05:32] eldada opened #420 "Remove all deprecated extensions/v1beta1, apps/v1beta1, apps/v1beta2"
Remove any leftover old `apiVersion`s.

[code]

[2019-07-21 13:43] eldada commented on #306
Now that nginx config was moved to the `values.yaml`, it should be possible with some adjustments to the rewrite rules in `nginx.artifactoryConf`. I will try and provide a working example in the coming days. Can't commit to an ETA.

[2019-07-22 16:40] challett opened #422 "XRAY Fails to connect to external postgresql"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm:
[code]

K8s:
[code]

**Which chart**:
xray

**What happened**:
When using an external postgres instance, I receive `role "username@hostname" does not exist` in the xray-server startup logs

[code]

**What you expected to happen**:
Expect xray to

[2019-07-23 06:25] AlexanderDenk-EE opened #425 "Support of additional S3 Configuration Options (httpsOnly, httpsPort, httpPort)"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

Support for custom http/https port and httpsOnly flag for AWS-S3 provider. The underlying S3 provider would allow to be configured to use an arbitrary S3 (even with non-default and non-https ports).

**Version of Helm and Kubernetes**: n/a

**Which chart**: artifactory / artifactory-ha

**What

[2019-07-23 19:20] eldada commented on #425
@AlexanderDenk-EE - you are more than welcome to submit a pull request!

[2019-07-23 19:23] eldada commented on #422
@challett - can you please provide the command line and config used so we can try to reproduce?
Also - what Xray chart version did you use?

[2019-07-24 06:41] #420 closed

[2019-07-24 17:35] challett commented on #422
`helm install jfrog/xray --set "global.postgresqlUrl=postgres://username@hostname:password@hostname.postgres.database.azure.com:5432/dbname" --set "postgresql.enabled=false" --name xray --namespace xray`

I have not pinned a version, so I presume it is the latest, I re-added the jfrog repo today.

[2019-07-25 07:41] eldada commented on #422
Thanks @challett . We are looking into a potential issue with Xray internally. Will update here when we have more details.

[2019-07-25 13:04] challett commented on #422
Thank you @eldada, looking forward to hearing back.

[2019-07-30 13:58] nimerb commented on #422
@challett We have reproduce this internally and indeed Xray does not connect to the Azure PSDB out of the box and needs modification on the Azure PSDB side.
To work around this issue please do the following in Azure:

1 - Use the admin role given by Azure that you initially connected with to PSDB (for example **challett**) - **Remember the password of this role to connect when setting up with Xray

[2019-07-30 21:33] challett commented on #422
Thank you for your response @nimerb

I expected this to be the workaround, is there a ticket internally to change this? Maybe accepting a username and password similarly to how Artifactory does?

Is the expected behavior for postgres to have the role "challett" in the db instead of "challett@hostname"?

For context I am trying to minimize required manual steps and use open service broker for azure

[2019-07-31 04:06] lwj5 commented on #412
What is the timeline of this

[2019-07-31 05:45] eldada commented on #412
Don't have an ETA on this, but I can share we are working on this internally (it has other implications).
For now, you can deploy PostgreSQL separately with their [official chart](https://hub.helm.sh/charts/stable/postgresql) and configure Artifactory to use it with the following values block:
[code]

[2019-07-31 07:11] nimerb commented on #422
Regarding the same handling as Artifactory (username and password), this is not applicable at the moment when using Xray.
For some reason Azure would require you to have a role "challetr" with the password configured and user "challett@hostname" and in the role "azure_pg_admin" you should add "challett@hostname" to it's Membership.
P.S: All the required steps can be done one time manually and then

[2019-07-31 08:36] eldada commented on #422
We have plans to simplify the DB connection setup in the next Xray major release. This will allow for an easier to manage the DB configuration details. ETA is in a few months.

[2019-07-31 11:21] johnwalker247 opened #431 "Howto setup Google-Storage for Artifactory-HA"
**Is this a request for help?**:
YES
---

**Version of Helm and Kubernetes**:
helm 2.14.2 kubernetes v1.12.8-gke.10

**Which chart**:
CHART                           APP VERSION
 artifactory-ha-0.15.6     6.11.3

**What happened**:
Trying to configure google-storage, we have specified <identify> as the service account name (as created in Google Cloud Console.
Cant work out what the <credentials> v

[2019-07-31 11:29] rimusz commented on #431
Actually you need to set GCS with S3 compatibility mode:
[code]
good example https://cloud.google.com/community/tutorials/artifactory-gcs-setup in `Step 1: Ready Google Cloud Storage`

[2019-07-31 12:50] challett commented on #422
Okay thank you @eldada .  Just want to point out that I do not believe it is Azure that has this requirement, but likely the way that xray is handling the connection, since other applications do not require this modification.

Thank you for your input.  Is there a ticket I can follow for this enhancement in xray?

[2019-07-31 15:14] johnwalker247 commented on #431
Thanks for your help, this worked, seemed like I had to create the filesystem in the bucket manually: artifactory-ha/filestore    although I may be mistaken, apart from that, plain sailing.

[2019-07-31 15:14] #431 closed

[2019-08-01 05:56] eldada commented on #422
No. Sorry. This is managed internally. You can wait for Xray 3.0 to be released in a few months.
https://bintray.com/jfrog/ is where we publish the releases, and you can watch them.

[2019-08-01 06:40] mikaelhachaturian opened #432 "Providing custom binarystore.xml to the chart"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
all versions

**Which chart**:
artifactory

**What happened**:
As of writing this issue, the artifactory chart creates a general binarystore.xml based on persistence storage type. We use cachefs with filesystem and right now the filesystem type creates a default binarystore without

[2019-08-01 09:20] johnwalker247 opened #433 "additional rules not working for artifactory-ha ingress configuration (adding xray)"
**Is this a request for help?**:
yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm 2.14.2 kubernetes v1.12.8-gke.10

Which chart:
CHART APP VERSION
artifactory-ha-0.15.6 6.11.3

**What happened**:
we modified the values.yaml to add the xray service as a path in the artifactory ingress, i.e.
mycompany.com/artifactory   goes to

[2019-08-01 12:15] challett commented on #422
That's fine I have a release target to wait for now.

Thank you very much for your help, feel free to close the ticket as you see fit.

[2019-08-01 12:16] #422 closed

[2019-08-04 19:08] eldada commented on #432
@mikaelhachaturian - This is a valid request. We'll provide a pull request in the near future.

[2019-08-05 08:33] nimerb commented on #417
@majwang i saw that you added a README and noted what should be done. Is this issue still relevant ? If not, please close it.

[2019-08-05 10:12] eldada commented on #432
Will close once `artifactory-ha` is also updated with the change.

[2019-08-05 16:02] danielezer commented on #433
Hey @johnwalker247
This happens because Xray doesn't use all of its urls with the `/xray` suffix.
In order to make it work, the `/` endpoint needs to also be configured to point to Xray.
I tested out your use case, and this setup work for me:
1. Deploy the artifactory helm chart.
2. Create a file called xray-values.yaml with the following content:
`
ingress:
  enabled: true

  defaultBackend:

[2019-08-05 16:11] #417 closed

[2019-08-05 19:21] #432 closed

[2019-08-06 05:26] eldada commented on #425
PRs #435 and #436 now provide the option to fully control the binarystore.xml and you can change it to fit your needs.
If you would like this see these options as part of the default template, you can submit a pull request.

[2019-08-06 05:26] #425 closed

[2019-08-07 07:40] jmcfallargo opened #440 "db.properties': Not a directory"
**Is this a request for help?**:

No sure

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:
2.14.2/GKE 1.13-7

**Which chart**:
HA

**What happened**:
I was running for several days but noticed some performance issues.  The install was purged and memory/cpu settings were modified.   Upon install the chart again, the HA pod would no longer

[2019-08-07 15:51] danielezer commented on #440
@jmcfallargo Can you please provide all of your values file?
Also, which version of the chart are you using?
Is deleting the PVC that was associated with Artifactory an option for you? I think that might solve your problem until I'm able to reproduce it and try to fix it

[2019-08-07 16:44] danielezer commented on #440
@jmcfallargo I wasn't able to reproduce this issue with the values you provided. I tried to install the chart with your values, delete --purge the release and then I installed it again, everything worked as expected.

[2019-08-07 19:53] jmcfallargo commented on #440
delete-db-properties

Image
alpine:3.8
Status
 Back-off 5m0s restarting failed container=delete-db-properties pod=artifactory-ha-artifactory-ha-primary-0_default(b1f57e99-b8e4-11e9-a846-42010adc070c): CrashLoopBackOff
Restart count
150
Start time
Not started yet
Ready
False
Command
sh -c rm -fv /var/opt/jfrog/artifactory/etc/db.properties
Image pull policy
IfNotPresent
Resources
cpu
requested 100m

[2019-08-07 19:57] jmcfallargo commented on #440
helm install --name artifactory-ha \
                --set artifactory.license.secret=artifactory-cluster-license \
                --set artifactory.license.dataKey=artifactory.lic \
                --set artifactory.service.pool=all \
                --set artifactory.node.replicaCount=0 \
                --set artifactory.persistence.type=google-storage \
                --set artifactory.persi

[2019-08-08 12:44] danielezer commented on #440
Thanks @jmcfallargo I don't see anything suspicious. Please try to set the following value:
[code]

[2019-08-09 13:23] johnwalker247 commented on #433
that's awesome, thanks for your help, my POC is now live with first few users

[2019-08-09 13:23] #433 closed

[2019-08-09 13:58] danielezer commented on #433
Perfect. Glad it helped, I’ll  change the documentation to show this example as well

[2019-08-10 09:24] ybonjour opened #441 "[artifactory]: Host in database url is ignored"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]
**Which chart**:
stable/artifactory (artifactory-7.16.9)

**What happened**:
I want to use an external Postgres database.
When I provide the database information using an url, artifactory seems to ignore the host part in the url. And the connection to the database fails. This is the configu

[2019-08-11 08:19] danielezer commented on #441
@ybonjour It seems like you have an error with your URL. it says:
`jdbc://sqlserver://` which means this is the url for an sql server and not for postgresql. You can find a reference to the format of the postgresql connection string here: https://jdbc.postgresql.org/documentation/head/connect.html

[2019-08-11 08:48] danielezer commented on #306
@alex-mnt @thinkTank15 This is how I made it work:
1. Create a values file called art-values.yaml with the following content:
[code]

2. Run the following command:
`helm upgrade --install artifactory stable/artifactory --values art-values.yaml`

Let me know if it worked out for you

[2019-08-11 09:15] #316 closed

[2019-08-11 11:45] ybonjour commented on #441
@danielezer thanks for your answer.
A silly mistake from my side. I copied the URL from the external Postgres example in stable/artifactory/README.md. MIght be worth fixing the URL in the README.

However even if I use the URL formats
`jdbc:postgresql://10.10.10.10:5432`, `jdbc:postgresql://10.10.10.10:5432/artifactory` or `jdbc:postgresql://10.10.10.10:5432;databaseName=artifactory;sendStringPara

[2019-08-11 12:45] danielezer commented on #441
Hey @ybonjour, the `databaseName` format is used for sqlserver. Can you please try with the following format: `jdbc:postgresql://10.10.10.10:5432/artifactory` and send the error message you see?

[2019-08-11 12:46] danielezer commented on #441
Also, good point on the example, I'll fix that

[2019-08-11 14:27] danielezer commented on #441
@ybonjour using the database URL does work for me with the following values:
[code]

I had a database host running with the name `postgres123-postgresql` and I created a DB by the name `artifactory`.
Please let me know if it still doesn't work for you

[2019-08-11 15:56] ybonjour commented on #441
@danielezer: I tried all the 3 formats I have mentioned above, including:
*  `jdbc:postgresql://10.10.10.10:5432` -> Which I would expect to default to the artifactory database
* `jdbc:postgresql://10.10.10.10:5432/artifactory`.
Both variants showed the following in the log before timing out:
[code]
I also have a  `artifactory` and an `artifactory` user with corresponding rights for the database.

[2019-08-11 16:02] danielezer commented on #441
@ybonjour thanks for the feedback. I'm pretty sure I see your issue. Can you please share which version of the chart you are using? Also, please share your values file. You probably have the parameter `deleteDBPropertiesOnStartup` set to `false`. This will cause that even though you change your DB configuration, it is not picked up by Artifactory.
If you use an older version of the chart, please r

[2019-08-11 16:12] ybonjour commented on #441
@danielezer thanks for looking into it.

I am on verrsion `7.16.9`. My full values file is:
[code]
So `deleteDbPropertiesOnStartup` should be `true` by default.  However I will try to set it to `true` explicitly and let you know what happens.

[2019-08-11 16:29] danielezer commented on #441
@ybonjour Please also send the output of `kubectl describe pod` on the artifactory pod. You should see the delete-db-properties init container.
Please also send the output of the `helm ls artifactory`

[2019-08-11 17:27] ybonjour commented on #441
@danielezer  I have set `artifactory. deleteDbPropertiesOnStartup` to `true` explicitly but still observe the same behavior.

Here is the output you asked for:
The `delete-db-properties` init container did run:
[code]
[code]

[2019-08-12 08:07] danielezer commented on #441
ok @ybonjour, I was able to reproduce this issue. It seems to be a bug with the OSS image. I will file a bug report, but for the mean time if you can make it work with specifying the host and port without the url, I suggest you do that

[2019-08-12 09:00] ybonjour commented on #441
@danielezer awesome, thanks. Connecting without the url works fine for me. Just wanted to make sure to report the issue. Thanks for your time and cooperation.

[2019-08-12 09:12] danielezer commented on #441
This is the Jira issue I created - https://www.jfrog.com/jira/browse/RTFACT-19894

[2019-08-20 09:18] danielezer commented on #440
@jmcfallargo were you able to resolve this issue?

[2019-08-20 12:09] jmcfallargo commented on #440
@danielezer - I was able to resolve.  I am not sure exactly what property, if any allowed it to run normally.  I did add deleteDBPropertiesOnStartup property as you suggested.
If you feel it was an anomaly feel free to close it out - thanks for the help.

[2019-08-21 12:02] MichaelVL opened #455 "Artifactory and Docker repositories"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug report.

**Version of Helm and Kubernetes**:

Helm:
Client: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}

Kubernetes:
1.15.3

**Which chart**:

stable/

[2019-08-21 15:44] danielezer commented on #455
@MichaelVL I was actually not able to reproduce this issue. I deployed artifactory with the sub-domain docker method and added the repositories to the ingress hosts. It actually did work as expected. Can you please share the error messages you saw when trying to run `docker login` or `docker pull` before you made changes to the nginx config map?

[2019-08-22 07:58] MichaelVL commented on #455
artifactory-artifactory-nginx-artifactory-conf ConfigMap:

  server_name ~(?<repo>.+)\.artifactory-artifactory artifactory-artifactory ~(?<repo>.+)\.artifactory.example.com repo1.artifactory.example.com ~(?<repo>.+)\.example.com artifactory.example.com;

Docker login to the repository is done with:

  docker login repo1.artifactory.example.com

and it results in 400 error codes. Investigating the

[2019-08-22 07:59] MichaelVL commented on #455
With the default deployment shown above, resulting in the following line in the
artifactory-artifactory-nginx-artifactory-conf ConfigMap:

  server_name ~(?<repo>.+)\.artifactory-artifactory artifactory-artifactory ~(?<repo>.+)\.artifactory.example.com repo1.artifactory.example.com ~(?<repo>.+)\.example.com artifactory.example.com;

Docker login to the repository is done with:

  docker login repo

[2019-08-22 08:21] danielezer commented on #455
Thanks @MichaelVL, that's very good info. I also had the same line in the nginx configmap, and interestingly the docker commands worked for me. I'll try to reproduce your error and will keep you updated

[2019-08-22 08:36] danielezer commented on #455
@MichaelVL do you have any values file you use to install the chart?

[2019-08-22 08:55] MichaelVL commented on #455
With these shell variables:

  VIP = IP address from DNS of 'artifactory.example.com', e.g. 192.168.122.220
  HOST0 = "repo1.artifactory.example.com"
  HOST1 = "artifactory.example.com"

and a previously created secret 'artifactory-license' containing the license
file, I use the following helm command (I also have a few settings related to
persistence, which I have removed):

helm upgrade artifact

[2019-08-22 09:50] danielezer commented on #455
@MichaelVL When I disabled ingress I was able to reproduce your issue, this PR should fix your issue :)

[2019-08-23 08:17] MichaelVL commented on #455
I can confirm, that the PR solves the issue.

Thanks!

[2019-08-26 13:47] pythonton opened #459 "stable/artifactory/values.yaml have a typo that cannot be used"
**BUG REPORT?**:

**Version of Helm and Kubernetes**:  v2.10.0 ；  1.10

**Which chart**: artifactory

**What happened**:

### Bug 1 : split typo

![image](https://user-images.githubusercontent.com/50493427/63694829-e617d480-c849-11e9-9f5d-8909c33e41ca.png)
via. https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml

![image](https://user-images.githubusercontent.com/50493427/63

[2019-08-27 04:24] AlexanderDenk-EE opened #460 "nginx as (optional) sidecar container"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Description:**

We are running AF with a cluster of 1 master node and 2 worker nodes in an OpenShift environment using an OpenShift LB. For enabling AF to be used as docker registry we use nginx as reverse proxy in front of AF. So nginx is basically used only for rewriting URLs.

[2019-08-28 12:52] danielezer commented on #460
@AlexanderDenk-EE This is available using the `nginx.enabled=false` to disable nginx. This way Artifactory will be deployed without the sidecar nginx.

[2019-08-28 12:52] #460 closed

[2019-08-28 12:55] danielezer commented on #459
@pythonton This is not a typo, it just requires helm version `2.11.0`.
Anyway, this is going away soon, PR #458 and #457 will remove the usage of this function

[2019-08-28 12:55] #459 closed

[2019-08-29 03:14] pythonton commented on #459
thx!

suggest that write Prerequisites about #helm  Version# in _README.md_

[2019-08-29 07:23] AlexanderDenk-EE commented on #460
Sorry, I think the ticket was misunderstood. Currently NGINX is **NOT** deployed as sidecar of Artifactory but deployed as standalone deployment beside the stateful set. The request is the enhance the setup to support NGINX **as** sidecar of the Artifactory Primary/Member stateful set.

[2019-08-29 07:28] danielezer commented on #460
@AlexanderDenk-EE The idea behind separating the two is so that you would be able to scale each of them independently. For example, something you would want 3 Artifactory nodes but only one or two nginx server, so that’s why we didn’t couple them together. The extra network hop shouldn’t be significant, but if it is I can suggest you would rewrite the URLs for docker using your other LB

[2019-08-30 07:21] eldada commented on #460
As an added note - you can still add a custom sidecar as you wish with the `nginx.enabled=false` and writing your own `artifactory.customSidecarContainers` is a dedicated values file.

[2019-09-08 10:24] #455 closed

[2019-09-09 17:27] Kralor-Guldan commented on #412
Tried using the above directions and got the following:

Wait helm template failed. Error: found in requirements.yaml, but missing in charts/ directory: postgresql : exit status 1

[2019-09-09 17:41] evannorstrand opened #464 "Helm charts won't launch"
Very simply, the standard low availability helm chart when launched with default settings fails to launch successfully.

This is not the case with the deprecated version in helm which we are looking to migrate away from.

[2019-09-10 09:35] eldada commented on #464
Can you provide the command used and the errors you see?

[2019-09-10 10:53] eldada commented on #464
We have also fixed a potential helm rendering issue with #463 that might help. You are welcome to test the latest versions.

[2019-09-11 05:05] eldada commented on #412
I assume you use a local copy of the chart.
You must still run `helm dependency update` on the chart to resolve dependencies. It will pull in the old **postgresql** chart, but it will not be deployed.

[2019-09-12 14:50] brunomanzo opened #467 "Can't connect to database inside the container"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
Artifactory OSS

**What happened**:
I can't make it work on k8s cluster

**What you expected to happen**:
I am trying to use this chart to have a artifactory on my k8s cluster, but I am failing to connecto do database.

[2019-09-12 16:58] #467 closed, assigned to nobody

[2019-09-13 10:15] AlexanderDenk-EE opened #468 "Configuration possibility of various config files"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): maybe FEATURE REQUEST

Artifactory supports making changes to the configuration by adding or modification of different files, e.g.

[code]

We are currently using the Helm charts and are pretty happy with them, but it seems to be a bit hart to modify one of the files above in a "consistent way". W

[2019-09-16 19:22] evannorstrand commented on #464
The error is: Wait helm template failed. Error: found in requirements.yaml, but missing in charts/ directory: postgresql : exit status 1

[2019-09-17 04:26] eldada commented on #464
When using the helm chart from local sources, you need to first pull in the dependencies.
[code]
Does this solve your error?

[2019-09-18 00:20] vinayagg opened #470 "Docker login fails with helm chart"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: latest

**Which chart**: Artifactory-HA

**What happened**: docker login fails

**What you expected to happen**: docker login to succeed

**How to reproduce it** (as minimally and precisely as possible):
install HA version of artifactory using helm chart

[2019-09-18 09:11] eldada commented on #470
@vinayagg - can you provide some more details on the setup?
Is this using a default deployment? Any customisations?
If you remove the lines, does it solve your problem?

[2019-09-18 12:17] vinayagg commented on #470
Yes it is using default deployment, no customizations at all (in fact our code dynamically pulls helm chart from github during deployment.
Yes, if we remove those three lines, it solves the problem.

[2019-09-18 13:10] brunomanzo opened #471 "Health check path"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**:
artifactory

**What happened**:

**What you expected to happen**:
I want to use the correct path for HC checking: https://jfrog.com/knowledge-base/what-is-the-best-practice-to-configure-a-health-check-for-artifactory-in-amazon-elb/

[2019-09-19 05:54] eldada commented on #471
Hi @brunomanzo. There are several options for this.
The [article] (https://jfrog.com/knowledge-base/what-is-the-best-practice-to-configure-a-health-check-for-artifactory-in-amazon-elb/) you mentioned is correct. Using the `/artifactory/api/system/ping` endpoint is the best option, but does require you set `artifactory.ping.allowUnauthenticated=true` as noted. We don't use it because we want to lea

[2019-09-19 17:17] brunomanzo commented on #471
@eldada Hello there!

But how I can modify that variable? I don't see how to change this on this chart, I should override the file by mouting the directory?

[2019-09-20 11:11] guillemtanya opened #472 "[artifactory-ha] - Provide custom init containers before and after predefined init containers"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**Which chart**: artifactory-ha

**What happened**: In some cases, you need to do actions before the predefined init containers such as prepare volume permissions on k8s platforms managed by the client with specific restrictions. Currently, you can define init containers but they are executed after the predefined init containers in Cha

[2019-09-20 11:12] guillemtanya opened #473 "[artifactory-ha] - Provide resources for initContainers"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**Which chart**: artifactory-ha

**What happened**: In some cases, you must specify the continer resources on k8s platforms managed by the client with specific restrictions. Currently, you can define resources for artifactory primary and node containers. But you can't for the init containers.

**What you expected to happen**: To have t

[2019-09-20 11:12] guillemtanya opened #474 "[artifactory-ha] - Add custom labels in Nginx service"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**Which chart**: artifactory-ha

**What you expected to happen**: To have the chance to define custom labels for the nginx service

**Anything else we need to know**: Here a feature with the suggestion: https://github.com/guillemtanya/charts/tree/feature/add_nginx_custom_labels

[2019-09-21 17:49] #473 closed

[2019-09-21 19:09] eldada commented on #471
The probe path? `artifactory.readinessProbe.path` and `artifactory.livenessProbe.path`.
What file do you mean?

[2019-09-23 12:23] danielezer commented on #468
@AlexanderDenk-EE have you considered using the `customVolumes` and `customVolumeMounts` feature? You can create a configmap/secret with the `customVolumes` and use the `customVolumeMounts` to mount it to the location you want the files to be present in.
In order to achieve that, do the following:
1. Create a configmap containing the content of the logback.xml file
2. Creates a values.yaml file wi

[2019-09-23 12:32] danielezer commented on #440
@jmcfallargo Happy to help.

[2019-09-23 12:33] #440 closed

[2019-09-23 15:35] danielezer commented on #470
@vinayagg I am not able to reproduce this issue. Can you please share your values file and the parameters you provide using --set (if you have any).
Also, please attach the output of `helm ls`

[2019-09-23 16:44] maguro opened #479 "Need way to turn off `wait-for-db` completely"
**FEATURE REQUEST**

**Version of Helm and Kubernetes**:

Helm: v2.14.3
Kubernetes: 1.14.3-gke.11

**Which chart**:
`jfrog/artifactory`
`7.17.4`

**What happened**:

I am using Cloud SQL and I intend to access it via the Cloud SQL proxy, which is [installed as a sidecar](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine).  This means that there is no SQL connectivity until the side

[2019-09-23 17:54] vinayagg commented on #470
@danielezer I am not customizing values files or using any --set values
I was also able to reproduce this with RPM installs of 11.6 version.
Also, the configuration has been fixed in 12.x installs (this is how I found and fixed the issue in 11.6 RPM install). When I found same thing in helm charts, I thought it was a known issue that got fixed in 12.x but not helm charts.
as for `helm ls`, I do no

[2019-09-23 19:11] #472 closed

[2019-09-24 04:43] #474 closed

[2019-09-24 04:46] eldada commented on #479
Good, valid request.Will pick it up.

[2019-09-24 10:02] #479 closed

[2019-09-26 09:07] danielezer commented on #470
When using chart along with the docker subdomain method, you need to either set `ingress.hosts` to the list of DNS names you will access your artifactory installation with, including the DNS names for the docker repo. For example, if you have an artifactory installation under the DNS name `myartifactory.mycompany.com` and docker repositories with the names `docker-repo1` and `docker-repo2`, you wi

[2019-09-26 09:07] #470 closed

[2019-09-26 11:18] danielezer commented on #191
@sanjeevkarani you can just what you are looking for with `artifactory.persistence.fileSystem.existingSharedClaim.numberOfExistingClaims` which was kindly contributed by @zendril with PR #263

[2019-09-26 11:19] danielezer commented on #191
@sanjeevkarani you would have to create the PVCs beforehand but in this way you can achieve having more shards than the amount of nodes in you cluster. Does that make sense?

[2019-09-26 11:27] danielezer commented on #464
@evannorstrand did that fix your problem?

[2019-10-03 12:18] danielezer opened #485 "Specify that the current S3 binarysore template requires the node to have the IAM role"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
DOCS ISSUE

**Version of Helm and Kubernetes**:
ALL

**Which chart**:
artifactory, artifactory-ha

**What happened**:
the docs need to be updated to specify that the current binarystore S3 implementation requires that the IAM role be associated to the node. In order to work with kube2iam or any othe

[2019-10-03 18:24] ypan887 opened #487 "Adding Support for SSL mode in mission control chart for external postgresql"
right now, it seems that there are no way to pass ssl options to external postgresql databse in mission control chart.

1. We do have an options for bundled postgresql:

postgresql.db.sslmode

Which sets the env variable

$DB_SSLMODE

However, it is not being honoured by JFMC 3.5

2. The sslmode properties are not available for extern database, and we can not directly pass the full url with ssl op

[2019-10-04 18:44] mgstep opened #488 "Nginx config update error"
I ran into an error upgrading the Nginx config

helm upgrade --install artifactory jfrog/artifactory -f nginx-values.yaml
UPGRADE FAILED
Error: render error in "artifactory/templates/nginx-service.yaml": template: artifactory/templates/nginx-service.yaml:1:14: executing "artifactory/templates/nginx-service.yaml" at <.Values.nginx.enabled>: nil pointer evaluating interface {}.enabled
Error: UPGRADE

[2019-10-04 19:01] mgstep commented on #488
helm version v2.14.3

[2019-10-06 07:10] eldada commented on #488
1. What was the config used in the initial install?
2. What are the values in `nginx-values.yaml`?

[2019-10-06 12:12] mgstep commented on #488
Initial install was a vanilla helm install jfrog/artifactory —name artifactory (tried with artifactory-ha with same results). The config file was first a modified version of the one specified on the readme, then even using the exact readme threw the error. All it takes to throw the error is the first two lines of the .yaml file, however, that reference Nginx

I.e. the nginx-values.yaml from the do

[2019-10-06 12:15] danielezer commented on #488
@mgstep From what you posted here, you have an indentation issue. It should look something like the following:
[code]

[2019-10-06 12:25] danielezer commented on #488
@mgstep can you also share which version of the just you are trying to use and the output from trying to install without any values? When I try to install `artifactory-ha` without values, it works as expected..

[2019-10-06 22:05] mgstep commented on #488
The indents were just from the paste, with them indented properly I still get the error.
The install works but updating the nginx values fails.

[2019-10-07 12:49] danielezer commented on #488
@mgstep I am still not able to reproduce this issue... Can you please explain your full process and send all of your values files?

[2019-10-07 13:37] danielezer commented on #488
@mgstep From looking at your values and your error message, it seems like it happens because you have an indentation issue in values.
instead of:
[code]

You need:
[code]
Please notice the two spaces before the `artifactoryConf` keyword.

When I use the values you use as is, I get the same error you get:
[code]

When I fix the indentation for the `artifactoryConf` keyword, it works as expected.

A

[2019-10-07 13:44] mgstep commented on #488
Can't believe I didn't see that. Thank you for your help. The error had me wrapped around the axle,  especially because I have done this before without issue (its the little things). Whoops!

[2019-10-07 13:50] danielezer commented on #488
Happy to help :)

[2019-10-07 13:50] #488 closed

[2019-10-08 09:33] robjcrowston opened #495 "Putting chart version in spec.VolumeClaimTemplate.metadata.labels of a StatefulSet prevents ANY future upgrade of existing Release"
BUG REPORT

See below for full details:
https://github.com/helm/charts/issues/7803

It seems that the jfrog helm charts also have this bug, for example:

https://github.com/jfrog/charts/blob/45c9c8e138f8ce94e80d638653ab08ae810b1738/stable/artifactory/templates/artifactory-statefulset.yaml#L7

[2019-10-10 00:59] lexual opened #496 "6.13.1 support"
6.13.0 is only available from helm chart for artifactory-ha despite 6.13.1 being released a few days ago.

[2019-10-10 04:48] eldada commented on #496
Yes. This is correct. We will submit a pull request for this shortly.
In general, it's a good idea to manage the Artifactory version in your custom config `values.yaml`. It's supported in the `artifactory.image.version` key:
[code]

This way, you are not dependant on the chart release cycle.

[2019-10-10 06:40] #496 closed

[2019-10-10 08:46] danielezer commented on #495
Hey @robjcrowston Thanks for the issue. I don't see the chart label in `spec.VolumeClaimTemplate.metadata.labels`. The link you sent is to labels set on the statefulset itself and not on the volumeClaimTemplate. From looking at the code, I see that the only label we set on the volumeClaimTemplate is `name: artifactory-volume`
https://github.com/jfrog/charts/blob/45c9c8e138f8ce94e80d638653ab08ae810

[2019-10-10 09:49] danielezer commented on #495
Unless I'm missing something @robjcrowston ?

[2019-10-11 17:38] imorti opened #499 "helm install fails every time"
Been trying to use the artifactor-ha helm chart using
`helm install --name artifactory-ha jfrog/artifactory-ha`. All pods fail except `artifactory-ha-postgresql`.
Error in nginx pod is:
```nginx: [emerg] host not found in upstream "artifactory" in /etc/nginx/conf.d/artifactory.conf:27```

[2019-10-11 17:42] danielezer commented on #499
Hey @imorti, sounds like you’re using an old version of the chart. Please try to run:
helm repo update
And try to install the chart again

[2019-10-11 17:43] imorti commented on #499
oh I did that about 3-4 times already and still fails literally every time.

[2019-10-11 17:44] danielezer commented on #499
Can you please share the version which you are using and any values files/parameters you provide for the chart upon installation?

[2019-10-11 17:45] imorti commented on #499
`artifactory-ha-0.17.1`

`nginx: docker.bintray.io/jfrog/nginx-artifactory-pro:6.13.1`

[2019-10-11 17:46] imorti commented on #499
`artifactory-ha          	1       	Fri Oct 11 12:24:13 2019	DEPLOYED	artifactory-ha-0.17.1    	6.13.1     	default `

[2019-10-11 18:12] imorti commented on #499
apiVersion: v1
appVersion: 6.12.2
description: Universal Repository Manager supporting all major packaging formats,
  build tools and CI servers.
home: https://www.jfrog.com/artifactory/
icon: https://raw.githubusercontent.com/jfrog/artifactory-dcos/master/images/jfrog_med.png
keywords:
- artifactory
- jfrog
- devops
maintainers:
- email: amithk@jfrog.com
  name: amithins
- email: daniele@jfrog.co

[2019-10-13 23:37] lexual commented on #496
Good to know @eldada . Are helm charts and artifactory versions largely decoupled. i.e. if I start upgrading each one indepently from another will I likely get stuck with trying to a artifactory upgrade that relies on stuff in newer helm chart.

[2019-10-14 18:36] eldada commented on #496
Yes. We try to keep them decoupled. If a special step is needed, we note it in the `CHANGELOG.md` of the chart.

[2019-10-15 07:04] danielezer commented on #499
Thanks @imorti. Can you please share the logs from the artifactory pod?

[2019-10-15 07:04] danielezer commented on #495
Closing this issue. Doesn't seem to be relevant

[2019-10-15 07:04] #495 closed

[2019-10-15 15:37] andrewhertog opened #500 "[artifactory-ha] db.properties file error"
**Is this a request for help?**:
Help!
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
artifactory-ha-0.17.1

**What happened**:
Performed an upgrade from `artifactory-ha-0.15.6` to `artifactory-ha-0.17.1` via helm upgrade.
1. `helm get values jfrog > jfrog.yaml`
2. `helm upgrade jfrog jfrog/artifactory

[2019-10-15 15:45] andrewhertog commented on #500
Also, the issue persists when i rollback to artifactory-ha-0.15.6

[2019-10-15 20:39] palko444 opened #501 "xray - add secrets for DBs credentials"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  FEATURE REQUEST
Please allow credentials for rabbitmq, postgress and mongodb, to be set from secrets. Currently credentials are directly in values.yaml file. This will probably require update of dependent charts also.

**Version of Helm and Kubernetes**:
k8s: v1.14.3
helm: v2.14.0

**Which chart**

[2019-10-15 20:53] palko444 opened #502 "xray - add wait for dependent services"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):FEATURE REQUEST
Add options for mongodb, postgress, rabbitmq to be able to wait for instances to be accessible. Currently this is implemented only if Dbs are installed by chart
[code]
This can be done same way as in artifactory-ha `waitForDatabase: true`
E.g.:
waitForMongo: true|false
waitForRabbitm

[2019-10-15 21:04] palko444 opened #503 "xray - add rabbitmq url in global section"
**Is this a request for help?**:NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):FEATURE REQUEST
Add `rabbitmqurl` to xray global section as this is only one missing. Mongo and postges are both in global section.

**Version of Helm and Kubernetes**:
k8s: v1.14.3
helm: v2.14.0

**Which chart**:
NAME CHART VERSION APP VERSION
jfrog/xray 1.2.1 2.10.1

**What happened**:
For xray cha

[2019-10-15 21:12] palko444 opened #504 "xray - allow global.*urls to be loaded from secrets"
**Is this a request for help?**:NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):FEATURE REQUEST
Currently all credentials in `global.*url` are put as string to values.yaml file. Please move those to secrets, as `postgresqlTlsSecret` is already secret.

**Version of Helm and Kubernetes**:
k8s: v1.14.3
helm: v2.14.0

**Which chart**:
NAME CHART VERSION APP VERSION
jfrog/xray 1.2.1

[2019-10-16 07:37] danielezer commented on #500
@andrewhertog Please add to your values:
[code]

and then run:
[code]

After you've done that, please send the content of the file `/var/opt/jfrog/artifactory/etc/db.properties`

[2019-10-16 14:35] danielezer commented on #500
@andrewhertog that's weird. Can you send the full log of the artifactory pod?

[2019-10-17 05:16] guillemtanya opened #505 "[artifactory-ha] - Add custom labels in Nginx deployment and Artifactory statefulset's"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

**Which chart**: artifactory-ha

**What you expected to happen**: To have the chance to define custom labels for the nginx deployment and primary & node sateefulset k8s objects

[2019-10-18 13:46] andrewhertog commented on #500
@danielezer The Postgres pod is up and I am able to access it from within the same namespace that the Artifactory pods are running in

[2019-10-18 18:01] DDSloan96 opened #508 "Add JMX Exporter to helm chart"
Feature Request:

When JMX is exposed include the jmx exporter (https://github.com/prometheus/jmx_exporter) and associated service monitor config

[2019-10-21 13:58] #505 closed

[2019-10-22 09:45] eldada opened #509 "Support Kubernetes 1.16.0 is broken due to old PostgreSQL sub-chart"
**BUG**
Due to the use of old PostgreSQL sub chart (version 0.9.5), deploying on k8s 1.16.0 does not work with default values.

**Which chart**:
- artifactory
- artifactory-ha
- distribution
- mission-control
- xray

**What happened**:
With k8s 1.16.0, support for Deployment version `extensions/v1beta1` is dropped. This breaks the ability to easily install our charts with the default `helm install

[2019-10-22 09:59] eldada commented on #509
A workaround for this is to

1. Pre install the PostgreSQL chart from a later version or use an external PostgreSQL DB
2. Prepare chart database config to point to external PostgreSQL instance (in or out of K8s)
[code]
3. Deploy chart with PostgreSQL disabled (`--set postgresql.enabled=false`) and pass external DB parameters (as file with `-f custom-db.yaml` or command line parameters with `--set

[2019-10-24 12:35] arielkv opened #511 "Pod successfully starts even if `copyOnEveryStartup` commands fail"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Latest

**Which chart**:
artifactory-ha & artifactory

**What happened**:
I've provided a command within the `copyOnEveryStartup`. It failed. Nonetheless, the pod was started successfully with no indication for the failure.

**What you expected to happ

[2019-10-24 12:36] arielkv opened #512 "copyOnEveryStartup should create target directory in case it doesn't exist"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Latest

**Which chart**:
artifactory-ha & artifactory

**What happened**:
When trying to copy on startup to a folder which doesn't exist, it will fail. You need to create the directory in advance.

**What you expected to happen**:
It would be grea

[2019-10-25 13:26] zendril commented on #242
It looks like there is addCertsToJavaKeystore in the entrypoint now, but it it trying to copy from /artifactory_extra_certs which doesn't exist and can't be created by the 'artifactory' user given that / is owned by /.

Is that accurate or am I missing something here?

[2019-10-25 14:03] palko444 commented on #242
Currently im doing this with preStartCommand:
default password for javakeystore is "changeit"

<pre>
preStartCommand: "/java/jdk-11.0.2+9/bin/keytool -importcert -keystore /java/jdk-11.0.2+9/lib/security/cacerts -storepass YourPass -file /usr/local/share/ca-certificates/all.crt -alias YourAlias -noprompt
</pre>

this is customVolumes and customerVolumeMounts:
<pre>
customVolumes: |
    - name: all

[2019-10-26 16:09] zendril commented on #242
Thanks! That's exactly what I did on my side as well.

I notice that the implementation in the helm charts won't work for
importing a store.. it assumes multiple single certs.

Maybe I can contribute a patch in a bit.

On Fri, Oct 25, 2019, 10:03 palko444 <notifications@github.com> wrote: