[2019-10-27 21:09] zendril opened #515 "Feature: preStartCommand for primary and node separately."
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE

**Version of Helm and Kubernetes**: 0.17.1 and k8s 1.15.3

**Which chart**: artifactory-ha

**What happened**: preStartCommand runs on both primary and member nodes.

**What you expected to happen**: Sometimes there are things that you only want to run on one or the other. So we would like

[2019-10-27 21:11] zendril commented on #515
@eldada @danielezer @arielkv Do you guys have a preference whether this run before, or after the existing Values.artifactory.preStartCommand?

[2019-10-28 07:51] eldada commented on #515
Hi @zendril - this is a great idea and makes good sense!
I think it should run **after** the existing `artifactory.preStartCommand`.
Looking forward for the PR. Thx for helping!

[2019-10-28 08:28] eldada commented on #500
@andrewhertog - where does this stand?

[2019-10-28 08:29] eldada commented on #499
@imorti - is this still relevant?

[2019-10-28 14:14] andrewhertog commented on #500
No change in the status yet. I'm waiting for someone to continue helping me with this.

[code]

Logs:
[code]

[2019-10-28 17:45] danielezer commented on #500
@andrewhertog I’ll try to reproduce this issue and get back to you with my findings

[2019-10-28 19:01] #286 closed

[2019-10-28 21:11] danielezer commented on #515
I agree with @eldada since I see this as a kind of ‘override’ to the regular preStartCommand. Thanks @zendril! Great idea!

[2019-10-30 14:36] andrewhertog commented on #500
@danielezer Any updates? This is blocking us from moving this cluster into a production state...

[2019-10-31 12:17] eldada commented on #242
The suggested configuration that @palko444  proposed is the correct way to implement this.
As for importing a full store (@zendril) - we'll be happy to get a pull request. I think it can also be done with a combination of `customVolumeMounts`, `customVolume` and `preStartCommand`.

[2019-10-31 12:17] #242 closed

[2019-10-31 13:45] andrewhertog commented on #500
@danielezer  any update? our whole cluster is offline now.

[2019-10-31 14:17] danielezer commented on #500
@andrewhertog I understand that my colleagues in the support team are helping you. I’m sorry for the delayed response, I was on a business trip. I’m sure they can help you better than I can, their problem solving skills are much better than mine 🙂

[2019-10-31 15:05] andrewhertog commented on #500
Yes, on a zoom call with them right now. It looks like it was a combination of running out of diskspace on our backup drive, and the db.properties file not copying over properly due to that.

Might be handy to add some disk space checking, and a failfast if there is no disk space in the entrypoint file

[2019-10-31 15:30] danielezer commented on #500
Good point @andrewhertog. @eldada WDYT?

[2019-10-31 17:16] eldada commented on #500
I opened an internal task for this.

[2019-11-03 09:20] danielezer commented on #509
Fixed by #513

[2019-11-03 09:27] eldada commented on #509
Need to complete other charts.

[2019-11-03 15:43] #511 closed

[2019-11-04 02:13] zendril opened #519 "Allow env to be sourced from secrets"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: 2.9 Helm, 1.15.3 Kubernetes

**Which chart**: artifactory-ha

**What happened**: The helm chart allows you to pass extra env vars, but they are just static values for the most part.

**What you expected to happen**: I would like to have secrets m

[2019-11-04 16:57] danielezer commented on #519
Nice Feature request @zendril. I think the best way would be to give you the option to provide the full env var declaration. That way you can use stuff like this as well - https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables.
This is also supported with secrets :)

The only trick is that I'

[2019-11-05 23:37] russ-c opened #522 "HA Configuration won't start due to "No valid installed license found.""
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**: Helm v2.14.3, Kubernetes 1.13.11-gke.5

**Which chart**: artifactory-ha 0.7

**What happened**: Primary instance starts up successfully. Secondary instance fails to start up. Produces the following log:
[code]

Deleting the namespace and re-deploying 6.13.0

[2019-11-06 07:40] eldada opened #523 "Side car log containers don't have resources definitions"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG
In order to get a true guaranteed QOS, all containers must have resources requests and limit set (to the same value).
The loggers side cars don't have a way to set this.

**Version of Helm and Kubernetes**:
NA

**Which chart**:
All

**What happened**:
Charts don't have a way to control the resources configuration of the loggers side ca

[2019-11-06 07:46] eldada commented on #522
@russ-c - few question:
1. Did you initially see the error only on upgrade? (Upgrade is not permitted if license does not exits on the original install)
2. If deleted the namespace, you need to delete the PVs and DB to start fresh.  Did you do that?

[2019-11-06 08:09] #512 closed

[2019-11-06 08:10] #485 closed

[2019-11-06 10:06] Infinityxx opened #524 "Networkpolicy creation should be optional."
**Is this a request for help?**: No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

**Which chart**: artifactory-ha

**What happened**: The helm chart tries to creates/change the networkpolicy

helm install --name artifactory-ha jfrog/artifactory-ha --tiller-namespace mynamespace

Error: release artifactory-ha failed: networkpolicies.networking.k8s.io is forbidden: Use

[2019-11-06 14:28] zendril commented on #519
Agree on the approach.
Naming is always hard.

Just thinking aloud.. why do we have to have 2 different sections?

What people currently put in is valid env section stuff

- name: "foo"
  value: "bar"

as would be:

- name: SPECIAL_LEVEL_KEY
    valueFrom:
      configMapKeyRef:
        name: special-config
              key: SPECIAL_LEVEL

So can't we just take everything inside extraEnvironmentV

[2019-11-06 16:16] danielezer commented on #519
@zendril no, that would not be possible because users now provide something like:
[code]
and not:
[code]

we can't break compatibility, and that's why we need a new configuration option

[2019-11-06 20:00] tduffield opened #526 "Artifactory in-accessible when spun up using AWS ELB Load Balancer"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**: `artifactory-ha`

**What happened**:
When using an AWS Load Balancer, classic or network, nginx starts but fails to serve content.

**What you expected to happen**:
By specifying [the supported annotations](https://kubernetes.

[2019-11-06 20:37] tduffield commented on #526
The workaround for this that I found was to take control of the `artifactoryConf` variable and set it to this:

[code]

[2019-11-07 00:09] zendril commented on #519
I agree completely with not breaking backwards compatibility, but that isn't how we are using it today.

Here is an example from our config:

[code]

Perhaps I there is some magic helm/yaml magic going on that I'm not familiar with, but here is the code that is using those configs:

https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-primary-statefulset.yaml#L32

[2019-11-07 08:25] danielezer commented on #519
Right @zendril, I missed that.

[2019-11-07 13:33] #519 closed

[2019-11-07 17:34] sebastien-prudhomme opened #529 "Missing changes with the new PostgreSQL chart version"
**Version of Helm and Kubernetes**:

**Which chart**:

Artifactory 8.1.4 (and certainly the HA version)

**What happened**:

postgresqlConfiguration format has change in the new chart.

It uses now local camel case convention in YAML (and transform it to snake case in this https://github.com/helm/charts/blob/master/stable/postgresql/templates/configmap.yaml) :

[code]

**What you expected to happe

[2019-11-09 07:16] zendril opened #532 "nginx fails with 'exec user process caused "operation not permitted"'"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
2.9 and 1.15.3

**Which chart**:
artifactory-ha stable

**What happened**:
Starting nginx causes the pod to go into crashloop.
Pulling kubectl logs for the pod gives back:
[code]

**How to reproduce it** (as minimally and precisely as possible):
set nginx.enabled:

[2019-11-09 17:44] zendril commented on #532
Update: Looks like when I run it manually on docker it at least tries to start up, but I just don't have the configurations in place. So this is failing because I believe that nginx is requesting priv escalation which we have disabled on the clusters.

Any idea why nginx is doing this? Is there a version that doesn't require this?

[2019-11-09 18:37] eldada commented on #529
Thx @sebastien-prudhomme for the catch. It should work with the snake case too. Right? Or did you see an error with this?

[2019-11-09 19:05] sebastien-prudhomme commented on #529
@eldada i didn't test it. But as the postgresql helm chart doc said to use camelcase, i've migrated all my config.

[2019-11-10 07:14] imorti commented on #499
Sorry. I rolled off the project so no access to logs. Will try again on a new cluster.

[2019-11-10 09:00] eldada commented on #529
We'll submit a fix to support the officially documented config. Thx!

[2019-11-10 12:30] #529 closed

[2019-11-10 12:33] eldada commented on #471
@brunomanzo - do you want to continue this?

[2019-11-11 23:09] ypan887 opened #538 "[mission-control] provide annotations options to service so that user can use it to allocate private LB"
Some cloud provider allows auto-allocation of LB resources with private IP when certain annotations were given. However, they often do not work with the default ingress controller. However, unlike the artifactory chart, if we choose to expose mission control over the LoadBalancer service type, we do not have the option to provide annotations currently.

Examples on GKE:

annotations:
      cloud.g

[2019-11-11 23:21] ypan887 commented on #538
https://github.com/jfrog/charts/pull/539

[2019-11-13 07:19] #538 closed

[2019-11-13 14:52] andrewhertog opened #541 "Nginx as Daemonset"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
artifactory-ha

**What you expected to happen**:
Have the ability in the helm chart to change the nginx deployment to a daemonset, this way it will automatically scale to the number of nodes we have in our cluster.

[2019-11-13 16:09] arielkv opened #542 ""livenessProbe" of Xray microservices should be larger during upgrades"
**Is this a request for help?**: No
---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report.

**Version of Helm and Kubernetes**: Not relevant.

**Which chart**: Xray.

**What happened**: During an upgrade of Xray fro, 2.6.X to 2.7.X or larger, there is a large MongoDB migration, "V0060_RootFiles_Indicator_Added_Up". In large environments, this migration can take several minutes

[2019-11-13 22:18] laith-leo opened #543 "Artifcatory chart install from HUB is failing"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Yes

**Version of Helm and Kubernetes**:
HELM 3.0.0 stable, Kubernetes 1.14.7

**Which chart**:
artifactory/artifactory

**What happened**:
Unable to install the chart, I'm getting this error message:

[code]

**What you expected to happen**:
Install the Jfrog Artifactory chart.

**How to reproduce

[2019-11-14 06:21] eldada commented on #543
@laith-leo - good catch. We'll fix it shortly.

[2019-11-14 09:08] #543 closed

[2019-11-14 14:37] evannorstrand opened #545 "Postgres Password in Configmap/Secret Reseting"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
K8s - 1.15.1
Helm - Whatever rancher uses

**Which chart**:
Artifactory

**What happened**:
Whenever Artifactory restarts, the configmap containing the password for the database restarts.

**What you expected to happen**:
The password to stay static

**H

[2019-11-14 14:58] nmccready commented on #545
We are seeing this as well.

[2019-11-14 15:09] evannorstrand commented on #464
Apologies for not getting back to this sooner, I had the wrong URL referenced. I was pointing at the github charts url, not the jfrog url.

[2019-11-14 15:09] #464 closed

[2019-11-14 18:13] laith-leo commented on #543
It works now, thanks. Good to close this issue.

[2019-11-15 04:23] danielezer commented on #545
Hey @evannorstrand @nmccready, this is actually a known issue with helm. Because the postgres chart uses `randAlphaNum` to generate a random password - https://github.com/helm/charts/blob/master/stable/postgresql/templates/_helpers.tpl#L89. When using `randAlphaPassword`, any time you run `helm upgrade`, a new password is randomly generated. This means that the secret may not always reflect the re

[2019-11-15 04:23] #545 closed

[2019-11-15 16:01] evannorstrand commented on #545
@danielezer - We have the password set in the helm chart and this issue is persisting.

[2019-11-15 21:57] danielezer commented on #545
@evannorstrand can you share your values file?

[2019-11-18 13:49] angegar opened #550 "Artifactory federation"
**Is this a request for help?**:

yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): don't know yet, but i would say it is normal behaviour causing troubles

**Version of Helm and Kubernetes**:

[code]

**Which chart**:
`artifactory-artifactory         24              Mon Nov 18 14:11:34 2019        DEPLOYED        artifactory-ha-1.1.12                   6.14.1          artifactor

[2019-11-18 18:02] flomsk commented on #306
hi there. Facing the same, I need to remove `/artifactory/` from the path. :(
I tried different routes and nothing helped:
ingress --> artifactory-service
ingress --> nginx --> artifactory-service

Im confused, please provide the correct configuration

[2019-11-18 19:38] brunomanzo commented on #471
Hello @eldada, sry for not responding, we can close this, thanks!!!

[2019-11-18 19:38] #471 closed

[2019-11-19 04:15] danielezer commented on #306
@flomsk did you try the configuration I posted in my previous comment? It worked out for me...

[2019-11-19 13:18] angegar commented on #550
Ok finally I manage to push the good configuration with the good service id. However i fear the nginx reverse proxy does not redirect the access trafic.

Can someone tell me if the  /access endpoint is exposed outside the kubernetes stack ?

[2019-11-19 16:32] titou10titou10 opened #553 "xray: readiness+liveness probes for analysis, indexer and persist STS fail with HTTP 403"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
helm version: v3.0.0
kubernetes version: v1.14.6+2e5ed54

**Which chart**:
jfrog/xray   v1.2.4  app:  v 2.10.7

**What happened**:
fresh install without any external components (mongo..)
analysis, indexer and persist fail to start because the readiness probe returns  HTTP 403

**What you expe

[2019-11-20 06:51] eldada commented on #553
Thx @titou10titou10 . We'll look into this ASAP.

[2019-11-20 07:30] eldada commented on #553
@titou10titou10 - please try the following:
1. Deploy
2. In the 90 secs before probes start, open a shell to the container in the pod
3. Run `ls -la /var/run/secrets/`
4. Run `ls -la /`
5. Share the output here

I tried reproducing, but it does not happen to me.

[2019-11-20 14:17] titou10titou10 commented on #553
ls -la /

    drwxr-xr-x.   1 root root   39 Nov 20 14:14 .
    drwxr-xr-x.   1 root root   39 Nov 20 14:14 ..
    drwxr-xr-x.   2 root root 4096 Oct 14 00:00 bin
    drwxr-xr-x.   2 root root    6 Jun 14  2018 boot
    drwxr-xr-x.   5 root root  360 Nov 20 14:14 dev
    drwxr-xr-x.   1 root root   19 Nov 20 14:14 etc
    drwxr-xr-x.   1 root root   18 Nov  7 15:53 home
    drwxr-xr-x.   9 root ro

[2019-11-20 14:38] eldada commented on #553
The pull request I have created (#559 ), should fix it.

[2019-11-20 18:22] eldada commented on #553
@titou10titou10, can you please test the newly released chart and confirm the fix? 1.2.6

[2019-11-20 19:17] titou10titou10 commented on #553
Thanks for your express fix !!
But it does not work and this bug should be reopened
For analysis its' OK but for indexer and persist I think you set the XRAY_K8S_ENV=true env variable in the wrong container
You put the variable on an initcontainer and not on the container itself,,,

[2019-11-21 06:18] eldada commented on #553
Oooops. That's embarrassing. Sorry!
Fix is on its way...

[2019-11-21 07:47] #553 closed

[2019-11-21 07:54] eldada commented on #553
Can you confirm xray-1.2.7 resolves this?

[2019-11-21 09:53] danielezer commented on #524
@Infinityxx You can achieve this be setting the following in your values file:
[code]

This will make sure that the network policy will not be created.
I can't really change this inherently because I don't want to break compatibility for current users.

[2019-11-21 10:10] danielezer commented on #550
@angegar It should be exposed, yes. We expose the artifactory HTTP port, so any endpoint on that port should be accessible.

[2019-11-21 14:06] titou10titou10 commented on #553
I...still don't know
The env variables seemto be at the right place but i have now another problem the "server" pod does not start:

Logs from the "init-wait" initcontainer:

    '/scripts/setup.sh' -> '/var/opt/jfrog/xray/data/setup.sh'
    Creating directories
    Waiting for Mongo...
    mongodb ok
    Waiting for Postgres...
    postgresql ok
    Waiting for Rabbit...
    rabbitmq ok
    Prepa

[2019-11-21 14:41] titou10titou10 commented on #553
Got it to work !
So yes your fix solved my problem
The`"server_log4go_config.xml"` file not found problem was caused because I "erased" the`"xrayUserId`"and`"xrayGroupId"`variables
We are running in OpenShift and we try to not open permissions when it is not necessary

    common:
      xrayUserId: null
      xrayGroupId: null

Maybe it could be worth noting in the doc that you cannot do that..Or

[2019-11-21 22:42] #542 closed

[2019-11-21 23:22] evannorstrand opened #564 "Postgres Password in Configmap/Secret Resetting"
Reference ticket #545  that was closed.

[2019-11-21 23:24] evannorstrand commented on #564
@danieldrrivera - See below for the relevant section of the yaml file. Obviously FOO isn't our password, but it shows the format.

postgresql:
  postgresqlPassword: FOO

[2019-11-22 12:03] danielezer commented on #564
@evannorstrand you have an indentation issue in your values file but I assume that’s because of the copy to github... which version of the chart are you currently using?

[2019-11-28 05:40] lexual opened #569 "Can't set DEBUG level logging via helm chart for Xray"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: n/a

**Which chart**: 1.2.9

**What happened**: logging level is hard-coded to INFO level.

**What you expected to happen**:

According to below link, logging can be set to DEBUG or other levels, but currently this isn't exposed via the helm char

[2019-11-28 05:43] lexual opened #570 "set loadbalancerIP for xray chart in helm chart"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: n/a

**Which chart**: 1.2.9

**What happened**:
can't specify loadbalancerIP

**What you expected to happen**:
be able to specify loadbalancerIP, similar to how it works with the artifactory-ha chart.

The relevant artifactory helm setting is "ng

[2019-11-28 10:54] bechampion commented on #42
This worked for me , i can't seem to find anywhere on the interwebs:
helm install stable/nginx-ingress --set controller.service.annotations."cloud\.google\.com\/load-balancer\-type"=Internal

[2019-11-28 16:05] cobexer commented on #509
@eldada Is there an ETA for Xray?

[2019-11-29 09:19] yiwu1 commented on #524
@danielezer Thanks for your reply. I changed accordingly in my forked repo per your instruction, how to publish the new chart so that I can install new chart like following commands?
helm repo add jfrog https://charts.jfrog.io
helm install --name artifactory-ha jfrog/artifactory-ha

[2019-11-29 10:03] danielezer commented on #524
@yiwu1 i think we have a misunderstanding. You don’t need to fork the repo, you can do that with our chart by providing custom values to the chart installation.
This is how you would do that:

1. Create a values file by the name values.yaml with the following content:

networkPolicy: []

2. Install the chart using this values file:
helm install —name artifactory jfrog/artifactory —values values.ya

[2019-11-29 12:57] eldada commented on #509
Sorry @cobexer . No ETA yet. You can still deploy the PostgreSQL chart separately and use it.
Follow instructions in [external PostgreSQL](https://github.com/jfrog/charts/tree/master/stable/xray#postgresql).

[2019-12-02 06:01] yiwu1 commented on #524
@danielezer Could you please suggest further?
$ cat values.yaml
networkPolicy: []
$ helm install --name artifactory-ha jfrog/artifactory-ha --tiller-namespace yiwu1-ns --values values.yaml
Error: release artifactory-ha failed: networkpolicies.networking.k8s.io is forbidden: User "system:serviceaccount:yiwu1-ns:default" cannot create resource "networkpolicies" in API group "networking.k8s.io" in th

[2019-12-02 08:37] eldada commented on #524
@yiwu1 - seems like we do have an issue here. I'll reopen and work with @danielezer on this.
Can I ask you to download the chart locally, extract and remove the file `artifactory-networkpolicy.yaml`?
Then try deploying with the local extracted directory.
Let us know if it helps.

[2019-12-03 01:50] yiwu1 commented on #524
@eldada Thanks for your help, looks like networkpolicy step went through with remove **artifactory-networkpolicy.yaml** . But I am now currently blocked by "**poddisruptionbudgets**" resource, is it possible to remove that?
yiwu1@npm-test-3173903:~/JFrog$ ls -ltr
total 60
-rwxr-xr-x 1 yiwu1 nogroup   807 Oct  7 00:55 artifactory-networkpolicy.yaml
-rw-r--r-- 1 yiwu1 nogroup 50991 Oct  7 00:55 arti

[2019-12-03 13:28] dishameswania opened #576 "Issue with DB Password consisting of '&'"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Latest

**Which chart**: Artifactory

**What happened**: External Postgres DB password with '&' - is populated wrongly in the db.properties file resulting in issue while starting up Artifactory with a password authentication failure message.

**What you

[2019-12-03 13:49] dishameswania commented on #576
This works with an escape character, i.e. if you use the --set command as per below:
--set database.password="pass\\&word"

[2019-12-03 13:55] eldada commented on #576
Be aware of [helm open issue](https://github.com/helm/helm/issues/4030) regarding this limitation.

[2019-12-03 15:19] eldada commented on #524
I think you are running with very restricted permissions on your cluster.
You can try removing the file `artifactory-node-pdb.yaml` and try again. We might need to make it optional too.

[2019-12-04 02:19] yiwu1 commented on #524
@eldada I should have permission on my namespace as I given the namespace name explicitly. Removed **artifactory-node-pdb.yaml** and get other error again:

_~/JFrog$ helm install --name artifactory-ha ./artifactory-ha --tiller-namespace yiwu1-ns
Error: release artifactory-ha failed: secrets is forbidden: User "system:serviceaccount:yiwu1-ns:default" cannot create resource "secrets" in API group "

[2019-12-04 23:23] lexual opened #578 "Add nginx pod (to enable tls not utilising Ingress)"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: n/a

**Which chart**: Xray
**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

We are using xray helm chart to deploy xray.
We aren't able to

[2019-12-05 12:42] eldada commented on #578
@lexual - I hope this answers:
1. Yes. It's totally acceptable. As we don't have any special config for it, it should be fairly simple.
2. Our custom nginx docker image is in `artifactory` and `artifactory-ha` for a few reasons:
  (a) Custom Docker specific reverse proxy config needed for Artifactory
  (b) Out of the box self signed TLS
        If you shell into the Nginx container, you can find t

[2019-12-05 12:43] eldada commented on #576
Closing as this is not related to our charts.

[2019-12-05 12:43] #576 closed

[2019-12-05 22:16] lexual commented on #570
we may not require this after all, will re-open if we do.

[2019-12-05 22:16] #570 closed

[2019-12-06 00:50] papovyr opened #579 "Use s3 as datastore and NFS as working dir | Do not use PV"
hi,
I deploy artifactory to k8s (eks) with following command

[code]
After deploy i can access to artifactory (license is active ),
I tryed to push files and that works as well
Checked binarystore.xml looks fine to me (Contains s3 info that i provided)
There is a IAM attached to instance and has access to s3

But there Is a 20 GB EBS volume (PV) attached,

**What you expected to happen**:
Im expec

[2019-12-08 07:36] eldada commented on #579
@papovyr - good one!
Yes. This can be set. Since `artifactory` is installed as a StatefulSet, we use the `volumeClaimTemplates` to create the default StorageClass PVC.
To change that, you need to pass the EFS PVC (that you create before) as an existing PVC.
`--set artifactory.persistence.existingClaim=<YOU PRE CREATED EFS PVC>`.

Does this answer your question?

[2019-12-08 08:44] danielezer commented on #524
@yiwu1 You provide the `tiller-namespace`, you need to provide `namespace` as well. There is a different between `tiller-namespace` which is the namespace tiller is installed in, to `namespace` which is the namespace you install your chart in.

[2019-12-08 14:13] danielezer commented on #524
@yiwu1 Please let me know if this fixes your issue

[2019-12-09 07:56] yiwu1 commented on #524
@danielezer Thank you. I am able to deploy to my namespace but with **FAILED** status:
$ helm list --failed --tiller-namespace=yiwu1-ns
NAME          	REVISION	UPDATED                 	STATUS	CHART                	APP VERSION	NAMESPACE
artifactory-ha	1       	Sun Dec  8 20:11:14 2019	FAILED	artifactory-ha-0.17.0	6.13.0     	yiwu1-ns

[2019-12-09 09:00] danielezer commented on #524
@yiwu1 That's progress :)
Can you please share the output of you helm install command as well as the output of:
`kubectl get pods -n yiwu1-ns ` ?

[2019-12-09 09:11] yiwu1 commented on #524
@danielezer I figured out my RBAC problem then chart can be deployed , the command using is exactly the same you given above.
kubectl get pods -n yiwu1-ns
NAME                                          READY   STATUS      RESTARTS   AGE
tiller-deploy-59d8697c85-gzbxk                1/1     Running     0          3h29m

[2019-12-09 09:15] danielezer commented on #524
@yiwu1 so it seems that the pods never get created. Please try to delete the installation using `helm delete --purge artifactory-ha`

and then try to re-install the chart with the command I posted before. Let me know if it works

[2019-12-09 17:39] papovyr commented on #579
Thanks this will work

[2019-12-09 17:39] #579 closed

[2019-12-09 20:56] evannorstrand opened #580 "Would like to submit PR/MR to add custom ca-certs to Xray"
As the title states, I have made some helm chart changes to allow adding a single CA-Cert to xray. Can I please be given permissions to push my branch and submit a PR/MR?

I have an artifactory-pro-x license: erik@strategicmissionelements.com.

Respectfully,
Erik Van Norstrand

[2019-12-10 05:28] yiwu1 commented on #524
@danielezer It is successfully deployed but still no pods running, is there anything wrong here?
$ helm ls --all --tiller-namespace=yiwu1-ns
NAME          	REVISION	UPDATED                 	STATUS  	CHART               	APP VERSION	NAMESPACE
artifactory-ha	1       	Mon Dec  9 22:13:31 2019	DEPLOYED	artifactory-ha-1.3.0	6.16.0     	yiwu1-ns
 tess kubectl get pods --namespace yiwu1-ns
NAME

[2019-12-10 05:56] eldada commented on #524
I suspect there is an error with the statefulsets. Can you get them and describe them:
[code]

[2019-12-10 07:41] yiwu1 commented on #524
@eldada Due to restriction here, I had to remove all the subpath entry which defined here for example https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/templates/artifactory-node-statefulset.yaml#L327, is subpath must here?
LAST SEEN   TYPE      REASON                 KIND                    MESSAGE
17s         Warning   FailedCreate           StatefulSet             create Pod art

[2019-12-10 09:28] eldada commented on #524
Yes. `subPath` is required in most cases or else you might mask other files needed in that same directory.

[2019-12-11 01:18] yiwu1 commented on #524
@eldada subPath was forbidden in our cluster for now, can I change as following for temp replacement:
From:
        - name: binarystore-xml
          mountPath: "/artifactory_extra_conf/binarystore.xml"
          subPath: binarystore.xml

To:
          - name: binarystore-xml
          mountPath: "/artifactory_extra_conf/"

[2019-12-11 07:21] yiwu1 opened #585 "chart release and repo release map"
Wondering how the chart version mapped with the source repo release, for if I unzip https://charts.jfrog.io/artifactory-ha-0.17.3.tgz, it is as following:
~/JFrog/artifactory-ha$ ls -ltr
total 176
-rwxr-xr-x 1 yiwu1 nogroup 35922 Oct 24 04:10 values.yaml
-rwxr-xr-x 1 yiwu1 nogroup   390 Oct 24 04:10 values-small.yaml
-rwxr-xr-x 1 yiwu1 nogroup   390 Oct 24 04:10 values-medium.yaml
-rwxr-xr-x 1 yiw

[2019-12-11 07:30] eldada commented on #585
Can you explain better the problem you see? I don't understand your question...

[2019-12-11 07:32] eldada commented on #524
Technically it is possible. But any other mounts to `/artifactory_extra_conf/` will be lost, as this is a whole directory mount.

[2019-12-11 07:36] yiwu1 commented on #585
Sorry for that, for example this version artifactory-ha-0.17.3 released here https://charts.jfrog.io/artifactory-ha-0.17.3.tgz, don't know this version is comming from which commit/branch of the resource repo https://github.com/jfrog/charts.git ? Thanks!

[2019-12-11 09:01] eldada commented on #585
You are right @yiwu1 . We just commit with the app version change in the commit message. And we also don't tag.
I'll review the process internally and suggest improvements.

You can see the match between chart version and app version in the `CHANGELOG.md` of each chart.

[2019-12-11 09:46] yiwu1 commented on #585
Thanks @eldada .

[2019-12-11 09:46] #585 closed

[2019-12-11 18:10] danielezer commented on #580
Hey @evannorstrand, I see you already created a few PRs via a fork. Is this issue still relevant?

[2019-12-11 19:57] esg-dlelis opened #586 "Cannot connect to the database when using a custom db-user on a secret"
BUG REPORT

**Version of Helm and Kubernetes**:
k8s: 1.14.7
Helm: v3.0.1

**Which chart**:
artifactory-jcr
version" 6.16.0

**What happened**:
When I try to set the database.secrets values to get my db-user and db-password from a secret, the artifactory instalation cannot connect to my external database.

If I try to use database.user and database.password it works fine.

**What you expected to ha

[2019-12-11 20:05] #580 closed

[2019-12-11 20:26] esg-dlelis commented on #586
Additional info, I changed the db-user from artifactory-jcr to artifactory, still doesn't work

[2019-12-11 21:21] evannorstrand commented on #42
@danielezer - the fix to this is to add a {} after every annotation location in values.yaml. Should look like below:

annotations: {}

[2019-12-12 03:02] danielezer commented on #42
Thanks @evannorstrand! I see you added this fix to your PR. Thanks for your contribution!!

[2019-12-12 10:29] #526 closed

[2019-12-13 03:36] lexual opened #591 "Clarification on when require PersistentVolumeClaim in artifactory-ha"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): QUESTION?! ;)

Regarding chart artifactory-ha.
We currently are using Google Cloud Buckets as our storage backend.
i.e. `artifactory-persistence.type=google-storage`

Our current setup does appear to have PersistentVolumeClaims associated with them.

Can we safely run without them?

Would setting `art

[2019-12-13 07:45] yiwu1 commented on #524
@eldada After above change, application failed to start due to following error, any idea for the fix?Thanks!
dServiceImpl': Unsatisfied dependency expressed through method 'setBinaryService' parameter 0; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'binaryServiceImpl': Invocation of init method failed; nested exception is java.lang.Runt

[2019-12-19 01:39] jfrog-aparicio commented on #591
Short answer:
It would not be 100% safe.

Long answer:

When working with an object store like S3 or Google storage, there is an eventual upload mechanism. This means when you upload something and Artifactory says upload succeded, it really just means it is stored on the local machine (in the persistent volume) and it will eventually make it to the object store (a matter of seconds). To the end-us

[2019-12-19 02:02] lexual commented on #591
very clear, thanks for the clarification.

[2019-12-19 02:03] #591 closed

[2019-12-19 12:14] sumanmohan opened #593 "Artifactory helm upgrade command fails with forbidden error"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm Version
Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}

[2019-12-19 17:32] sylus opened #594 "Artifactory warning merging destination map"
Can this line be fixed and be defaulted to an empty map?

https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L53
https://github.com/jfrog/charts/blob/master/stable/xray/values.yaml#L86

[2019-12-21 13:58] eldada commented on #593
Hi @sumanmohan .
It looks that you have a couple of issues with the upgrade command:
1. Missing the same
[code]
 as passed to the first `helm install` command.

2. You should set `--set databaseUpgradeReady=yes` to notify you are good for the upgrade if relevant.

Can you check and get back to us?

[2019-12-21 14:02] eldada commented on #594
Sure @sylus . We'll add it to the TODO list

[2019-12-22 08:27] eldada commented on #524
`/opt/jfrog/artifactory/etc/binarystore.xml (Is a directory)` is the reason. It should be a file, not a directory. Check your configuration.

[2019-12-22 08:54] sumanmohan commented on #593
Hi @eldada
Thanks for your reply. We tried to run the commands as mentioned and we can see the upgrade command was executed but a secondary member node pod was not provisioned. We see the primary pod getting terminated and provisioned again. Also we see another nginx pod getting created. Not sure if this is expected?

[ec2-user@ip-172-29-4-188 ~]$ kubectl get pods
NAME

[2019-12-23 13:18] #594 closed

[2019-12-23 13:49] danielezer commented on #564
@evannorstrand is this still an issue for you?

[2019-12-23 23:35] akashpatel567 opened #598 "Deployment failure on IBM kubernetes cluster with persistence volume true"
Hello,

I am using 8.2.4 version from https://charts.jfrog.io/ but not able to make it work when persistence volume is true.

It works when persistence volume is false.

Note: Everytime I have cleaned the release and remove the pvc before the redeployment. Matched the password in artifactory and postgres container is same. Hardcoded the password but error remains same.
Please let me know what coul

[2019-12-24 06:05] yiwu1 opened #599 "About ingress TLS"
Ingress can't be deployed successfully here with TLS cert with following spec:

ingress:

  defaultBackend:
    enabled: false
  enabled: true
  hosts:
  - artifactory-stg.test.com
  tls:
  - secretName: artifactory-tls

Reading this https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#ingress-and-tls and Wondering is that following annotations the must annotation to add?

annotations

[2019-12-24 08:53] yiwu1 opened #600 "About artifactory externalPort and internalPort"
Hi Team,
When I deployed artifactory with following parameters with port 80 both external port and internal port.

[code]

It looks correct when we list service information:
[code]

But ha member always waiting for artifactory-ha-artifactory-ha-primary:**8081** . Is it a bug?
[code]

[2019-12-24 12:07] eldada commented on #600
Good catch @yiwu1 . This is indeed a bug. We have `8081` hard-coded.
I will submit a fix.

[2019-12-24 15:35] eldada commented on #600
PR submitted. Note that you cannot use ports lower than 1024 as Artifactory is running as non-root that restricts port binding below 1024.

[2019-12-24 15:38] danielezer commented on #599
Hey @yiwu1,
you need to add something like the following:
[code]

You were missing the `tls.hosts` part, which tells ingress which hostnames should use SSL

[2019-12-24 17:26] akashpatel567 commented on #598
JFI, We are using IBM block storage.

[2019-12-24 17:30] akashpatel567 opened #602 "binarystore.xml missing content for ibm block storage"
Hello,

We are using IBM kubernetes services and with the charts listed on charts.jfrog.io in particularly I am using the version 8.2.4 doesn't have any information about IBM cloud block storage.

#values.yaml

`
    ## Set the persistence storage type. This will apply the matching binarystore.xml to Artifactory config
    ## Supported types are:
    ## file-system (default)
    ## nfs
    ## goog

[2019-12-24 17:33] akashpatel567 commented on #598
And as I mentioned on [#602](https://github.com/jfrog/charts/issues/602). in parallel to the solution to the problem it would be great if we can start supporting IBM cloud as well.

[2019-12-24 20:05] akashpatel567 commented on #598
@jainishshah17 could you please look into it. As I found you have worked on IBM cloud.

Thank You

[2019-12-24 20:33] #600 closed

[2019-12-27 01:39] lexual commented on #578
we'll park this for meantime. We have enabled nginx-ingress controller on our cluster for the time being.

[2019-12-27 01:39] #578 closed

[2019-12-31 12:03] eldada commented on #602
IBM block storage is S3 compatible, so you should use the S3 configuration for this.

[2020-01-03 12:01] sumanmohan commented on #593
This issue can be closed. We were able to proceed with the upgrade commands when we removed --set artifactory.primary.persistence.existingClaim=true --set artifactory.node.persistence.existingClaim=true

[2020-01-03 12:01] #593 closed

[2020-01-06 08:09] yiwu1 opened #607 "Failed to pass resources requests and limits for most containers"
Hi team,

When I pass values-xxx.yaml(-f) in latest mission-control chart to set resources requests and limits for my installation, only elasticsearch and missionControl container take effect for the resource spec, but all other containers like insightServer/insightExecutor/insightScheduler and all initContainers have empty resource with following spec :resources: {}.

Resource will be inconsisten

[2020-01-06 19:52] planteman opened #608 "Feature [artifactory-ha]: Should allow artifactory.primary.replicaCount customization"
**Is this a request for help?**:
No.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

We need to have the primary StatefulSet template expose the replicaCount (like the member StatefulSet) so that we may configure the primary StatefulSet replicaCount from the values file.

While `member` has a values-override for the number of replicas, the primary is hardwired to u

[2020-01-07 07:26] andyzhang495 opened #609 "Feature: customizable mountOptions for nfs-pv"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:

`helm v2.14.1`

`kubernetes 1.12.6`

**Which chart**:

`artifactory-ha`

**Anything else we need to know**:

Some NFS providers need the client to add specific `mountOptions`, like these:

[code]

We'll need an entry in the templates to allow use

[2020-01-07 08:56] andyzhang495 commented on #609
Drafted a PR to implement the feature.

[2020-01-07 14:33] sp3nx0r commented on #501
Also looking for this functionality. Utilizing Helm in a CI/CD environment is incompatible with current Xray chart due to the lack of secrets support. Rabbitmq appears to allow existing secret, but postgres/mongo do not have that option in chart currently.

[2020-01-09 11:31] arielkv commented on #509
There is an issue with the "rabbitmq-ha" sub-chart as well (used by Xray).

$ helm install -n xray jfrog/xray
```Error: validation failed: [unable to recognize "": no matches for kind "Deployment" in version "extensions/v1beta1", unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta1"]```

You cannot use an external RabbitMQ for Xray.

[2020-01-09 19:38] tzatwork commented on #508
Seconding this. I'm literally performing this work now to get jmx in prometheus.

[2020-01-10 22:51] snickerson-holon opened #612 "Fails to start on clean install : helm3"
**Is this a request for help?**:
Possibly, perhaps I am missing something.
The instructions were two commands. Further install required not mention in docs?

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
Helm 3.0.2, Kubernetes Version: v1.16.3

**Which chart**:
jfrog/artifactory-jcr

**What happened**:
Installing to k8s it sits in p

[2020-01-11 05:21] eldada commented on #612
Hey @snickerson-holon . The helm setup is right. I assume the "pending state" you note is the pod.
You should try figuring out the reason for the pending with
[code]
Look down at the `Events:` for clues on what's going on.

[2020-01-11 05:24] eldada commented on #608
Hi @planteman . Artifactory app does not support multiple primary nodes. Only multiple members. This is a know limitation and we are already working on changing this architecture in the future.

[2020-01-11 05:26] eldada commented on #607
@yiwu1 - can you share your `values-xxx.yaml` file?

[2020-01-11 05:26] eldada commented on #599
@yiwu1 - can update status here?

[2020-01-11 16:36] #609 closed

[2020-01-12 22:22] DNewt opened #613 "Pod Disruption Budget uses (potentially) incorrect labels"
**Is this a request for help?**:
Yes

**This is a FEATURE REQUEST**
This is potentially a feature request, although I am unsure why in its current state it would be useful

**Describe *in detail* the feature/behavior/change you'd like to see.**

For the following chart artifactory-node-pdb.yaml the labels the Pod Disruption Budget match on are shared with the Nginx pods.
This means that you can't

[2020-01-13 01:37] yiwu1 commented on #599
I am still woking on our infrasture team for the TLS configuration, thanks!

[2020-01-13 01:37] #599 closed

[2020-01-13 02:00] yiwu1 commented on #607
Here it is:
[values-small.yaml.zip](https://github.com/jfrog/charts/files/4051897/values-small.yaml.zip)

Thanks!

[2020-01-13 23:19] patbat95008 opened #614 "Replicator internal port is not set by default"
Is this a request for help?:
No

Is this a BUG REPORT or FEATURE REQUEST?  BUG REPORT

Describe in detail the feature/behavior/change you'd like to see.

https://github.com/jfrog/charts/blob/d8570470f69c4e541e1c2a12aea42178c17596c9/stable/artifactory-ha/templates/replicator-configmap.yaml#L14

The Helm client is looking in this location when the replicator.enabled = true value is used. From what I

[2020-01-14 22:50] snickerson-holon commented on #612
Thanks for the reply.
Is JCR a repo, or a way to connect to an Artifactory repo?
Being new to artifactory, and repo in general, perhaps I am mis-ready the docs.
TBH, I have since attempted to install Artifactory, as well as artifactory-ha, and they fail as well similarly.
[code]

[2020-01-15 03:51] DNewt commented on #613
I have had a shot at fixing this
Pull request: #615

[2020-01-16 11:37] eldada commented on #612
1. Can you confirm Artifactory pod is ok? `kubectl get pods -n cattle-dog`
2. If ok, can you `kubectl port-forward -n cattle-dog <artifactory-pod> 8081:8081` and open http://localhost:8081 in your browser, do you see the JCR UI?

[2020-01-16 11:38] eldada commented on #608
As this is not supported, I'm closing this for now. Future support for such architecture is in development.

[2020-01-16 11:38] #608 closed

[2020-01-16 11:38] #602 closed

[2020-01-16 13:20] djsly commented on #608
Can we keep open to track the status of the development ?

Or can you refer to the issue we can follow.

[2020-01-16 14:03] eldada commented on #608
Sure. I should have noted this before: https://www.jfrog.com/jira/browse/RTFACT-13461 is the issue tracking this. It is being actively worked on.

[2020-01-17 19:30] shubb30 opened #617 "Allow for importing custom CA certificates"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Version of Helm and Kubernetes**:
Rancher 2.3.2, Kubernetes 1.15.5

**Which chart**:
Xray

**What happened**:
I deployed Xray in our Kubernetes cluster, and when I tried to point it to my Artifactory instance, it said it could not connect, which I presumed was because of our certificate signed by our corporate CA.

I cre

[2020-01-17 22:04] res0nat0r opened #618 "TLS x509 name incorrect"
BUG REPORT:

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

`artifactory-ha`

**What happened**:

Trying to `docker login`  errors with an x509 invalid certificate.

[code]

**What you expected to happen**:

Auth to the Artifactory docker repo without any errors.

**How to reproduce it** (as minimally and precisely as possible):

I have this setup in my helm chart:

[code]

[2020-01-18 19:56] eldada commented on #617
Thanks @shubb30 . We'll add this functionality to support mounting a pre-created secret to `/usr/local/share/ca-certificates`.
Can you confirm mounting to this path solved your connection issue?

[2020-01-19 06:05] eldada commented on #618
Hi @res0nat0r . Can you give the exact steps used to create the secret? The command for the key+certificate creation and creation of the `artifactory-tls`?

[2020-01-19 07:02] eldada commented on #614
Yep. Good catch @patbat95008. This was missed in a previous change we did. Will fix this promptly.

[2020-01-19 08:35] #614 closed

[2020-01-19 09:00] eldada commented on #509
We are aware. Working on fixing it in a later version as it will also require a downtime upgrade (newer rabbitmq charts don't seem to support upgrading over exiting ones).

[2020-01-19 11:59] sergevs opened #624 "Please add a configuration variable for nginx server_name FQDN"
**Is this a request for help?**:
NO
---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

Please introduce a separate variable for nginx server_name configuration.
Currently artifactory nginx can be configured using **.Values.nginx.artifactory_conf** configuration variable. Default values.yaml provides a configuration. However, for a proper setup, it's required to fully o

[2020-01-19 13:36] eldada commented on #624
Thx @sergevs . We'll look into it. Looks like a valid request.

[2020-01-21 16:16] shubb30 commented on #617
Thanks @eldada . Mounting that path, and also running `update-ca-certificates` as root fixed the problem.  Running the command would need to be added to the image so that it runs every time the container starts.

[2020-01-21 18:06] res0nat0r commented on #618
Hi @eldada

Sure, so I'm just testing via generating a self-signed cert:

[code]

Then I've created a new `artifactory-ha` namespace:

`kubectl create ns artifactory-ha`

Then created a tls secret:

`kubectl create secret tls artifactory-tls --cert=domain.crt --key=domain.key`

And then just installed the helm chart  with the snippet  shown above via:

`helm install --namespace artifactory-ha --na

[2020-01-21 20:01] eldada commented on #618
I think you also need to add the `-subj "CN=dns-entry-of-our-artifactory-elb.com"` to get it to be stamped with your domain name. See more explanation in https://stackoverflow.com/a/10176685/1300730 answer.

[2020-01-21 21:28] radekw commented on #617
👍

[2020-01-21 22:01] res0nat0r commented on #618
Hi,

So I'm actually setting the CN via the prompts when the openssl command is running, example like below:

[code]

It seems that the helm templating is just ignoring the `ingress.tls.hosts[]` config item, and seems to just be defaulting to the generic `artifactory-ha` type default service name, based on what I see below:

`Error response from daemon: Get https://dns-entry-of-our-artifactory-elb

[2020-01-21 22:08] eldada commented on #617
As noted - we are running as non-root, so running `update-ca-certificates` might be an issue. We'll look into the possible options here.

[2020-01-22 01:07] ghost opened #625 "Artifactory S3 backend is not working"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**:
Helm: 3.0
Kubernetes: 1.4

**Which chart**: Artifactory HA

**What happened**: I have updated values.yml with S3 configuration but when I am trying to install this chart with the values.yml file, the S3 back is throwing error. I tried IAM and access/secret key

[2020-01-22 13:33] danielezer commented on #625
@rapandya Can you share your values.yaml file?

[2020-01-22 13:35] danielezer commented on #625
From a quick google search, this looks like an issue with your AWS access key - https://stackoverflow.com/questions/30518899/aws-s3-how-to-fix-the-request-signature-we-calculated-does-not-match-the-sign

[2020-01-22 13:40] danielezer commented on #624
@sergevs You can use `ingress.hostname` even if you are not using ingress. If you look at the `.nginx.artifactoryConf`, you can this just under the line you posted:
[code]

This basically loops over the `ingress.hosts` list and adds an entry to `server_name` based on that.
Please try to set something like:
[code]

Please let us know if that works :)

[2020-01-22 14:07] #613 closed

[2020-01-22 14:18] danielezer commented on #607
Good catch @yiwu1, thanks for that. I created a PR #626 to address this issue

[2020-01-23 01:41] #607 closed

[2020-01-23 17:47] res0nat0r commented on #625
- So I had this exact problem and that error also. I was getting that same error and I 100% knew my key was correct because I was verifying it would read/write to the bucket via the awscli tool.

I did have my `path:` set to `/` originally, and this didn't work and was apparently causing the issue. I don't know if you have it set like this, or possibly the path being blank, but trying to set somet

[2020-01-24 10:33] sergevs commented on #624
Thank you. Well, seems using ingress.hosts produces a working configuration. I would recommend to update comments for it and give a hint that it provides additional nginx virtual server configuration even if ingress is not enabled.

[2020-01-24 10:33] #624 closed

[2020-01-25 18:04] eldada commented on #617
Update: We are checking the possibility to add support for this in the Xray application itself as the non-root issue is critical.

[2020-01-26 09:31] danielezer commented on #624
@sergevs Good point. We would be more than happy to merge a PR if you would suggest one :)

[2020-01-26 09:54] danielezer commented on #586
Thanks for reporting this @esg-dlelis, I can reproduce this issue. I will look into it shortly

[2020-01-26 13:31] danielezer commented on #586
@esg-dlelis I'm pretty sure I found the issue.
The issue is actually this error message:
[code]

This happens because there's trailing whitespace in the value of the environment variables `DB_USER` and `DB_PASSWORD`.
For example:
When I follow this procedure to create a secret with the database username and password:
[code]
and then deploy artifactory using helm, I see the same error message you s

[2020-01-26 13:41] #468 closed

[2020-01-28 19:01] erick-duran opened #629 "Docker login fails with subdomain reverse proxy configuration"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm: 3.0.2
K8s: Server Version: 1.14

**Which chart**:
artifactory-ha

**What happened**:
Performing `docker login <artifactory-url>` returns:
[code]

**What you expected to happen**:
Perform a successful login.

**How to reproduce it** (as minimall

[2020-01-28 19:37] erick-duran commented on #629
Solved, was missing `/artifactory`:
[code]
Login is now successful.

[2020-01-28 19:37] #629 closed

[2020-01-30 09:52] danielezer commented on #586
@esg-dlelis I'm closing this issue, this should fix your issue. Let me know it doesn't get resolved and I'll re-open the issue

[2020-01-30 09:52] #586 closed

[2020-01-30 15:08] danielezer commented on #625
Thanks @res0nat0r, I can reproduce this issue and I opened a bug report in JFrog's Jira - https://www.jfrog.com/jira/browse/RTFACT-21157. If you would upvote this issue it would help prioritise it.

@rapandya It looks like you probably encountered the same issue. In the mean time, as a workaround, you can either use the default value, which is set in the `values.yaml` file to `artifactory/filestor

[2020-01-30 15:26] danielezer commented on #569
Hey @lexual, thanks for reporting, this is a valid feature request.
Currently, there's no "native" support for doing something like `--set xray.logging.level=DEBUG`, however, in the next Xray major version, which is due to be released in the next few weeks, it would be supported.
In the mean time, you can use `customVolumes` and `customVolumeMounts` in order to achieve the same result. Here's an e

[2020-01-30 15:26] #569 closed

[2020-01-30 15:29] danielezer commented on #612
@snickerson-holon is this still an issue for you?

[2020-01-30 15:31] danielezer commented on #564
@evannorstrand Have you made any progress with the above? Can I close this issue or is this still an issue for you?

[2020-01-30 15:41] danielezer commented on #532
@zendril are you sure? I don't see anything regarding privilege escalation in the code... The only thing Nginx does which is sort of "over privileged" is bind to a port that's lower that 1024. But that's at the container level, so it shouldn't affect you..

[2020-01-31 02:31] zendril commented on #532
Honestly I've lost the context on this one, and we are moving away from nginx ingress so I won't be able to test it anyways. I'm going to close this as a result.

[2020-01-31 02:31] #532 closed

[2020-02-01 17:48] #523 closed

[2020-02-02 08:43] danielezer commented on #499
@imorti any is this still relevant? Are you able to provide the logs from the Artifactory pod?

[2020-02-03 12:28] #515 closed

[2020-02-04 18:20] #541 closed

[2020-02-07 17:40] erick-duran opened #637 "Add custom volumes for Distribution to add private CA certificates"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Kubernetes: 1.14
Helm: 3.0.3

**Which chart**:
Distribution

**What happened**:
Cannot get MC to communicate with Distribution via HTTPS due to private CA certificate. HTTP works.

**What you expected to happen**:
Link the Distribution service wit

[2020-02-10 16:36] alexanderldavis commented on #598
Was there a resolution to this? I am running into the exact same error when trying to deploy on IBM k8s with PVCs. Thanks for any help!

[2020-02-10 19:31] maguro opened #639 "Service port name should be hard coded"
Currently, the port name of the k8s `Service` is the `.Release.Name`.  Ideally, it should be hardcoded to something like `http`.  This makes it easier to attach GCP security policies to the port which is keyed off of the port **name**.

[2020-02-11 13:06] danielezer commented on #637
@erick-duran just an FYI, Xray is written in Go, so there's no need to import the certificate into with keytool. irregardless, I will add the `preStartCommand` feature

[2020-02-11 15:54] jshrack-ssi commented on #617
We too are running into this same issue. Our Artifactory instance is running with a certificate with an untrusted intermediate certificate which needs to be added to the trust chain. The only other alternative is to use an insecure link to Artifactory which is breaks SSO. Adding this feature to the XRay chart would be greatly appreciated.

[2020-02-11 19:18] avivbl commented on #598
@alexanderldavis Yes, I was able to reproduce and resolve it. Reproduced by installing the helm chart on a 'used' PVC. Then resolved it by creating the PVCs in advance, for example:

pvc.yaml:

[code]

Then:
`kubectl apply -f pvc.yaml`

Finally, I referenced these in the values.yaml:
[code]

By the way, I also needed to create a custom init container to sort out the permissions on the volume:
[cod

[2020-02-12 18:53] erick-duran opened #643 "Mission Control service not added on Ingress template"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes: 1.14
Helm: 3.0.3

**Which chart**:
Mission Control

**What happened**:
Deployed MC using Ingress with the default `small` values. Accessing via the Ingress URL returned a blank page, server response was 404.

**What you expected to happen**

[2020-02-12 19:20] #639 closed

[2020-02-12 22:50] erick-duran commented on #637
Merge? 😬

[2020-02-13 08:44] danielezer commented on #637
@erick-duran Merged :)

[2020-02-13 09:15] danielezer commented on #643
@erick-duran You have to use `ingress.hosts` here. If you look at the code:
[code]

You can see that we loop over the ingress hosts and create rules based on those.
Ingress routing can work in two ways:
1. Route to the proper appropriate service based on the host you used to access it. For example, if you were trying to reach `jfmc.yourcompany.com` it would redirect to mission control. If you were

[2020-02-13 10:51] danielezer commented on #643
This PR ☝️ should help you with your issue. Nonetheless, you will still be required to provide either the `ingress.hosts` or the `ingressAdditionalRules`

[2020-02-15 06:01] erick-duran commented on #637
Hello @danielezer,
I have deployed this and I was able to mount my certificate into the Distribution container, but looking at the logs seems that `keytool` is not adding the certificate to `cacerts`. Here is the output from the command logs (from `kubectl logs` from the Distribution container):

[code]

I tried doing a `docker exec` as `root` into the container to run the command manually, but I

[2020-02-15 06:14] erick-duran commented on #643
@danielezer, I'm actually using `ingress.hosts`, here's all my Ingress config:
[code]

The PR will probably help, thanks! 👍

[2020-02-16 08:34] danielezer commented on #637
@erick-duran Did you do it the same way as you did with the other charts? i.e artifactory and jfmc?

[2020-02-16 11:42] danielezer commented on #637
@erick-duran I see the same issue with mission control as well. Did you manage to import the certificate to the mission control keystore?

[2020-02-16 11:44] #564 closed

[2020-02-16 11:44] #86 closed

[2020-02-16 11:45] #191 closed

[2020-02-16 19:07] erick-duran commented on #637
@danielezer,
Yes, I use the same command for all the charts. Just did a test deployment and `preStartCommand` on MC throws the same error for me:
[code]
The difference is that for this I was able to `docker exec -itu root <container> bash` (from the host node) and perform the command with no errors:
[code]
And the `cacerts` file was indeed modified:
[code]
And the certificate was imported. So this

[2020-02-18 08:35] danielezer commented on #637
Thanks, @erick-duran. We need to address this in the Docker image itself and not in the chart...
We will make sure to submit a fix and hopefully, it will be released soon

[2020-02-18 09:23] #643 closed

[2020-02-18 09:43] danielezer commented on #637
@erick-duran I merged the pull request that added custom volumes to the distributor containers as well. Please notice that the `customVolumes` has moved to `common`.

[2020-02-18 14:41] danielezer opened #648 "Permissions issue when trying to import a custom certificate in JFMC/Distribution"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

I have deployed this and I was able to mount my certificate into the Distribution container, but looking at the logs seems that keytool is not adding the certificate to cacerts. Here is the output from the command logs (from kubectl logs from the Distribution container):

Running custom

[2020-02-18 14:42] danielezer commented on #637
Closing this issue as I opened another, a more specific one, for the permissions issue

[2020-02-18 14:42] #637 closed

[2020-02-18 14:46] erick-duran commented on #648
Thank you @danielezer, can you please let me know as soon as this is fixed? This is blocking us from making our production deployment. Any suggested workaround?

[2020-02-18 14:59] danielezer commented on #648
@erick-duran it would be great if you could upvote this issue and add a comment saying that - https://www.jfrog.com/jira/browse/INST-566. This

[2020-02-18 15:02] danielezer commented on #648
@erick-duran Sure. I'll keep this issue updated.

[2020-02-20 01:43] erick-duran commented on #648
@danielezer,
FYI, got the same behavior in the `distributor` container:
[code]

And permissions are also `500`.

[2020-02-20 06:16] lexual opened #649 "Setting configuration variable for Artifactory-HA heavy loads"
Hi,

We have been experiencing some performance issues with our Artifactory installation, and are looking to tweak some of the settings set out here:

https://jfrog.com/knowledge-base/how-do-i-tune-artifactory-for-heavy-loads/

e.g. values in:
* $ARTIFACTORY_HOME/tomcat/conf/server.xml
* $ARTIFACTORY_HOME/etc/artifactory.system.properties

Is this possible with current helm charts?

[2020-02-20 06:18] lexual commented on #649
If not, any short-term workaround ideas would be appreciated.

[2020-02-20 07:52] eldada commented on #649
Hey @lexual . These tunings are possible. In the chart's values, there is a section that allows setting custom environment variables and extra java options.
This info uses features from [official Artifactory Docker image](https://www.jfrog.com/confluence/display/RTF/Installing+with+Docker#InstallingwithDocker-SupportedEnvironmentVariables).

In the chart's `values.yaml`, use `artifactory.extraEnvi

[2020-02-20 08:49] danielezer commented on #649
To conclude, it would be something like the following:
[code]

You can look at the (values.yaml)[https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/values.yaml#L329] as a reference to the `extraEnvironmentVariables`

[2020-02-20 14:09] #649 closed

[2020-02-20 14:09] danielezer commented on #648
Thanks @erick-duran, good to know

[2020-02-20 19:56] erick-duran opened #651 "Helm upgrade error from v1.4.1 to v1.4.10 due to PodDisruptionBudget"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report (?)

**Version of Helm and Kubernetes**:
Helm: 3.1.0
Kubernetes: 1.14

**Which chart**:
Artifactory HA

**What happened**:
Tried to perform an upgrade from chart v1.4.1 to v1.4.10 using the same values (working fine). Got the following error:
[code]

**What you expected to happen**:
Depl

[2020-02-25 06:04] russ-c opened #652 "Helm chart support for Xray 3.2"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Setting XRAY_VERSION to 3.2 when deploying Xray through Helm results in each of the pods failing to start. Errors look like :
`/bin/sh: 1: /opt/jfrog/xray-analysis/wrapper.sh: not found`

Using XRAY_VERSION=2.11.4 works fine.

**Version of Helm and Kubernetes**: (Deploying on GKE)

[2020-02-25 07:18] eldada commented on #652
Hi @russ-c . The current public chart does not support Xray 3.x.
There are many breaking changes so we are going to release a new chart with migration details. This release is planned for today, so stay tuned. It will be released to https://charts.jfrog.io first (sources to here will follow in the coming days).

[2020-02-25 07:18] #652 closed

[2020-02-26 11:24] Hokwang opened #653 "artifactory - can I use ingress sub path ?"
Hello.

I want to use artifactory with https://my.company.com/artifactory-stage URL.

Is it possible?
(using including docker registry case or excluding docker registry case)

I can't deploy with sub path, can you provide simple example?

my values.yaml is
[code]

When I access my.company.com/artifactory-stage, it moved to my.company.com/artifactory and return 404 not found error.

[2020-02-26 12:43] admoriarty opened #654 "Latest published Artifactory chart doesn't match master code"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm 2 (maybe relevant to how "latest" is pulled?)

**Which chart**:
Artifactory

**What happened**:

The latest published package which is being pulled by default appears to be a 9.x chart (https://charts.jfrog.io/artifactory-9.0.14.tgz), but the co

[2020-02-26 12:48] eldada commented on #654
Hi @admoriarty. We are going to publish the sources for the new charts in the coming days. We were developing them internally and are in the process of preparing them for GitHub.
Sorry for the inconvenience.

[2020-02-26 12:50] admoriarty commented on #654
Thanks for that explanation @eldada but wouldn't it be prudent to delete that 9.x artifact to avoid this confusion, until the code matches the helm repo?

[2020-02-26 12:53] eldada commented on #654
There were some other considerations behind this 😄. Anyway, hope to publish soon.

[2020-02-27 01:22] erick-duran commented on #648
Any updates on this?

[2020-02-27 07:55] eldada commented on #648
Hi @erick-duran .
We identified the root cause for this is a bug in our Docker images and are now actively working on a fix.

[2020-02-28 02:45] Hokwang commented on #653
I found out ingress.path does not work.

[code]

I guess this is bug.

[2020-02-28 08:54] Hokwang commented on #653
@danielezer can you helm me?

[2020-02-28 09:47] danielezer commented on #653
@Hokwang You can try something like the following https://github.com/jfrog/charts/issues/306#issuecomment-520211341. Let me know if it works

[2020-02-28 10:02] Hokwang commented on #653
@danielezer
.Values.nginx.externalPortHttp is deprecated and I don't use nginx.
[code]
so serviceName and servicePort does not match.

[2020-02-28 10:39] danielezer commented on #653
Try to change it to the artifactory service name and the artifactory external service port

[2020-02-28 14:08] willrof commented on #612
Same here, what could it be?
Running on Kubeadm (Helm 3.1.1, Kubernetes 1.17.0)

Installation goes without error and exactly like snickerson-holon:
[code]

kubectl describe pod:
[code]

[2020-02-28 14:33] danielezer commented on #612
@willrof most k8s come with a default storage class. Can you check if you have a storage class in your cluster?

[2020-02-28 14:46] willrof commented on #612
It seems that I don't have any set.

[code]

[2020-02-28 15:08] danielezer commented on #612
Which type of cluster are you using?

[2020-02-28 15:14] willrof commented on #612
I'm using a Kubeadm Cluster deployed on 2 Debian VMs on GCP. 1 Master and 1 Node as a test environment since i'm getting these errors. the cluster is empty other than jfrog-artifactory.

[2020-02-28 16:58] danielezer commented on #612
Sounds like you have to create a storage class that points to GCE Persistent disks - https://kubernetes.io/docs/concepts/storage/storage-classes/#gce-pd

[2020-03-01 09:31] #499 closed

[2020-03-01 10:00] danielezer commented on #612
@willrof The same issue will happen to you when you try to install any helm chart that requires persistent storage, which is basically every DB/state manager. This is not Artifactory specific...

[2020-03-02 02:04] Hokwang commented on #653
I did run below commands,
[code]
8082 / and 8081 /artifactory/ is created automatically. I added 8082 /webapp
Do you mean this spec?
Anyway still not works and I tried to change this spec so many times but no luck.

[2020-03-02 06:43] jdamour98 commented on #304
@eldada Pinging. Any update? Can you link the Jira issue here?

[2020-03-02 10:58] SimonAlling opened #657 "Readme is broken on Helm Hub and Kubeapps Hub"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Which chart**:

`artifactory`

**What happened**:

`README.md` is broken on both [Helm Hub](https://hub.helm.sh/charts/jfrog/artifactory) and [Kubeapps Hub](https://hub.kubeapps.com/charts/jfrog/artifactory). For example, the giant table under _Configuration_ is practically illegible after `artifactory.masterKey`; and, under

[2020-03-03 07:18] Hokwang commented on #654
OMG I realize this now!

[2020-03-03 11:06] willrof commented on #612
Yes, you are correct. after setting the standard storageclass it worked! thanks!

[2020-03-03 11:39] danielezer commented on #612
Glad to hear it worked out!

[2020-03-03 11:39] #612 closed

[2020-03-03 16:20] SimonAlling commented on #657
Now that #658 is merged, I can confirm that it did the trick – with one exception: The configuration table had a different error, which should be fixed by #659. However, said PRs don't seem to affect [the latest version at Helm Hub (9.0.15)](https://hub.helm.sh/charts/jfrog/artifactory/9.0.15), and I don't know where to find that code.

[2020-03-03 19:54] sgryczan commented on #654
Ha! This just bit me as well. I was wondering why my manifests weren't rendering correctly, not realizing the source had changed. Glad I'm not crazy 😄

[2020-03-04 02:29] JfrogPrasanna commented on #657
@SimonAlling thank you. We have not merged the latest code with the latest helmHub packages. We will soon be doing. We will update  the  current GH readme to reflect it. Thanks for your patience.

[2020-03-04 09:06] eldada commented on #654
Sorry all. I hope to have good news in the coming days. We are working hard to get the sources cleaned up and ready to be published.
You can still get them by fetching the chart and extracting it:
[code]

NOTE: The chart's final sources are still WIP.

[2020-03-05 01:19] Hokwang commented on #653
@danielezer can you test this?

[2020-03-07 16:03] eldada commented on #304
Hi. Sorry. No estimate. There is an internal issue. Care to open a new, public JIRA and share it here? Also welcome to vote for it. I will link it internally.

[2020-03-09 16:09] jdamour98 commented on #304
I've tried to create it twice now and I keep getting
[code]
Can you please create it? Here are the details:

Current: Artifactory uses identity/credential (access token) to authorize GCS
Expected: Artifactory should use service account keys like any other application.

[2020-03-09 16:12] jdamour98 commented on #304
Ok well apparenly it was created successfully. The UI certainly didn't indicate that. The issue is `RTFACT-21493`, please link it internally @eldada

[2020-03-09 16:18] ahs-dev commented on #654
Hi there, are you already accepting questions or looking for feedback for these WIP charts?

We evaluated some Artifactory V6 to V7 migration scenarios using the new chart and ran into problems.

We don't use dynamic provisioning and set the parameters to use preconfigured claims via
`artifactory.persistence.existingClaim: "existing-claim-name"`
which works nice up to chart version 8.0.15, but cau

[2020-03-09 19:31] mrafieee opened #663 "helm chart to build version 7.2.1"
Trying to provision a 7.2.1 Artifactory using helm chart it is not like it.

set:
[code]

and received :

[code]

[2020-03-09 19:55] eldada commented on #304
Thx @jdamour98 . I made the link and will try to push this internally further.

[2020-03-10 12:34] eldada commented on #304
Update: Seems this feature is almost ready and will be announced in one of the coming releases. We will also add support for it in our Artifactory HA chart.

[2020-03-10 12:59] jaysiee commented on #504
@palko444  Any plans to implement this?

This is a critical issue for people trying to implement gitops as having these values at the current location keeps us from using SealedSecrets and similar workflows.

[2020-03-10 13:32] palko444 commented on #504
I guess i will wait for helm chart for xray 3.0

[2020-03-10 16:53] jdamour98 commented on #304
Awesome!! Thanks so much for keeping us posted @eldada, can't wait for it!

[2020-03-10 19:18] sanjeevkarani opened #664 "Google Cloud Storage template does not have cache-layer in chain definition"
Following template for GCS is missing cache-provider in chain definition (on line 490 of values.yaml)
[code]

Following template for AWS Storage is correct, it includes the cache-provider in chain definition (on line 542 of values.yaml)
[code]

[2020-03-10 21:58] farvour commented on #663
Is 7.2.1 even tested with the current Helm structure ecosystem?

[2020-03-11 13:23] mrafieee commented on #663
not sure, there is no docs on how we should use the version attribute `artifactory.image.version` !
is version 7.x.x backward compatible? specially for thee database schema.

[2020-03-11 18:01] JfrogPrasanna commented on #654
Hey guys, the charts are now aligned with latest 7.x versions. Please let us know if all is ok. Closing  this issue,  which was more related to "Latest published Artifactory chart doesn't match master code"  which  is now aligned. Please have a look at upgrade notes as well,  to get to this version.

[2020-03-11 18:01] #654 closed

[2020-03-11 21:51] farvour commented on #663
Based on the migration script they added I am going to say no.

[2020-03-12 06:25] eldada commented on #663
Hi all. For installing the new 7.x Artifactory, you need to use the newest charts we released in the last few days. We also merged the sources for these charts just yesterday (March 11, 2020).
We had a couple of weeks of misalignment, that probably cause the error you had initially, that I think are now resolved.

Version 7.x is backward compatible application wise, but does require a proper upgra

[2020-03-12 07:57] eldada commented on #664
@sanjeevkarani - can you provide a PR to add this support?

[2020-03-12 08:45] JfrogPrasanna commented on #657
@SimonAlling this is now fixed. and the latest is in this repo, free feel to check and contribute.

[2020-03-12 08:45] #657 closed

[2020-03-12 14:28] ahs-dev opened #671 "Chart Artifactory 9.0.23 volumeClaimTemplate error on fresh installation (and migration) when artifactory.persistence.existingClaim is used"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Version of Helm and Kubernetes**: Kubernetes 1.17,2, Rancher 2.3.3/2.3.5 (instead of Helm)

**Which chart**: artifactory-9.0.23

**What happened**:

When artifactory.persistence.existingClaim is set to refer to a pre-configured persistentVolumeClaim both a fresh installation and a migration (from chart artifactory-8.5.1) fail

[2020-03-12 15:11] ahs-dev commented on #671
Just did the same steps 'manually' using helm (version 3.11):

[code]

[code]

[2020-03-12 16:02] mrafieee commented on #663
@eldada Great thanks, It worked for me 👍

[2020-03-12 16:03] #663 closed

[2020-03-12 18:45] guanchzhou commented on #671
Hello. Issue is in file: artifactory-statefulset.yaml

There:
` volumeClaimTemplates:
  {{- if .Values.artifactory.persistence.enabled }}
  - metadata:
      name: artifactory-volume
    {{- if not .Values.artifactory.persistence.existingClaim }}
    spec:
      {{- if .Values.artifactory.persistence.storageClassName }}
      {{- if (eq "-" .Values.artifactory.persistence.storageClassName) }}

[2020-03-13 17:56] Mykolaichenko opened #674 "Artifactory migration from 6.18 to 7.2.1 and chart version from 8.5.1 to 9.0.23"
Hi guys,

Please take a look - I've experienced a weird state in scope of migration Artifactory from 6.18 to 7.2.1 and chart version from 8.5.1 to 9.0.23. I'm using just jforg/artifactorym without any HA settings, dedicated RDS PostgreSQL db and EBS as storage.

So, here is the migration-artifactory container, which must migrate the DB schema. Please see, secrets seems fine.
[code]

In logs I see:

[2020-03-13 22:39] mrafieee opened #675 "azure blockBlobStorage as persistence on 9.0.23"
I fresh installed version 7.2.1 with chart 9.0.23.

It runs super slow and when trying to push artifacts it returns:

[code]

[2020-03-14 01:24] mhamaydeh commented on #674
Hello , i have faced almost the same thing , stuck on  migration-artifactory-ha , but with different errors .  it is complaining about  MATER KEY and JOIN KEY
 [jfrt ] [ERROR] [7bd3e3bbd7297186] [tifactoryHomeConfigListener:59] [ocalhost-startStop-1] - Failed initializing Home. Master key checksum mismatch

2020-03-14T01:04:50.052Z [jfmd ] [INFO ] [7ddb419427983a97] [security_keys.go:128

[2020-03-15 06:32] eldada commented on #675
@mrafieee  - can you share your generated config that's produced by
[code]
I'm mostly interested to see the resources and the generated `artifactory.persistence.binarystoreXml`.

[2020-03-15 08:38] chukka commented on #674
@Mykolaichenko @mhamaydeh Thanks for reporting !
**Note:** To upgrade to Artifactory 7.x from version 6.18, you will need to upgrade to Artifactory 7.3.1 that will be available in the upcoming days, or to a higher version.
https://www.jfrog.com/confluence/display/RTF6X/Release+Notes#ReleaseNotes-Artifactory6.18

[2020-03-15 12:30] mrafieee commented on #675
@eldada

[code]

[2020-03-15 12:45] eldada commented on #675
Thx! What about the resources allocated to the containers? Can you share them too? You can also
[code]

[2020-03-15 13:00] mrafieee commented on #675
[code]

[2020-03-15 17:52] eldada commented on #675
Looks like the resources are OK.
As for the Azure binary store config, can you look into a couple of related errors:
1. https://stackoverflow.com/questions/44247379/unsupportedhttpverb-the-resource-doesnt-support-specified-http-verb-requesti

2. https://docs.microsoft.com/en-us/rest/api/storageservices/cross-origin-resource-sharing--cors--support-for-the-azure-storage-services

Seems like somethin

[2020-03-16 11:16] mhamaydeh commented on #674
@chukka thank you  ,
I'm trying to upgrade artifactory ha from 6.17.0 to 7.2.1  does it goes the same thing  as 6.18 ?

[2020-03-16 11:28] mhamaydeh opened #677 "Artifactory HA upgrade from 6.17.0 to 7.2.1 it keep stuck on init 4/5 on migration-artifactory-ha and it is complaining about MASTER_KEY and JOIN_KEY."
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm : 2.16.1
Kubernetes : 1.14.10-gke.27

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9",

[2020-03-16 11:29] mhamaydeh commented on #677
I'm passing the same master key that  6.17.0 is created with .
and generated new key for join_key .
I'm passing both with helm .

[2020-03-16 13:50] chukka commented on #674
@Mykolaichenko @mhamaydeh I'm closing this issue  , Please see my comments in another issue

[2020-03-16 13:50] #674 closed

[2020-03-16 13:56] chukka commented on #677
@mhamaydeh  Thanks for reporting this, Can you share know how master key was generated in 6.17.0 (did you explicitly generate  using `openssl rand -hex 32` and pass it while installing 6.17.0) ?

[2020-03-16 14:17] mhamaydeh commented on #677
@chukka  thank you for your help .
master_key is generated with   `openssl rand -hex 32 ` and stored in vault , and we pass it each time the same value  .

join_key is generated  with `openssl rand -hex 16` and stored in vault as well , it was not exist in 6.17.0 so it is new value introduced with 7.x

[2020-03-17 00:30] javier-ga opened #680 "Adding Service account annotations breaks all the release"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Version of Helm and Kubernetes**:
helm version - v3.1.1
kubernetes: EKS 1.14

**Which chart**:
Artifactory and Artifactory-ha

**What happened**:
The `stable/artifactory/templates/artifactory-serviceaccount.yaml` template wrongly renders all the `values.yaml` content inside the ServiceAccount

[2020-03-17 08:30] eldada commented on #680
Thanks @javier-ga . Good catch. Will provide a fix.

[2020-03-17 09:23] #680 closed

[2020-03-17 18:31] erick-duran commented on #648
Any updates on this?

[2020-03-17 22:27] TJM opened #687 "[artifactory-ha] values.yaml formatting causes syntax highlighting issues in vscode"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug, but it might not be  :)

**Version of Helm and Kubernetes**: v3.1.1 / v1.15.2

**Which chart**: artifactory-ha 2.0.31 (could also affect others)

**What happened**: I opened the values.yaml file in vscode to see what the defaults were and for documented examples, but the syntax highlighting wa

[2020-03-17 22:59] TJM commented on #687
After some internal deliberation, I decided to cancel this... yamllint (ruby) and yq (go) are both OK with this syntax, so I have to assume the problem is with vscode's parser.

[2020-03-17 22:59] #687 closed

[2020-03-18 00:17] TJM opened #688 "[artifactory-ha] NFS example doesn't work as directed"
**Is this a request for help?**: Yes (also filed a ticket with jfrog support)

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Version of Helm and Kubernetes**:
helm:

[code]

kubernetes:

[code]

**Which chart**: artifactory-ha-2.0.29

**What happened**: I set the following, in addition to the values-large.yaml and licenses.
[code]

After uploading an artifact, I not

[2020-03-18 06:55] eldada commented on #688
Right... seems we have a bug here 😬
The servers configuration is now controlled by the `system.yaml`, which we manage with the `artifactory.systemYaml` key.
The key that triggers the use of the NFS in the `system.yaml` is
[code]

So in your case, to get it working, you need to set in your `values-poc.yaml` something like
[code]

Can you test this and let us know if it worked?

[2020-03-18 14:26] TJM commented on #688
I went with:

[code]

I also had to set:

[code]

... and it looked like it was going to work, but after the `helm upgrade --install poc2 jfrog/artifactory-ha -f values-nfs.yaml`, the artifactory pods got stuck waiting for the primary. As this is just a POC, I can just delete it and start over, but it feels like there might be an order of operations issue too. (will dig into that in another issue)

[2020-03-18 16:08] eldada commented on #688
By design, when you `helm delete` a release, all the StatefulSets leave their PVCs behind to protect against data loss. This is built into the StatefulSet object.
You have to manually delete PVCs with an explicit `kubectl delete pvc ...`
We are working on fixing the docs and examples. Hope this gets resolved in the coming days.

[2020-03-18 16:18] TJM commented on #688
OK, so setting haDataDir settings seemed to work...

[code]
(poc1 - filesystem, poc2 - nfs)

Is there a way to programmatically set the haDataDir settings, like if the persistence type is nfs, then set enabled to true and set the path to the mountpoint?

Also, the manual operation of creating the directories seems like an anti-pattern...
* Is there a way to "skip" the backup mount, and just mount

[2020-03-18 16:25] TJM commented on #412
I am guessing this is at least partially working... the artifactory-ha chart seems to be using bitnami at least for the image.

https://github.com/jfrog/charts/blob/5f296a87d6c78726e753abd40bba80a9c056a5fb/stable/artifactory-ha/values.yaml#L94-L102

I would really like to have a more highly available and DR friendly database setup as well. At a minimum, I'd like to have PITR (point in time recover

[2020-03-18 16:29] TJM commented on #688
Thanks! I did delete the pvc's, and I am not sure exactly how to document that situation, maybe an uninstall or re-install section? Thanks for clarifying why this behaved the way it does, and it seems somewhat reasonable to keep the PVCs, but I sorta wish helm delete had a --purge  ;)

[2020-03-18 17:09] TJM commented on #242
If anyone finds this in the future, it looks like (at least in 7.2.x) that you can just mount the certs into `/var/opt/jfrog/artifactory/etc/security/keys/trusted` and artifactory will take care of trusting them for you...

[code]

And, of course the requisite:

[code]

[2020-03-19 06:54] eldada commented on #412
@TJM - to control this, you are recommended to use an external DB where you have separation from Artifactory chart and own, full control of the deployment lifecycle.

[2020-03-19 06:55] eldada commented on #412
All charts are now updated to use the StatefulSet PostgreSQL sub chart. Closing.

[2020-03-19 06:55] #412 closed

[2020-03-19 06:56] eldada commented on #675
@mrafieee - any progress here?

[2020-03-19 09:34] mhamaydeh commented on #677
@chukka  , still we are facing the same problem if you could please advice and help

 we can't upgrade from artifactory HA 6.17.0 to 7.2.1 because of the following errors

1- Master key checksum mismatch. Aborting initialization Failed initializing Access client: Cluster
2- Service registry ping failed; context deadline exceeded. last error: Error while trying to connect to local router at address

[2020-03-19 09:35] lwj5 opened #693 "[artifactory] Use postgresqlExtendedConf instead of postgresqlConfiguration"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:
-

**Which chart**:
2.0.13

**What happened**:
Don't use `postgresqlConfiguration`, use `postgresqlExtendedConf` instead as it will interfere with other chart configuration.

For example if replication is enabled, by using postgresqlConfiguration it will pre

[2020-03-19 10:13] chukka commented on #677
@mhamaydeh Thanks for the update , we are investigating this internally and will get back to soon

[2020-03-19 12:53] mrafieee commented on #675
the issue is fixed, switched from `block blob storage` to `blob storage` the documentation on jfrog website is misleading https://www.jfrog.com/confluence/display/JFROG/Azure+Blob+Storage

[2020-03-19 13:03] eldada commented on #675
Great!
Can you provide more details so we can take it back to our docs and improve?

[2020-03-19 13:23] TJM commented on #412
@eldada I agree that this ticket should be closed, as it is complete. However, in reference to your reply, I also believe that a chart professing to deploy artifactory-ha should probably take the database into account as well. At a minimum, there should be some documentation as to how to accomplish the task. You can have as many application pods as you want, but as soon as the database goes down,

[2020-03-19 14:00] eldada commented on #412
@TJM - You have a good point. I suggest opening this in a dedicated issue. As a first step, we might want to update the documentation for following best practices.

[2020-03-19 14:44] eldada commented on #693
Thanks @lwj5 . This is a good idea. We'll look into it.

[2020-03-19 18:58] eldada commented on #688
Should now be fixed with #697.

[2020-03-19 18:58] #688 closed

[2020-03-19 22:41] TJM commented on #688
@eldada I still need some help on this. I appreciate the separation of these options, but that is only a partial solution. Should I re-open this and continue or open another issue with the specific questions?

[2020-03-19 22:49] TJM opened #700 "[artifactory-ha] Enable cache-fs with NFS"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**: 3.0.31 / 1.15.2
**Which chart**: artifactory-ha-2.0.29
**What happened**: CacheFS is removed from the binarystore.xml when artifactory.persistence.type = nfs

**What you expected to happen**: CacheFS is the most useful when using "slow NFS" so it

[2020-03-20 09:01] chukka commented on #677
@mhamaydeh FYI, Fix is in PR - https://github.com/jfrog/charts/pull/701

[2020-03-20 12:33] mhamaydeh commented on #677
@chukka  , thank you for the response ,
I have check the changes ,and test it out , still the same issue and the same errors  ,
Please check the log file on the container  `migration-artifactory-ha`

[migration-artifactory-ha.log](https://github.com/jfrog/charts/files/4359501/migration-artifactory-ha.log)

[2020-03-20 14:11] chukka commented on #677
@mhamaydeh Can you share upgrade command output with debug and dry-run options
For example   : add this at the end of helm upgrade  command `  --debug --dry-run ` ,
I would like see if you are passing masterKey in 7.x upgrade (which you shouldn't)

[2020-03-20 14:20] mhamaydeh commented on #677
@chukka  , they are the same  values  , I'm using terraform with helm release for both charts , 6.17.0 and 7.2.1
the master key value is pulled from Vault .  we generated it manually using `openssl rand -hex 32` and stored it in Vault .
and I confirm that your changes  that you provide on #701 to trim the master key to 32 characters works fine , but it does not solve the problem,  I will try to ad

[2020-03-21 17:47] eldada commented on #688
Yes. Let's continue there.

[2020-03-21 17:53] eldada commented on #700
Yes. When using NFS, the default template removes the *cache-fs*. It is a good idea to add this too.
Until then, you can mange a full customised `artifactory.persistence.binarystoreXml` in a dedicated `values-storage.yaml` and build your own template. This way, you are not coupled to the OOB template we provide.
BTW - we encourage to use the no-nfs options of using file system sharding or an S3 co

[2020-03-21 20:17] mhamaydeh commented on #677
@chukka
Hello again , i have created the following logs, the logs is formatted and trim some text from it  since it contain some secrets and sensitive data ,  Master key and Join Key are the same on all files .
I'm attaching the following
 1 - Terrafom plan for chart release  6.17.0   [terraform_6.17.0_release.log](https://github.com/jfrog/charts/files/4364004/terraform_6.17.0_release.log)
 2-  He

[2020-03-22 04:16] chukka commented on #677
Thanks @mhamaydeh Thanks for the logs
In your example , it seems you are using 32 hex masterKey in 6.17
`bda654a4b44e2de44d5d2bc9ab8aecfec4d5a2b2d0bfbbc78e534cf64b866719` and using the same 32 hex masterKey in 7.2.1 (which is wrong)
Now, You can do either of two things
1. Don't pass masterKey in 7.2.1 (during migration) -implies migration takes care of adding masterKey for you
or
2. Pass trimmed m

[2020-03-22 07:39] chukka commented on #677
@mhamaydeh PR is merged, Please try above steps with latest charts(master)  or latest chart from https://charts.jfrog.io/  (artifactory-ha-2.0.35)

[2020-03-22 15:03] mhamaydeh commented on #677
@chukka
option 1 , works fine .
1- Don't pass masterKey in 7.2.1 (during migration) -implies migration takes care of adding masterKey for you (recommended)

it pulled the master key from the database , which 32 hex .
`bda654a4b44e2de44d5d2bc9ab8aecfec4d5a2b2d0bfbbc78e534cf64b866719`

Thank you

[2020-03-22 15:58] chukka commented on #677
Thanks for the feedback , Marking this as issue closed :)

[2020-03-22 15:58] #677 closed

[2020-03-23 08:13] eldada commented on #306
With the new unified platform, the root context now sends you to the Artifactory UI. Closing as this has become inactive.

[2020-03-23 08:13] #306 closed

[2020-03-23 10:46] eldada commented on #304
Great new! https://github.com/jfrog/charts/pull/696 has the new feature. Take it for a spin and let us know... Artifactory HA chart version `2.0.36`

[2020-03-23 10:46] #304 closed

[2020-03-23 14:03] TJM commented on #700
Thanks @eldada I am aware of the ability to customize the binarystore.xml. I *sincerely* thank you guys for building that in, as we have had to customize (rebuild) the container itself in the past. This was more of a request to change the default configuration.  It seems like the caching should be default for NFS, more so than sharding "local" filesystem storage.

RE: NFS Availability - We have a

[2020-03-23 19:27] rafollett opened #707 "Artifactory-OSS not honoring postgresql.enabled=false with Kubernetes 1.17"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm 2.16.1, Kubernetes 1.17.3

**Which chart**: artifactory-oss

**What happened**: Running `helm install --name artifactory --set postgresql.enabled=false jfrog/artifactory-oss` still installs the postgresql pod and service.

**What you expected to

[2020-03-24 05:22] eldada commented on #707
Hi @rafollett. The `artifactory-oss` chart actually uses `artifactory` as a sub-chart, so you need to pass the configuration under the `artifactory` sub-chart key in the following format
[code]

Looks like we need to fix some documentation on this. I will work on that.
Try the above and let us know if it works for you.

[2020-03-24 07:25] mhamaydeh opened #711 "Xray 3.2.0 Chart 3.0.22 Failed to connect to Google Cloud SQL ( POSTGRES_9_6)"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", Gi

[2020-03-24 09:23] #693 closed

[2020-03-24 12:00] chukka commented on #648
Thanks for patience ! we have a internal fix ready and will be rolled out  next week , I will provide an update when its ready

[2020-03-24 12:09] rafollett commented on #707
Yes, that command worked! Thank you!

[2020-03-24 12:09] #707 closed

[2020-03-24 14:27] lwj5 opened #713 "[artifactory-oss] Upgrade from chart v1.0.1 to v2.0.13 Master key checksum mismatch"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:
Helm 3, k8s 1.17

**Which chart**:
 v2.0.13

**What happened**:
Stuck at migration

**What you expected to happen**:
Artifactory to start

**How to reproduce it** (as minimally and precisely as possible):
Upgrade chart from v1.0.1 to v2.0.13

**Anything else

[2020-03-24 14:46] angegar opened #714 "Artifactory 6.15.2"
**Is this a request for help?**:  yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): More like a bug

**Version of Helm and Kubernetes**:

- Helm : 2.16.0
- Kubernetes : 1.15.9

**Which chart**: Artifactory-ha

**What happened**:
I would like to deploy the version 6.15.2 which contains a security patch. I tried with the chart version 1.2.4. During the deployment the master pod fa

[2020-03-24 14:47] lwj5 commented on #713
Upgraded to 2.1.0 seems fixed

[2020-03-24 14:47] #713 closed

[2020-03-24 16:06] angegar commented on #714
If i edit the deployment with kubectl edit and if i remove the environment variable EXTRA_JAVA_OPTIONS, it works.

The options are :

[code]

[2020-03-24 17:07] angegar commented on #714
If i remove the multi line syntax and use an inline one then it works.

The options --add-opens .... can be removed, it was added by mistake.

[2020-03-24 18:12] cpasquini commented on #714
I am seeing this same issue with the 6.18.1 docker image. I've tried using both of these helm chart versions:
8.2.3
8.5.0

In my helm deployment I am not adding any of my own Java Options - these come directly from the docker image i presume.

I am seeing this error during startup:
[code]

[2020-03-25 00:33] russ-c commented on #714
I'm seeing the same issue with Artifactory 6.16.2. JFrog, when will a fix be out?

[2020-03-25 06:58] eldada commented on #714
Hi all. We actually released a fix for this in `artifactory-8.5.3` and `artifactory-ha-1.5.2` (we have a dedicated branch to keep supporting the Artifactory 6.x versions).
They include Artifactory app version 6.18.1 by default, but also work with older Artifactory versions (by setting `artifactory.image.version` to the desired version).
Try it out and provide some feedback.

[2020-03-25 08:03] angegar commented on #714
I am deployed the chart version 1.5.2 with the image 6.15.2. For this deployment i set nginx.enable=false so that the nginx pdb should not be created, but it is. Indeed during another run of the same deployment I receive the error :

![image](https://user-images.githubusercontent.com/5628764/77514606-6f8e9400-6e77-11ea-8c80-e4f01e5148ee.png)

[2020-03-25 08:51] eldada commented on #714
Yes. Seems there's a bug there that we fixed only on the latest `master` charts. I will submit a fix for it soon.

[2020-03-25 09:02] eldada commented on #714
Pull request #717

[2020-03-25 09:30] eldada commented on #714
[code]
Please confirm.

[2020-03-25 12:33] eldada commented on #625
See the comment in https://www.jfrog.com/jira/browse/RTFACT-21157.
This is not an issue when using the new s3-v3 provider, which is the recommended way to go now.

[2020-03-25 12:33] #625 closed

[2020-03-25 14:40] cpasquini commented on #714
I've confirmed that in my deployment the 16.18.1 image is working with the 8.5.3 helm chart.  Thanks for the quick fix.

[2020-03-25 14:49] eldada commented on #714
@angegar - can you let us know? I'm closing this issue. Reopen it if issue persists.

[2020-03-25 14:49] #714 closed

[2020-03-25 14:56] angegar commented on #714
Indeed i deployed with chart version 1.5.2 with the image 6.15.2.

[2020-03-25 19:20] mrafieee opened #718 "wrong volume for filebeat"
this is a bug report.

wrong volume for the statefulset has been set instead of `volume` it should be `artifactory-volume` on line 452 https://github.com/jfrog/charts/blob/master/stable/artifactory/templates/artifactory-statefulset.yaml

[2020-03-25 19:27] eldada commented on #718
Good catch @mrafieee. Will submit a fix shortly.

[2020-03-25 20:46] #718 closed

[2020-03-26 02:06] JfrogPrasanna commented on #711
@mhamaydeh Can you  try *without* user password in the db url?

This is what the system.yaml template has:
`   ## Example for postgresql
    #type: postgresql
    #driver: org.postgresql.Driver
    #url: jdbc:postgresql://<your db url, for example: localhost:5432>/artifactory
    #username: artifactory
    #password: password`

[2020-03-26 09:02] mhamaydeh commented on #711
@JfrogPrasanna  , thank you for your help
we was having 2 issues , and i guess the README need to be updated .
1- the password was having `+` character . xray does not accept that   and does not give proper error
2- the connection URL should be `postgres://host:port/databaseName?sslmode=disable`  , this need to be fixed in the Readme i guess
and we need to pass the password and the user  as well

[2020-03-26 10:24] rustymunkey commented on #671
It seem the issue still exists in chart version 9.1.4

Setting the artifactory.persistence.existingClaim on a fresh installation leads to the error mentioned above

[2020-03-26 13:42] #671 closed

[2020-03-26 13:45] chukka commented on #671
@ahs-dev @rustymunkey @guanchzhou Can you please verify with latest chart 9.1.5 and share the feedback

[2020-03-27 07:47] rustymunkey commented on #671
I installed the 9.1.5 chart, and set the existingClame value. The volume is mounted and used as expected.
I can confirm this works now, thank you very much!

[2020-03-27 11:15] ahs-dev commented on #671
Hi there, updated our setup from 9.0.15 to 9.1.5, works as expected, thanks

[2020-03-27 13:54] govindkailas opened #725 "artifactory-oss failing with "Master key is missing""
**BUG REPORT**
Artifactory-OSS failing with Master key missing error.

**Version of Helm and Kubernetes**:
`Helm: v3.1.2 and K8s: v1.16.4`

**Which chart**:
`2.1.2 `

**What happened**:
I did a helm install with the below command, I just wanted a simple artifactory instance without postgress and ingress settings.

`helm install artifactory-oss  --set artifactory.nginx.enabled=false  --set artifact

[2020-03-28 16:35] majwang opened #726 "Add javaOpts.other to distribution chart"
Is this a BUG REPORT or FEATURE REQUEST? (choose one):
Feature request

Version of Helm and Kubernetes:
All

Which chart:
Distribution

Description:
This is a feature request to add javaOpts.other to the distribution chart, just like there is in Artifactory. This is to be able to easily add java opts like to add a custom java keystore.

values.yaml:
javaOpts:
      other:

Template:
{{- if $.Value

[2020-03-28 16:54] eldada commented on #725
Hi @govindkailas . I tried your exact setup and it worked as expected although parameters are not passed in properly as you have another level of `artifactory` (since the OSS chart uses the main `artifactory` chart as a dependency).
The issue in your case is that you need to pass all the parameters with another preceding `artifactory.`. For example:
[code]
(I see you did it right for some of the p

[2020-03-28 18:06] govindkailas commented on #725
Yes, that's true. There is a default resource limit set on namespace. Any idea why is the passed resource request is not hournered? Also what's the master key missing error which is coming in the log? Nevertheless I will remove the resource limits on namespace and try again.

[2020-03-28 18:40] govindkailas commented on #725
I have removed the default resource limits set on the namespace, now I see that artifcatory-oss is not picking up the limits we pass from the helm command line. I used the same helm install command that you provided.

```3m9s        Warning   FailedCreate           statefulset/artifactory-oss-artifactory                                  create Pod artifactory-oss-artifactory-0 in StatefulSet artif

[2020-03-28 19:34] eldada commented on #725
This was not honoured because of the missing extra `artifactory.` prefix.

As for

I assume there's some policy on your cluster. I tested again with my command I provided and it started up properly with the correct resources set.

[2020-03-28 20:22] govindkailas commented on #725
Thanks @eldada, I had to adjust the resource quota to get this working. Now I notice that there are two ports open, Is there a way to keep it as one single port(say 8081)?

[code]

[2020-03-29 01:34] JfrogPrasanna commented on #726
@majwang Feel  free to raise a pull request, it will be the best way to make sure your feature requests gets in the fastest way.

[2020-03-29 01:37] JfrogPrasanna commented on #725
@govindkailas The two ports are indeed needed, one for ui and  as an entry for other products via a new service called router, and the other for artifactory APIs.

[2020-03-29 02:08] JfrogPrasanna commented on #711
@mhamaydeh thank you - we will update this.

[2020-03-29 06:22] eldada commented on #725
Important to note that you don't have to use both ports. Port 8082 can route to Artifactory too, but we keep the port 8081 for backward compatibility and for better performance (as you skip the router and go directly to Artifactory).
I'm closing this issue. If needed, you can reopen to continue discussion.

[2020-03-29 06:22] #725 closed

[2020-03-29 08:37] eldada commented on #509
All charts now use the new PostgreSQL version. Closing.

[2020-03-29 08:37] #509 closed

[2020-03-29 18:31] lindhe commented on #509
To clarify, is the problem with `rabbitmq-ha` also resolved?

[2020-03-30 10:47] JfrogPrasanna commented on #287
Closing this.

[2020-03-30 10:47] #287 closed

[2020-03-30 10:48] ahs-dev opened #735 "[artifactory] chart 9.2.1 (and older) masterKeySecretName is not used correctly"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Kubernetes: 1.17,4, Rancher: 2.3.3/2.3.5, Helm: 3.11

**Which chart**: artifactory chart 9.2.1 (and older)

**What happened**: "Master key is missing."

**What you expected to happen**: Master Key is taken from existing secret via masterKeySecretName

**How to reproduce it** (as minimally and

[2020-03-30 10:52] JfrogPrasanna commented on #441
Closed in 7.x.

[2020-03-30 10:52] #441 closed

[2020-03-30 10:53] JfrogPrasanna commented on #487
No relevant anymore.

[2020-03-30 10:53] #487 closed

[2020-03-30 10:57] JfrogPrasanna commented on #501
Closed in 7.x

[2020-03-30 10:57] #501 closed

[2020-03-30 11:01] JfrogPrasanna commented on #504
Closed in 7.x charts.

[2020-03-30 11:01] #504 closed

[2020-03-30 11:03] JfrogPrasanna commented on #522
Closed.

[2020-03-30 11:03] #522 closed

[2020-03-30 11:04] JfrogPrasanna commented on #524
closing due to no activity.

[2020-03-30 11:04] #524 closed

[2020-03-30 11:09] JfrogPrasanna commented on #598
Closing this assuming the recommendation has helped.

[2020-03-30 11:09] #598 closed

[2020-03-31 07:09] #711 closed

[2020-03-31 10:59] JfrogPrasanna commented on #711
@mhamaydeh just to further update, the password having '+' works well when you pass them as database.password.

[2020-03-31 13:04] JfrogPrasanna commented on #675
@mrafieee Updated the link to allow users to create an  appropriate storage account. It could be a storage account using  blob containers, or block blob storage.

[2020-03-31 13:04] #675 closed

[2020-03-31 15:44] JfrogPrasanna commented on #735
@ahs-dev masterKey secret is not yet supported completely in the charts. We are working  on this as we speak. Will be added shortly.

[2020-03-31 20:00] jaygridley commented on #422
Hello, I've started the deployment of Xray 3.2.3 and this issue is still present. Are there any plans to fix it?

[2020-04-01 06:27] JfrogPrasanna commented on #422
@jaygridley refer this  issue which was  closed recently - https://github.com/jfrog/charts/issues/711
you need to pass database.user and  database.password separately and not in the url. Let me know if that works.

[2020-04-01 07:31] JfrogPrasanna commented on #664
closed with https://github.com/jfrog/charts/pull/745

[2020-04-01 07:31] #664 closed

[2020-04-01 08:25] JfrogPrasanna commented on #502
@palko444 Thanks for raising this issue. However,  the services themselves wait and retry for RabbitMQ and PosgreSQL in unified platform. Given this retry mechanism by application services, this request is no more relevant and hence will be closing it.

[2020-04-01 08:25] #502 closed

[2020-04-01 09:43] eldada commented on #509
No. RabbitMQ is still an open issue.
I will open a new case for it.

[2020-04-01 10:03] eldada commented on #509
Correction! Seems I was wrong (was testing a bad chart), and rabbitmq is working as expected!

[2020-04-01 18:27] #735 closed

[2020-04-02 17:12] ahs-dev commented on #735
Just did an update from 9.2.1 to 9.2.6 and also a fresh install of 9.2.6, Works fine now. Thanks.

[2020-04-03 10:20] jaygridley commented on #422
@JfrogPrasanna This does not help for our use-case. As Azure PostgreSQL requires username with server name - user@server-name. I think that Xray does not recognize that correctly. As a workaround I have to specify username in URL like this `postgres://<server>:<port>/<dbname>?user=urlencode(<username>)&password=urlencode(<password>)`

[2020-04-03 11:05] vinayk833 opened #756 "Unable to deploy artifactory-ha in AKS"
**Is this a request for help?**: Yes

If this is a FEATURE REQUEST, please:  Yes
We are trying to  deploy artifactory-ha from the link  https://github.com/jfrog/charts/tree/master/stable/artifactory-ha. But we are not able to deploy as the primary pods is never ready and always get deleted. and we get this error in the logs.

accessJdbcHelperImpl': Invocation of init method failed; nested exceptio

[2020-04-03 23:44] erick-duran opened #757 "Helm upgrade of Xray Artifactory 3.x results in pending-upgrade status"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug (?)

**Version of Helm and Kubernetes**:
Helm: 3.1.0
Kubernetes: 1.14.9 (EKS)

**Which chart**:
Xray 3.0.26

**What happened**:
Tried to make an upgrade from already running release of the Xray chart 3.0.26 (default values) due to small configuration change. Release resulted in `pending-upgrad

[2020-04-04 00:45] erick-duran opened #758 "Xray chart 3.x secrets not working!"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Version of Helm and Kubernetes**:
Helm: 3.1.0
Kubernetes: 1.14.9 (EKS)

**Which chart**:
Xray 3.0.27

**What happened**:
Tried to install Xray passing credentials as Kubernetes secrets, but got errors in services when trying to do so. Had to deploy passing the user/password directly.

**Wha

[2020-04-04 02:04] evannorstrand opened #759 "XRAY 3.x Custom Mounts Are Improperly Coded"
Background: I had a need many months ago for custom CA certs to be added to the xray deployment, made the proper changes, and PR'd them into master.

We just made the upgrade  to XRAY 3.x and the fixes we put in place are no long working as intended.

server:
  ## Set up your volume to the CA config map
  customVolumes: |
    - name:ca
      configMap:
        name: ca
  ## Mount the volume to the

[2020-04-04 02:35] evannorstrand commented on #759
@chukka @eldada

https://github.com/jfrog/charts/commit/0d1d87c729b286d25749df1eddc10df233691425

This commit broke the custom volume mounts as a whole.

My recommendation is to remove the logic from indexer and server completely, and move it to the router.

[2020-04-04 02:40] evannorstrand commented on #759
Another comment, to avoid breaking deployments that are using the server custom mounts, you'll need to leave the value as server.CustomVolumes

[2020-04-04 02:45] evannorstrand commented on #759
My Manual fix was to edit the deployment after it was released via helm, and mount the ca into the router directly. A similar fix in the yaml should resolve this ticket.

[2020-04-05 01:28] gkollengode commented on #756
I have been able to recreate this on AWS EKS.  Looks like the issue is in the systemYAML section in the yaml here.  [https://github.com/jfrog/charts/blob/master/stable/mission-control/values.yaml#L349] The resulting system.yaml is missing the password and hence the auth failure

Adding password: "{{ .Values.database.password }}" after that line seems to resolve the problem  for us at this time

[2020-04-05 13:20] danielezer commented on #653
@Hokwang Hey, sorry for the delay in my response. I have tried achieving what you are aiming for and I managed to do it with the following `values.yaml`:
[code]

Please let me know if it works out for you

[2020-04-06 07:18] chukka commented on #648
@erick-duran distribution-3.6.1 released with appropriate  fix for distribution , Can you please try this chart and share the feedback
Closing this issue .

[2020-04-06 07:18] #648 closed

[2020-04-06 10:07] angegar commented on #663
hello i am trying to deploy artifactory-ha chart version 2.2.9. My current artifactory installation is 6.18.1 and i am trying to upgrade to 7.3.2. The migration script started but failed with errors such as :

- error reading configuration from system.yaml : reading db properties failed: could not derive db properties from system yaml: Type: , Url: : Could not set db properties to application conf

[2020-04-06 10:41] chukka commented on #663
@angegar Looks like you are running in to this issue
https://github.com/jfrog/charts/issues/677
Can you please refer this
https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/README.md#special-upgrade-notes-1

If you are using `32 hex` masterKey in 6.18.1 and using the same 32 hex masterKey in 7.3.2 (which is wrong)

**Solution** : Don't pass masterKey in 7.3.2 (during migration) -imp

[2020-04-06 11:14] Hokwang commented on #653
Thanks for your kind reply, but I didn't make it success. I gave up.
my last value.yaml is
[code]

[2020-04-06 11:14] #653 closed

[2020-04-06 11:16] danielezer commented on #653
@Hokwang Sorry about that... If you gather the energy to try again, you can use my values, I have confirmed that they worked and I was able to access my Artifactory server with `/artifactory-stage`

[2020-04-06 12:18] angegar commented on #663
I see changes around db connection for non PosgreSQL.
I think the parameter host disappeared and now we have to use url only. Is it true ?

[2020-04-06 12:59] angegar commented on #663
i remove the master key from the deployment, but i have the same result :(

If I force a new key is there a risk to desynchronize the database content with the file system one ?

[2020-04-06 13:06] angegar commented on #663
I know an expert but I think those lines introduced multiple changes in the chart values file :

[code]

Indeed the host parameter disappeared and a driver parameter must be set now. Probably due to those changes i receive the following error :

[code]

Previously i just started my container with :

`--set artifactory.preStartCommand="wget -O /opt/jfrog/artifactory/tomcat/lib/mysql-connector-java-

[2020-04-06 13:56] angegar commented on #663
I receive the error : Caused by: java.sql.SQLException: Unable to load class: com.mysql.jdbc.Driver from ClassLoader:ParallelWebappClassLoader

I tried to configure the mysql driver following the doc, but without success. Any idea ?

[2020-04-06 15:09] angegar opened #773 "artifactory-ha : DB Driver not found in Init Containers"
**Is this a request for help?**:

Yes, this is probably a bug
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
 - Helm chart version 2.2.9
- Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.9", GitCommit:"2e808b7cb054ee242b68e62455323aa783991f03", GitTreeState:"clean", BuildDate:"2020-01-18T23:24:23Z", GoVersion:"go1.12.12",

[2020-04-07 04:45] chukka commented on #773
Hi @angegar , Thanks for the PR, Let me investigate further and update  you soon

[2020-04-07 10:28] shahiinn commented on #550
@angegar :
/access endpoint doesn't seem to be exposed outside the stack. However, any request for the access service can come through the /artifcatory endpoint as we are enabling the cross-context functionality from the tomcat end. Can you let me know what is the exact issue you are encountering now?

[2020-04-08 03:05] chukka commented on #758
Hi @erick-duran Thanks for the issue.This is a known bug for database secrets . Fix for this is currently work in progress.Will let you know once we fix this.

[2020-04-08 06:54] angegar commented on #550
Hi,
I sorted out some months ago, but I used Artifactory replication + access federation to perform my migration. To be honest I don't exactly remind how set the access federation up but I made it worked following the documentation.

[2020-04-08 06:54] #550 closed

[2020-04-08 11:25] nixel2007 commented on #758
Looks like jcr chart has the same issue.

[2020-04-08 12:19] angegar commented on #773
Thank you @chukka, I will test the change as soon as it will be released

[2020-04-08 13:38] #773 closed

[2020-04-08 13:44] chukka commented on #773
@angegar Can you please try latest below Chart(s)

- [x]  artifactory-9.2.8
- [x] artifactory-ha-2.2.10

Try preStartCommand in migration Init container as`artifactory.migration.preStartCommand` in values.yaml

[2020-04-08 14:25] chukka commented on #758
@nixel2007 Latest JCR chart - 2.1.5 will have secrets support , please try and let us know

[2020-04-08 16:09] chukka commented on #759
@evannorstrand Sorry for  delayed response .

Can you please share the following things to investigate further

1. chart version of xray (3.x) you upgraded (is it 2.x to 3.x upgrade of xray app version ? or fresh install)
2. If it is 3.x to 3.x Xray upgrade (please share chart versions)

[2020-04-08 18:50] chukka commented on #756
@vinayk833 Sorry for delayed response , Looks like a password issue , to investigate and help you  further
1. Can you try setting  postgresqlPassword as part of helm install by `--set postgresql.postgresqlPassword=xxx` (replace xxx with actual password you wish to pass)
2. Can you share output of command your helm install command with adding this extension at the end `--debug  --dry-run `

[2020-04-08 18:55] chukka commented on #757
@erick-duran Can you please provide some more Info

1. Does this happen only on  3.0.26 chart version (fresh helm install & upgrade on same chart version)?
2. Also can you share the `helm install ` and `helm upgrade` command you tried so that i can try and replicate?

[2020-04-09 07:44] angegar commented on #773
Hummm,
My first try returned this error :

[code]

[2020-04-09 08:12] angegar commented on #773
arfff my bad i overwrittent the initContainer image with busybox. Just commented it and try again.

[2020-04-09 08:29] angegar commented on #773
Even with the good init container image i have this strange issue :

[code]

[2020-04-09 08:44] angegar commented on #773
With the chart 1.5.3, i don't have difficulties to download the image :

[code]

Is it possible that the docker pull error come from the chart ? I found it strange but that's an option.

[2020-04-09 11:15] #758 closed

[2020-04-09 11:20] chukka commented on #773
@angegar I tried  fresh artifactory-9.2.8 without any errors - Can you retry and share feedback ?

[2020-04-09 11:23] chukka commented on #758
Hi @erick-duran Can you please try latest xray chart - `3.0.28` which has support for DB secrets and share the feedback ?

[2020-04-09 20:12] angegar commented on #773
We had a network issue thus the error above were not linked with the chart. I tried another run but i failed, I still not understand why. I am trying to apply it over a 1.5.3 to reproduce the condition I will have in production.

The first thing i noticed is that all the pod were deleted at the same time, thus there is an application downtime. Did you observe the same behavior ?

[2020-04-10 05:02] chukka commented on #651
@erick-duran Sorry for delayed response, is this still an issue  with latest (master branch ) charts ?   Can you please confirm

[2020-04-10 06:53] angegar commented on #773
Just to highlight what i said, all the pods are deleted :

![image](https://user-images.githubusercontent.com/5628764/78970019-a4057f80-7b08-11ea-87b0-316b780b9eb0.png)

Can it be linked with one of  the command line options below  :

		--wait
		--atomic
		--cleanup-on-fail
		--force
		--reset-values
		--timeout 2600
		--version 2.2.11

[2020-04-10 09:40] angegar commented on #773
I purged the artifactoy-ha deployment and re-run the 2.2.11 version. During the deployment i encounter :

[code]

Do you have a such error with the artifactory-ha chart ?

[2020-04-13 06:53] vinayk833 commented on #756
Hi @chukka ,

Apologies for late reply.
I have tried the suggestions given by you, but the results is the same. Also I attaching the logs generated during dry-run.
[dry_run.txt](https://github.com/jfrog/charts/files/4468370/dry_run.txt)

[2020-04-13 19:44] dhdersch opened #805 "[artifactory-ha] Using gcpServiceAccount for googleStorage throws error"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes:

[code]

Helm:

[code]

**Which chart**:
jfrog/artifactory-ha
2.3.1

**What happened**:
I attempted to deploy the chart with `artifactory.persistence.googleStorage.gcpServiceAccount.enabled=true` specified. I also tried specifying the config in the values.yaml and by using a secre

[2020-04-14 04:28] chukka commented on #805
@dhdersch Thanks for the bug report. let me investigate further and get back to you soon

[2020-04-14 16:39] angegar commented on #773
I finally made progress. The good command to use in migration.prestartcommand is :

[code]

I tried with the -x command but the container wget version does not support it.

[2020-04-14 16:41] angegar commented on #773
Now i have the following error :

`art-artifactory-ha-primary-0   0/1     PostStartHookError: command '/bin/sh -c echo;`

@chukka , any idea about what happens.

[2020-04-14 16:57] angegar commented on #773
Here are the logs if it can help :

![image](https://user-images.githubusercontent.com/5628764/79252359-c76e5880-7e81-11ea-86a0-2d70b1bec624.png)

[2020-04-14 17:03] angegar commented on #773
I checked into the code, it appears that the postStart hook is using bin/sh whereas the container commands are using bin/bash, i don't think it is the root cause but that's a difference.

Any case the culprit line seems to be ::https://github.com/jfrog/charts/blob/c3fd35b1d6405c1bfb8e145019ae9d1b388c8d0f/stable/artifactory-ha/templates/artifactory-primary-statefulset.yaml#L372

[2020-04-14 17:42] chukka commented on #773
@angegar I was about to pinpoint the same difference as you mentioned above.

Can you please try changing it from  `/bin/sh ` to `bin/bash` in artifactory-primary-statefulset.yaml  and artifactory-node-statefulset.yaml

if it works, please share the feedback,  I may want to provide a fix in the upcoming release

[2020-04-14 18:48] angegar commented on #773
@chukka , i obtain the same result. I tried to modify the lifecyle prestart command but i always receive an exit code 126 which seems to mean the script does not have the permission to be executed.

Basically this sounds to be a permission issue during the script execution.

[2020-04-14 18:53] angegar commented on #773
i tried to simplify the lifecycle hook but i have the same result.
I tried with :

        lifecycle:
          postStart:
            exec:
              command:
              - /bin/bash
              - -c
              - ls

[2020-04-14 22:18] sponte commented on #487
Hello, why is this irrelevant no more? I came across a use case for MC deployment and would like to enable that option

[2020-04-15 04:45] chukka commented on #773
@angegar Thanks for the feedback ! Can you please raise this postStart  issue as an separate issue (since this issue is already closed)

[2020-04-15 08:04] palko444 opened #816 "helm chart versions for artifactory-ha 6.*"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
helm: 3.1.2
k8s: v1.15.3

**Which chart**: artifactory-ha

**What happened**:
In changelog for artifactory-ha are missing versions 1.5.[0-3], but i can see these version in helm chart repositories via `helm search repo artifactory-ha --version 1.5.3`

[2020-04-15 11:16] chukka commented on #816
@palko444 7.x Artifactory is maintained on  `master` branch and
6.x Artifactory is supported and maintained under `pre-unified-platform` branch
Please refer for changelog:
https://github.com/jfrog/charts/blob/pre-unified-platform/stable/artifactory-ha/CHANGELOG.md

Closing this issue, Feel free to reopen the issue

[2020-04-15 11:16] #816 closed

[2020-04-15 16:50] skulasekar commented on #653
@danielezer I have been running into the same issue as @Hokwang. Can you post the values.yml that worked for you?

[2020-04-15 16:55] danielezer commented on #653
@skulasekar take a look at this comment - https://github.com/jfrog/charts/issues/653#issuecomment-609415700. These are the values that worked for me. Hope this helps

[2020-04-15 19:04] stickyPins commented on #805
Thanks Chukka for looking into this. Any updates yet?

[2020-04-16 05:35] chukka commented on #805
@stickyPins @dhdersch Looks like a bug . We are working on a fix and update you soon

[2020-04-16 08:41] hetii commented on #63
Hi Guys I play with helmfile where I install jfrog/artifactory-oss in version: 2.2.0 and this issue still happens.
Before each deployment of this chart PVC need to be be removed.
This issue should be reopened.

[2020-04-16 09:25] #805 closed

[2020-04-16 09:26] chukka commented on #805
Fixed as part of 2.4.1 chart version- please try and provide feedback :)

[2020-04-16 09:43] chukka commented on #63
@hetii  Can you please raise this as a new issue with all the info (chart version, helm version ) if it is not working

[2020-04-16 09:44] chukka commented on #757
@erick-duran  Is this still an issue ? please try with latest xray chart and also provide required info (as stated above)

[2020-04-16 22:08] DNewt opened #828 "Pod Disruption Budgets change removed"
Hey i made an issue awhile ago here https://github.com/jfrog/charts/issues/613
and made the pull request to fix it which got accepted here: https://github.com/jfrog/charts/pull/615

Changelog.md: https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/CHANGELOG.md#142---jan-22-2020

This was accepted but it seems like the change has been overwritten in later chart versions.

The change w

[2020-04-17 06:15] #756 closed

[2020-04-17 06:27] chukka commented on #828
@DNewt Thanks for the detailed info, Are you referring to this single line change(addition of component) in stable/artifactory-ha/templates/artifactory-node-pdb.yaml file
(https://github.com/jfrog/charts/pull/615/files#diff-c23b8769797f9447ddb7559242883cacR14) which was removed in latest charts ?

Also please confirm if this is related to https://github.com/jfrog/charts/issues/651 ?

Thanks

[2020-04-17 16:51] dhdersch opened #829 "[jfrog/distribution] distributor container fails if redis password not explicitly set"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm Version: `version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}`

Kubernetes Version:

[code]

**Which chart**: jfrog/distribution

**What happened**: When I deploy

[2020-04-17 18:37] guillem-riera commented on #63
I can confirm that I am facing the same issue with `artifactory-oss`.
I am trying with minikube too, and:
- After upgrading the chart
- After stoping & starting minikube
this issue arises.

[2020-04-18 00:48] chukka commented on #829
@dhdersch Thanks for the bug report .This is a known issue - We are working on a fix and will be available in the next chart version  hopefully next week

[2020-04-18 00:51] chukka commented on #63
@hetii  @guillem-riera Thanks for reporting , Would you mind raising this as a new issue with all the details like chart version and other details (since this thread is quite old and this issue is already closed)

[2020-04-19 18:43] evannorstrand commented on #759
Fresh install

[2020-04-20 10:24] rdcarrera opened #831 "Initcontainer fail trying to mount custom volume"
## BUG Report
**Version of Helm and Kubernetes**:

**k8s**: Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:05:50Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
**helm**: Server: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859

[2020-04-20 11:33] mhamaydeh opened #832 "XRAY chart xray-3.0.26 , APP version 3.2.3 failed fetching external topology from Access"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**:
Helm :
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.1", GitCommit:"cf1de4f8ba70eded310918a8af3a96bfe8e7683b", GitTreeState:"clean"}

Kubernetes:

[2020-04-20 12:49] #829 closed

[2020-04-20 13:24] chukka commented on #829
@dhdersch distribution-5.1.2  chart has fix for above issue , Please try and share feedback

[2020-04-20 13:47] chukka commented on #832
@mhamaydeh Can you please share more logs of Xray  and Artifactory pods
Also, Can you share xray.joinKey and xray.jfrogUrl passed for connecting xray to Artifactory?

[2020-04-20 14:33] dhdersch commented on #829
@chukka That has fixed the issue with postgresql, but I'm still experiencing issues with the liveness and readiness probe failing. I'll create a separate ticket for that.

[2020-04-20 14:43] mhamaydeh commented on #832
@chukka thank you for the fast response , I'm afraid that i can't share those information's it is production environment ,  i need to setup dev environment  with dummy keys  first i guess .

[2020-04-20 14:48] dhdersch opened #834 "[jfrog/distribution] Distribution Chart Results in CrashLoopBackOff"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm Version:

[code]

Kubernetes Version:

[code]

**Which chart**: jfrog/distribution

**What happened**: The statefulset pod of jfrog/distribution results in `CrashLoopBackOff` of the `distribution-0` pod. Specifically, the ReadinessProbe and Live

[2020-04-20 15:11] chukka commented on #834
@dhdersch Thanks , Looks like a bug in postgresql password usage in system.yaml  , As a workround can you pass postgresql.password  explicitly  till a fix is delivered.
[code]
Will plan to fix this bug + other fixes planned in upcoming  chart release

[2020-04-20 16:06] wlmckeon opened #835 "404 error after upgrading chart from 7.18.3 to 8.4.7"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm: version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

Kubernetes:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa3959853

[2020-04-20 17:51] EvanMAmstutz opened #836 "Docker 503 Error when trying to pull image"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
Helm 3 OpenShift 3.11

**Which chart**:
Artifactory-HA

**What happened**:
Receiving a 503 error when trying to pull an image from docker virtual repository. I can login to the repository but cannot pull an image.

**What you expected to happen**:
Pul

[2020-04-21 03:15] chukka commented on #836
@EvanMAmstutz Can you share more info to investigate further

1. chart version
2. App version
3. Logs

[2020-04-21 05:23] chukka commented on #835
@wlmckeon I tried with steps documented in https://github.com/jfrog/charts/blob/master/stable/artifactory/UPGRADE_NOTES.md and tried upgrade from 7.18.3 to 8.4.7 with default values, it works as expected (able to login artifactory after upgrade.)

looks like you added ingress configuration in values , Can you please double check those values and follow the  instructions mentioned [here](https://gi

[2020-04-21 07:12] Satheesh-Balachandran commented on #831
@rdcarrera I think it is because you are trying to mount a directory to the file "cacerts". This would not only fail in the initcontainer and also in the artifactory container. If you are trying to mount the external CA to the container, please use the extra_java_opts like below in the [system.yaml](https://github.com/jfrog/charts/blob/a8c77e91c3761c161acd46ca43bbabe7ce0b32b4/stable/artifactory/va

[2020-04-21 08:55] rdcarrera commented on #831
Hi @Satheesh-Balachandran,

Actually, with previous version of the artifactory helm-charts, this method works.

![Captura de pantalla de 2020-04-21 10-45-05](https://user-images.githubusercontent.com/26046280/79845728-caa3a000-83bd-11ea-8978-f3bc1ddc0afd.png)
![Captura de pantalla de 2020-04-21 10-45-25](https://user-images.githubusercontent.com/26046280/79845749-d0998100-83bd-11ea-9c8f-2f4d9b2534

[2020-04-21 09:47] shinji62 opened #839 "[ISSUE] Could not use AWS3V3 with EKS and service account role"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

it's bug report

**Version of Helm and Kubernetes**:
kubernetes
[code]
helm 3.02
**Which chart**:
artifactory-ha the last one in master
Artifactory version
[code]

**What happened**:
We want to use S3, so we setup AWS3V3 with eks iam roles.
So we annotate the service account with the right iam ro

[2020-04-21 13:18] EvanMAmstutz commented on #836
version: 1.5.0
appVersion: 6.18.0
No logs appear when getting the 503

[2020-04-21 17:21] chukka commented on #839
@shinji62 Thanks for the bug report, Let me try  to investigate further and come back soon (If i need any further details i will reach out)

[2020-04-21 19:34] rdcarrera opened #840 "[ ARTIFACTORY ] - Ingress /api context not found"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): question/bug report?

**Version of Helm and Kubernetes**:

**k8s**: Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:05:50Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:

[2020-04-21 20:52] wlmckeon commented on #835
@chukka I followed the instructions in the link that you have posted and I still get the 404 error.  I have checked my ingress settings and there wasn't any issues that I noticed, but I did just disable the ingress to test if that was the issue.  I still get a 404 error, but this one is slightly different:
Message /artifactory

Description The origin server did not find a current representation fo

[2020-04-21 22:03] wlmckeon commented on #835
If I curl to the pods' endpoint with curl -LI http://<pod-ip>:8081
HTTP/1.1 200 OK
Accept-Ranges: bytes
ETag: W/"878-1578568769000"
Last-Modified: Thu, 09 Jan 2020 11:19:29 GMT
Content-Type: text/html
Content-Length: 878
Date: Tue, 21 Apr 2020 21:51:50 GMT

For more information.
When I curl to pods endpoint with /artifactory or /artfactory/webapps:
curl -LI http://<pod-id>:8081/artifactory
HTTP/1.

[2020-04-22 00:43] erick-duran commented on #758
Hello @chukka,
Thanks for this. I was able to use:
- `xray.joinKeySecretName`
- `database.secrets.user/password/url`

However, I couldn't use `rabbitmq-ha.existingPasswordSecret`. This resulted in the following errors from describing the `rabbitmq-ha` pod:
[code]
The secret was created with the `rabbitmq-password` key indicated in the comments. Any advice?

Also, I noticed that the `xray.masterKey

[2020-04-22 00:50] erick-duran commented on #757
Hello @chukka,
Yes. This is still an issue, I've just tested it with the latest chart version (3.2.4). I can share you my values:
[code]

What I did:
1. Install the chart
[code]
2. Upgrade the chart (with exactly the same values, just to test)
[code]
This results in a pending-upgrade status and all the resources are terminated:
[code]

[2020-04-22 00:56] erick-duran commented on #651
Hello @chukka,
Sorry for the delay. I will test this later this week and get back to you, we have been working with the Xray charts.

[2020-04-22 01:23] erick-duran opened #841 "Suggested approach for custom CA certificates for new JFrog Platform achitecture"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Version of Helm and Kubernetes**:
Helm v3.1.0
Kubernetes v1.14

**Which chart**:
All

**What happened**:
Context:
Our company uses internal CAs to sign our SSL certificates for all our services. In the new platform version/charts, we now just use the internal signed certificate f

[2020-04-22 10:09] madhusmn opened #844 "JFrog Artifactory is not connecting to postgresql in AWS eks after pod restart. We are using Postgresql as an external database."
**Background:** devops artifactory is deployed as a statefulset pod on AWS eks cluster through Helm chart. And the PV is pointing to EFS.
The below is the snippet from values.yaml
postgresql:
  enabled: false

database:
  type: "postgresql"
  host: "xxxxxxx.rds.amazonaws.com"
  port: 5432
  user: "xxxxxx"
  password: "xxxxx"

It was working fine. But when the pod got restarted the status is 3/4 an

[2020-04-22 17:11] JfrogPrasanna commented on #844
@madhusmn Assuming the values are indented as per the system.yaml needs.

`postgresql:
      enabled: false

database:
    type: "postgresql"
    host: "xxxxxxx.rds.amazonaws.com"
    port: 5432
    user: "xxxxxx"
    password: "xxxxx"`

[2020-04-22 18:44] erick-duran commented on #841
An update for this on the Artifactory side:
We were trying to reach out our internal Edge node instance via HTTPS (using the platform deployments UI). We are getting a "Test connection failed" error and I can't find anything relevant in the logs, tests fine via HTTP (same endpoint). We assume this is related to our internal CA...

Here's what we have tried:
- Trusting the CA cert using `keytool`.

[2020-04-23 02:49] madhusmn commented on #844
Yes , the values are indented correctly.

[2020-04-23 02:53] madhusmn commented on #844
Chukka, can we connect in sometime, so that I can make you understand the issue exactly.

[2020-04-23 03:11] JfrogPrasanna commented on #844
@madhusmn Can you please create a formal ticket via JFrog Support Channel to have sessions to look at your instance and provide the right guidance - that gives support with SLA. https://jfrog.com/support/

[2020-04-23 03:13] JfrogPrasanna commented on #844
For this instance - can you send the `system.yaml`  you see, and access log. We will take a look. Also please send the helm command you used to install - Also let us  know that this is a fresh install and not an upgrade.

[2020-04-23 05:50] madhusmn commented on #844
@JfrogPrasanna Thanks for your response. We dont have any credentials to login to  https://jfrog.com/support/ . We have sent an email to service@jfrog.com with the PO number . Once I get any info then will be able to create the ticket in a formal way for support with SLA.

[2020-04-23 07:11] chukka commented on #841
@erick-duran  Thanks for raising this. This feature is currently under development (no tentative release date yet) .Custom CA can be provided in Access (since  Artifactory > 7.4.0), please refer - https://www.jfrog.com/confluence/display/JFROG/Managing+TLS+Certificates

[2020-04-23 10:50] JfrogPrasanna commented on #844
Sure. Please send the `system.yaml` you see and the access logs (only portions  of exceptions) so we can help you offline here.

[2020-04-23 16:52] madhusmn commented on #844
@JfrogPrasanna @chukka Thanks . The artifactory is depolyed as a statefulset pod, so in the system.yaml file all the text are commented. Helm chart is taking the db credentials from values.yaml. If you need, then we can provide you the statefulset.yaml file for artifactory.

[2020-04-23 18:24] chukka commented on #840
@rdcarrera  Thanks for reporting ! Just wondering is this a correct configuration
`rewrite ^/(v2)/token /artifactory/api/docker/null/v2/token;`  **null**  value ?

Also, can you share the output of `helm template ./chart` (with your above ingress  values)

[2020-04-23 18:31] chukka commented on #836
@EvanMAmstutz is this still an issue  ? Can you share all  logs  (access , artifactory ) to look into the issue .

If it is not production instance, can you try upgrading to latest preunified chart (1.6.0) and app version (6.19.0) and see it works

[2020-04-23 18:32] chukka commented on #832
@mhamaydeh  is this still an issue ? If not, please close this issue

[2020-04-23 18:37] chukka commented on #841
Duplicate of #617

[2020-04-23 21:36] Satheesh-Balachandran commented on #831
@rdcarrera Can you please let me know the chart version you are running on right now?

[2020-04-24 05:51] #834 closed

[2020-04-24 06:12] richmondwang opened #849 "Ingress endpoint points to ha-members?"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug (more like a question or clarification)

**Version of Helm and Kubernetes**:
kubernetes

[code]

helm 3.02

**Which chart**:
artifactory-ha 2.4.1

**What happened**:
I enabled ingress

[code]

It enable ingress, but the service it is pointing to is to the `releasename-artifactory-ha` service.

[2020-04-24 07:50] rdcarrera commented on #831
yes, **9.4.0**

![image](https://user-images.githubusercontent.com/26046280/80188146-0c785480-8611-11ea-99cc-b3dfc416da86.png)

Thanks!

[2020-04-24 08:20] rdcarrera commented on #840
Hi @chukka

About the ingress annotation, I copied from the README of the chart.

![image](https://user-images.githubusercontent.com/26046280/80188938-2d8d7500-8612-11ea-9e40-8433fca296df.png)

I added the next annotation trying to fix the problem:
-       rewrite ^/api/(.*) /artifactory/api/$1

After that, the jfrog client error it's different:

bash-4.4# jfrog rt config
Artifactory server ID: 0

[2020-04-24 08:54] timdeluxe opened #850 "binarystore.xml is not copied on first startup"
**Is this a request for help?**:
No. (Or: Maybe?)

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm 3.0.3 (via terraform helm provider 1.0.0)
Kubernetes v1.15.10

**Which chart**:
https://github.com/jfrog/charts/tree/master/stable/artifactory-oss

**What happened**:
binarystore.xml in /var/opt/jfrog/artifactory/etc/artifactory con

[2020-04-24 09:59] chukka commented on #850
@timdeluxe  Thanks for reporting , Can you share the chart version ? does this happen only on artifactory-oss chart or artifactory as well ?

[2020-04-24 12:54] mhamaydeh commented on #832
@chukka it is still an issue . but we are moving to enterprise plus licence , i will close the ticket now , and see what we will get later .

[2020-04-24 12:54] #832 closed

[2020-04-24 15:41] evannorstrand commented on #841
Duplicate of #759

@chukka fix the code the code broken in the PR and CA Certs will once again work :)

[2020-04-24 15:42] evannorstrand commented on #617
Duplicate of #759

@chukka fix the code the code broken in the PR and CA Certs will once again work :)

[2020-04-24 15:52] akashpatel567 opened #855 "Common volume for router and other components in Xray chart"
Can we have a common volume option in the chart for router and other components for TLS certs update (DB and HTTPS connection).
As router and other components have different mount path. So, basically 2 common volume mount options to fix this issue.

We have a secret with bunch of cert files which we want to put in a location accessible to router and other components.

[2020-04-25 15:21] Satheesh-Balachandran commented on #831
`Labels:             app=artifactory
                    chart=artifactory-9.4.0
                    component=artifactory
                    controller-revision-hash=artifactorychart940-artifactory-7cdd4864d
                    heritage=Tiller
                    release=artifactorychart940
                    role=artifactory
                    statefulset.kubernetes.io/pod-name=artifactorycha

[2020-04-25 17:25] rdcarrera commented on #831
I think the problem is the cacerts file doesn't exist, and this could be the reason in the 9.4.1, the  artifactory's initcontainer will execute before of the declared initContainer on the vaules.yml

did you created the external-ca configMap?

This is my configMap:
[code]

  do you've any output in the add-ca-certificate initContainer?

This is the output on my environment:

[code]

Thanks & Regar

[2020-04-25 17:58] zzvara opened #857 "Registration with router on URL http://localhost:8046 failed with error: UNAVAILABLE: io exception"
**Is this a request for help?**: Yes.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm v3.1.0 Kubernetes 1.17.0

**Which chart**: OSS 2.2.0

**What happened**:

Created Helm release as follows:

[code]

Router never binds to port:
[code]

Then it restarts:
[code]

Logs end at:
[code]

Port never binds:
[code]

Router logs:

[code

[2020-04-25 17:58] Satheesh-Balachandran commented on #831
As I could encounter the same issue in 9.4.0 charts of the usual artifactory container, I think it is not particularly related to the version 9.4.1 and I could see the cacerts file(because image is same). Do you have any custom init containers? What is "add-ca-certificate" initContainer? Also can you give the snippet of your volumes and volumeMount for this path ?

[2020-04-25 18:51] Satheesh-Balachandran commented on #831
I just changed the configMap key to "cacerts" `kubectl create configmap external-ca --from-file=cacerts=<path-to-cacerts-file>`

And here is my customVolumes and customVolumeMount configuration

`customVolumes: |
    - name: external-ca
      configMap:
        name: external-ca
  customVolumeMounts: |
    - name: external-ca
      mountPath: "/opt/jfrog/artifactory/app/third-party/java/lib/securi

[2020-04-25 21:18] rdcarrera commented on #831
Hi @Satheesh-Balachandran,
First thanks for your dedicated time.

The main idea of the add-ca-to-cacert container is generate the jks in runtime, for us it's a great tool because we've integrated the configmap with our CI process, so we integrate new ca certificates automatically in all java application only modifing the configmaps.

So, I bring from scratch a minikubecluster, to test the charts a

[2020-04-26 01:31] Satheesh-Balachandran commented on #831
Thanks @rdcarrera . This detailed explanation helped me find out the issue. Indeed it was your customInitContainer that creates the cacerts and since the "migration-artifactory" initContainer made use of the customVolume before your customInitContainer this error occurred. I have changed the order and tested in my local it works. Raised a PR for the same. Thanks  again for taking time to provide c

[2020-04-26 09:19] rdcarrera commented on #831
Thanks to you @Satheesh-Balachandran!!!

I close the issue then.

Regards!

[2020-04-26 09:19] #831 closed

[2020-04-26 19:09] hetii opened #859 "[artifactory] Database credentials are not updated correctly when artifactory is recreated."
Hi.

I play with a helmfile that setup for me artifactory-oss.
As soon as I run it second time the password for the database is change and artifactory is not able to use it again.
This lead to readiness failure and the only way to fix it is to delete pvc of artifactory-volume-artifactory-artifactory-0 :<
This issue is related to https://github.com/jfrog/charts/issues/63

**Version of Helm and Kube

[2020-04-27 03:42] shinji62 commented on #839
@chukka Any update on that ? thanks

[2020-04-27 04:00] chukka commented on #839
@shinji62 Sorry, Not yet, I will take a look at this week

[2020-04-27 04:14] chukka commented on #859
@hetii Can you share the helm command used to install the chart initially (is postgresql password passed as part of values)  so that i reproduce the issue

BTW - after the first install, for upgrades you need to pass the database password so a new one will not be generated that might conflict with previous one.

[2020-04-27 06:38] timdeluxe commented on #850
@chukka
I had version 2.1.0 before but also tried with 2.1.5 of the OSS chart. Didn't try 2.2.0 yet.
I only tried the artifactory-oss chart, since we did not buy a license.

Unfortunately i can not really troubleshoot anymore, because i found out, that the azure-blob storage feature is an artifactory pro feature and we use the OSS version. (I got strange stacktraces in the log, after implementing

[2020-04-27 07:05] angegar opened #862 "[artifactory-ha] PostStartHookError - can't create directory '/artifactory_bootstrap/artifactory_extra_conf': Permission denied"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 1.15.10

**Which chart**: 2.4.3 but also present in 2.3.1

**What happened**: I am trying to migrate from 6.18.1

**What you expected to happen**: Migration complete successfully

**How to reproduce it** (as minimally and precisely as possible):
My d

[2020-04-27 10:29] hichamuntitled opened #865 "artifactory-ha cannot find join key during migration from 6.x to 7.x"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
helm: v2.11.0
Kubernetes: 1.14 (eks)

**Which chart**: starting from 2.0.0 till 2.4.4

**What happened**:
I am trying to migrate artifactory-ha from version 6.16 (chart 1.3.6) to 7.x.x. (chart 2.x.x)
It block on the initConainer : migration-artifacto

[2020-04-27 10:57] mhamaydeh opened #866 "[Mission control] add suppot of creating users/schema's when using external Database"
**Is this a request for help?**:yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):FEATURE REQUEST

**Version of Helm and Kubernetes**:

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
S

[2020-04-27 13:03] hichamuntitled commented on #865
While it was waiting
[code]
I get connected to the container via `kubectl exec -ti artifactory-ha-primary-0 -c migration-artifactory-ha -- bash` then I ran
[code]
so now in the logs I see
[code]

[2020-04-27 14:15] mhamaydeh commented on #865
@hichamuntitled i faced this before ,
https://github.com/jfrog/charts/issues/677

[2020-04-27 14:29] chukka commented on #865
@hichamuntitled  masterKey and joinKey  are two different keys. Please refer documentation -[here](https://github.com/jfrog/charts/tree/master/stable/artifactory-ha#special-upgrade-notes-1) for more info.

Also, JoinKey can be passed as shown below
[code]

[2020-04-27 14:35] hichamuntitled commented on #865
@mhamaydeh already tested but not working :/

@chukka I've tested every possible solution mentioned in the documentation. My problem is about join Key, I've generated it via openssl command, I tried to :
- pass it to the upgrade command `--set artifactory.joinKey=${JOIN_KEY}`
- adding it to the values files
- using a secret
and all of them are not working

[2020-04-27 14:40] chukka commented on #865
@hichamuntitled Can you share your helm install /upgrade command appending` --debug --dry-run`  to reproduce this issue?
Also, share the values.yaml if you are passing  via values.yaml file

[2020-04-27 15:03] hichamuntitled commented on #865
the command used
[code]
here's ma values-test.yaml file [values-test.yaml.txt](https://github.com/jfrog/charts/files/4540389/values-test.yaml.txt)
and here's the output [debug--dry-run.log](https://github.com/jfrog/charts/files/4540395/debug--dry-run.log)

[2020-04-27 16:06] chukka commented on #862
@angegar Thanks for sharing the information. Can you please share the reproducible steps ( values.yaml file helps)

[2020-04-27 16:15] chukka commented on #865
Can you check the  value of joinKey value from secret that you used `arti-join-key`
`kubectl get secret --namespace my-namespace arti-join-key -o jsonpath="{.data.join-key}" | base64 --decode`

[2020-04-27 16:42] hichamuntitled commented on #865
Here's the output : `87c26c05611cc9ccba503b69a3c54862fccf1634deecaff8e3262cbe89b2e47b`

[2020-04-28 03:31] Satheesh-Balachandran commented on #840
@rdcarrera Can  you try removing the new rewrite rule you added? and try with the "/artifactory" context? Like https://DOMAIN/artifactory/api/system/ping.

[2020-04-28 08:18] shinji62 commented on #839
Cool, thanks

[2020-04-28 08:52] rdcarrera commented on #840
Thanks @Satheesh-Balachandran !

I removed the the rule, I tested with the path and it works!

Also, when I tested with the rule my problem was when the cli ask for the access token I pass the API key, sorry.

**Access token** (Leave blank for username and password/API key):

But I still with the same problem with the replication:

![image](https://user-images.githubusercontent.com/26046280/804675

[2020-04-28 17:37] Satheesh-Balachandran commented on #840
@rdcarrera Glad it worked. This seems to be a wrong configuration of the CLI. There is no context in the application with "/api". Issues here are more relevant to be related to any bug in the installation of the charts. Can you please open a support ticket with us to get answer for this behaviour?

[2020-04-28 21:12] tegataiprime commented on #857
I am seeing the same error when deploying Chart version 3.3.0 to AWS EKS.
(rabbitmq-ha, AWS RDS Postgresql)

router:
`Cluster join: Retry 5: Service registry ping failed, will retry. Error: Could not parse error from service registry, status code: 404, raw body: default backend - 404`

xray-service:
`Cluster join: Retry 5: Service registry ping failed, will retry. Error: Error while trying to conn

[2020-04-29 16:41] erick-duran commented on #757
Any updates on this? The issue persists and we have to re-deploy every time we want to do a configuration change (causing downtime).

[2020-04-30 00:57] gkollengode commented on #857
I am running into the same issue. Everything was working fine till I updated to artifactory-ha-2.4.5    version 7.4.3

[2020-04-30 19:28] tkinz27 opened #880 "Artifactory SSH as a separate service"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**: `jfrog/artifactory`

Currently the helm chart only creates a single service object even though there are four different services actually crammed into it. This makes it impossilbe to setup different types of services

[2020-05-04 10:50] chukka commented on #849
@richmondwang  Sorry of the delayed response, by design it points to member nodes only - this is expected, Please refer [here](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/values.yaml#L1007-L1011). If you want traffic to route to primary also, then set `pool: all`

[2020-05-04 11:47] chukka commented on #849
I'm marking this as closed, feel free to reopen if you see any issue

[2020-05-04 11:47] #849 closed

[2020-05-04 12:39] angegar commented on #862
Hi @chukka , i am still struggling with this ;)

I see some inconsistency in the primary statefulset. Indeed the command run is `/bin/bash -c ....` whereas the `lifecycle.postStart.exec.command = /bin/sh`. I don't think this is the root cause but probably something to fix.

[2020-05-04 12:48] chukka commented on #862
@angegar  sorry for delayed repsonse, That change from `/bin/sh` to `/bin/bash` will be fixed in next chart version, how ever looks like  you are running into different issue, can you share artifactory logs to debug further

[2020-05-04 13:13] chukka commented on #859
@hetii  is this still an issue ? waiting for your update

[2020-05-04 13:18] angegar commented on #862
To be honest i made so many try and fail that it will be hard to redo everything. Now i am looking for a working configuration when this step achieve, i will destroy the environment and rollback to the chart 1.5.3 then reapply the changes.

For now i read this message from the migratio-artifactory-ha : Migration not necessary. artifactory is already 7.3.2 .

I deleted the full stack with `helm del

[2020-05-04 13:20] angegar commented on #862
I forget the chart version is 2.3.1

[2020-05-04 14:13] angegar commented on #862
I just deleted the helm release and rerun the deployment pipeline. Now the error symptoms are :

`PostStartHookError: command '/bin/bash -c echo;`

[code]

maybe the uid and gid are different in the latest chart version

[2020-05-04 14:46] angegar commented on #862
The persmission denied is coming from :

![image](https://user-images.githubusercontent.com/5628764/80978641-a072c900-8e26-11ea-9db4-5cb5e323b19c.png)

Which is weird because i always ran artifactory with the defautl uid gid.

I will try to clean the helm release as well as the namespaces and the pvc.

[2020-05-04 15:23] angegar commented on #862
Here is a full view on the permissions :

![image](https://user-images.githubusercontent.com/5628764/80982718-fc8c1c00-8e2b-11ea-92a6-a7fafe5ec617.png)

[2020-05-04 16:28] chukka commented on #862
@angegar Thanks for the info .This is a known permissions bug (fix  is work in progress - will be available in the next release) .

[2020-05-04 16:30] chukka commented on #850
Thanks for info, I'm closing this issue.

[2020-05-04 16:30] #850 closed

[2020-05-04 16:35] chukka commented on #839
@shinji62  Sorry for delayed response . Can you share your values.yaml and helm install command used  to reproduce this issue

[2020-05-05 06:48] angegar commented on #862
@chukka , Thank you for your answer but i have to move forward. What can i do to make it work.

I restarted from a fresh value.yml file, and it is getting better. However i have now a new issue probably due to the migration;

[code]

Do you know how can i fix this ?

[2020-05-05 07:24] chukka commented on #862
@angegar The above  permissions bug impacts boot config files which are placed in following directories  `artifactory_extra_conf` in 6.x and `artifactory_bootstrap` in 7.x , If you don't use these, you are good to upgrade from 6.x to 7.x . Hope it helps

[2020-05-05 07:31] chukka commented on #865
@hichamuntitled  Sorry for delayed response .Looks like you didn't pass maskerKey which is mandatory for HA setup , please refer [here](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/README.md#installing-the-chart)  . Please try and let us know the feedback

[2020-05-05 08:14] angegar commented on #862
Indeed I changed my configuration for :
[code]

This change fix the permission issue.

But now i see the error. (Not a smooth journey ;))

 Failed initializing Home. Version 13 no found.

Any idea on why it is happening ?

[2020-05-05 09:11] hichamuntitled commented on #865
@chukka I didn't pass the master key because it's a migration from 6.x to 7.x
reference to your comment [here](https://github.com/jfrog/charts/issues/677#issuecomment-602145713)

[2020-05-05 19:28] erick-duran commented on #866
Thanks for posting this, we also ran into the same error when trying to deploy with an external DB, creating the users/schemas manually fixed the issue. We are also interested in this feature.

[2020-05-07 01:12] rubensgomes opened #884 "Detected failed migration to version 2 (Initial Schema Update)"
I am installing the latest 7. Artifactory OSS RPM version on CentOS using MySQL DB, and I keep getting following ERROR at startup in the access-service.log:

2020-05-07T01:00:07.584Z [jfac ] [INFO ] [abff6b19987ea600] [s.d.u.AccessJdbcHelperImpl:138] [ocalhost-startStop-2] - Database: MySQL 5.6.48. Driver: MySQL Connector/J mysql-connector-java-8.0.19 (Revision: a0ca826f5cdf51a98356fdfb1bf251eb042

[2020-05-07 09:28] shinji62 commented on #839
Sorry we just normal value.yml and we use an service account annotations as that the normal process for eks.

[2020-05-07 14:09] mhamaydeh commented on #866
@erick-duran  tweak the chart to execute the database script in the statefulset init .

[2020-05-08 08:24] shahiinn commented on #884
@rubensgomes : We handle any issues that comes as part of Jfrog installation charts here. We would recommend you to raise any other issues directly in [StackOverflow forum](https://stackoverflow.com/questions/tagged/artifactory?tab=Newest).

[2020-05-08 17:59] kataliyst commented on #859
I have this same issue.  I deploy the chart with Rancher.  Any upgrades stall and fail.  rollback doesn't work.  logs show this password problem is the issue - passwords are auto-generated.  First deployment is fine - but as I say any upgrade or rollback results in this issue.  This is artifactory-oss 2.2.2 -> 2.2.3:

DETAIL:  Password does not match for user "artifactory".
	Connection matched pg_

[2020-05-09 16:31] #884 closed

[2020-05-13 05:59] shinji62 commented on #839
@chukka Not sure what do you need ..

[2020-05-13 12:11] chukka commented on #859
@hetii  @kataliyst  can you share your values.yaml file and steps to reproduce ?

[2020-05-13 18:21] kataliyst commented on #859
As I mentioned, I use Rancher.  Simply add the Jfrog charts to Rancher's catalogs.  Go into the application screen to deploy an app.  Launch.  Select Artifactory-oss and deploy.  If it's a new install, it will be up in a minute.  If you attempt to upgrade this to a new version, it will fail and you will get complaints about the password.

[2020-05-14 05:43] sanjeevkarani opened #891 "Add support to allow the import of SSL certs to Xray Helm chart"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Version of Helm and Kubernetes**:

**Which chart**:
Xray

**What happened**:
Current behavior requires unsecured communication with Artifactory

**What you expected to happen**:
Secured communication with Artifactory

**How to reproduce it** (as minimally and precisely as possible

[2020-05-15 16:49] palko444 commented on #862
Hello,

I have same issue. I'm installing from scratch
error:
`kubectl logs pod/artifactory-ds-dev-artifactory-ha-primary-0 artifactory-ha
Copying bootstrap configs
cp: can't create '/artifactory_bootstrap/artifactory.config.import.xml': Permission denied`

command used for installation:
`helm upgrade --install --namespace $NAMESPACE $ARTIFACTORY_RELEASE_NAME jfrog/artifactory-ha  -f helm_out/valu

[2020-05-15 17:18] rushins commented on #857
i hit the same issue ...any idea

[2020-05-15 18:42] jmcfallargo commented on #862
Like others - same/similar issue here:
`Exec lifecycle hook ([/bin/bash -c echo; ]) for Container "artifactory-ha" in Pod "artifactory-ha-artifactory-ha-primary-0_artifactory-ha(38c1b130-5c4e-48a0-aedf-7fd273bf8ff4)" failed - error: command '/bin/bash -c echo; ' exited with 126: , message: "cannot exec in a stopped state: unknown\r\n"`

I am also having issues with customVolumes  and customVolumeM

[2020-05-19 03:18] jmcfallargo opened #895 "artifactory-ha failure with customVolumes and customVolumesMounts"
I started with a version of Artifactory that I deployed using the Helm chart about a year ago.  I took that configuration and began to try to deploy using the latest version and have hit multiple issues.

I took the example in the documentation for customVolumes, mounts, and copyOnEveryStartup from the documentation at : https://hub.helm.sh/charts/jfrog/artifactory-ha/2.4.6

Created a custom value

[2020-05-19 03:26] jmcfallargo commented on #895
Looks closely related to: https://github.com/jfrog/charts/issues/759

[2020-05-19 10:42] DNewt opened #898 "Tomcat maxThreads / acceptCount"
**Sorry if this feature already exists, I think the way this was managed has changed in Artifactory 7.x**

**Is this a request for help?**:
Yes

This is a
**Feature Request**

I would like to be able to update the Tomcat values for maxThreads for both Access and Artifactory.

As recommended in this document: https://jfrog.com/knowledge-base/how-do-i-tune-artifactory-for-heavy-loads/ it needs to be

[2020-05-19 14:37] chukka commented on #895
@jmcfallargo  can you share the values.yaml  (with customVolumes ) just to reproduce at my end .Looks like you are upgrading from previous chart version-Pls share previous chart version .  Also can you try installing a fresh (not upgrade and see it works)

[2020-05-19 15:57] chukka commented on #898
@DNewt  maxThreads/acceptCount can be configured via systemyaml in values.yaml

For Example :

[code]

[2020-05-19 16:12] chukka commented on #898
If you think  your question is answered, feel free to close this issue

[2020-05-19 21:38] DNewt commented on #898
Nice! Thank you - do I need to add this to the helm chart?

[2020-05-19 21:41] erick-duran commented on #757
This was fixed in the newest chart. I was able to perform an upgrade with no problems.

[2020-05-19 21:41] #757 closed

[2020-05-20 02:45] chukka commented on #898
Sure , feel free to raise a PR for the same. I'm closing this

[2020-05-20 02:45] #898 closed

[2020-05-20 03:00] chukka commented on #862
@palko444 @jmcfallargo  This is a known [issue ](https://github.com/jfrog/charts/issues/862#issuecomment-623567508), will be fixed as part of 7.5.x - ETA next week

[2020-05-20 05:55] palko444 commented on #862
@chukka i know its known issue, i did comment in the issue. I'm wondering how this can be open for ~23 days. Can you tell me what is last helm chart version not affected?
Thank you in advance

[2020-05-20 08:03] chukka commented on #862
@palko444  this needed a fix in underlying docker image - hence it was planned for 7.5.0 release . If you are not using configMaps for bootstrapping  files , any prior version of 7.5.0 will work as expected,

[2020-05-20 15:03] palko444 commented on #862
Hello @chukka, I'm using configMaps, so what version can I use please?

[2020-05-20 15:10] ripa1993 commented on #862
I was able to get it running with latest chart version:

[code]
instead of using
[code]

[2020-05-20 15:19] kuritka commented on #862
Hi @chukka , for me the last version witout error is [2.0.19 FEB 26.](https://hub.helm.sh/charts/jfrog/artifactory-ha/2.0.19) From that time you made more than 40 releases. Are you sure the bug can't be anywhere else? i.e. somethng is wrong in configurations?

[2020-05-20 16:14] jmcfallargo commented on #862
@kuritka I have tried too many versions now and I can't get Artifactory installed on any version - been on this for a week now -going to try 2.0.18

Does anybody know if its possible to use a new chart to install an old version of Artifactory?  We are still on version 6.x and I need some of the new features in the newer charts.

[2020-05-20 16:18] chukka commented on #862
@ripa1993  Thanks for the workaround, @kuritka  you can try the workaround  but we  would like you to try the  permissions fix  in docker image (using configMapName ) in upcoming 7.5.0 Artifactory release . ETA 1 week :)

@jmcfallargo  new charts are only compatible with 7.x artifactory

[2020-05-20 16:27] chukka commented on #836
@EvanMAmstutz I'm marking this issue as closed feel free to reopen if its still an issue

[2020-05-20 16:27] #836 closed

[2020-05-20 16:28] chukka commented on #844
@madhusmn  just checking if this is still an issue ? if not can you please close this issue

[2020-05-20 20:29] kuritka commented on #862
Hi @chukka  , I will try when new release comes but also need to deliver, so trying workarounds.
I`m afraid workaround here is desinformative  as `/artifactory_extra_conf/{clusterlicense, info, binarystore.xml}` are not mentioned as well as `artifactory_extra_conf/logback.xml` .

Can you provide correct configmap workaround ?

[2020-05-21 09:40] kuritka commented on #862
@jmcfallargo @chukka @palko444 Hi, I resolved issue by updatig image versions in my local `values.yaml` and updating images in our onprem repo.

[code]

[2020-05-22 12:46] kuritka commented on #284
Log message tells that password is not set and after first login with `admin` ,`password` artifactory  requests to enter new credentials. Don't pay attention to that message

[2020-05-22 15:11] StevePerezUK commented on #857
Same here. router never starts.

[2020-05-23 02:14] evannorstrand commented on #895
@chukka - this issue has been thoroughly documented in 759. The **FIX** has been defined. The regression just needs to be resolved.

[2020-05-25 06:54] ankurdhiman328 commented on #242
I am getting a permission denied error with the preStartCommand:

Chart Version: artifactory-7.13.2
App Version: 6.9.0

Error:

`Running custom preStartCommand command
Warning: use -cacerts option to access cacerts keystore
Certificate was added to keystore
keytool error: java.io.FileNotFoundException: /java/jdk-11.0.2+9/lib/security/cacerts (Permission denied)
`

Can someone help?

[2020-05-25 15:10] AlessandroEmm opened #908 "Cannot docker push to an almost vanilla installation."
**Is this a request for help?**:

yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Could be either.

**Version of Helm and Kubernetes**:

Helm v3.1.2, OpenShift 4.3

**Which chart**:

jfrog/artifactory

**What happened**:

Cannot push to docker registry with the error (in the artifactory log) *Unsupported docker v2 repository request for xxxx* where xxx is the actual image name.

*

[2020-05-25 17:46] AlessandroEmm commented on #908
Nevermind, actually i was missing the repository key in the path. I was used to operate it with a reverse proxy and hence assumed to must be on the root path. Sorry for disturbing.

[2020-05-26 07:51] chukka commented on #908
Closing this issue

[2020-05-26 07:51] #908 closed

[2020-05-27 09:27] Vince-Chenal commented on #839
I'm having the same problem.
What version of the AWS SDK is used in Artifactory ?
Here are the supported SDKs: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

[2020-05-27 23:44] w9n opened #917 "Artifactory HA google-storage configuration issue"
**Is this a request for help?**:

---

 BUG REPORT

**Version of Helm and Kubernetes**:
helm:
[code]
k8s:
[code]
**Which chart**:
chart: artifactory-ha-2.4.10

**What happened**:
google storage provider does not load
[code]

**What you expected to happen**:
`Failed to check if bucket exist, bucket artifactory-ha-gcp. Service Error Message.`
`Bucket exists = false`
above error message indicates tha

[2020-05-28 07:59] w9n commented on #917
found this:
[code]

[2020-05-28 07:59] #917 closed

[2020-05-28 12:53] pavanvikas opened #918 "helm chart has missing steps for configuring Artifactory with oracle"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):FEATURE REQUEST

**Version of Helm and Kubernetes**:
Kubernetes 1.12+

**Which chart**:

**What happened**:
As part of configuring Artifactory to use oracle, we need to install libaio Library and modify the system.yaml file accordingly. For detailed steps, please refer below JFrog wiki link:
https://ww

[2020-06-01 07:50] #862 closed

[2020-06-01 10:15] chukka commented on #862
@palko444 @angegar @kuritka  @jmcfallargo Finally, charts with fix  `artifactory-9.5.0, artifactory-ha-2.5.0 ` are released , please try and share the feedback

[2020-06-02 12:42] danielezer commented on #839
This is a known issue and we already have a pending bug report about that. Sorry for the confusion, hopefully, this will be fixed soon.

[2020-06-02 12:56] palko444 commented on #862
Hello,
bootstrap is ok now, however tomcat is not starting with this error

02-Jun-2020 12:02:00.881 INFO [main] org.apache.coyote.AbstractProtocol.init Initializing ProtocolHandler ["http-nio-8081"]
02-Jun-2020 12:02:00.903 INFO [main] org.apache.tomcat.util.net.NioSelectorPool.getSharedSelector Using a shared selector for servlet write/read
02-Jun-2020 12:02:00.917 INFO [main] org.apache.coyote.

[2020-06-03 04:12] chukka commented on #862
@palko444 Can you please raise this as a new issue (also share reproducible steps )

[2020-06-03 04:16] chukka commented on #865
@hichamuntitled Is this still an issue ? If not please close this issue . Can you try upgrading to latest version - 2.5.0 (which has fixes + improvements

[2020-06-03 08:13] chukka commented on #895
@evannorstrand  #759 is not related to artifactory BTW, @jmcfallargo  If you are still facing  this issue , try latest chart `2.5.0` and share feddback

[2020-06-03 08:17] anoukkieboom commented on #857
We had the same issue in a slightly different context. Artifactory (7.4.3) router didn't start, adding CPU solved this issue for us.

[2020-06-03 08:32] chukka commented on #759
@evannorstrand We understand this is a breaking change. We thought about it and decided to move in this direction .

For 3.x to 3.x  (breaking ) upgrades :

Please run `kubectl delete statefulsets <old_statefulset_xray_name>` and run helm upgrade

I'm marking this issue as closed. Feel free to reopen if it doesn't work

[2020-06-03 08:32] #759 closed

[2020-06-03 08:40] chukka commented on #857
@zzvara  @anoukkieboom  Is this still an issue ? can you try with latest Artifactory OSS chart - 2.3.0 (uses Artifactory 7.5.5) and revert with feedback

[2020-06-03 08:42] chukka commented on #835
@wlmckeon  is this still an issue now ? can you try upgrading to latest charts - 8.7.0 (Artifactory 6.20.0) ?

I'm closing this issue. Feel free to open if it doesn't solve with upgrade .

[2020-06-03 08:42] #835 closed

[2020-06-03 08:44] chukka commented on #855
@akashpatel567  Can you please elaborate this feature request  with an example , Also update  xray chart version  you are currently using ?

[2020-06-03 09:39] anoukkieboom commented on #857
Our issue is solved.

[2020-06-03 11:58] StevePerezUK commented on #857
My problem was that the upgrade to pro would not start without a license file. Seems straight forward, but I could not find where and what format the license file needed to be in. I had test install where it did start and gave me the gui prompts for the license. I then found the license file on the file system and installed it.

For other unfortunates - the file lives at /var/opt/jfrog/artifactory

[2020-06-04 14:24] kuritka commented on #862
@palko444 , sorry I jump in. Can you share output of this command and version you installed?

[code]

[2020-06-05 01:21] shinji62 commented on #828
@chukka We got the same issue and it's related to removed line that you are showing. Basically this avoid us to drain our kubernetes nodes because a pod have 2 pdb attach to it.

Can you please re-add the deleted line?

I don't think is related to the issue #651.

[2020-06-05 07:21] shinji62 commented on #839
@danielezer Don't really want to create an account in Jfrog jira just to vote.

EKS / AWS recommendation is to use ServiceAccount and no more custom solution like kube2iam and so on.

I think bumping the AWS SDK should be required as the version use is more than 1 years old and many bugfixes have been release too.

[2020-06-05 07:25] #828 closed

[2020-06-05 07:30] chukka commented on #651
@erick-duran I'm marking this as closed . Feel free to reopen if this is still an issue

[2020-06-05 07:30] #651 closed

[2020-06-05 07:31] chukka commented on #855
@akashpatel567  I'm marking this as closed , Please feel to reopen /open a new feature request

[2020-06-05 07:31] #855 closed

[2020-06-05 07:33] chukka commented on #828
@shinji62 Fixed in latest charts - artifactory-ha-2.5.1, Please try and share feedback

[2020-06-05 07:37] palko444 commented on #862
Hello @kuritka,

alpine:3.10
 bitnami/minideb:stretch
 bitnami/postgres-exporter:0.8.0-debian-10-r80
 bitnami/postgresql:11.7.0-debian-10-r9
 docker.bintray.io/jfrog/artifactory-pro:7.5.5
 docker.io/bitnami/minideb:stretch
 docker.io/bitnami/postgres-exporter:0.8.0-debian-10-r80
 docker.io/bitnami/postgresql:11.7.0-debian-10-r9
 fluent/fluent-bit:1.4
 quay.io/travelaudience/docker-nexus:3.21.2-03

[2020-06-05 08:25] kuritka commented on #862
@chukka Hi, seems, 7.5.0 is working well for me . Anyway, as I mentioned. My struggles was with incorrect container versions. Not artifactory version itself.
Another issue I had with 7.4.3 - I could't join with xray telling me `Cluster join: Failed resolving join key: failed resolving 'shared.security.joinKey' key; file does not exist: /opt/jfrog/artifactor`. Upgrade to  7.5.5 helps (I think probl

[2020-06-05 08:37] kuritka commented on #862
Hi @palko444 look at my containres in dedicated artifactory namespace (nothing else than artifacotry is there)

[code]
Can you download and unzip proper helmchart from [here](https://charts.jfrog.io/) , look into `values.yaml` and fix container versions in your local `values.yaml` ? I think your artifactory will work after you fix container versions.

[2020-06-05 09:36] danielezer commented on #839
Yes, I’m aware. That’s what the ticket it about. Hopefully it will be resolved soon. Thanks for reporting this

[2020-06-05 14:51] chukka commented on #857
I'm marking this issue as closed with latest charts, Feel free to open a new issue  if you face any other issue

[2020-06-05 14:51] #857 closed

[2020-06-05 16:59] chukka commented on #865
@hichamuntitled  Marking this issue as closed, Feel free to reopen if it doesn't work with latest charts

[2020-06-05 16:59] #865 closed

[2020-06-05 17:00] chukka commented on #840
Closing this issue

[2020-06-05 17:00] #840 closed

[2020-06-08 04:15] chukka commented on #895
@evannorstrand  I'm marking this issue as closed, Feel free to reopen if you face any upgrade issues

[2020-06-08 04:15] #895 closed

[2020-06-08 04:16] chukka commented on #844
@madhusmn I'm marking this issue as closed, Feel free to reopen if it still exists

[2020-06-08 04:16] #844 closed

[2020-06-08 05:01] rahulsadanandan commented on #918
@pavanvikas
can you try out with the below commands, you will have to download the oracle client library files, libaio and extract them to tomcat lib folder. Also it is important to set LD_LIBRARY_PATH env variable.
[code]

I have tested with oracle 12c.

[2020-06-08 11:53] palko444 commented on #862
Hello @kuritka,
i was missing some "tomcat" lines in my values file, im not sure where this was added. Anyway bigger issue is remove of running java "keytool" in "entry-point.sh" script. As i have custom cert for S3 artifactory failed to start even if I had certs mounted in "artifactory_extra_certs" folder. I checked entry-point.sh and these certs are no more added to java key store.
All is ok aft

[2020-06-08 12:16] #918 closed

[2020-06-11 14:23] evannorstrand commented on #759
Chukka, this is an issue that MULTIPLE of your clients are having. Deleting and reinstalling won't fix the problem.

It's an issue with the logic of the helm charts.

[2020-06-11 14:41] evannorstrand commented on #841
@chukka since you decided to close my ticket claiming the issue was fixed by "going a new way" and saying I just needed to do a reinstall.

I have reinstalled, the issue still exists, and you have multiple customers broken.

The fix is as follows:

Update the charts to re-allow the customVolumeMounts as I had them working before. The customVolumeMount needs to be attached to the "router" service.

[2020-06-11 14:51] evannorstrand commented on #841
@chukka for your tracking, I have opened and escalated an official case id as I am an enterprise customer. https://support.jfrog.com/jFrogCasePage?id=5001r00002rKnzsAAC

[2020-06-11 18:39] jdamour98 commented on #304
@eldada FYI opened #940 to copy to [artifactory] chart, where i need it.

[2020-06-12 05:19] chukka commented on #841
@evannorstrand  Thanks for feedback , Can you please review this PR (work in progress) - https://github.com/jfrog/charts/pull/943

[2020-06-12 17:07] chukka commented on #759
@evannorstrand Fix for broken customvolumeMounts  has been released in  latest chart version xray-3.4.1

[2020-06-12 17:10] chukka commented on #841
@erick-duran customvolumeMounts has been added under `router` in latest xray chart 3.4.1

[2020-06-12 17:13] erick-duran commented on #841
Thank you @chukka, I will review this next week and get back to you to let you know how it goes.
Is implementing this for your other products also in the roadmap?
We are currently using the above workaround with Xray, Mission Control and Distribution.

[2020-06-12 17:25] chukka commented on #841
@erick-duran Sure, Please try this workaround and share feedback 👍

 yes, We have an internal tracking issue for supporting custom CA certificates for all products . Sorry. No ETA

[2020-06-12 19:32] evannorstrand commented on #841
I am trying to deploy now, and I am getting this error

Failed to install app xray. Error: UPGRADE FAILED: YAML parse error on xray/templates/xray-statefulset.yaml: error converting YAML to JSON: yaml: line 348: mapping values are not allowed in this context

The values yaml looks like:

  common:
    customVolumes: |
      - name: my-ca
        configMap:
          name: my-ca

[2020-06-12 20:14] evannorstrand commented on #841
@chukka
Here is the issue:

{{- if .Values.indexer.customVolumeMounts }}
{{ tpl .Values.indexer.customVolumeMounts . | indent 8 }}
{{- end }}

This was the original code, you need to move the NEW code to the left with no indents.

[2020-06-12 20:18] evannorstrand commented on #841
@danielezer - bringing this to your attention.

[2020-06-13 03:58] chukka commented on #841
@evannorstrand  Thanks for reporting - Fix is available in PR https://github.com/jfrog/charts/pull/946. Can you please try and share feedback

[2020-06-14 07:16] omrizel opened #947 "Documentation inconsistency - xray service replica count"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug (somewhat)

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):
need to modify the configuration table in the documentation for the xray service replica count from "server.r

[2020-06-15 05:23] #726 closed

[2020-06-18 04:01] #947 closed

[2020-06-18 10:00] mscholze86 opened #958 "How to apply Artifactory YAML Configuration?"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): QUESTION / FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm: v3.1.3, Kubernetes v1.18.3

**Which chart**:
jfrog/artifactory --version 9.5.3

**What happened**:
I tried to apply global Artifactory configurations like baseurl, ldap and mail server settings (like described here: https://www.

[2020-06-20 00:43] egulatee opened #961 "Deployment of OSS Chart fails due to "Readiness probe failed""
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
`helm version
`

`version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}
`

`kubectl version
`

`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitC

[2020-06-20 20:45] pedromctech opened #962 "Add support of specifying resources for initContainers in nginx deployment and Artifactory statefulset"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Version of Helm and Kubernetes**:

Kubernetes v1.16.8
Helm v3.2.3

**Which chart**:

Artifactory Version 9.5.3

**What happened**:

When a `ResourceQuota` is configured in the namespace, pods are not deployed because resources requests and limits must be specified.

**What you expec

[2020-06-23 00:05] evannorstrand commented on #841
@chukka The PR fixed the mounting issue.

Where should we be mounting the file? The location changed from the previous version.

[2020-06-23 06:53] remyMenetrieux commented on #839
@danielezer if you have a preview, with the new client we can test. We want deploy artifactory on our EKS, and don't want add kube2iam on it..

[2020-06-23 07:23] danielezer commented on #839
Unfortunately, I don't have a preview... Sorry

[2020-06-23 11:33] chukka commented on #841
@evannorstrand Thanks for the feedback, Could you please help us with the reproducible (detailed) steps. I hope you are using custom CA certificates ( if possible can you share them as well)

[2020-06-23 14:01] evannorstrand commented on #841
1) Deploy the application with the following config
[code]

2. The router throws the x509 error, xray fails

I will email the custom ca cert to the ticket i've got open on the internal system.

[2020-06-24 16:42] BilelYahia commented on #839
We are blocked as well with this bug. It forces us to use Kube2iam for the entire cluster, which is something we do not want.

[2020-06-25 07:49] maxyor6040 commented on #841
please provide `access-service.log` output

[2020-06-25 10:12] remyMenetrieux commented on #839
Hi,
Are you sure about the version of artifactory ? we plays with a version
7.4.3 and we have the problem.
regards,
Rémy

Le jeu. 25 juin 2020 à 11:21, danielezer <notifications@github.com> a
écrit :

--
Rémy Menétrieux

Tegetech
2, rue versigny
75018 PARIS

email : remy@tegetech.fr
Tel : 01 53 35 04 53
Tel : 06 25 44 50 99

[2020-06-25 12:02] evannorstrand commented on #841
The access service restarts constantly because the router fails.

[2020-06-25 12:03] evannorstrand commented on #841
The issue seems to be that the bundle isn't being used by the Router service.

[2020-06-25 14:23] danielezer commented on #958
@mscholze86 [This](https://www.jfrog.com/confluence/display/JFROG/Artifactory+YAML+Configuration) is for REST API, this is not the `system.yaml`. The `system.yaml` is used for configuring the installation, while the REST API is used to create resources and set global configurations. Please take a look [here](https://www.jfrog.com/confluence/display/JFROG/Artifactory+YAML+Configuration#ArtifactoryY

[2020-06-25 14:23] #958 closed

[2020-06-26 08:27] mscholze86 commented on #958
@danielezer Thanks for your reply. So there is no other way to configure the LDAP and mail server configuration via Helm Chart? May a sidecar container can help. It waits for the REST API and then automatically does the configuration.

[2020-06-26 10:38] danielezer commented on #958
Yes you can use a sidecar container for that, but you would have to provide the username and password/access token

[2020-06-26 12:05] remyMenetrieux commented on #839
@danielezer, i have made a very quick test with my jar (you can found source [here](https://github.com/remyMenetrieux/aws-java-cli-test)  I use the same version and deploy it on the same eks pods. my apps works and can add list and remove file) artifactory can't.
is it a problem with the authentification process in artifactory ?
I reproduce the problem when i forgot the region. Could you confirm t

[2020-06-26 21:33] remyMenetrieux commented on #839
@danielezer i think i have found the probleme. in my first exemple i used aws-java-sdk and it works fine.
but when i use aws-java-sdk-s3 i have the error observed, after some tests i found that a dependence is missing, for oidc working if you add
`   <dependency>
            <groupId>com.amazonaws</groupId><artifactId>aws-java-sdk-sts</artifactId>
            <version>1.11.749</version>
        </

[2020-06-27 06:09] erick-duran commented on #841
Sorry for the delay I have finished testing this. Custom mounts work fine, but just putting the file into `/etc/ssl/certs/` does not work and `/etc/pki/tls/certs/ca-bundle.crt` as @evannorstrand suggests might not work for this Linux distro. Please provide the exact path you want us to mount the certificate to.

Using the workaround that I initially posted via the prestart command didn't work eith

[2020-06-27 11:04] danielezer commented on #839
Thanks @remyMenetrieux, I’ve passed this information to our internal stakeholders. We will look into it

[2020-06-29 14:05] remyMenetrieux commented on #839
Hello it s me again, i modify the artifactory like this @shinji62  :
`jar uvf artifactory.war WEB-INF/lib/aws-java-sdk-sts-1.11.749.jar`
and rebuild a docker image with this Docker File :

FROM docker.bintray.io/jfrog/artifactory-pro:latest
COPY --chown=artifactory:artifactory ./artifactory.war /opt/jfrog/artifactory/app/artifactory/tomcat/webapps/artifactory.war
RUN chown -R artifactory:artifacto

[2020-06-29 16:45] palko444 commented on #841
Hello chart developers,
would it be possible to speed up little bit development of this feature. I guess lot of people is waiting for this and I'm one of them. I changed this already 3 times since I'm using artifactory/xray helm charts. I do not want to repackage docker images every time as this is only working solution all the time. Having certs as volumes and init script loading them to java key

[2020-06-29 17:26] erick-duran commented on #841
We also have an internal support ticket for this, #130966 for reference.

[2020-06-29 17:38] palko444 commented on #841
@erick-duran, is it possible to see ticket if i have account here? https://support.jfrog.com/

Thank you in advance

[2020-06-29 18:47] evannorstrand commented on #841
Tickets are private I believe.

@palko444 - I feel your frustration, I was the original contributor who fixed this in the previous version of the xray charts. To help push this issue, please create a support ticket and reference this github ticket. The more paying customers who put in support tickets, the faster this issue will be resolved.

@erick-duran - I agree, creating a custom image is an un

[2020-06-29 18:48] evannorstrand commented on #891
Duplicate of #891

If your a paying customer, please submit a support ticket directly to JFROG and reference #891. The more paying customers complain the faster this will be fixed.

[2020-06-29 22:42] chook opened #983 "Artifactory installs one container as opposed to the several listed in the system architecture diagram"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**:
[code]
**Which chart**: artifactory

**What happened**: As opposed to xray/mission control, where the pod contains several containers, it seems artifactory brings 2 pods (artifactory / artifactory-nginx) where the artifactory-artifactory-0 pod c

[2020-06-30 02:24] chukka commented on #841
@evannorstrand @palko444 @erick-duran  Thanks for follow up, We are currently working (tracking issue internally) on simplifying the approach to use certificates across the charts. ETA ~ 2 Weeks from now.

[2020-06-30 05:07] chukka commented on #961
@egulatee Can you please share reproducible steps  ? is this on fresh install ?

[2020-06-30 07:54] eldada commented on #983
Hi @chook . Your observation is correct. This was a deliberate decision mostly for simplicity and backward compatibility for users of the Artifactory Docker image (which is very popular).
We are looking into adding (optional) support for deploying as separate containers for K8s. This is still under a general idea. The benefits for separate containers are great, but business continuity and backward

[2020-06-30 11:03] danielezer commented on #839
Thanks for the info @remyMenetrieux. We are looking into this, this information is definitely helpful

[2020-06-30 12:07] kpirateone opened #985 "[artifactory-ha] chart for user defined plugins does not seem to work with artifactory 7"
**Is this a request for help?**:
yes?
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm 3 / Kubernetes v1.16

**Which chart**:
Artifactory HA

**What happened**:
user defined plugins via configuration by .Values.artifactory.userPluginSecrets does not load plugin in artifactory 7.  The chart creates the secret.  The secret is mounte

[2020-06-30 14:14] leylmordor opened #986 "Cluster join: Service registry ping failed; context deadline exceeded"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

**Which chart**:
Latest Chart

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else we need to know**:

[2020-06-30 15:06] mhamaydeh opened #987 "[Distribution] Cloud Memorystore instead of Redis in Kubernetes"
**Is this a request for help?**: YES
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm:
version.BuildInfo{Version:"v3.2.1", GitCommit:"fe51cd1e31e6a202cba7dead9552a6d418ded79a", GitTreeState:"clean", GoVersion:"go1.13.10"}

Kubernetes:

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2e

[2020-06-30 18:13] chook commented on #983
It does! thanks for the quick and verbose response!

[2020-06-30 18:13] #983 closed

[2020-07-01 04:16] bo-tu opened #993 "Tomcat artifactory.access.client.max.connections"
**Sorry if this feature already exists, I think the way this was managed has changed in Artifactory 7.x**

**Is this a request for help?:**
Yes

This is a
**Feature Request**

I would like to be able to update the Tomcat values for **artifactory.access.client.max.connections**.

As recommended in this document: https://jfrog.com/knowledge-base/how-do-i-tune-artifactory-for-heavy-loads/ it needs to

[2020-07-01 22:10] KierranM commented on #993
Could this potentially be implemented the same way `asyncCorePool` is currently?

i.e around [here](https://github.com/jfrog/charts/blob/master/stable/artifactory-ha/values.yaml#L452-L454) add something like:

[code]

[2020-07-06 08:49] Siegfriedk commented on #859
We face the same issue.

We use artifactory as a subchart to keep the maintenance as minimal as possible and deploy it with argocd.

When artifactory restarts, it is no longer able to connect to postgresql.

[2020-07-06 10:31] chukka commented on #859
@hetii @kataliyst @Siegfriedk Thanks for reporting !  we are looking into it in the integration with Rancher, will update soon

[2020-07-06 15:02] peters95 commented on #859
@chukka I don't believe this issue is specific to Rancher as I have also encountered it on Openshift using our helm charts. Rancher just provides a GUI around our values.yaml I believe but @vinayagg can confirm this is the case.

[2020-07-06 15:59] Siegfriedk commented on #859
Its not an Ranger issue. We are using GKE and argocd.

[2020-07-06 16:25] vinayagg commented on #859
yes, rancher charts only add one file to present a UI to ask for values to be passed to helm charts and then trigger helm charts with those values. There are no additions or modifications to our helm charts.

[2020-07-06 20:33] BilelYahia commented on #839
@danielezer is there any updates on this issue?

[2020-07-06 20:37] danielezer commented on #839
Not at the moment.

[2020-07-06 20:53] djsly commented on #608
Any update on this ? @eldada

[2020-07-07 03:43] eldada commented on #608
@djsly - It's planned to be released in one of the coming Artifactory minor versions. Stay tuned!

[2020-07-07 03:47] djsly commented on #608
Thanks!  Will that be in the 6.X release as well ?

What is considered soon enough ? :)

[2020-07-07 04:06] vinayagg commented on #859
@chukka in rancher, since UI is controlled by a separate file, I can force users to specify a password. Then as long as they enter same password on re-install, it should work.
Is this acceptable solution?

[2020-07-07 05:40] eldada commented on #608
It will **not** be part of 6.x.
As for timelines - I'm not sure. I'm not the one managing this 😉

[2020-07-07 05:42] eldada commented on #608
Correction - this is wrong. I don't have an exact estimate as work is still being done here 😟

[2020-07-07 20:19] erick-duran opened #1001 "Error updating to Artifactory HA chart 2.6.0+ with external DB and custom secrets"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug?

**Version of Helm and Kubernetes**:
Helm 3.2.4
Kubernetes 1.15.11

**Which chart**:
Artifactory HA

**What happened**:
Upgrading from chart v2.5.7 to v2.6.0 and higher versions results in status `Init:CreateContainerConfigError`. The error from describing the pod is: `Error: secret "<release-

[2020-07-07 20:46] erick-duran commented on #1001
Passing the DB URL with the custom secret fixed this.

[2020-07-07 20:46] #1001 closed

[2020-07-08 02:54] chukka commented on #961
@egulatee Following up on the reproducible steps !

[2020-07-08 03:05] chukka commented on #985
@kpirateone Thanks for reporting . Can you please provide with reproducible steps (helm commands used - will help)

[2020-07-08 12:19] egulatee commented on #961
@chukka
The steps are as follows:

`helm repo add jfrog https://charts.jfrog.io kubectl create ns artifactory helm upgrade --install artifactory --namespace artifactory jfrog/artifactory-oss
`

[2020-07-08 13:55] chukka commented on #961
Thanks

[2020-07-08 13:55] #961 closed

[2020-07-10 09:23] #993 closed

[2020-07-13 13:16] hichamuntitled commented on #865
Hello, Upgrading to the last version did not solve the problem.
The only workaround was to delete the master key / fingerprint from database.

[2020-07-13 18:13] kpirateone commented on #985
we set the user plugin secret in the chart values

[code]

and run a `helm template` followed by a `kubectl apply -f <template target dir>`

[2020-07-14 04:53] chukka commented on #865
@hichamuntitled  can you please provide reproducible steps , also share 6.x and 7.x chart versions along with values used

[2020-07-14 10:46] mhamaydeh commented on #987
I have got an answer from Jfrog that it is not supported to replace Redis at this point ,
but the helm chart is pointing to a depreciated version of Redis .

[2020-07-14 10:53] chukka commented on #987
@mhamaydeh we are planning to update redis to latest `6.0.5` in the coming release

[2020-07-14 10:55] chukka commented on #987
@mhamaydeh  can you please mark this issue as closed ?

[2020-07-14 10:56] chukka commented on #986
@leylmordor  can you please share the chart version and reproducible steps ( helm commands )

[2020-07-14 10:56] mhamaydeh commented on #987
@chukka  Thank you

[2020-07-14 10:56] #987 closed

[2020-07-14 13:30] evannorstrand commented on #841
@chukka & @danielezer any updates?

[2020-07-14 21:21] TJM opened #1019 "artifactory-nfs-pvc.yaml should use ReadWriteMany instead of ReadWriteOnce"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
artifactory-ha (maybe others)

**What happened**:
The artifactory PV is created as RWO (ReadWriteOnce)

**What you expected to happen**:
It should be created as RWX (ReadWriteMany)

**How to reproduce it** (as minimall

[2020-07-15 15:49] chukka commented on #1019
@TJM Thanks for reporting ! Would you mind raising a PR with this change for artifactory-ha chart ?

[2020-07-16 20:25] dhdersch opened #1022 "[pipelines] Headless Service doesn't work when of type NodePort"
**Is this a BUG REPORT or FEATURE REQUEST?** BUG REPORT

**Version of Helm and Kubernetes**:

Helm: v3.2.3
Kubernetes:

[code]

**Which chart**: `center/jfrog/pipelines          1.3.4           1.6.2           A Helm chart for JFrog Pipelines  `

**What happened**: I am using the GKE Ingress to route traffic. One of the requirements is that the services it routes to need to be of type `NodePort` a

[2020-07-17 01:40] shinji62 commented on #839
@danielezer Does sounds like a big work bumping the AWS sdk version no ?

[2020-07-19 08:05] danielezer commented on #839
Hopefully will be done soon

[2020-07-20 08:34] rimusz commented on #1022
fix in #1026

[2020-07-20 08:52] #1022 closed