[2022-05-24 07:08] chukka commented on #1608
@onetwopunch  is this still an issue ? can you please logs of artifactory

[2022-05-24 07:24] chukka commented on #1584
@gabo89  is this still an issue ?

[2022-05-24 07:30] chukka commented on #1574
@kishubhatta  can you please share the reproducible steps

[2022-05-24 07:31] chukka commented on #1572
@frankfong0208  please try latest version 10.x of platform chart and see if it resolves the issue

[2022-05-24 12:46] chukka commented on #1632
Thanks for this feature request, we will evaluate this internally and come back .

If possible can you provide a PR for this request .

[2022-05-25 01:38] chukka commented on #1628
Thanks for this feature request , we will create a internal tracking issue for this , will update once we add this change .

[2022-05-25 01:50] chukka commented on #1618
This is already fixed internally , will be available in 7.40.x release

[2022-05-25 02:37] chukka commented on #1610
@wopl  please share more details like artifactory chart version and use case you are trying solve ?

[2022-05-25 04:14] chukka commented on #1606
@lacci  Thanks for feature request , we would like to take this in upcoming releases . Would you mind raising a PR  so that it gets quickly

[2022-05-25 07:49] chukka commented on #1604
@mansur-abdirimov Thanks for this feature, we will evaluate this internally and update soon.

[2022-05-25 08:22] #1594 closed

[2022-05-25 08:23] #1593 closed

[2022-05-25 08:27] chukka commented on #1587
@omlet05  please refer - https://www.jfrog.com/jira/browse/RTFACT-21513

[2022-05-25 08:28] #1587 closed

[2022-05-25 08:36] chukka commented on #1572
Note : 0.6.0 is non GA version not supported , please try latest ones and share feedback

[2022-05-25 08:36] #1572 closed

[2022-05-25 10:31] KarstenSiemer commented on #1630
Hi! I have the exact same issue.
log:
[code]
helm values:
[code]

k8s secret:
[code]

helm chart version:
artifactory-oss:  107.38.10

[2022-05-25 14:57] natw commented on #1632
I've gotten this working, with the only change to the artifactory chart being adding `shareProcessNamespace: true` to the nginx pods.

Then I have the following in my values.yaml:

[code]

`dockerpinata/inotify-tools` is just the least sketchy looking inotify-tools image I saw on dockerhub, but anything with a shell and `inotify-tools` installed should work.

Adding an option to the chart to enabl

[2022-05-25 15:07] bramaq commented on #1632
Natw, this is awesome; but if it still requires altering the chart anyway, would it not be better to rather implement this directly in the nginx container and save having to run an extra sidecar with all the extra implications?

[2022-05-25 15:22] natw commented on #1632
eh, I get that argument, but I think the sidecar method is more explicit, more flexible, and doesn't require maintaining another set of patches on top of the nginx image. I like the notion of having containers just do one thing.

Plus, adding a single, backwards compatible option is a lot more likely to get merged upstream. :)

[2022-05-25 16:08] bramaq commented on #1632
Explicit  having to use an optional customSidecarContainer with a chunk of user edited yaml?  Reloading on ssl & config changes by default is just best user experience tbh. I cannot imagine anyone who object to having that, so don't get much the need for being explicit here. The chart should ideally just do it by default.

Forgive me, but I think using customSidecarContainers to enable this is mor

[2022-05-26 09:03] chukka commented on #1055
@somaritane can you confirm if you are using artifactory 7.x or 6.x ?

[2022-05-26 09:29] chukka commented on #1542
related to https://github.com/jfrog/charts/issues/1628

[2022-05-26 13:13] bramaq commented on #1632
ok, I have got this working just changing the nginx container command. Sorting out the legal clearance to push a pr

[2022-05-27 06:47] #1316 closed

[2022-06-01 04:56] wopl commented on #1610
I am using jfrog/artifactory-jcr. As in my K3S cluster I do have multiple StorageClasses, I would like to specify a dedicated storage class for my artifactory persistence (not only the size).

[2022-06-01 19:13] cmoulliard opened #1635 "artifactory fails to connect to postgresql DB"
**BUG REPORT**

**Version of Helm and Kubernetes**:
k8s: 1.22.9
helm: v3.8.2

**Which chart**:
latest

**What happened**:
[code]

**What you expected to happen**:
Artifactory pod should be able to connect to the DB

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Additional information**
Log of the PostgreSQL DB reports:
[code]
This issue seems similar to what I reporte

[2022-06-02 04:41] cmoulliard commented on #1635
This problem occurs as `helm uninstall` do not remove the PVC and DB is not recreated when we install again the artifactory.

[2022-06-02 05:00] eldada commented on #1635
Helm does not remove the PVC by design. This is to protect you from an accidental remove of your data or state.
A full uninstall requires you to also get the PVCs and delete them with a `kubectl delete pvc ...`.

[2022-06-03 07:32] andreaslarfors opened #1637 "Error: template: artifactory-ha/templates/nginx-deployment.yaml:143:24: executing ... at <.Values.nginx.lifecycle>: can't evaluate field Values in type interface {}"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Version of Helm and Kubernetes**:
Helm:
version.BuildInfo{Version:"v3.4.2", GitCommit:"23dd3af5e19a02d4f4baa5b2f242645a1a3af629", GitTreeState:"clean", GoVersion:"go1.14.13"}
Kubernetes:
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.3", GitCommit:"816c97ab8cff8a

[2022-06-03 07:58] andreaslarfors commented on #1637
The root cause of the error is the context-aware `.` in the file `artifactory-ha/templates/nginx-deployment.yaml` on line 143:
`135:      {{- range .Values.nginx.loggers }}`
`...`
`143:        {{- with .Values.nginx.lifecycle }}`
Because the .Values.nginx.lifecycle value is referenced from within a range, the context `.` is no longer the root context but the range.
The problem can be mitigated by

[2022-06-05 18:58] Nefelim4ag opened #1639 "[artifactory-oss/jcr/cpp-ce] Artifactory dependency charts fails with jf-event issue when splitServicesToContainers is enabled"
Must be disabled, because working only with enterprise image

[code]

Not working because the missing jf-event in OSS image
[code]

[2022-06-06 01:44] chukka commented on #1639
@Nefelim4ag Yes, This is already fixed  internally and will be released in  upcoming next minor release  of artifactory

[2022-06-06 21:48] gabo89 commented on #1584
hello, i updated the helm chart and after it , it solved!

[2022-06-09 08:24] skrgoesgit opened #1643 "What is the correct way of disable Nginx proxy buffering while using the Artifactory Helm chart?"
**request for help**:
What is the correct way of disable Nginx proxy buffering while using the Artifactory Helm chart?

**Version of Helm and Kubernetes**:
Helm: 3.8.0
K8S: AWS EKS 1.21

**Which chart**:
artifactory-107.38.10

**What happened**:
We are facing timeout issues while using push replication of large file as explained in this article.
https://www.jfrog.com/confluence/display/JFROG/Confi

[2022-06-09 10:17] andreaslarfors opened #1644 "xray: The RABBITMQ_LOAD_DEFINITIONS and RABBITMQ_SECURE_PASSWORD environment variables cannot be enabled at once"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm: `version.BuildInfo{Version:"v3.8.0", GitCommit:"d14138609b01886f544b2025f5000351c9eb092e", GitTreeState:"clean", GoVersion:"go1.17.5"}`
kubectl version: `Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d

[2022-06-09 11:03] andreaslarfors commented on #1644
Thanks @chukka, yes this issue is part of the upstream xray chart, my apologies.

[2022-06-09 11:03] #1644 closed

[2022-06-10 03:09] chukka commented on #1635
Marking this as closed

[2022-06-10 03:09] #1635 closed

[2022-06-12 02:38] ns-kbhat opened #1645 "add support for nginx.terminationGracePeriodSeconds"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**: artifactory

**What happened**: need control over graceful termination of nginx when large files are being uploaded

**What you expected to happen**: new value nginx.terminationGracePeriodSeconds (artifactory already has it)

**

[2022-06-17 04:16] chukka commented on #1561
@kishubhatta  can you please describe more details on this issue , can you please confim if this is already fixed on the latest version?

[2022-06-17 06:52] srinivasgowda097 commented on #1645
Thanks for the feature request, we will take this internally and will release in next version of Artifactory

[2022-06-17 07:01] srinivasgowda097 commented on #1630
This is already fixed internally and will be released along with Artifactory 7.41.x - ETA - End of this month

[2022-06-17 07:08] srinivasgowda097 commented on #1622
This is fixed internally and will be released in couple of days - Insight 1.11.x version

[2022-06-17 07:10] chukka commented on #1618
Update : 7.41.x release

[2022-06-17 07:12] chukka commented on #1612
update : 7.41.x release (end of this month release)

[2022-06-17 07:19] srinivasgowda097 commented on #1609
Looks like below entry was not added system.full-template.yaml to validate against system.yaml, will fix in upcoming release
<mc:
      tomcat:
          connector:
              sendReasonPhrase: false>

[2022-06-17 07:25] chukka commented on #1608
closing this issue , if issue still persists , feel free to reopen with additional logs

[2022-06-17 07:40] #1608 closed

[2022-06-17 13:49] kishubhatta commented on #1561
Yeah looks addressed. Anyway, we did not end up using it.

[2022-06-17 13:49] #1561 closed

[2022-06-27 07:21] chukka commented on #1623
@danmanners Thanks for reacing out ! we are planning to implement this OOB support in helm charts using `circleOfTrustCertificatesSecret` secret name , Planned to release in next version of Artifactory release in coming days

[2022-06-28 11:25] skrgoesgit commented on #1643
Thanks for your answer.
I will try to do this via mainConf parameter in the HELM chart.

[2022-06-28 11:26] #1643 closed

[2022-06-28 11:29] skrgoesgit commented on #1643
This works for me.

[2022-06-30 18:35] mouliveera opened #1650 "Duplicate volumes in version 107.39.4"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
## BUG REPORT

**Version of Helm and Kubernetes**:
Helm: v3.8.2
K8s: v1.24.0

**Which chart**:
https://artifacthub.io/packages/helm/jfrog/artifactory/107.39.4

**What happened**:
Duplicate volumes defines:
https://artifacthub.io/packages/helm/jfrog/artifactory/107.39.4?modal=template&template=artif

[2022-06-30 19:07] mouliveera commented on #1650
Also with previous version observed init containers are failing with some OSI layer issues.
[code]

[2022-07-01 17:23] lancew-q commented on #1637
Running into the same issue, waiting on approval/merge of the PR.

[2022-07-12 13:10] chukka commented on #1645
Added support in #1651

[2022-07-12 13:10] #1645 closed

[2022-07-12 13:10] #1618 closed

[2022-07-12 13:11] #1623 closed

[2022-07-14 12:21] dennishellerdigatus commented on #1650
also experiencing the issue with the duplicate volumes, preventing us to upgrade to 107.39.4

[2022-07-15 06:35] itssiri commented on #1650
Thanks for reporting the issue. Will check and fix this in upcoming  release.

[2022-07-15 07:07] dennisheller-nokia opened #1655 "Distribution Redis container shuts down every minute"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm: v3.8.1
Kubernetes: v1.22.9

**Which chart**:
[distribution](https://artifacthub.io/packages/helm/jfrog/distribution/102.13.4)

**What happened**:
Redis container did shut down every minute without error message. This caused the whole Distribution

[2022-07-19 10:34] chukka commented on #1637
Fixed as part of  7.41.x release https://github.com/jfrog/charts/pull/1652

[2022-07-19 10:34] #1637 closed

[2022-07-19 10:35] chukka commented on #1622
Fixed as part of https://github.com/jfrog/charts/pull/1651

[2022-07-19 10:35] #1622 closed

[2022-07-19 10:37] chukka commented on #1630
Fixed as part of https://github.com/jfrog/charts/pull/1651

[2022-07-19 10:37] #1630 closed

[2022-07-19 10:38] chukka commented on #1612
Fixed as part of https://github.com/jfrog/charts/pull/1651

[2022-07-20 11:30] gitta-jfrog commented on #1607
According to [deprecation notice](https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/migrate-classic-load-balancer.html) AWS published this deprecation going to impact customers with  "Classic Load Balancer in [EC2-Classic](https://aws.amazon.com/blogs/aws/ec2-classic-is-retiring-heres-how-to-prepare/)" while JFrog customers with Artifactory deployment in AWS EKS are using "Classic

[2022-07-20 21:43] billimek opened #1657 "consider http probes instead of exec probes?"
**Is this a request for help?**: No

---

**FEATURE REQUEST**:

The artifactory helm chart by default leverages exec-style probes to invoke curl commands, [e.g.](https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L225-L237)

[code]

Is the curl command necessary to properly probe the health of the instances, or is it possible to leverage [https style probes](https://kuberne

[2022-07-21 11:36] Nefelim4ag commented on #1639
107.41.4 - same, missing jf-event

[2022-07-21 11:38] chukka commented on #1639
@Nefelim4ag  can you please share complete logs and reproducible steps ?

[2022-07-21 11:43] Nefelim4ag commented on #1639
artifactory-oss: 107.41.4

[code]

[2022-07-21 11:50] Nefelim4ag commented on #1639
@chukka image
`releases-docker.jfrog.io/jfrog/artifactory-oss:7.41.4`

So, no jf-event

[code]

[code]

[2022-07-21 12:04] chukka commented on #1639
Yes, Thanks for reporting ! we already added support to disable jf-event via values.yaml internally and  will be fixed in upcoming release

[2022-07-21 12:14] Nefelim4ag commented on #1639
[code]

So, I just drop jf-event container from the pod, and to fix this error drop `jfevt` from jf-router list.

You already released 2 versions, and already said the same (we have fixed and we will release it) about a month ago: https://github.com/jfrog/charts/issues/1639#issuecomment-1146950673

So, I will return on next release :)

[2022-07-21 12:34] billimek commented on #1657
Thanks for the quick reply and context @eldada.  I'll definitely watch https://github.com/kubernetes/kubernetes/issues/89898 now too.  It's too bad there are challenges with both exec and http probes!

[2022-07-21 14:48] eldada commented on #1657
Spoke too soon... we tested this internally and found some gaps in making it work with a simple switch to `http`.
I'm reopening this for now. Will come back to it once we have a working solution.

[2022-07-22 11:20] chukka commented on #1639
@Nefelim4ag  Sorry for the confusion ! It was partially fixed previously and we missed it . I will reopen until this is properly fixed

[2022-07-26 02:42] chukka commented on #1655
Update : This issue will be resolved along with distribution 2.14.x release

[2022-07-26 02:44] chukka commented on #1639
Update : Fix for this issue will be available in 7.42.x and above versions

[2022-08-01 09:41] #1607 closed

[2022-08-03 11:38] #1639 closed

[2022-08-03 11:39] chukka commented on #1639
@Nefelim4ag  can you try latest  oss chart `107.41.7` and share feedback

[2022-08-03 22:01] duelyy opened #1659 "Upgrade fail when installing log-analytics-datadog"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Version of Helm and Kubernetes**: Helm v3.6.2, Kubernetes v1.21

**Which chart**: jfrog-platform

**What happened**:

When installing the [log-analytics-datadog](https://github.com/jfrog/log-analytics-datadog/blob/master/helm/artifactory-values.yaml) chart, I'm getting the following

[2022-08-03 22:24] Nefelim4ag commented on #1639
Works, thanks!

[2022-08-05 04:32] vasukinjfrog commented on #1659
[duelyy](https://github.com/duelyy) - can we try using curl command instead of wget.

i.e  change this
wget https://raw.githubusercontent.com/jfrog/log-analytics-datadog/master/fluent.conf.rt -O {{ .Values.artifactory.persistence.mountPath }}/etc/fluentd/fluentd.conf

to

curl https://raw.githubusercontent.com/jfrog/log-analytics-datadog/master/fluent.conf.rt -o {{ .Values.artifactory.persistence.

[2022-08-07 18:54] danmanners opened #1660 "[artifactory-oss] Artifactory Template does not respect setting the storageClassName or Size"
# Description

When deploying Artifactory, I want to change both the storageClass and size of the deployed disk. However, updating the expected values in the `values.yaml` file does not change any of the default values.

# Expected Behavior

I expect the values to be set to what I am defining.

# Actual Behavior

The values are unchanged from their default settings. The disk size is unchanged, and

[2022-08-10 02:10] #1599 closed

[2022-08-10 05:59] srinivasgowda097 commented on #1660
@danmanners : Since artifactory-oss is dependency chart of artifactory , you should use another artifactory field in values.yaml
for example:
[code]
please also share the complete values.yaml

[2022-08-10 08:59] dennisheller-nokia commented on #1660
I also have such an issue when updating the size of the volumeClaimTemplates: Kubernetes refuses it with an error:
![image](https://user-images.githubusercontent.com/95414566/183859977-b2db0615-a7dc-40a9-8840-b145ec2ab257.png)

My workaround at the moment is to delete the statefulset with ` --cascade=orphan` (so that the pods are not terminated) before the `helm upgrade`. Afterwards, I manually re

[2022-08-11 17:22] danmanners commented on #1660
@srinivasgowda097 my deployment `values.yaml` file is deployed here: https://github.com/danmanners/homelab-kube-cluster/blob/main/manifests/workloads/artifactory-oss/values.yaml

If you step up to the directory, you can see the entire way I'm deploying it.

[2022-08-12 10:11] srinivasgowda097 commented on #1660
@danmanners : Add another artifactory node in https://github.com/danmanners/homelab-kube-cluster/blob/main/manifests/workloads/artifactory-oss/values.yaml. as below
[code]

[2022-08-14 00:46] danmanners commented on #1660
I've updated the values file as you suggested, but it does not appear to have fixed things.

[2022-08-18 10:29] chukka commented on #1604
This feature  is available in  xray (>= 103.55.2)  via  #1664  and insight will be released in next minor version

[2022-08-18 10:29] #1604 closed

[2022-08-18 10:31] chukka commented on #1606
This feature is available in xray (>= 103.55.2) via https://github.com/jfrog/charts/pull/1664 and for artifactory, it  will be released with next minor version

[2022-08-18 10:31] #1606 closed

[2022-08-18 10:49] rahulsadanandan commented on #1660
@danmanners can you please provide the values.yaml you have used?
i tried and it is working

helm template artifactoryoss jfrog/artifactory-oss -f custom-values.yaml

[code]

i am able to see the values get updated in the rendered templates.

[2022-08-19 10:01] rahulsadanandan commented on #1660
is this a fresh installation or upgrade?

[2022-08-25 03:01] chukka commented on #1660
@danmanners is this still an issue ?

[2022-08-25 15:21] danmanners commented on #1660
Hey sorry for the delay, this slipped through the cracks.

No, after adding the additional nested `artifactory.artifactory` it appears to have been fixed.

Good to close, thanks folks.

[2022-08-25 15:21] #1660 closed

[2022-09-13 02:19] chukka commented on #1466
@wokoman can you share your values.yaml file ?

@lukasmrtvy @ToniCipriani  did you get a chance to try post fixing this , Appreciate if you can confirm on this ?

[2022-09-13 05:53] wokoman commented on #1466
@chukka Ended fixing it myself.

Thing was, that Artifactory simply kept corrupted `binaryStore.xml` and did not overwritten it with a new one from secret. I had to shell into the pod and remove the file from `/opt/jfrog/artifactory/var/etc/artifactory`. Upon restart, Artifactory created a fresh one with correct values.

I used 7.27.15 for this. So leaving this here for reference.

[2022-09-13 06:02] dennisheller-nokia commented on #1466
I fixed it long time ago by adding to values.yaml
[code]

[2022-09-13 06:27] chukka commented on #1466
@wokoman @dennisheller-nokia  Thanks for sharing , By design `binaryStore.xml` is not overridden unless you use `copyOnEveryStartup`  feature. This will change in upcoming 7.45.x release .

Heads up - There are big binarystore changes coming up in 7.45.x release (please check changelog for all changes)   , stay tuned :)

[2022-09-15 13:53] Loucool111 commented on #1345
Hi, I am experiencing this issue as well.

[2022-09-20 12:00] rahulsadanandan commented on #1379
@cheries this is available from 103.42.0 chart versions.

[2022-09-20 12:00] #1379 closed

[2022-09-20 12:18] rahulsadanandan commented on #1321
@donovanmuller this should be available in the latest charts

[2022-09-20 12:18] #1321 closed

[2022-09-20 17:05] lancehudson opened #1667 "Published Chart index is empty"
**Is this a request for help?**:
Yes, unable to install ANY charts
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
helm 3

**Which chart**:
ALL

**What happened**:
https://charts.jfrog.io/index.yaml is empty

[code]

**What you expected to happen**:
Should list all available helm charts and versions

**How to reproduce it** (as minimally and pre

[2022-09-20 19:48] dennisheller-nokia commented on #1667
seems to be fixed already

[2022-09-20 20:40] lancehudson commented on #1667
Fixed

[2022-09-20 20:40] #1667 closed

[2022-09-21 12:22] ccodreanu opened #1669 "Charts are not available"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**: not relevant

**Which chart**: artifactory

**What happened**: Charts are not available in the repo (https://charts.jfrog.io)

**What you expected to happen**: Charts to be pullable

**How to reproduce it** (as minimally and precisely as possible):
[code]

Noti

[2022-09-21 13:03] chukka commented on #1669
@ccodreanu  Thanks for reporting ! we are investigating this issue with relevant team on priority !

[2022-09-21 15:58] chukka commented on #1669
This is resolved , please try now

[2022-09-21 15:58] #1669 closed

[2022-09-27 14:13] ljupchokotev opened #1670 "Not possible to use instance credentials for artifactory-ha"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 3.9.4, 1.21.14

**Which chart**: artifactory-ha

**What happened**: The helm chart forces you to provide a service account key once you set `persistence.googleStorage.gcpServiceAccount.enabled` to `true` in the `persistence.googleStorage.gcpServiceAc

[2022-10-06 06:35] rahulsadanandan commented on #1670
@ljupchokotev Could you please let us know what changes you have done in the copy of the charts to make it work?

[2022-10-06 06:58] ljupchokotev commented on #1670
@rahulsadanandan I introduced a new value under `artifactory.persistence.googleStorage.useInstanceCredentials` which can be set to `true` or `false`.

Then in the templates:
- `artifactory-gcp-credentials-secret.yaml` template - Wrap the whole secret with `{{- if not .Values.artifactory.persistence.googleStorage.useInstanceCredentials }}` to skip it
- statefulset template - Wrap all places with th

[2022-10-07 02:32] chukka commented on #1655
Fixed via #1656

[2022-10-07 02:32] #1655 closed

[2022-10-07 06:21] rahulsadanandan commented on #1670
@ljupchokotev thanks.
this seems to be already fixed internally and will be released with 7.46.x versions in the coming weeks.

[2022-10-07 16:18] oscarbetancurj opened #1678 "Xray Helm Chart - Pods credentials issue"
BUG_REPORT

**Version of Helm and Kubernetes**:

HELM:
version.BuildInfo{Version:"v3.7.1", GitCommit:"1d11fcb5d3f3bf00dbe6fe31b8412839a96b3dc4", GitTreeState:"clean", GoVersion:"go1.16.9"}

AWS EKS: 1.22

**Which chart**:

Xray Chart

**Which product license** (Enterprise/Pro/oss):

Enterprise

**What happened**:

When you deploy XRay Helm chart pod xray-0 always keep in state CrashLoopBackOff.

*

[2022-10-10 15:02] bmanuel opened #1679 "[artifactory] Tomcat logger sidecars do not follow rotation"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Which chart**:

Artifactory

**What happened**:

Adding the tomcat log files to `artifactory.catalinaLoggers` creates a sidecar that only tails the most recent file name.

**What you expected to happen**:

When the file name changes, the tail process is killed and restarted with the new file na

[2022-10-10 15:51] bmanuel opened #1681 "[artifactory] Extra volume being created when persistence is disabled"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Which chart**:

artifactory

**What happened**:

When persistence is disabled, `emptyDir` volumes named `volume` and `artifactory-volume` are created, but only `artifactory-volume` is used

**What you expected to happen**:

Only `artifactory-volume` is created

**How to reproduce it** (as minim

[2022-10-10 15:53] bmanuel commented on #1681
This is the volume in question: https://github.com/jfrog/charts/blob/ce1bebacdf5b2933ebb15c5884aa670747cc4054/stable/artifactory/templates/artifactory-statefulset.yaml#L1295-L1299

[2022-10-10 16:27] oscarbetancurj commented on #1678
@rahulsadanandan Thanks for your answer. Really I have checked the documentation everywhere and default installation only shows as required flags the master and join secrets...
https://www.jfrog.com/confluence/display/JFROG/Installing+Xray#InstallingXray-HelmInstallation
https://www.youtube.com/watch?v=9PDDYsoCFaY

I will take a look into your link. Thanks again. :)

[2022-10-10 17:43] oscarbetancurj commented on #1678
@rahulsadanandan I am using this command:
helm upgrade --install xray --set xray.masterKeySecretName=artifactory-master-secret --set xray.joinKeySecretName=artifactory-join-secret --set xray.jfrogUrl=artifactory.artifactory --set postgresql.postgresqlPassword=password --set rabbitmq.auth.password=password --namespace artifactory jfrog/xray

RabbitMQ is taking the password value correctly, however

[2022-10-11 04:23] itssiri commented on #1681
Thanks..We will look into this and come back.

[2022-10-11 04:26] itssiri commented on #1679
We will check this and come back.

[2022-10-11 04:32] chukka commented on #1659
@duelyy is above workaround provided by @vasukinjfrog helped to  solve problem ?

[2022-10-11 07:09] ljupchokotev commented on #1670
@rahulsadanandan do you have any date for this?

[2022-10-11 07:53] chukka commented on #1670
@ljupchokotev  mostly this week (may happen in a day or two)

[2022-10-11 08:24] chukka commented on #1670
@ljupchokotev  FYI- There are big binarystore changes coming up in 7.46.x release (please check changelog of helm chart for all changes) , before you upgrade

[2022-10-11 10:09] chukka commented on #1670
Fixed via #1682

[2022-10-11 10:09] #1670 closed

[2022-10-11 10:10] chukka commented on #1650
Fixed via #1682

[2022-10-11 10:10] #1650 closed

[2022-10-11 10:10] #1632 closed

[2022-10-11 10:21] ljupchokotev commented on #1670
A note to other people that might have this problem as well before upgrading, you can actually set any "dummy" value as the gcp config and it will still prefer the instance credentials instead. No changes required

[2022-10-11 11:52] rahulsadanandan commented on #1678
@oscarbetancurj
a fresh installation creates a random password for PostgreSQL and rabbitmq, and on upgrades, we will have to provide that generated password.

we can also provide the passwords on fresh installations like the below examples.

[code]
helm upgrade --install artifactory jfrog/artifactory -f art.yaml

and for xray

[code]
helm upgrade --install xray jfrog/xray -f xray.yaml

[2022-10-12 10:51] chukka commented on #1591
@mheder79  can you please check whether changes done in https://github.com/jfrog/charts/pull/1682 PR resolves  this issue

[2022-10-12 14:55] EvertonSA opened #1684 "[QUESTION] Supported Kubernetes Versions"
Hi colleagues,

Jfrog docs of minimum requirements mention the following:

![image](https://user-images.githubusercontent.com/30481051/195376661-23febe92-5982-4d4e-a5b0-7b5c6ffafcc0.png)

Is it safe to assume kubernetes version 1.22, 1.23, 1.24 and 1.25 are supported versions to deploy jfrog to?

[2022-10-12 18:18] bmanuel opened #1685 "[xray] Allow setting executionServiceAesKey in a secret"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): feature

**Which chart**:

xray

**Request**:

https://github.com/jfrog/charts/pull/1600 enabled setting the execution service aes key instead of it being randomly generated. It would be nice to be able to securely generate this key outside of the helm run and insert it as a separate secret instead of

[2022-10-13 06:58] EvertonSA commented on #1684
I made the same question for Hashicorp vault and this was the answer https://github.com/hashicorp/vault-helm/issues/799. they even have tests. we should have tests for this chart as well https://github.com/hashicorp/vault-helm/blob/main/.github/workflows/acceptance.yaml#L10

[2022-10-13 09:41] EvertonSA commented on #1684
I got the confirmation from Jfrog support that version 1.22, 1.23, 1.24 and 1.25 are suported.

for reference, ticket number is 222154

[2022-10-13 09:41] #1684 closed

[2022-10-13 09:50] EvertonSA opened #1686 "Add option to enable/disable proxy_request_buffering and proxy_buffering_off"
**Is this a request for help?**:

---

FEATURE REQUEST:

We have an internal ticket with jfrog and the solution provided from support side is very ugly + low maintenance.

Disable proxy_request_buffering with values.yaml file.

https://github.com/jfrog/charts/blob/30b189c6574f75420b5be98be72663a49432ecfb/stable/artifactory/values.yaml#L1635

we need something like:

[code]
and on values.yaml:
[cod

[2022-10-13 14:02] oscarbetancurj commented on #1678
Problem was the PVs left behind after helm uninstall/delete. It seems deployment reuse them and that's why there is an authentication issue.

[2022-10-13 14:02] #1678 closed

[2022-10-14 09:57] itssiri commented on #1686
Thanks for the request. We will try to include this in upcoming releases.

[2022-10-14 10:04] itssiri commented on #1685
Thanks for the feature request. We will try to include this in future releases.

[2022-10-19 10:15] bramaq opened #1688 "Nginx deployment should not re-use the same serviecaccount as the artifactory statefulset"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**: any

**Which chart**: artifactory 107.46.3

**Which product license** (Enterprise/Pro/oss): Enterprise

**What happened**:
When deploying artifactory via the stable/artifactory helm chart with Nginx enabled, the nginx pods are created using the same serv

[2022-10-20 16:54] tomgeorge opened #1689 ".Values.nginx.customVolumeMounts does not appear to be respected"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

`helm v3.8.1+g5cb9af4`
`Kubernetes 1.20`

**Which chart**:

`stable/artifactory`

**Which product license** (Enterprise/Pro/oss): Enterprise

**What happened**:

We have a chart that uses `artifactory` as a subchart. We are trying to include a custo

[2022-10-21 05:59] shahiinn commented on #1689
@tomgeorge :
We were not able to reproduce the issue on our end. In order to replicate the scenario we have tried the helm install with below values file .

`helm upgrade --install artifactory jfrog/artifactory --version 107.46.6 -f ~/art-values.yaml`

[code]
We were able to find the customMount also to be part of the describe.
[code]

Further we have tried with the platform chart which uses artif

[2022-10-21 10:15] shahiinn commented on #1688
Thank you for pointing that out. we will take up this request internally.
Further, feel free to raise a PR if you would like to contribute.

[2022-10-25 15:51] stevep-arm commented on #1345
Should we give up on this being fixed and find an alternative to artifactory?

[2022-10-27 00:02] tomgeorge commented on #1689
The issue seems to resolve itself on the latest. We were using a 7.41.x release

[2022-10-27 00:02] #1689 closed

[2022-10-28 09:55] kammathavaran commented on #1345
@privomark @Loucool111 @stevep-arm - can you please reach out to [jfrog support team](https://jfrog.com/support/) who can do a one on one session to diagnose and fix the issue with your values file?

[2022-11-03 10:06] swatikma opened #1691 "i am getting the error "Registration with router on URL http://localhost:8046 failed with error: UNAVAILABLE: io exception. Trying again" while installing artifactory in my windows machine"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:

**Which chart**:

**Which product license** (Enterprise/Pro/oss):

**JFrog support reference** (if already raised with support team):

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anythi

[2022-11-03 11:46] Logeshwarsn commented on #1691
Hello @swatikma, Could you please provide which version of helm and kubernetes that you are using ? Which chart are you trying to deploy ? Which product license (Enterprise/Pro/oss) that you're using ? Is any support raised with support team ? Could you tell us what happened  and steps to reproduce it ?

[2022-11-03 12:25] mattmshell opened #1692 "Inconsistent user/username keys in database blocks causes trouble"
[

**Is this a request for help?**: No - complaint

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

NA

**Which chart**:

artifactory

**Which product license** (Enterprise/Pro/oss):

Pro

**JFrog support reference** (if already raised with support team):

**What happened**:

database and artifactory.database in values.yaml use diffe

[2022-11-04 05:49] Logeshwarsn commented on #1692
Hello @mattmshell, Thanks !! Are you reffering to the actual [username](https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L690)  in the values.yaml ? Also , please provide chart name  and version

[2022-11-04 09:34] mattmshell commented on #1692
Yes - that's correct [L690](https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L690) and [L1841](https://github.com/jfrog/charts/blob/master/stable/artifactory/values.yaml#L1841)

I'm using 7.46.9

[2022-11-04 11:15] Logeshwarsn commented on #1692
Thanks for raising this. The username that you mentioned is used under systemYaml section and user is used under database section. This is common across all the Jfrog products and i'm not sure change this at this time.

[2022-11-04 12:10] geoff-carr-bzy opened #1693 "Xray - All db connections are in use (60/60)"
When deploying the latest version of the Artifactory and Xray Helm charts and then running a Xray DB sync, the following warning is received and Xray becomes unresponsive: -

[code]

Where can this value be configured and what is the recommended value for a small to medium sized implementation? This does not seem to be an option within the provided `values.yaml` for the Xray chart. There is `postg

[2022-11-04 16:45] geoff-carr-bzy commented on #1693
So after some digging, does seem to be set to `60` connections by default as you can see this in the `xray-server` log on startup: -
[code]
In addition, looks like you can set this value in `/opt/jfrog/xray/var/etc/system.yaml` which is populated from the `xray-system-yaml` secret in the following format: -
[code]
The `xray-system-yaml` secret seems to be generated from the contents of `systemYaml

[2022-11-07 09:09] chukka commented on #1693
@geoff-carr-bzy can you please reach out to [jfrog support team](https://jfrog.com/support/) who can do a one on one session to diagnose and provide an optimal solution

[2022-11-08 01:45] snuggie12 opened #1694 "Helm charts missing?"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Neither, it is reporting an incident with your infrastructure

**Version of Helm and Kubernetes**:
n/a

**Which chart**:
all

**Which product license** (Enterprise/Pro/oss):
n/a

**JFrog support reference** (if already raised with support team):
n/a

**What happened**:
It appears as if the server

[2022-11-08 02:47] chukka commented on #1694
Thanks for raising this , we are currently working with concerned team on this !

[2022-11-08 04:53] chukka commented on #1694
@snuggie12 Can you please check now , Looks like its resolved
[code]

[2022-11-09 02:57] snuggie12 commented on #1694
Yeah, I'd say we're good to close unless there are further notes you want to take.

[2022-11-09 03:52] ningjunwei2 commented on #725
@eldada  I meet this problem。my helm is V3 ,artifactory-oss is  7.46.11 .
i use ceph bucket.there is my s3 config,and artifactory statefulsets.apps config

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  persistence:
    mountPath: "/var/opt/jfrog/artifactory"
          #enab

[2022-11-09 06:51] #1694 closed

[2022-11-09 06:54] chukka commented on #1691
Marking this as closed , Please reopen with additional information

[2022-11-09 06:54] #1691 closed

[2022-11-09 16:38] geoff-carr-bzy commented on #1693
Going to close this as we did engage with support and they have not been able to reproduce the issues we were seeing. I suspect the specific issue above may have been related to clashing `values.yaml` files.

[2022-11-09 16:38] #1693 closed

[2022-11-16 02:28] yuntsewu commented on #1610
Using longhorn running into issues as well

[2022-11-21 10:18] mikeycmccarthy opened #1697 "find command not found in ubi-minimal:8.6-902 container"
**Is this a request for help?**:

Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
3.7 / 1.21

**Which chart**:
artifactory

**Which product license** (Enterprise/Pro/oss):
Enterprise+

**JFrog support reference** (if already raised with support team):
N/A

**What happened**:
We attempted an upgrade from 7.35.1 to 7.46.11. An initC

[2022-11-21 10:28] chukka commented on #1697
@mikeycmccarthy  Yes, we removed `find` binary in latest initContainer image  to be in sync with upstream redhat UBI image . please change your command , pls refer [here](https://github.com/jfrog/charts/blob/master/stable/artifactory/templates/_helpers.tpl#L293)

`for file in $(ls -1 /tmp/certs/* | grep -v .key | grep -v ":" | grep -v grep); do if [ -f "${file}" ]; then cp -v ${file} {{ .Values.ar

[2022-11-21 10:31] chukka commented on #1697
This is already documented in  107.41.x [changelog](https://github.com/jfrog/charts/blob/master/stable/artifactory/CHANGELOG.md#107410---june-27-2022)

[2022-11-21 11:30] #1692 closed

[2022-11-21 12:07] mikeycmccarthy commented on #1697
Amazing, thank you @chukka . We switched to this and it worked perfectly!

[2022-11-21 12:07] #1697 closed

[2022-11-22 09:50] critchtionary opened #1698 "Option to disable observability logging to console"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm 3.10.1
Kubernetes 1.22

**Which chart**:
artifactory 107.37.17

**Which product license** (Enterprise/Pro/oss):
Enterprise

**JFrog support reference** (if already raised with support team):
N/A

**What happened**:
The pod logs are flooded wi

[2022-11-23 04:58] chukka commented on #1698
@critchtionary This is already taken care in latest version of artifactory `7.46.11` with Observability version >= `1.11.0` . Can you try updating this latest and share feedback